﻿@{
    ViewBag.Title = "Consulta Indicaciones a Posterior";
    ViewData["User"] = Session["user"];
}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"><h4>Consulta Indicaciones a Posterior</h4></div>
            <div class="col-md-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                    </div>
                </div>
            </div>
        </div>
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters_ConsIndPost">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="in_flr_cons_aum_fch_evento" class="control-label col-md-12">Fecha Evento</label>
                            <input id="in_flr_cons_aum_fch_evento" tabindex="6" name="AUM_FCH_EVENTO">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 offset-1">
                    <div class="md-form">
                        <input id="in_flr_cons_aum_ien_entrada" class="form-control" type="number" tabindex="2" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_cons_aum_ien_entrada" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2 offset-1">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            @*<button id="btn_filtrar_mercaLocaliza" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="cons_indic_posterior.Cons_Indic_Posterior_Listar()"><i class="fa fa-search" aria-hidden="true"></i></button>*@
                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="cons_indic_posterior.LimpiarCamposindicPost()" id=""><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        @*Encabezado del listar Guías*@
        <div id="Indicador_Previo" class="table-responsive">
            <table id="Cons_Ind_Prev_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="AUM_FCH_EVENTO">Fecha Evento</th>
                        <th data-field="AUM_FCH_INICIO_PREALERTA">Inicio Alerta</th>
                        <th data-field="AUM_IEN_ENTRADA">Consecutivo</th>
                        <th data-field="AUM_DETALLE">Detalle</th>
                        <th data-field="AUM_USU_REGISTRA">Usuario Registra</th>
                        <th data-field="AUM_FCH_REGISTRA">Fecha Registra</th>
                        <th data-field="AUM_USU_FINALIZA">Usuario Finaliza</th>
                        <th data-field="AUM_FCH_FINALIZA">Fecha Finaliza</th>
                    </tr>
                </thead>
                <tbody id="Cons_Ind_Prev_body"></tbody>
            </table>
        </div>
        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="ConsIndPrev-table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{AUM_FCH_EVENTO}}</td>
                <td>{{AUM_FCH_INICIO_PREALERTA}}</td>
                <td>{{AUM_IEN_ENTRADA}}</td>
                <td>{{AUM_DETALLE}}</td>
                <td>{{AUM_USU_REGISTRA}}</td>
                <td>{{AUM_FCH_REGISTRA}}</td>
                <td>{{AUM_USU_FINALIZA}}</td>
                <td>{{AUM_FCH_FINALIZA}}</td>
            </tr>
        </script>
    </div>
<script src="~/assets/js/js_consulta_Indic_Posterior.js"></script>