﻿@{
    ViewBag.Title = "Desconsolidaciones Pendientes";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <title>Consulta Desconsolidaciones Pendientes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
        @*<hr />*@
        <div class="row">
            <div class="col-6"><h4>Consulta Desconsolidaciones Pendientes</h4></div>
            <div class="col-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="cons_desconsolidacion.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid div_consDesconsolid_filtros" id="div_consDesconsolid_filtros">
            <input type="hidden" name="USUARIO" id="USUARIO" value="@ViewData["User"]" />
            <div class="row">
                <div class="col-3">
                    <div class="md-form">
                        <label for="consDesconsolid_guia" class="control-label col-md-12">Guía</label>
                        <input id="consDesconsolid_guia" type="text" class="form-control" onkeyup="cons_desconsolidacion.filtrar(this)" maxlength="30">
                    </div>
                </div>
            </div>
        </div>
        <div id="th_consDesconsolid" class="table-responsive">
            <table id="consDesconsolid_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        @*<th data-field="DSC_ID">Id </th>*@
                        <th data-field="DSC_IEN_ENTRADA">Consecutivo</th>
                        <th data-field="IEN_GUIA_ORIGINAL">Guía</th>
                        <th data-field="CON_NOMBRE">Consolidador</th>
                        <th data-field="DSC_ARCHIVO">Archivo</th>
                        <th data-field="DSC_FCH_REGISTRA">Fecha Registro</th>
                        <th data-field="DSC_USU_REGISTRA">Usuario Registró</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="consDesconsolid_tablebody"></tbody>
            </table>
        </div>
        <script id="consDesconsolid_table-template" type="text/x-handlebars-template">
            <tr>
                @*<td>{{DSC_ID}}</td>*@
                <td>{{DSC_IEN_ENTRADA}}</td>
                <td>{{IEN_GUIA_ORIGINAL}}</td>
                <td>{{CON_NOMBRE}}</td>
                <td>{{DSC_ARCHIVO}}</td>
                <td>{{DSC_FCH_REGISTRA}}</td>
                <td>{{DSC_USU_REGISTRA}}</td>
                <td><button class="btn btn-elegant" onclick="cons_desconsolidacion.imprimir('{{IEN_GUIA_ORIGINAL}}')"><i class="fas fa-print"></i></button></td>
            </tr>
        </script>

    </div>
</body>
</html>
@Scripts.Render("~/bundles/js_desconsolidaciones")
