﻿@{
    ViewBag.Title = "Bitácora";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bitacora</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_bitacora")
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3"><h4>Bitácora</h4></div>
            <div class="col-md-9">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                    </div>
                </div>
            </div>
        </div>

        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_bit_consecutivo" class="form-control" type="text" tabindex="1">
                        <label for="in_flr_bit_consecutivo" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_bit_guia" class="form-control" type="text" tabindex="2">
                        <label for="in_flr_bit_guia" class="control-label col-md-12">Guía</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_bit_movimiento" class="form-control" type="text" tabindex="3">
                        <label for="in_flr_bit_movimiento" class="control-label col-md-12">Movimiento</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="s_flr_bit_tipoEvento" class="control-label col-md-12">Tipo Evento</label>
                    <div class="md-form">
                        <select id="s_flr_bit_tipoEvento" name="BIT_Evento" class="form-control" tabindex="4"></select>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_bitacora" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="bitacora.BIT_Listar()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="bitacora.BIT_limpiarFiltros()" id="btn_limpiar_filtros"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Encabezado del listar*@
        <div id="th_Bitacora" class="table-responsive">
            <table id="Bitacora_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="BIT_Descripcion" hidden>Descripcion</th>
                        <th data-field="BIT_Fecha">Fecha Evento</th>
                        <th data-field="BIT_Consecutivo">Consecutivo</th>
                        <th data-field="BIT_GuiaOriginal">Guía Original</th>
                        <th data-field="BIT_Tarima">Tarima</th>
                        <th data-field="BIT_Movimiento">Movimiento</th>
                        <th data-field="BIT_Evento_Desc">Evento</th>
                        <th data-field="BIT_Usuario">Usuario</th>
                        @*<th>Acciones</th>*@
                    </tr>
                </thead>
                <tbody id="Bitacora_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="BIT_table-template" type="text/x-handlebars-template">
            <tr style="cursor: pointer;">
                <td hidden>{{BIT_Descripcion}}</td>
                <td>{{BIT_Fecha}}</td>
                <td>{{BIT_Consecutivo}}</td>
                <td>{{BIT_GuiaOriginal}}</td>
                <td>{{BIT_Tarima}}</td>
                <td>{{BIT_Movimiento}}</td>
                <td>{{BIT_Evento_Desc}}</td>
                <td>{{BIT_Usuario}}</td>

                @*<td>
                    <button class="btn btn-elegant" onclick="cajera.CJR_ConsultarDatos('{{CJR_Cajera}}')" data-toggle="tooltip" title="Editar" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-elegant" onclick="cajera.CJR_Borrar('{{CJR_Cajera}}')" data-toggle="tooltip" title="Borrar" type="button"><i class="fa fa-eraser" aria-hidden="true"></i></button>

                </td>*@

            </tr>
        </script>

        <hr class="espacio" />

        <div class="row">
            <div class="form-group">
                <label for="ggg">Descripción</label>
                <textarea hidden class="form-control" id="exampleFormControlTextarea3" cols="1">
                    
                </textarea>

                <textarea style="width: 1000px; height: 130px; resize: none;" class="form-control" readonly id="text_desc"> 
                </textarea>
            </div>
        </div>
   
    </div>
</body>
</html>


