﻿@{
    ViewBag.Title = "Consulta Guias";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Consulta Guias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_consulta_guias")
</head>
<body>
    <input type="hidden" id="TabActive" name="TabActive" />
    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-3"><h4>Consulta Guias</h4></div>
            <div class="col-md-9">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_limpiar_filtros" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consulta_guias.limpiarFiltros()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_guias" class="active">
                <a class="nav-link" id="guias-tab" data-toggle="tab" href="#guias" role="tab" aria-controls="guias" aria-selected="true">Gu&Iacute;as</a>
            </li>
            <li id="li_mercancias">
                <a class="nav-link" id="mercancias-tab" data-toggle="tab" href="#mercancias" role="tab" aria-controls="mercancias" aria-selected="false">Mercanc&iacute;as</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="guias" role="tabpanel" aria-labelledby="guias-tab">
                <hr />
                <div class="container-fluid" id="div_filters">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="s_mercancia" name="s_mercancia" class="form-control" type="text" tabindex="1" />
                                <label for="s_mercancia" class="control-label col-md-12">Mercancia</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="s_consecutivo" class="form-control" tabindex="3" type="text" />
                                <label for="s_consecutivo" class="control-label col-md-12">Consecutivo</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_search" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr style="border-top: 2px solid #C29F34; background: transparent;">
                <hr />
                <h4>Consulta Guias</h4>
                <hr />
                <form id="frm_consulta_guias">
                    <div id="detalles-consulta-guias" class="detInfo_consulta_guias">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_entrada" name="ien_entrada" type="text" class="form-control" tabindex="5" disabled>
                                    <label for="ien_entrada" class="control-label col-md-12">Consecutivo</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_manifiesto" name="ien_manifiesto" type="text" class="form-control" tabindex="6" disabled>
                                    <label for="ien_manifiesto" class="control-label col-md-12">Manifiesto</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_guia" name="ien_guia" type="text" class="form-control" tabindex="7" disabled>
                                    <label for="ien_guia" class="control-label col-md-12">Guia Tica</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_guia_original" name="ien_guia" type="text" class="form-control" tabindex="7" disabled>
                                    <label for="ien_guia_original" class="control-label col-md-12">Guia Original</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_con_nconsolidador" name="ien_con_nconsolidador" type="text" class="form-control" tabindex="5" disabled>
                                    <label for="ien_con_nconsolidador" class="control-label col-md-12">Consolidador</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_guia_master" name="ien_guia_master" type="text" class="form-control" tabindex="7" disabled>
                                    <label for="ien_guia_master" class="control-label col-md-12">Guia Master</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_imp_cedula" name="ien_entrada" type="text" class="form-control" tabindex="5" disabled>
                                    <label for="ien_imp_cedula" class="control-label col-md-12">Consignatario</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input id="ien_importador" name="ien_importador" type="text" class="form-control" tabindex="6" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="ien_estado" class="control-label col-md-12">Estado</label>
                                <div class="md-form">
                                    <select id="ien_estado" name="ien_estado" class="form-control" tabindex="7"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="ien_fch_digitacion" name="ien_fch_digitacion" type="text" class="form-control" tabindex="5" disabled>
                                    <label for="ien_fch_digitacion" class="control-label col-md-12">Fecha Digitaci&oacute;n</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="ien_fch_manifiesto" name="ien_fch_manifiesto" type="text" class="form-control" tabindex="6" disabled>
                                    <label for="ien_fch_manifiesto" class="control-label col-md-12">Fecha Manifiesto</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="ien_fch_ingreso" name="ien_fch_ingreso" type="text" class="form-control" tabindex="7" disabled>
                                    <label for="ien_fch_ingreso" class="control-label col-md-12">Fecha Ingreso</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_bod_nbodega" name="ien_bod_nbodega" type="text" class="form-control" tabindex="9" disabled>
                                    <label for="ien_bod_nbodega" class="control-label col-md-12">Bodega</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="BODEGA" name="BODEGA" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_fun_funcionario" name="ien_fun_funcionario" type="text" class="form-control" tabindex="10" disabled>
                                    <label for="ien_fun_funcionario" class="control-label col-md-12">Funcionario</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="FUNCIONARIO" name="FUNCIONARIO" type="text" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_aer_naerolinea" name="ien_fun_funcionario" type="text" class="form-control" tabindex="9" disabled>
                                    <label for="ien_aer_naerolinea" class="control-label col-md-12">Aerol&iacute;nea</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="AEROLINEA" name="AEROLINEA" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="COD_PUERTO" name="COD_PUERTO" type="text" class="form-control" tabindex="10" disabled>
                                    <label for="COD_PUERTO" class="control-label col-md-12">Puerto</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="PUERTO" name="PUERTO" type="text" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_tdo_doc_hija" name="ien_tdo_doc_hija" type="text" class="form-control" tabindex="9" disabled>
                                    <label for="ien_tdo_doc_hija" class="control-label col-md-12">Tipo de Documento</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="DOC_HIJO" name="DOC_HIJO" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_din_tipo_documento" name="ien_din_tipo_documento" type="text" class="form-control" tabindex="10" disabled>
                                    <label for="ien_din_tipo_documento" class="control-label col-md-12">Tipo Doc Tica</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="DESDOC" name="DESDOC" type="text" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_aduana_recibe" name="ien_aduana_recibe" type="text" class="form-control" tabindex="9" disabled>
                                    <label for="ien_aduana_recibe" class="control-label col-md-12">Aduana Recibe</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ADUANA_RECIBE" name="ADUANA_RECIBE" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_usuario_digito" name="ien_usuario_digito" type="text" class="form-control" tabindex="10" disabled>
                                    <label for="ien_usuario_digito" class="control-label col-md-12">Usuario Digito</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="NOMUSUARIODIGITO" name="NOMUSUARIODIGITO" type="text" class="form-control" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table-responsive">
                                <tr>
                                    <td></td>
                                    <td>Manifestados</td>
                                    <td>Ingresados</td>
                                    <td>Despaletizados</td>
                                    <td>Reservados</td>
                                    <td>Salidos</td>
                                </tr>
                                <tr>
                                    <td>BULTOS</td>
                                    <td><input type="text" id="ien_bultos_manifestados" name="ien_bultos_manifestados" class="form-control" disabled /></td>
                                    <td><input type="text" id="ien_bultos_realingreso" name="ien_bultos_realingreso" class="form-control" disabled /></td>
                                    <td><input type="text" id="BULTOS_DESPALETIZADOS" name="BULTOS_DESPALETIZADOS" class="form-control" disabled /></td>
                                    <td><input type="text" id="BULTOS_RESERVADOS" name="BULTOS_RESERVADOS" class="form-control" disabled /></td>
                                    <td><input type="text" id="BULTOS_SALIDOS" name="BULTOS_SALIDOS" class="form-control" disabled /></td>
                                </tr>
                                <tr>
                                    <td>KILOS</td>
                                    <td><input type="text" id="ien_kilos_manifestados" name="ien_kilos_manifestados" class="form-control" disabled /></td>
                                    <td>Muestras? <input type="checkbox" id="MUESTRAS" name="MUESTRAS" class="form-control" disabled /></td>
                                    <td><input type="text" id="KILOS_DESPALETIZADOS" name="KILOS_DESPALETIZADOS" class="form-control" disabled /></td>
                                    <td><input type="text" id="KILOS_RESERVADOS" name="KILOS_RESERVADOS" class="form-control" disabled /></td>
                                    <td><input type="text" id="KILOS_SALIDOS" name="KILOS_SALIDOS" class="form-control" disabled /></td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input id="ien_descripcion_manif" name="ien_descripcion_manif" type="text" class="form-control" tabindex="17" disabled/>
                                    <label for="ien_descripcion_manif" class="control-label col-md-12">Descripci&oacute;n</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_antecesor" name="ien_antecesor" type="text" class="form-control" tabindex="18">
                                    <label for="ien_antecesor" class="control-label col-md-12">Antecesor</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_numero_viaje" name="ien_numero_viaje" type="text" class="form-control" tabindex="19">
                                    <label for="ien_numero_viaje" class="control-label col-md-12">N&uacute;mero Viaje</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea id="ien_observaciones" name="ien_observaciones" class="form-control" tabindex="22"></textarea>
                                    <label for="ien_observaciones" class="control-label col-md-12">Observaciones</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_clase" name="ien_clase" type="text" class="form-control" tabindex="23" disabled>
                                    <label for="ien_clase" class="control-label col-md-12">Clasificaci&oacute;n</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_boleta_clase" name="ien_boleta_clase" type="text" class="form-control" tabindex="24" disabled>
                                    <label for="ien_boleta_clase" class="control-label col-md-12">Boleta</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_ubicacion_transito" name="ien_ubicacion_transito" type="text" class="form-control" tabindex="25" disabled>
                                    <label for="ien_ubicacion_transito" class="control-label col-md-12">Ubicaci&oacute;n</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="UBI_TRANSITO" name="UBI_TRANSITO" type="text" class="form-control" tabindex="25" disabled>
                                    <label for="UBI_TRANSITO" class="control-label col-md-12">Destino</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ien_tipo_duda_ref" name="ien_tipo_duda_ref" type="text" class="form-control" tabindex="27" disabled>
                                    <label for="ien_tipo_duda_ref" class="control-label col-md-12">Duda de Refrigeraci&oacute;n</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="INDICACION_DESC" name="INDICACION_DESC" type="text" class="form-control" tabindex="28" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="ien_duda_refri" class="control-label col-md-12">Indicaci&oacute;n de Refrigeraci&oacute;n</label>
                                <div class="md-form">
                                    <select id="ien_duda_refri" name="ien_duda_refri" class="form-control" tabindex="29"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <label for="ien_bloqueada" class="control-label col-md-12">Bloqueada?</label>
                                    <input id="ien_bloqueada" name="ien_tipo_duda_ref" type="checkbox" class="form-control" tabindex="27" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <label for="ien_es_courier" class="control-label col-md-12">Es courier?</label>
                                    <input id="ien_es_courier" name="ien_es_courier" type="checkbox" class="form-control" tabindex="27" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade show" id="mercancias" role="tabpanel" aria-labelledby="mercancias-tab">
                <hr />
                <h3>Mercanc&iacute;as</h3>
                <hr />
                <div class="divwithscroll">
                    <div class="row">
                        <div id="RCL_Mercancias" class="table-responsive">
                            <table id="RCL_Mercancias_table" data-toggle="table" class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th data-field="REC_RECLAMO">Id Registro</th>
                                        <th data-field="REC_FECHA_PRESENTACION">Fecha Presentaci&oacute;n</th>
                                        <th data-field="REC_SISTEMA">Sistema</th>
                                        <th data-field="consecutivo">Consecutivo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="registro_reclamos_tablebody"></tbody>
                            </table>
                        </div>

                        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                        <script id="registro_reclamos_table-template" type="text/x-handlebars-template">
                            <tr>
                                <td>{{REC_RECLAMO}}</td>
                                <td>{{REC_FECHA_PRESENTACION}}</td>
                                <td>{{REC_SISTEMA}}</td>
                                <td>{{consecutivo}}</td>
                                <td>
                                    <button class="btn btn-elegant" onclick="registro_reclamos.MostrarRegistroReclamosSeleccionado('{{REC_RECLAMO}}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </script>


                    </div>
                </div>
                <form id="frm_mercancias">
                    <div id="detalles-mercancias" class="detInfo_mercancias">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="REC_RECLAMO_OPS" name="REC_RECLAMO_OPS" type="text" class="form-control" tabindex="2" disabled>
                                    <label for="REC_RECLAMO_OPS" class="control-label col-md-12">Reclamo</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="REC_FCH_RECIBE_OPS" class="control-label col-md-12">Fecha Recibido</label>
                                <div class="md-form">
                                    <input id="REC_FCH_RECIBE_OPS" name="REC_FCH_RECIBE_OPS" type="text" class="form-control" tabindex="2">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="md-form">
                                    <textarea id="REC_INVESTIGA_OPS" name="REC_INVESTIGA_OPS" class="form-control" tabindex="3"></textarea>
                                    <label for="REC_INVESTIGA_OPS" class="control-label col-md-12">Investigaci&oacute;n</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="md-form">
                                    <textarea id="REC_CAUSA_OPS" name="REC_CAUSA_OPS" class="form-control" tabindex="4"></textarea>
                                    <label for="REC_CAUSA_OPS" class="control-label col-md-12">Causa</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="md-form">
                                    <textarea id="REC_OBSERV_OPS" name="REC_OBSERV_OPS" class="form-control" tabindex="5"></textarea>
                                    <label for="REC_OBSERV_OPS" class="control-label col-md-12">Acciones Correctivas</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="md-form">
                                    <textarea id="REC_JUSTIFICA_ATRASO_OPS" name="REC_JUSTIFICA_ATRASO_OPS" class="form-control" tabindex="6"></textarea>
                                    <label for="REC_JUSTIFICA_ATRASO_OPS" class="control-label col-md-12">Justificaci&oacute;n Atraso</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="REC_USU_JUSTIF_OPS" name="REC_USU_JUSTIF_OPS" type="text" class="form-control" tabindex="7">
                                    <label for="REC_USU_JUSTIF_OPS" class="control-label col-md-12">Usuario Justifica</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="REC_FCH_JUSTIF_OPS" class="control-label col-md-12">Fecha Justificaci&oacute;n</label>
                                <div class="md-form">
                                    <input id="REC_FCH_JUSTIF_OPS" name="REC_FCH_JUSTIF_OPS" type="text" class="form-control" tabindex="8">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="REC_USU_INVESTIGA" name="REC_USU_INVESTIGA" type="text" class="form-control" tabindex="9">
                                    <label for="REC_USU_INVESTIGA" class="control-label col-md-12">Investigador</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="REC_FCH_RESOLUC_OPS" class="control-label col-md-12">Fecha Resoluci&oacute;n</label>
                                <div class="md-form">
                                    <input id="REC_FCH_RESOLUC_OPS" name="REC_FCH_RESOLUC_OPS" type="text" class="form-control" tabindex="10">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="REC_USU_RESOLUCION" name="REC_USU_RESOLUCION" type="text" class="form-control" tabindex="11">
                                    <label for="REC_USU_RESOLUCION" class="control-label col-md-12">Usuario Resoluci&oacute;n Final</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="REC_RESOLUCION_OPS" class="control-label col-md-12">Resoluci&oacute;n</label>
                                <div class="md-form">
                                    <select id="REC_RESOLUCION_OPS" name="REC_RESOLUCION_OPS" type="text" class="form-control" tabindex="12"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="TIEMPO_INVESTIGA" name="TIEMPO_INVESTIGA" type="text" class="form-control" tabindex="13" disabled>
                                    <label for="TIEMPO_INVESTIGA" class="control-label col-md-12">Tiempo de Investigaci&oacute;n</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade show" id="seguimiento" role="tabpanel" aria-labelledby="seguimiento-tab">
                <hr />
                <h3>Seguimiento</h3>
                <hr />
                <form id="frm_seguimiento">
                    <div id="detalles-seguimiento" class="detInfo_seguimiento">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="REC_RECLAMO_SEG" name="REC_RECLAMO_SEG" type="text" class="form-control" tabindex="2" disabled>
                                    <label for="REC_RECLAMO_SEG" class="control-label col-md-12">Reclamo</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="DIAS_TRANSCURRIDOS" name="DIAS_TRANSCURRIDOS" type="text" class="form-control" tabindex="2" disabled>
                                    <label for="DIAS_TRANSCURRIDOS" class="control-label col-md-12">D&iacute;as Transcurridos</label>
                                </div>
                            </div>
                        </div>

                        <div class="hr-light"></div>
                        <h3>Comunicaci&oacute;n con el cliente</h3>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="md-form">
                                    <textarea id="REC_JUSTIFICA_ATRASO" name="REC_JUSTIFICA_ATRASO" class="form-control" tabindex="6"></textarea>
                                    <label for="REC_JUSTIFICA_ATRASO" class="control-label col-md-12">Justificaci&oacute;n Atraso</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="md-form">
                                    <input type="text" id="REC_PERSONA_NOTIF" name="REC_PERSONA_NOTIF" class="form-control" tabindex="6" />
                                    <label for="REC_PERSONA_NOTIF" class="control-label col-md-12">Persona de Contacto</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label for="REC_FCH_NOTIF" class="control-label col-md-12">Fecha</label>
                                <div class="md-form">
                                    <input id="REC_FCH_NOTIF" name="REC_FCH_NOTIF" type="text" class="form-control" tabindex="2">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="REC_VIA_NOTIF" class="control-label col-md-12">V&iacute;a</label>
                                <div class="md-form">
                                    <select id="REC_VIA_NOTIF" name="REC_VIA_NOTIF" class="form-control" tabindex="2"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="REC_FCH_ENTREGA_CHEQUE" class="control-label col-md-12">Fecha Entrega Cheque</label>
                                <div class="md-form">
                                    <input id="REC_FCH_ENTREGA_CHEQUE" name="REC_FCH_ENTREGA_CHEQUE" type="text" class="form-control" tabindex="2">
                                </div>
                            </div>
                        </div>

                        <div class="hr-light"></div>
                        <h3>Resoluci&oacute;n Final</h3>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="md-form">
                                    <textarea id="REC_JUSTIF_RESOLUCION" name="REC_JUSTIF_RESOLUCION" class="form-control" tabindex="6"></textarea>
                                    <label for="REC_JUSTIF_RESOLUCION" class="control-label col-md-12">Justificaci&oacute;n Resoluci&oacute;n</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="REC_APLICA_POLIZA" name="REC_APLICA_POLIZA" type="checkbox" class="form-control" tabindex="2" value="S">
                                    <label for="REC_APLICA_POLIZA" class="control-label col-md-12">Aplica P&oacute;liza</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="REC_DECISION_INS" name="REC_DECISION_INS" type="checkbox" class="form-control" tabindex="2 value="S">
                                    <label for="REC_DECISION_INS" class="control-label col-md-12">Aceptaci&oacute;n del INS</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="REC_FCH_ENTREGA_CLIENTE" class="control-label col-md-12">Fecha Entrega al Cliente</label>
                                <div class="md-form">
                                    <input id="REC_FCH_ENTREGA_CLIENTE" name="REC_FCH_ENTREGA_CLIENTE" type="text" class="form-control" tabindex="2">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div id="myModalRegistroReclamos" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta de Registro de Reclamos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div class="row">
                                    <div id="RCL_TablaQuejas" class="table-responsive">
                                        <table id="RCL_Quejas_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="REC_RECLAMO">Id Registro</th>
                                                    <th data-field="REC_FECHA_PRESENTACION">Fecha Presentaci&oacute;n</th>
                                                    <th data-field="REC_SISTEMA">Sistema</th>
                                                    <th data-field="consecutivo">Consecutivo</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="registro_reclamos_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="registro_reclamos_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{REC_RECLAMO}}</td>
                                            <td>{{REC_FECHA_PRESENTACION}}</td>
                                            <td>{{REC_SISTEMA}}</td>
                                            <td>{{consecutivo}}</td>
                                            <td>
                                                <button class="btn btn-elegant" onclick="registro_reclamos.MostrarRegistroReclamosSeleccionado('{{REC_RECLAMO}}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
