﻿
@{
    Layout = "";
}
<html>
<head>
    <title>Etiqueta</title>
    <style type="text/css">
        <!--
        h2 {
            font-size: 13px;
        }

        body {
            margin: 5px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #fff;
            color: #000;
        }

        P.page {
            page-break-after: always
        }

        .style1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

        table {
            width: 100%
        }

        .tableBlack {
            font-size: 14px;
            background-color: #000;
            color: #fff;
        }
        
        .tableBlack tr td {
            text-align: center;
        }

        .label {
            font-size: 12px;
            font-weight: bold;
        }
        .valor {
            font-size: 12px;
        }

        #myDiv {
            text-align: center;
        }

        #mySpan {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            white-space: nowrap;
        }

        .barcodeTitle {
            font-size: 13px;
            font-weight: bold;
            text-align: center;
        }
        .barcodeTitleValue {
            font-size: 20px;
            font-weight: bold;
            text-align: right;
        }
        .barcodeTitleBig {
            font-size: 40px;
            font-weight: bold;
        }
    </style>

    <script language="javascript">
        function imprimir() {
            window.print();
            //window.close();
        }
    </script>

</head>
<body onLoad="imprimir();">
    <div align="left">
        <table border="0" align="left">
            <tr>
                <td colspan="5">
                    <table class="tableBlack">
                        <tr>
                            <td><h2>Terminales Santamar&iacute;a S.A.</h2></td>
                        </tr>
                        <tr>
                            <td><h2>Terminal de Carga y Dep&oacute;sito Aduanero</h2></td>
                        </tr>
                        <tr>
                            <td>
                                <table class="tableBlack">
                                    <tr>
                                        <td>Tel. +506 2437-5555</td>
                                        <td>www.terminales.co.cr</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="25%" class="label">Manifiesto:</td>
                <td width="25%" class="valor">@Model.Manifiesto</td>
                <td width="25%" class="label">Gu&iacute;a</td>
                <td width="25%" class="valor">@Model.Guia</td>
                <td rowspan="8">
                    <div id="myDiv">
                        <span id="mySpan">Rv.1001201415:57 R07-PGOP-07-01</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">L&iacute;nea A&eacute;rea:</td>
                <td colspan="3" class="valor">@Model.LineaAerea</td>
            </tr>
            <tr>
                <td class="label">Importador:</td>
                <td colspan="3" class="valor">@Model.Importador</td>
            </tr>
            <tr>
                <td class="label">Descripci&oacute;n:</td>
                <td colspan="3" class="valor">@Model.Descripcion</td>
            </tr>
            <tr>
                <td class="label">Observaci&oacute;n:</td>
                <td colspan="3" class="valor">@Model.Observacion</td>
            </tr>
            <tr>
                <td class="label">Ingreso:</td>
                <td class="valor">@Model.Ingreso</td>
                <td class="label">Consl</td>
                <td class="valor">@Model.Consl</td>
            </tr>
            <tr>
                <td class="label">Movimiento:</td>
                <td class="valor">@Model.Movimiento</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">
                    <table>
                        <tr>
                            <td valign="top">
                                <span class="barcodeTitleBig">@Model.barcodeValue</span><br />
                                <img src="@Model.barcodeImage" border="0" />
                            </td>
                            <td valign="middle">
                                <table>
                                    <tr>
                                        <td class="label">Bultos:</td>
                                        <td><span class="barcodeTitleValue">@Model.Bultos</span></td>
                                    </tr>
                                    <tr>
                                        <td class="label">Kilos:</td>
                                        <td><span class="barcodeTitleValue">@Model.Kilos</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><span class="barcodeTitleBig">@Model.valor</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    @if (false)
    {
        <p class="page">&nbsp;</p>
    }
</body>
</html>

