﻿@{
    ViewBag.Title = "Consulta Guias";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guías</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_consultas")
</head>
<body>

    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="guias-tab" data-toggle="tab" href="#guias" role="tab" aria-controls="guias" aria-selected="true">Guías</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" id="mercancias-tab" data-toggle="tab" href="#mercancias" role="tab" aria-controls="mercancias" aria-selected="false">Mercancías</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="guias" role="tabpanel" aria-labelledby="guias-tab">
                <hr />
                <h3>Consulta de Guías</h3>
                <hr />
                @*div para contener los filtros de la tabla de guias*@
                <div class="container-fluid" id="div_filters">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="in_flr_ien_entrada" class="form-control" type="text" tabindex="1">
                                <label for="in_flr_ien_entrada" class="control-label col-md-12">Consecutivo</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="in_flr_ien_consolidador" class="form-control" type="text" tabindex="2">
                                <label for="in_flr_ien_consolidador" class="control-label col-md-12">Consolidador</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input class="form-control" id="in_flr_guia_original" type="text" tabindex="3">
                                <label for="in_flr_guia_original" class="control-label col-md-12">Guía Original</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input class="form-control" id="in_flr_aerolinea" type="text" tabindex="4">
                                <label for="in_flr_aerolinea" class="control-label col-md-12">Aerolínea</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_filtrar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="entrada.BuscarEntrada()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="entrada.limpiarFiltrosEntrada()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr style="border-top: 2px solid #C29F34; background: transparent;">


                <form id="frm_guiaconsulta">
                    <div id="detalles-guia" class="detInfo_guia">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_entrada" name="IEN_Entrada" type="text" class="form-control" tabindex="1" disabled>
                                    <label id="lbl_ien_entrada" for="in_ien_entrada" class="control-label col-md-12">Consecutivo</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="in_ien_manifiesto" name="IEN_Manifiesto" type="text" class="form-control" tabindex="2" disabled>
                                    <label id="lbl_ien_manifiesto" for="in_ien_manifiesto" class="control-label col-md-12">Manifiesto</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="in_ien_guia" name="IEN_Guia" type="text" class="form-control" tabindex="3" disabled>
                                    <label id="lbl_ien_guia" for="in_ien_guia" class="control-label col-md-12">Guía Tica</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="in_ien_guiaoriginal" name="IEN_GUIA_Original" type="text" class="form-control" tabindex="4" disabled>
                                    <label for="in_ien_guiaoriginal" class="control-label col-md-12">Guía Original</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_ien_con_nconsolidador" name="IEN_CON_NConsolidador" type="text" class="form-control" tabindex="5" disabled>
                                    <label for="in_ien_con_nconsolidador" class="control-label col-md-12">Consolidador</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="md-form">
                                    <input id="in_con_nombre" name="CON_Nombre" type="text" class="form-control" tabindex="6" disabled>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="in_ien_guia_master," name="IEN_GUIA_Master" type="text" class="form-control" tabindex="7" disabled>
                                    <label for="in_ien_guia_master," class="control-label col-md-12">Guía Master</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_ien_imp_cedula" name="IEN_IMP_Cedula" type="text" class="form-control" tabindex="8" disabled>
                                    <label for="in_ien_imp_cedula" class="control-label col-md-12">Consignatario</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="md-form">
                                    <input id="in_ien_importador" name="IEN_Importador" type="text" class="form-control" tabindex="9" disabled>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="s_ien_estado" name="DESC_Estado" type="text" class="form-control" tabindex="10" disabled>
                                    <label for="s_ien_estado" class="control-label col-md-12">Estado</label>
                                    @*<select class="form-control" name="IEN_Estado" id="s_ien_estado" tabindex="10" disabled></select>*@
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dtp_ien_fch_digitacion" class="control-label col-md-12">Fecha Digitación</label>
                                    <input id="dtp_ien_fch_digitacion" tabindex="11" name="IEN_FCH_Digitacion" disabled>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dtp_ien_fch_manifiesto" class="control-label col-md-12">Fecha Manifiesto</label>
                                    <input id="dtp_ien_fch_manifiesto" tabindex="12" name="IEN_FCH_Manifiesto" disabled>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dtp_ien_fch_ingreso" class="control-label col-md-12">Fecha Ingreso</label>
                                    <input id="dtp_ien_fch_ingreso" tabindex="13" name="IEN_FCH_Ingreso" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input type="text" class="form-control" name="IEN_BOD_Nbodega" id="in_ien_bod_nbodega" tabindex="14" disabled>
                                    <label for="in_ien_bod_nbodega" class="control-label col-md-12">Bodega</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="text" class="form-control" name="BOD_Nombre" id="in_bod_nombre" tabindex="15" disabled>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="md-form">
                                    <input type="text" id="in_ien_fun_funcionario" name="IEN_FUN_Funcionario" class="form-control" tabindex="16" disabled>
                                    <label class="control-label col-md-12" for="in_ien_fun_funcionario">Funcionario</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="text" name="FUN_Nombre" id="in_fun_nombre" class="form-control" tabindex="17" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input type="text" id="in_ien_aer_naerolinea" name="IEN_AER_Naerolinea" class="form-control" tabindex="18" disabled>
                                    <label class="control-label col-md-12" for="in_ien_aer_naerolinea">Aerolínea</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="text" id="in_aer_nombre" name="AER_Nombre" class="form-control" tabindex="19" disabled>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input type="text" id="in_ien_pto_puerto" name="IEN_PTO_Puerto" class="form-control" tabindex="20" disabled>
                                    <label class="control-label col-md-12" for="in_ien_pto_puerto">Puerto</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="text" id="in_pto_descripcion" name="PTO_Descripcion" class="form-control" tabindex="21" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_tdo_doc_hija" name="IEN_TDO_DOC_Hija" type="text" class="form-control" tabindex="22" disabled>
                                    <label for="in_ien_tdo_doc_hija" class="control-label col-md-12">Tipo Documento</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="in_tdo_descripcion" name="TDO_Descripcion" type="text" class="form-control" tabindex="23" disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_ien_din_tipo_documento" name="IEN_DIN_TIPO_Documento" class="form-control" tabindex="24" disabled>
                                    <label class="control-label col-md-12" for="in_ien_din_tipo_documento">Tipo Doc TICA</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input type="text" id="in_din_descripcion" name="DIN_Descripcion" class="form-control" tabindex="25" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_ien_aduana_recibe" name="IEN_ADUANA_Recibe" class="form-control" tabindex="26" disabled>
                                    <label class="control-label col-md-12" for="in_ien_aduana_recibe">Aduana Recibe</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input type="text" id="in_adu_descripcion" name="ADU_Descripcion" class="form-control" tabindex="27" disabled>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_usuario_digito" name="IEN_USUARIO_Digito" type="text" class="form-control" tabindex="28" disabled>
                                    <label for="in_ien_usuario_digito" class="control-label col-md-12">Usuario Digitó</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="in_usu_nombre" name="USU_Nombre" type="text" class="form-control" tabindex="29" disabled>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_bultos_manifestados" name="IEN_BULTOS_Manifestados" type="text" class="form-control" tabindex="30" disabled>
                                    <label id="lbl_ien_bultos_manifestados" for="in_ien_bultos_manifestados" class="control-label col-md-12">Bultos Manifestados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_bultos_ingresados" name="IEN_BULTOS_Ingresados" type="text" class="form-control" tabindex="31" disabled>
                                    <label id="lbl_ien_bultos_ingresados" for="in_ien_bultos_ingresados" class="control-label col-md-12">Bultos Ingresados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_blt_despaletizados" name="BLT_Despaletizados" type="text" class="form-control" tabindex="32" disabled>
                                    <label id="lbl_blt_despaletizados" for="in_blt_despaletizados" class="control-label col-md-12">Bultos Despaletizados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_blt_reser" name="BLT_Reser" type="text" class="form-control" tabindex="33" disabled>
                                    <label id="lbl_blt_reser" for="in_blt_reser" class="control-label col-md-12">Bultos Reservados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_blt_salid" name="BLT_Salid" type="text" class="form-control" tabindex="34" disabled>
                                    <label for="in_blt_salid" class="control-label col-md-12">Bultos Salidos</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_kilos_manifestados" name="IEN_KILOS_Manifestados" type="text" class="form-control" tabindex="35" disabled>
                                    <label id="lbl_ien_kilos_manifestados" for="in_ien_kilos_manifestados" class="control-label col-md-12">Kilos Manifestados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="checkbox" name="Muestras" id="chb_muestras" class="k-checkbox" tabindex="36" disabled>
                                    <label class="k-checkbox-label" for="chb_muestras">Muestras?</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_kg_desp" name="KG_Desp" type="text" class="form-control" tabindex="37" disabled>
                                    <label id="lbl_kg_desp" for="in_kg_desp" class="control-label col-md-12">Kilos Despaletizados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_kg_reser" name="KG_Reser" type="text" class="form-control" tabindex="38" disabled>
                                    <label id="lbl_kg_reser" for="in_kg_reser" class="control-label col-md-12">Kilos Reservados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_kg_salid" name="KG_Salid" type="text" class="form-control" tabindex="39" disabled>
                                    <label id="lbl_kg_salid" for="in_kg_salid" class="control-label col-md-12">Kilos Salidos</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="in_ien_descripcion_manif" name="IEN_DESCRIPCION_Manif" class="form-control" tabindex="40" disabled>
                                    <label id="lbl_ien_descripcion_manif" class="control-label col-md-12" for="in_ien_descripcion_manif">Descripción</label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_ien_antecesor" name="IEN_Antecesor" class="form-control" tabindex="41" disabled>
                                    <label id="lbl_ien_antecesor" class="control-label col-md-12" for="in_ien_antecesor">Antecesor</label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_ien_numero_viaje" name="IEN_NUMERO_Viaje" class="form-control" tabindex="42" disabled>
                                    <label id="lbl_ien_numero_viaje" class="control-label col-md-12" for="in_ien_numero_viaje">Número Viaje</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-11">
                                <div class="md-form">
                                    <input type="text" id="in_ien_observaciones" name="IEN_Observaciones" class="form-control" tabindex="43" disabled>
                                    <label id="lbl_ien_observaciones" class="control-label col-md-12" for="in_ien_observaciones">Observaciones</label>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input type="text" id="s_ien_clase" name="IEN_Clase" class="form-control" tabindex="44" disabled>
                                    <label for="s_ien_clase" class="control-label col-md-12">Clasificación</label>
                                    @* <select id="s_ien_clase" name="IEN_Clase" class="form-control" tabindex="44" disabled></select>*@
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_ien_boleta_clase" name="IEN_BOLETA_Clase" class="form-control" tabindex="45" disabled>
                                    <label id="lbl_ien_boleta_clase" class="control-label col-md-12" for="in_ien_boleta_clase">Boleta</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_ien_ubicacion_transito" name="IEN_UBICACION_Transito" class="form-control" tabindex="46" disabled>
                                    <label id="lbl_ien_ubicacion_transito" class="control-label col-md-12" for="in_ien_ubicacion_transito">Ubicación Destino</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="text" id="in_ubi_destino" name="UBI_Destino" class="form-control" tabindex="47" disabled>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_ien_tipo_duda_ref" name="IEN_TIPO_DUDA_Ref" class="form-control" tabindex="48" disabled>
                                    <label id="lbl_ien_tipo_duda_ref" class="control-label col-md-12" for="in_ien_tipo_duda_ref">Duda Refrigeración</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="text" id="in_drf_duda" name="DRF_Duda" class="form-control" tabindex="49" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="text" id="s_ien_duda_refri" name="IEN_DUDA_Refri" class="form-control" tabindex="50" disabled>
                                    <label for="s_ien_duda_refri" class="control-label col-md-12">Indicación de Refrigeración</label>
                                    @*<select id="s_ien_duda_refri" name="IEN_DUDA_Refri" class="form-control" tabindex="50" disabled></select>*@
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="checkbox" name="IEN_ES_Courier" id="chb_ien_es_courier" class="k-checkbox" tabindex="51" disabled>
                                    <label id="lbl_ien_es_courier" class="k-checkbox-label" for="chb_ien_es_courier">Es Courier?</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="checkbox" name="IEN_Bloqueada" id="chb_ien_bloqueada" class="k-checkbox" tabindex="52" disabled>
                                    <label id="lbl_ien_bloqueada" class="k-checkbox-label" for="chb_ien_bloqueada">Bloqueada?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="tab-pane fade show" id="mercancias" role="tabpanel" aria-labelledby="mercancias-tab">
                <hr />          
                <hr />
                <div class="row">
                    <div class="col-md-3"><h4>Consulta de Mercancías</h4></div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="btn_regresar_mercancia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="mercancia.MER_Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                 @*<hr style="border-top: 2px solid #C29F34; background: transparent;">*@
                @*Encabezado del listar mercancías*@
                <div id="th_mercancias" class="table-responsive">
                    <table id="Mercancias_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="4"></th>
                                <th colspan="3">Bultos</th>
                                <th colspan="2">Kilos</th>
                                <th colspan="3">Cálculo</th>
                            </tr>
                            <tr>
                                <th style="display:none;" data-field="MER_ID_Mercancia">Id</th>
                                <th data-field="MER_MOV_Inventario">Mov.Inventario</th>
                                <th data-field="MER_ID_MERCANCIA_Ref">Mercancia</th>
                                <th data-field="DESC_Estado">Estado</th>
                                <th data-field="MER_BULTOS_Despaletizados">Ingreso</th>
                                <th data-field="MER_BULTOS_Reservados">Reservd</th>
                                <th data-field="MER_BULTOS_Salidos">Salidos</th>
                                <th data-field="MER_KILOS_Bruto">Ingreso</th>
                                <th data-field="MER_KILOS_Reservados">Reservd</th>
                                <th data-field="MER_KILOS_Salidos">Salidos</th>
                                <th data-field="Bultosesc">Bultos</th>
                                <th data-field="Kilosesc">Kilos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="Mercancias_Tablebody"></tbody>
                    </table>
                </div>

                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
                <script id="Mercancias_Table-template" type="text/x-handlebars-template">
                    <tr>
                        <td style="display:none;">{{MER_ID_Mercancia}}</td>
                        <td>{{MER_MOV_Inventario}}</td>
                        <td>{{MER_ID_MERCANCIA_Ref}}</td>
                        <td>{{DESC_Estado}}</td>
                        <td>{{MER_BULTOS_Despaletizados}}</td>
                        <td>{{MER_BULTOS_Reservados}}</td>
                        <td>{{MER_BULTOS_Salidos}}</td>
                        <td>{{MER_KILOS_Bruto}}</td>
                        <td>{{MER_KILOS_Reservados}}</td>
                        <td>{{MER_KILOS_Salidos}}</td>
                        <td>{{Bultosesc}}</td>
                        <td>{{Kilosesc}}</td>
                        <td>
                            <button class="btn btn-elegant" onclick="mercancia.MER_BuscarMercancia('{{MER_ID_Mercancia}}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                        </td>
                    </tr>
                </script>
                <form id="frm_mercancia">
                    <hr />
                
                    <div id="detalles-mercancia" class="detInfo_mercancia">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_mov_inventario" name="MER_MOV_Inventario" type="text" class="form-control" tabindex="7" disabled>
                                    <label id="lbl_mer_mov_inventario" for="in_mer_mov_inventario" class="control-label col-md-12">Mov.Invent</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_id_mercancia_Ref" name="MER_ID_MERCANCIA_Ref" type="text" class="form-control" tabindex="7" disabled>
                                    <label id="lbl_mer_id_mercancia_Ref" for="in_mer_id_mercancia_Ref" class="control-label col-md-12">Mercancía</label>
                                    @*<select class="form-control" name="MGU_MTD_SIA" id="s_mgu_docsia" tabindex="11" disabled></select>*@
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_desc_Estado" name="DESC_Estado" type="text" class="form-control" tabindex="7" disabled>
                                    <label id="lbl_desc_Estado" for="in_desc_Estado" class="control-label col-md-12">Estado</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_bultos_despaletizados" name="MER_BULTOS_Despaletizados" type="text" class="form-control" tabindex="9" disabled>
                                    <label id="lbl_mer_bultos_despaletizados" for="in_mer_bultos_despaletizados" class="control-label col-md-12">Blt.Ingreso</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_bultos_reservados" name="MER_BULTOS_Reservados" type="text" class="form-control" tabindex="8" disabled>
                                    <label for="in_mer_bultos_reservados" class="control-label col-md-12">Blt.Reservd</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_bultos_salidos" name="MER_BULTOS_Salidos" type="text" class="form-control" tabindex="8" disabled>
                                    <label for="in_mer_bultos_salidos" class="control-label col-md-12">Blt.Salid</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_kilos_bruto" name="MER_KILOS_Bruto" type="text" class="form-control" tabindex="9" disabled>
                                    <label id="lbl_mer_kilos_bruto" for="in_mer_kilos_bruto" class="control-label col-md-12">Kg.Ingreso</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_kilos_reservados" name="MER_KILOS_Reservados" type="text" class="form-control" tabindex="8" disabled>
                                    <label for="in_mer_kilos_reservados" class="control-label col-md-12">Kg.Reservd</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_kilod_salidos" name="MER_KILOS_Salidos" type="text" class="form-control" tabindex="8" disabled>
                                    <label for="in_mer_kilod_salidos" class="control-label col-md-12">Kg.Salid</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_bultosesc" name="Bultosesc" type="text" class="form-control" tabindex="8" disabled>
                                    <label for="in_bultosesc" class="control-label col-md-12">Cálculo Blts.</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_kilosesc" name="Kilosesc" type="text" class="form-control" tabindex="8" disabled>
                                    <label for="in_kilosesc" class="control-label col-md-12">Cálculo Kgs.</label>
                                </div>
                            </div>
                        </div>
                        <hr style="border-top: 2px solid #C29F34; background: transparent;">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_tem_embalaje" name="MER_TEM_Embalaje" type="text" class="form-control" tabindex="1" disabled>
                                    <label id="lbl_mer_tem_embalaje" for="in_mer_tem_embalaje" class="control-label col-md-12">Embalaje</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_tem_descripcion" name="TEM_Descripcion" type="text" class="form-control" tabindex="2" disabled>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_tme_mercancia" name="MER_TME_Mercancia" type="text" class="form-control" tabindex="3" disabled>
                                    <label id="lbl_mer_tme_mercancia" for="in_mer_tme_mercancia" class="control-label col-md-12">Tipo</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_tme_descripcion" name="TME_Descripcion" type="text" class="form-control" tabindex="4" disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_mer_fch_digitacion" name="MER_FCH_Digitacion" type="text" class="form-control" tabindex="5" disabled>
                                    <label id="lbl_mer_fch_digitacion" for="in_mgu_guiatica" class="control-label col-md-12">Fch Digitación</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ave_descripcion" name="AVE_Descripcion" type="text" class="form-control" tabindex="6" disabled>
                                    <label id="lbl_ave_descripcion" for="in_ave_descripcion" class="control-label col-md-12">Condición</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_operacion_tica" name="MER_OPERACION_Tica" type="text" class="form-control" tabindex="7" disabled>
                                    <label id="lbl_mer_operacion_tica" for="in_mer_operacion_tica" class="control-label col-md-12">Operación</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_mer_imp_cedula" name="MER_IMP_Cedula" type="text" class="form-control" tabindex="7" disabled>
                                    <label id="lbl_mer_imp_cedula" for="in_mer_imp_cedula" class="control-label col-md-12">Importador</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_imp_nombre" name="IMP_Nombre" type="text" class="form-control" tabindex="7" disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_desc_transmision" name="DESC_Transmision" type="text" class="form-control" tabindex="7" disabled>
                                    <label id="lbl_desc_transmision" for="in_desc_transmision" class="control-label col-md-12">Transmitir?</label>
                                    @*<select class="form-control" name="MGU_MTD_SIA" id="s_mgu_docsia" tabindex="11" disabled></select>*@
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_mer_fch_Transmision" name="MER_FCH_Transmision" type="text" class="form-control" tabindex="7" disabled>
                                    <label id="lbl_mer_fch_Transmision" for="in_mer_fch_Transmision" class="control-label col-md-12">Fch Transmisión</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_mer_archivo_transmision" name="MER_ARCHIVO_Transmision" type="text" class="form-control" tabindex="9" disabled>
                                    <label id="lbl_mer_archivo_transmision" for="in_mer_archivo_transmision" class="control-label col-md-12">Archivo</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_mer_usuario_transmision" name="MER_USUARIO_Transmision" type="text" class="form-control" tabindex="8" disabled>
                                    <label for="in_mer_usuario_transmision" class="control-label col-md-12">Usuario Transmitió</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="md-form">
                                    <input id="in_mer_error" name="MER_Error" type="text" class="form-control" tabindex="8" disabled>
                                    <label id="lbl_mer_error" for="in_mer_error" class="control-label col-md-12">Error Tica</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_desc_accion" name="DESC_Accion" type="text" class="form-control" tabindex="8" disabled>
                                    <label id="lbl_desc_accion" for="in_desc_accion" class="control-label col-md-12">Acción</label>
                                    @*<select class="form-control" name="MGU_MTD_SIA" id="s_mgu_docsia" tabindex="11"></select>*@
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_mer_id_mercancia_ref" name="MER_ID_MERCANCIA_Ref" type="text" class="form-control" tabindex="13" disabled>
                                    <label id="lbl_mer_id_mercancia_ref" for="in_mer_id_mercancia_ref" class="control-label col-md-12">Mercancía Ref.</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_mer_bultos_ref" name="MER_BULTOS_Ref" type="text" class="form-control" tabindex="13" disabled>
                                    <label for="in_mer_bultos_ref" class="control-label col-md-12">Bultos Ref.</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="in_tip_codigo_iata" name="TIP_CODIGO_Iata" type="text" class="form-control" tabindex="16" disabled>
                                    <label id="lbl_tip_codigo_iata" for="in_tip_codigo_iata" class="control-label col-md-12">Peligrosidad</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="in_tip_descripcion" name="TIP_Descripcion" type="text" class="form-control" tabindex="16" disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_mer_codigo_un" name="MER_CODIGO_un" class="form-control" tabindex="17" disabled>
                                    <label id="lbl_mer_codigo_un" class="control-label col-md-12" for="in_mer_codigo_un">Código UN</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input type="text" id="in_mer_indice_trans" name="MER_INDICE_Trans" class="form-control" tabindex="18" disabled>
                                    <label id="lbl_mer_indice_trans" class="control-label col-md-12" for="in_mer_indice_trans">Índice Transporte</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="checkbox" name="MER_Refrigerado" id="in_mer_refrigerado" class="k-checkbox" tabindex="3" disabled>
                                    <label id="lbl_mer_refrigerado" class="k-checkbox-label" for="in_mer_refrigerado">Refrigerado?</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="checkbox" name="MER_Perecedero" id="in_mer_perecedero" class="k-checkbox" tabindex="3" disabled>
                                    <label id="lbl_mer_perecedero" class="k-checkbox-label" for="in_mer_perecedero">Perecedero?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="text" id="in_mer_descripcion" name="MER_Descripcion" class="form-control" tabindex="21" disabled>
                                    <label id="lbl_mer_descripcion" class="control-label col-md-12" for="in_mer_descripcion">Descripción</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input type="text" id="in_mer_loc_rack" name="MER_LOC_Rack" class="form-control" tabindex="22" disabled>
                                    <label class="control-label col-md-12" for="in_mer_loc_rack">Localización</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input type="text" id="in_mer_loc_Columna" name="MER_LOC_Columna" class="form-control" tabindex="22" disabled>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input type="text" id="in_mer_loc_Lado" name="MER_LOC_Lado" class="form-control" tabindex="22" disabled>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input type="text" id="in_mer_loc_Altura" name="MER_LOC_Altura" class="form-control" tabindex="22" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="in_mer_observaciones" name="MER_Observaciones" class="form-control" tabindex="25" disabled>
                                    <label class="control-label col-md-12" for="in_mer_observaciones">Observaciones</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="text" id="in_ter_descripcion" name="TER_Descripcion" class="form-control" tabindex="27" disabled>
                                    <label class="control-label col-md-12" for="in_ter_descripcion">Error en la transmisión</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>        

                        <div id="myModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Consulta de Guías</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="divwithscroll">
                                            @*<div class="row">
                                                <div class="col-md-2">
                                                    <div class="md-form">
                                                        <input id="prev_flt_cod_importador" type="text" class="form-control" tabindex="5">
                                                        <label for="prev_flt_cod_importador" class="control-label col-md-12">ID</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <input id="prev_flt_nom_importador" type="text" class="form-control" tabindex="6">
                                                        <label for="prev_flt_nom_importador" class="control-label col-md-12">NOMBRE</label>
                                                    </div>
                                                </div>
                                            </div>*@
                                            <div class="row">
                                                @*Encabezado del listar Guías*@
                                                <div id="PREV_TablaImportadores" class="table-responsive">
                                                    @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                                    <table id="ENT_Guias_table" data-toggle="table" class="table table-fixed">
                                                        <thead>
                                                            <tr>
                                                                <th data-field="IEN_Entrada">Consecutivo</th>
                                                                <th data-field="IEN_GUIA_Original">Guía Original</th>
                                                                <th data-field="IEN_Importador">Consolidador</th>
                                                                <th data-field="AER_Nombre">Aerolínea</th>
                                                                <th data-field="DESC_Estado">Estado</th>
                                                                <th data-field="IEN_FCH_Ingreso">Fch. Ingreso</th>
                                                                <th>Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="ENT_guias_tablebody"></tbody>
                                                    </table>
                                                </div>

                                                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                                <script id="ENT_guias_table-template" type="text/x-handlebars-template">
                                                    <tr>
                                                        <td>{{IEN_Entrada}}</td>
                                                        <td>{{IEN_GUIA_Original}}</td>
                                                        <td>{{IEN_Importador}}</td>
                                                        <td>{{AER_Nombre}}</td>
                                                        <td>{{DESC_Estado}}</td>
                                                        <td>{{IEN_FCH_Ingreso}}</td>
                                                        <td>
                                                            <button class="btn btn-elegant" onclick="entrada.ENT_Escoger('{{IEN_Entrada}}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                </script>


                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>

</body>
</html>


