﻿
@{
    ViewBag.Title = "Reimpresión Etiqueta";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reimpresión de Etiquetas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_consultas")
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4>Reimpresión de Etiquetas</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        @*<button id="btn_filtrar_merca" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="mercancia.MER_ListarReimpresion()"><i class="fa fa-search" aria-hidden="true"></i></button>*@
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="mercancia.limpiarFiltrosMerca()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

       

        @*div para contener los filtros de la tabla de guias*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_mer_ien_entrada" class="form-control" type="number" tabindex="1" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_mer_ien_entrada" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_mer_id_mercancia" class="form-control" type="number" tabindex="2" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_mer_id_mercancia" class="control-label col-md-12">Tarima</label>
                    </div>
                </div>
                @*<div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_merca" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="mercancia.MER_ListarReimpresion()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="mercancia.limpiarFiltrosMerca()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

        @*Encabezado del listar mercancías*@
        <div id="th_mercanciasReimp" class="table-responsive">
            <table id="MercanciasReimp_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="CONSECUTIVO">Consecutivo</th>
                        <th data-field="MANIFIESTO">Manifiesto</th>
                        <th data-field="GUIA">Guía</th>
                        <th data-field="TARIMA">Tarima</th>
                        <th data-field="BULTOS">Bultos</th>
                        <th data-field="KBRUTO">Kilos</th>
                        <th data-field="DESC_ESTADO">Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="MercanciasReimp_Tablebody"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
            manipulacion de hileras -->
        <script id="MercanciasReimp_Table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{CONSECUTIVO}}</td>
                <td>{{MANIFIESTO}}</td>
                <td>{{GUIA}}</td>
                <td>{{TARIMA}}</td>
                <td>{{BULTOS}}</td>
                <td>{{KBRUTO}}</td>
                <td>{{DESC_ESTADO}}</td>
                <td>
                    <button class="btn btn-elegant" onclick="mercancia.Imprimir('{{TARIMA}}')"><i class="fa fa-print" aria-hidden="true"></i></button>
                </td>
            </tr>
        </script>

    </div>

</body>
</html>

