﻿@{
    ViewBag.Title = "Agencia Aduanal";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agencia Aduanal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_agencia_aduanal")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"><h4>Agencia Aduanal</h4></div>
            <div class="col-md-6 alignRight" id="botones_agencia">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar_agencia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="agenciaadu.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id="btn_listar_agencia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar Agencias" type="button" onclick="agenciaadu.AGA_ListarAgencias()"><i class="fa fa-list" aria-hidden="true"></i></button>
                        <button id="btn_actualizar_agencia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Agencia" type="button" onclick="agenciaadu.AGA_ActualizarAgencia()"><i class="fas fa-edit"></i></button>
                        <button id="btn_registrar_agencia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Agencia" type="button" onclick="agenciaadu.AGA_GuardarAgencia()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_agencia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="agenciaadu.LimpiarCamposAgencia()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 alignRight fullHidden" id="botones_agente">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar_agente" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="agenciaadu.RegresarAgente()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id="btn_listar_agente" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar Agentes" type="button" onclick="agenciaadu.TAA_ListarAgentes()"><i class="fa fa-list" aria-hidden="true"></i></button>
                        <button id="btn_nuevo_agente" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Nuevo agente" type="button" onclick="agenciaadu.TAA_Nuevo()"><i class="fas fa-plus-square"></i></button>
                        <button id="btn_actualizar_agente" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Agente" type="button" onclick="agenciaadu.TAA_ActualizarAgente()"><i class="fas fa-edit"></i></button>
                        <button id="btn_registrar_agente" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Agente" type="button" onclick="agenciaadu.TAA_GuardarAgente()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_agente" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="agenciaadu.LimpiarCamposAgente()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_agencia" class="active">
                <a class="nav-link active" id="agencia-tab" data-toggle="tab" href="#agencia" role="tab" aria-controls="agencia" aria-selected="true">Agencia</a>
            </li>
            <li class="nav-item fullHidden" id="li_agente">
                <a class="nav-link" id="agentes-tab" data-toggle="tab" href="#agentes" role="tab" aria-controls="agentes" aria-selected="false">Agentes</a>
            </li>
        </ul>

        <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="agencia" role="tabpanel" aria-labelledby="agencia-tab">
                <hr class="espacio"/>

                <form id="frm_agencia">
                    <input type="hidden" id="USER_MERX" name="USER_MERX" />
                    <div id="detalles-agencia" class="detInfo_agencia">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_NAGENCIA_ADUANAL" name="AGA_NAGENCIA_ADUANAL" type="number" class="form-control" tabindex="1" onblur="agenciaadu.onfocus()" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                                        <label for="AGA_NAGENCIA_ADUANAL" id="lbl_AGA_NAGENCIA_ADUANAL" class="control-label col-md-12 lblfocus">Agencia Aduanal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_NOMBRE" name="AGA_NOMBRE" type="text" class="form-control" tabindex="2" maxlength="60">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_Estado" class="control-label col-md-12">Estado</label>
                                        <div class="md-form">
                                            <select id="s_Estado" name="AGA_EST_ESTADO" class="form-control" tabindex="13"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_CEDULA" name="AGA_CEDULA" type="text" class="form-control" tabindex="6">
                                        <label for="AGA_CEDULA" id="lbl_AGA_CEDULA" class="control-label col-md-12">Cédula</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="AGA_FECHA_INGRESO" class="control-label col-md-12">Fecha Ingreso</label>
                                        <input id="AGA_FECHA_INGRESO" type="date" tabindex="6" name="AGA_FECHA_INGRESO">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_Recibe_Estado" class="control-label col-md-12">Recibe Estados</label>
                                        <div class="md-form">
                                            <select id="s_Recibe_Estado" name="AGA_RECIBE_ESTADOS" class="form-control" tabindex="14"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_TELEFONO1" name="AGA_TELEFONO1" type="text" class="form-control" tabindex="6">
                                        <label for="AGA_TELEFONO1" id="lbl_AGA_TELEFONO1" class="control-label col-md-12">Teléfono 1</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_TELEFONO2" name="AGA_TELEFONO2" type="text" class="form-control" tabindex="7">
                                        <label for="AGA_TELEFONO2" id="lbl_AGA_TELEFONO2" class="control-label col-md-12">Teléfono 2</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_TELEFONO_FAX" name="AGA_TELEFONO_FAX" type="text" class="form-control" tabindex="7">
                                        <label for="AGA_TELEFONO_FAX" id="lbl_AGA_TELEFONO_FAX" class="control-label col-md-12">Fax</label>
                                    </div>
                                </div>
                            </div>.
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_EMAIL" name="AGA_EMAIL" type="text" class="form-control" tabindex="15">
                                        <label for="AGA_EMAIL" id="lbl_AGA_EMAIL" class="control-label col-md-12">Email</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_APARTADO" name="AGA_APARTADO" type="text" class="form-control" tabindex="15">
                                        <label for="AGA_APARTADO" id="lbl_AGA_APARTADO" class="control-label col-md-12">Apartado</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGA_DIRECCION" name="AGA_DIRECCION" type="text" class="form-control" tabindex="9">
                                        <label for="AGA_DIRECCION" class="control-label col-md-12">Dirección</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                @*div para contener los filtros de la tabla de agencias*@
                <div class="container-fluid" id="div_filters">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="md-form">
                                <input id="in_flr_id_agencia" type="text" class="form-control" onkeyup="agenciaadu.BusquedaFiltros()">
                                <label for="in_flr_id_agencia" class="control-label col-md-12">Id</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="in_flr_agencia" type="text" class="form-control" onkeyup="agenciaadu.BusquedaFiltros()">
                                <label for="in_flr_agencia" class="control-label col-md-12">Agencia</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    @*<button id="btn_filtrar_agencia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="agenciaadu.BusquedaFiltros()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <button id="btn_refrescar_agencia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Recargar" type="button" onclick="agenciaadu.AGA_ListarAgencias()"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Encabezado del listar Manifiesto*@
                <div id="th_agencias" class="table-responsive">
                    <table id="tb_agencias" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="AGA_AGENCIA_ADUANAL">Id</th>
                                <th data-field="AGA_NOMBRE">Agencia</th>
                                <th data-field="AGA_EST_ESTADO">Estado</th>
                                <th data-field="AGA_CEDULA">Cédula</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tb_agencias_body"></tbody>
                    </table>
                </div>

                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
                    manipulacion de hileras -->
                <script id="tb-agencias-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{AGA_AGENCIA_ADUANAL}}</td>
                        <td>{{AGA_NOMBRE}}</td>
                        <td>{{AGA_EST_ESTADO}}</td>
                        <td>{{AGA_CEDULA}}</td>
                        <td>
                            <button class="btn btn-elegant" onclick="agenciaadu.Editar('{{AGA_AGENCIA_ADUANAL}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </script>

            </div>

            <div class="tab-pane fade show" id="agentes" role="tabpanel" aria-labelledby="agentes-tab">
                <hr class="espacio" />
                <div class="col-md-6">
                    <h5 id="lbl_agenom"></h5>
                </div>
              @*  <hr class="espacio" />*@
                <form id="frm_agente">
                    <input type="hidden" id="USER_MERXagente" name="USER_MERX" />
                    <input type="hidden" id="TAA_Agencia" name="TAA_AGA_NAGENCIA" />
                    <div id="detalles-agente" class="detInfo_agente">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="TAA_CODIGO" name="TAA_CODIGO" type="text" class="form-control" tabindex="1" disabled>
                                        <label for="TAA_CODIGO" class="control-label col-md-12">Código</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="TAA_CEDULA" name="TAA_CEDULA" type="text" class="form-control" tabindex="1">
                                        <label id="lbl_cedula" for="TAA_CEDULA" class="control-label col-md-12 lblfocus">Cédula</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="TAA_NOMBRE" name="TAA_NOMBRE" type="text" class="form-control" tabindex="1">
                                        <label for="TAA_NOMBRE" class="control-label col-md-12">Nombre</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_tipoAgente" class="control-label col-md-12">Tipo Agente</label>
                                        <div class="md-form">
                                            <select id="s_tipoAgente" name="TAA_TIPO_AGENTE" class="form-control" tabindex="13"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_EstadoAgente" class="control-label col-md-12">Estado</label>
                                        <div class="md-form">
                                            <select id="s_EstadoAgente" name="TAA_ESTADO" class="form-control" tabindex="13"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_MotivoEstado" class="control-label col-md-12">Motivo Estado</label>
                                        <div class="md-form">
                                            <select id="s_MotivoEstado" name="TAA_MOTIVO" class="form-control" tabindex="13"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="TAA_DIRECCION" name="TAA_DIRECCION" type="text" class="form-control" tabindex="4">
                                        <label for="TAA_DIRECCION" class="control-label col-md-12">Dirección</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="TAA_TELEFONO" name="TAA_TELEFONO" type="text" class="form-control" tabindex="4">
                                        <label for="TAA_TELEFONO" class="control-label col-md-12">Teléfono</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="TAA_USU_ACTUALIZA" name="TAA_USU_ACTUALIZA" type="text" class="form-control" tabindex="4" disabled>
                                        <label for="TAA_USU_ACTUALIZA" class="control-label col-md-12">Usuario</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="TAA_FCH_ACTUALIZA" class="control-label col-md-12">Fecha</label>
                                        <input id="TAA_FCH_ACTUALIZA" type="date" tabindex="6" name="TAA_FCH_ACTUALIZA" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                @*div para contener los filtros de la tabla de manifiestos*@
                <div class="container-fluid" id="div_filters_agentes">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="md-form">
                                <input id="in_flr_cedula" type="text" class="form-control" onkeyup="agenciaadu.BusquedaFiltrosAgentes()">
                                <label for="in_flr_cedula" class="control-label col-md-12">Cédula</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="in_flr_nombre" type="text" class="form-control" onkeyup="agenciaadu.BusquedaFiltrosAgentes()">
                                <label for="in_flr_nombre" class="control-label col-md-12">Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    @*<button id="btn_filtrar_agente" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="agenciaadu.BusquedaFiltrosAgentes()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button id="btn_refrescar_agentes" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Recargar" type="button" onclick="agenciaadu.TAA_ListarAgentes()"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Encabezado del listar Manifiesto*@
                <div id="th_agentes" class="table-responsive">
                    <table id="tb_agentes" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th hidden data-field="TAA_AGA_NAGENCIA"></th>
                                <th data-field="TAA_CODIGO">Código</th>
                                <th data-field="TAA_CEDULA">Cédula</th>
                                <th data-field="TAA_NOMBRE">Nombre</th>
                                <th data-field="TAA_TIPO_AGENTE">Tipo</th>
                                <th data-field="TAA_ESTADO">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tb_agentes_body"></tbody>
                    </table>
                </div>

                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
                <script id="tb-agentes-template" type="text/x-handlebars-template">
                    <tr>
                        <td hidden>{{TAA_AGA_NAGENCIA}}</td>
                        <td>{{TAA_CODIGO}}</td>
                        <td>{{TAA_CEDULA}}</td>
                        <td>{{TAA_NOMBRE}}</td>
                        <td>{{TAA_TIPO_AGENTE}}</td>
                        <td>{{TAA_ESTADO}}</td>
                        <td>
                            <button class="btn btn-elegant" onclick="agenciaadu.EditarAgente('{{TAA_AGA_NAGENCIA}}','{{TAA_CODIGO}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </script>

            </div>

        </div>

    </div>

</body>
</html>
