﻿@{
    ViewBag.Title = "Cajeras";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cajeras</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_cajeras")
</head>
<body>
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-3"><h4>Cajeras</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="cajera.CJR_Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id="btn_nueva_cajera" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Nueva" type="button" onclick="cajera.CJR_Nueva()"><i class="fas fa-plus-square"></i></button>
                        <button id="btn_actualizar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="cajera.CJR_Actualizar()"><i class="fas fa-edit"></i></button>
                        <button id="btn_guardar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar" type="button" onclick="cajera.CJR_Guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="cajera.CJR_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_cjr_cajera" class="form-control" type="text" tabindex="1">
                        <label for="in_flr_cjr_cajera" class="control-label col-md-12">Cajera</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_cajera" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="cajera.CJR_BuscarFiltro()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="cajera.CJR_limpiarFiltros()" id="btn_limpiar_filtros"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="CJR_USU" name="CJR_USU" value="@ViewData["User"]" />

        <form id="frm_cajera">
            <div id="detalles-cajera" class="detInfo_cajera">
                <input type="hidden" id="CJR_Usu_registro" name="CJR_Usu_registro"/>
                <input type="hidden" id="CJR_Usu_modifico" name="CJR_Usu_modifico"/>
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" name="CJR_Cajera" id="CJR_CAJERA" tabindex="1" disabled>
                            <label for="CJR_CAJERA" class="control-label col-md-12">Cajera</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="checkbox" name="CJR_Principal" id="CJR_Principal" class="k-checkbox" tabindex="2">
                            <label class="k-checkbox-label" for="CJR_Principal">Principal?</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="checkbox" name="CJR_Activo" id="CJR_Activo" class="k-checkbox" tabindex="3">
                            <label class="k-checkbox-label" for="CJR_Activo">Activa?</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="checkbox" name="CJR_Doble_impr" id="CJR_Doble_impr" class="k-checkbox" tabindex="4">
                            <label class="k-checkbox-label" for="CJR_Doble_impr">2 Imp?</label>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        @*Encabezado del listar*@
        <div id="th_Cajeras" class="table-responsive">
            <table id="Cajeras_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="CJR_CAJERA">Cajera</th>
                        <th data-field="CJR_PRINCIPAL">Principal?</th>
                        <th data-field="CJR_ACTIVO">Activa?</th>
                        <th data-field="CJR_DOBLE_IMPR">2 Imp?</th>
                        <th data-field="CJR_USU_REGISTRO">Usuario Registro</th>
                        <th data-field="CJR_FCH_REGISTRO">Fecha Registro</th>
                        <th data-field="CJR_USU_MODIFICO">Usuario Modificó</th>
                        <th data-field="CJR_FCH_MODIFICO">Fecha Modificó</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="Cajeras_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="CJR_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{CJR_Cajera}}</td>
                <td>{{CJR_Principal}}</td>
                <td>{{CJR_Activo}}</td>
                <td>{{CJR_Doble_impr}}</td>
                <td>{{CJR_Usu_registro}}</td>
                <td>{{CJR_Fch_registro}}</td>
                <td>{{CJR_Usu_modifico}}</td>
                <td>{{CJR_Fch_modifico}}</td>
                <td>
                    <button class="btn btn-elegant" onclick="cajera.CJR_ConsultarDatos('{{CJR_Cajera}}')" data-toggle="tooltip" title="Editar" type="button"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-elegant" onclick="cajera.CJR_Borrar('{{CJR_Cajera}}')" data-toggle="tooltip" title="Borrar" type="button"><i class="fa fa-eraser" aria-hidden="true"></i></button>

                </td>

            </tr>
        </script>


    </div>

</body>
</html>

