﻿@{
    ViewBag.Title = "Consulta Movimientos";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <link href="~/assets/icomoon/demo.css" rel="stylesheet" />
    <title>Consulta Movimientos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div id="div_titulo" class="col-6"><h4>Consulta Movimientos</h4></div>
            <div class="col-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                       @* &nbsp;&nbsp;*@
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="movimientos_consulta.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="USER_MERX" name="USER_MERX" value="@ViewData["User"]" />

        <div class="row" id="div_filtros">
            <div class="frm_tarima_info " id="frm_tarima_info">
                <fieldset id="tarima_fieldset">
                    <div class="row" id="" style="margin-right:15px;">
                        <div class="col-2">
                            <div class="md-form divResumen">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" class="form-control" name="MVE_MOV_INVENTARIO_flt" id="MVE_MOV_INVENTARIO_flt" tabindex="1" onblur="movimientos_consulta.onfocus()" />
                                    <label id="lbl_MVE_MOV_INVENTARIO_flt" for="MVE_MOV_INVENTARIO_flt" class="control-label col-md-12 lblfocus">Movimiento</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="md-form divResumen">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" class="form-control" name="MVE_IEN_ENTRADA_flt" id="MVE_IEN_ENTRADA_flt" value="" tabindex="2">
                                    <label for="MVE_IEN_ENTRADA_flt" class="control-label col-md-12">Conocimiento</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="md-form divResumen">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" class="form-control" name="IEN_DUA_flt" id="IEN_DUA_flt" tabindex="3">
                                    <label for="IEN_DUA_flt" class="control-label col-md-12">DUA / DUCA T</label>
                                </div>
                            </div>
                        </div>


                        <div class="col-2">
                            <div class="md-form divResumen">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" class="form-control" name="IEN_CONSIGNATARIO_flt" id="IEN_CONSIGNATARIO_flt" tabindex="4">
                                    <label for="IEN_CONSIGNATARIO_flt" class="control-label col-md-12">Consignatario</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="md-form divResumen">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" class="form-control" name="IEN_NUMERO_VIAJE_flt" id="IEN_NUMERO_VIAJE_flt" tabindex="5">
                                    <label for="IEN_NUMERO_VIAJE_flt" class="control-label col-md-12">Viaje</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="md-form divResumen">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" class="form-control" name="TMA_NUM_CONTENEDOR_flt" id="TMA_NUM_CONTENEDOR_flt" tabindex="6">
                                    <label for="TMA_NUM_CONTENEDOR_flt" class="control-label col-md-12">Contenedor</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

        <form autocomplete="off" id="frm_movimientos" class="frm_movimientos fullHidden">

            <input type="hidden" id="MER_USUARIO" name="MER_USUARIO" value="@ViewData["User"]" />
            <input type="hidden" id="USER_MERX" name="USER_MERX" value="@ViewData["User"]" />

            <div class="row">
                <div class="col-1">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="MER_ID_MERCANCIA" id="MER_ID_MERCANCIA" disabled>
                            <label for="MER_ID_MERCANCIA" class="control-label col-md-12">Año</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="MER_BULTOS_DESPALETIZADOS" id="MER_BULTOS_DESPALETIZADOS" tabindex="2" disabled>
                            <label id="lbl_MER_BULTOS_DESPALETIZADOS" for="MER_BULTOS_DESPALETIZADOS" class="control-label col-md-12">Movimiento</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_KILOS_NETO" name="MER_KILOS_NETO" class="form-control" maxlength="11" tabindex="" disabled />
                            <label id="lbl_MER_KILOS_NETO" for="MER_KILOS_NETO" class="control-label col-md-12">Fecha Ingreso</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="MER_KILOS_TARIMA" id="MER_KILOS_TARIMA" tabindex="4" disabled>
                            <label for="MER_KILOS_TARIMA" class="control-label col-md-12">DUA / DUCA T</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="IEN_ENTRADA" id="IEN_ENTRADA" value="" disabled>
                            <label for="IEN_ENTRADA" class="control-label col-md-12">Conocimiento</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="MER_ID_MERCANCIA" id="MER_ID_MERCANCIA" disabled>
                            <label for="MER_ID_MERCANCIA" class="control-label col-md-12">#Tarimas</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-1 align-self-center">
                    <div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="" class="control-label col-md-12"> Bultos:</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_LARGO" name="MER_LARGO" class="form-control" tabindex="9" disabled>
                            <label for="MER_LARGO" class="control-label col-md-12">Ingresados</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_ALTO" name="MER_ALTO" class="form-control" data-id="" tabindex="10" disabled>
                            <label for="MER_ALTO" class="control-label col-md-12">Existentes</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_ANCHO" name="MER_ANCHO" class="form-control" data-id="" tabindex="11" disabled>
                            <label for="MER_ANCHO" class="control-label col-md-12">Disponibles</label>
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-center offset-1">
                    <div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="MER_PERECEDERO" id="MER_PERECEDERO" class="k-checkbox" disabled>
                            <label class="k-checkbox-label" for="MER_PERECEDERO">Paletizado</label>
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-center">
                    <div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="MER_REFRIGERADO" id="MER_REFRIGERADO" class="k-checkbox" disabled>
                            <label class="k-checkbox-label" for="MER_REFRIGERADO">A piso</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-1 align-self-center">
                    <div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="" class="control-label col-md-12"> Volumen (m&sup3;):</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_LARGO" name="MER_LARGO" class="form-control" tabindex="9" disabled>
                            <label for="MER_LARGO" class="control-label col-md-12">Ingresado</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_ALTO" name="MER_ALTO" class="form-control" data-id="" tabindex="10" disabled>
                            <label for="MER_ALTO" class="control-label col-md-12">Disponible</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 offset-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="IEN_ENTRADA" id="IEN_ENTRADA" value="" disabled>
                            <label for="IEN_ENTRADA" class="control-label col-md-12">Consignatario</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="MER_INDICE_TRANS" id="MER_INDICE_TRANS" tabindex="14" disabled>
                            <label for="MER_INDICE_TRANS" class="control-label col-md-12">Embalaje</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_DESCRIPCION" name="MER_DESCRIPCION" class="form-control" tabindex="15" disabled />
                            <label id="lbl_MER_DESCRIPCION" for="MER_DESCRIPCION" class="control-label col-md-12">Viaje</label>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_CODIGO_UN" name="MER_CODIGO_UN" class="form-control" tabindex="13" disabled>
                            <label for="MER_CODIGO_UN" class="control-label col-md-12">Peso</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_DESCRIPCION" name="MER_DESCRIPCION" class="form-control" tabindex="15" disabled />
                            <label id="lbl_MER_DESCRIPCION" for="MER_DESCRIPCION" class="control-label col-md-12">Estado</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-5">
                    <div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label" for="MER_OBSERVACIONES">Descripción</label>
                            <textarea class="form-control" tabindex="19" id="MER_OBSERVACIONES" name="MER_OBSERVACIONES" maxlength="300" disabled></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                            <label class="control-label" for="MER_OBSERVACIONES">Observaciones</label>
                            <textarea class="form-control" tabindex="19" id="MER_OBSERVACIONES" name="MER_OBSERVACIONES" maxlength="300" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="MER_INDICE_TRANS" id="MER_INDICE_TRANS" tabindex="14" disabled>
                            <label for="MER_INDICE_TRANS" class="control-label col-md-12">Código</label>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="MER_INDICE_TRANS" id="MER_INDICE_TRANS" tabindex="14" disabled>
                            <label for="MER_INDICE_TRANS" class="control-label col-md-12">Consolidador</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="IEN_ENTRADA" id="IEN_ENTRADA" value="" disabled>
                            <label for="IEN_ENTRADA" class="control-label col-md-12">Consignatario</label>
                        </div>
                    </div>
                </div>
            </div>

        </form>


        @* Tabla de movimientos *@
        <div id="tbl_movimientos" class="table-responsive ">
            <table id="movimientos_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="MOV_MOVIMIENTO" hidden>Id</th>
                        <th data-field="MOV_ANNO">Año </th>
                        <th data-field="MOV_MOVIMIENTO"># Movimiento</th>
                        <th data-field="MOV_FCH_INGRESO">Fecha Ingreso</th>
                        <th data-field="MER_KILOS_BRUTO"> DUA / DUCA T</th>
                        <th data-field="DESAVERIAS">Conocimiento</th>
                        <th data-field="DES_OPER_TICA">Consignatario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="movimientos_tablebody"></tbody>
            </table>
        </div>
        <script id="movimientos_table-template" type="text/x-handlebars-template">
            <tr>
                <td hidden>{{MOV_MOVIMIENTO}}</td>
                <td>{{MOV_ANNO}}</td>
                <td>{{MOV_MOVIMIENTO}}</td>
                <td>{{MOV_FCH_INGRESO}}</td>
                <td>{{MER_KILOS_BRUTO}}</td>
                <td>{{DESAVERIAS}}</td>
                <td>{{DES_OPER_TICA}}</td>
                <td>
                    <button data-toggle="tooltip" title="Cargar detalle." class="btn btn-elegant" onclick="movimientos_consulta.detalle('{{MVE_MOV_INVENTARIO}}')"><i class="fa fa-spinner" aria-hidden="true"></i></button>
                    @*<button class="btn btn-elegant" onclick="tarimas_consulta.Tarima_Borrar('{{MER_ID_MERCANCIA}}')"><i class="fa fa-trash" aria-hidden="true"></i></button>*@
                </td>
            </tr>
        </script>


    </div>
</body>
</html>
@Scripts.Render("~/bundles/js_movimientos_consulta")
