﻿@{
    ViewBag.Title = "Conceptos por Tarifa";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_conceptos_tarifa")
</head>
<body>
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4></h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <!--Regresar-->
                        <button id="btn_regresar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="conceptos_tarifa.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <!--Listar-->
                        <button id="btn_listar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="conceptos_tarifa.listar()"><i class="fas fa-list"></i></button>
                        <!--Guardar-->
                        <button id="btn_guardar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Conceptos por Tarifa" type="button" onclick="conceptos_tarifa.guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <!--Actualizar-->
                        <button id="btn_actualizar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Conceptos por Tarifa" type="button" onclick="conceptos_tarifa.actualizar()"><i class="fa fa-edit" aria-hidden="true"></i></button>
                        <!--Limpiar-->
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="conceptos_tarifa.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>

                    </div>
                </div>
            </div>
        </div>

        <hr style="border-top: 2px solid #C29F34; background: transparent;">
        <h4>Conceptos por Tarifa</h4>

        <form id="frm_conceptos_tarifa" class="frm_conceptos_tarifa">
            <input type="hidden" id="TRF_USU_REGISTRO" name="TRF_USU_REGISTRO" />
            <div id="detalles-registro-muestras" class="detInfo_registro_muestras">
                <div class="row">
                    <div class="col-md-4">
                        <label for="CTR_CCB_CONCEPTO" class="control-label col-md-12">Concepto</label>
                        <div class="md-form">
                            <select name="CTR_CCB_CONCEPTO" id="CTR_CCB_CONCEPTO" class="form-control" tabindex="1"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="CTR_MONTO_FIJO" class="control-label col-md-12">Monto Fijo</label>
                        <input id="CTR_MONTO_FIJO" name="CTR_MONTO_FIJO" type="text" class="form-control" tabindex="2" />
                    </div>
                    <div class="col-md-4">
                        <label for="CTR_MONEDA_MONTO_FIJO" class="control-label col-md-12">Moneda monto fijo</label>
                        <div class="md-form">
                            <select name="CTR_MONEDA_MONTO_FIJO" id="CTR_MONEDA_MONTO_FIJO" class="form-control" tabindex="3"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="CTR_PCT_PRORRATEO" class="control-label col-md-12">Porcentaje prorrateo</label>
                        <input id="CTR_PCT_PRORRATEO" name="CTR_PCT_PRORRATEO" type="text" class="form-control" tabindex="4" />
                    </div>
                    <div class="col-md-3">
                        <label for="CTR_CIF_MINIMO" class="control-label col-md-12">CIF m&iacute;nimo</label>
                        <input id="CTR_CIF_MINIMO" name="CTR_CIF_MINIMO" type="text" class="form-control" tabindex="5" />
                    </div>
                    <div class="col-md-3">
                        <label for="CTR_MONTO_MINIMO" class="control-label col-md-12">Monto m&iacute;nimo</label>
                        <input id="CTR_MONTO_MINIMO" name="CTR_MONTO_MINIMO" type="text" class="form-control" tabindex="6" />
                    </div>
                    <div class="col-md-3">
                        <label for="CTR_MONEDA_MONTO_MINIMO" class="control-label col-md-12">Moneda monto m&iacute;nimo</label>
                        <div class="md-form">
                            <select name="CTR_MONEDA_MONTO_MINIMO" id="CTR_MONEDA_MONTO_MINIMO" class="form-control" tabindex="7"></select>
                        </div>
                    </div>
                </div>

                <hr class="espacio" />
            </div>
        </form>

        <!-- Busqueda inicio -->
        <div class="container-fluid fullHidden div_conceptos_tarifa_busqueda" id="div_conceptos_tarifa_busqueda">
            <form id="frm_conceptos_tarifa_busqueda" class="frm_conceptos_tarifa_busqueda">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="B_CTR_CCB_CONCEPTO" class="control-label col-md-12">Concepto Tarifa</label>
                            <input id="B_CTR_CCB_CONCEPTO" name="B_TRF_ID" type="text" class="form-control" onkeyup="conceptos_tarifa.buscar(this)" maxlength="20">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="tbl_conceptos_tarifa_busqueda" class="table-responsive fullHidden">
            <table id="conceptos_tarifa_busqueda_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="CTR_CCB_CONCEPTO">Concepto</th>
                        <th data-field="CTR_MONTO_FIJO">Monto Fijo</th>
                        <th data-field="CTR_MONEDA_MONTO_FIJO">Moneda</th>
                        <th data-field="CTR_PCT_PRORRATEO">% Prorrateo</th>
                        <th data-field="CTR_CIF_MINIMO">CIF Minimo</th>
                        <th data-field="CTR_MONTO_MINIMO">Monto Minimo</th>
                        <th data-field="CTR_MONEDA_MONTO_MINIMO">Moneda</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="conceptos_tarifa_busqueda_tablebody"></tbody>
            </table>
        </div>
        <script id="conceptos_tarifa_busqueda_table_template" type="text/x-handlebars-template">
            <tr>
                <td>{{CTR_CCB_CONCEPTO}}</td>
                <td>{{CTR_MONTO_FIJO}}</td>
                <td>{{CTR_MONEDA_MONTO_FIJO}}</td>
                <td>{{CTR_PCT_PRORRATEO}}</td>
                <td>{{CTR_CIF_MINIMO}}</td>
                <td>{{CTR_MONTO_MINIMO}}</td>
                <td>{{CTR_MONEDA_MONTO_MINIMO}}</td>
                <td><button class="btn btn-elegant" onclick="conceptos_tarifa.editar('{{JSON}}')"><i class="fa fa-edit" aria-hidden="true"></i></button></td>
            </tr>
        </script>
        <!-- Busqueda fin -->
    </div>
</body>
</html>
