﻿
@{
    ViewBag.Title = "Producto No Conforme";
    ViewData["User"] = Session["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prealertas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_producto_nc")
</head>
<body>
    <div class="container-fluid">
        @*<hr />*@
        @*TABS*@
        <ul class="nav nav-tabs" id="ProductoTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="encabezado-tab" data-toggle="tab" href="#encabezado" role="tab" aria-controls="encabezado" aria-selected="true">Encabezado</a>
            </li>
            <li class="nav-item fullHidden" id="li_detallepnc">
                <a class="nav-link" id="detalle-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="detalle" aria-selected="false">Detalle</a>
            </li>
            <li class="nav-item fullHidden" id="li_investigacionpnc">
                <a class="nav-link" id="investigacion-tab" data-toggle="tab" href="#investigacion" role="tab" aria-controls="investigacion" aria-selected="false">Investigación</a>
            </li>
            <li class="nav-item fullHidden" id="li_verificacionPNC">
                <a class="nav-link" id="verificacion-tab" data-toggle="tab" href="#verificacion" role="tab" aria-controls="verificacion" aria-selected="false">Verificación</a>
            </li>
        </ul>

        <div class="tab-content" id="ProductoTabContent">
            <div class="tab-pane fade show active" id="encabezado" role="tabpanel" aria-labelledby="encabezado-tab">
                
                <div class="row">
                    <div class="col-md-6"><h4>Registro de Producto No Conforme</h4></div>
                    <div class="col-md-6 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="btn_regresar_producto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="prod_nc.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                                <button id="btn_listar_productos" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="prod_nc.Refrescar()"><i class="fa fa-list" aria-hidden="true"></i></button>
                                <button id="btn_guardar_producto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Crear" type="button" onclick="prod_nc.guardar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button id="btn_editar_producto" class="btn btn-elegant waves-effect waves-light fullHidden" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="prod_nc.Actualizar()"><i class="fas fa-edit"></i></button>
                                <button id="btn_limpiar_producto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="prod_nc.limpiaFiltros()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="frm_productoNC" class="frm_productoNC">
                    <input type="hidden" id="UsReg_productoNC" name="PNC_USU_REGISTRA" value="@ViewData["User"]" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input id="pnc_identificador" type="number" name="PNC_IDENTIFICADOR" class="form-control" tabindex="1" onkeypress="principal.FilterInput(event)" onblur="prod_nc.onfocus()"/>
                                    <label id="lbl_pnc_identificador" for="pnc_identificador" class="control-label col-md-12 lblfocus">Identificador</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_fecha" class="control-label col-md-12">Fecha</label>
                                    <input id="pnc_fecha" name="PNC_FECHA" class="form-control" tabindex="2" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_ubicacion" class="control-label col-md-12">Ubicación</label>
                                    <select id="pnc_ubicacion" name="PNC_UBICACION" class="form-control" tabindex="3"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_SISTEMA" class="control-label col-md-12">Sistema</label>
                                    <select id="PNC_SISTEMA" name="PNC_SISTEMA" class="form-control" tabindex="4"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="pnc_consecutivo" name="pnC_consecutivo" class="form-control" tabindex="5" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15" />
                                    <label for="pnc_consecutivo" class="control-label col-md-12">Consecutivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_categoria" class="control-label col-md-12">Categoría</label>
                                    <select id="pnc_categoria" name="PNC_CATEGORIA" class="form-control" tabindex="6"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_departamento" class="control-label col-md-12">Departamento</label>
                                    <select id="pnc_departamento" name="PNC_DEPARTAMENTO" class="form-control" tabindex="7"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="pnc_guia" name="GUIA" class="form-control" tabindex="8" disabled />
                                    <label for="pnc_guia" class="control-label col-md-12">Conocimiento</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="number" id="pnc_cant_tarimas" name="PNC_CANT_TARIMAS" class="form-control" tabindex="9" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="4" />
                                    <label for="pnc_cant_tarimas" class="control-label col-md-12">Cantidad Tarimas</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="number" id="pnc_tarimasNC" name="PNC_TARIMAS_NC" class="form-control" tabindex="10" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="4" />
                                    <label for="pnc_tarimasNC" class="control-label col-md-12">Tarimas NC</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_tipo_problema" class="control-label col-md-12">Tipo Problema</label>
                                    <select id="pnc_tipo_problema" name="PNC_TIPO_PROBLEMA" class="form-control" tabindex="11"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="pnc_cliente" name="PNC_CLIENTE" class="form-control" tabindex="12" disabled />
                                    <label for="pnc_cliente" class="control-label col-md-12">Cliente</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="pnc_agencia" name="PNC_AGENCIA" class="form-control" tabindex="13" />
                                    <label for="pnc_agencia" class="control-label col-md-12">Agencia</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="pnc_descripcionNC" name="PNC_DESCRIPCION_NC" class="form-control" tabindex="14" />
                                    <label for="pnc_descripcionNC" class="control-label col-md-12">Descripción N.C.</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_detectado" class="control-label col-md-12">Detectado Por</label>
                                    <select id="pnc_detectado" name="PNC_TIPO_HALLAZGO" class="form-control" tabindex="15"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="pnc_funcionario" name="PNC_HALLADO_POR" class="form-control" tabindex="16" maxlength="100" />
                                    <label for="pnc_funcionario" class="control-label col-md-12">Funcionario ALM</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_hallazgo" class="control-label col-md-12">Forma como se encontró el PNC</label>
                                    <select type="text" id="pnc_hallazgo" name="PNC_EVENTO_HALLAZGO" class="form-control" tabindex="17"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="pnc_otro_evento" name="PNC_OTRO_EVENTO" class="form-control" tabindex="18" />
                                    <label for="pnc_otro_evento" class="control-label col-md-12">Otro</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_observaciones" class="control-label col-md-12">Observaciones</label>
                                    <textarea id="pnc_observaciones" name="PNC_OBSERVACIONES" class="form-control" tabindex="19"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_representante" class="control-label col-md-12">Representante</label>
                                    <input type="text" id="pnc_representante" name="PNC_REPRESENTANTE" class="form-control" tabindex="20" maxlength="100" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_decision_cliente" class="control-label col-md-12">Decisión Cliente</label>
                                    <select type="text" id="pnc_decision_cliente" name="PNC_DECISION_CLIENTE" class="form-control" tabindex="21"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_DESC_OTRO_DECISION" class="control-label col-md-12">Otro</label>
                                    <input type="text" id="PNC_DESC_OTRO_DECISION" name="PNC_DESC_OTRO_DECISION" class="form-control" tabindex="22" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_ESTADO" class="control-label col-md-12">Estado</label>
                                    <select type="text" id="PNC_ESTADO" name="PNC_ESTADO" class="form-control" tabindex="21"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                @*div para contener los filtros*@
                <div class="container-fluid fullHidden div_productoNC_filtros" id="div_productoNC_filtros">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form">
                                <input id="pnc_flr_identificador" type="text" class="form-control" onkeyup="prod_nc.filtrar(this)">
                                <label for="pnc_flr_identificador" class="control-label col-md-12">Identificador</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="pnc_flr_sistema" class="control-label col-md-12">Sistema</label>
                                <select type="text" class="form-control" id="pnc_flr_sistema" onchange="prod_nc.buscar()"></select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input type="text" id="pnc_flr_consecutivo" class="form-control" onkeyup="prod_nc.filtrar(this)" />
                                <label for="pnc_flr_consecutivo" class="control-label col-md-12">Consecutivo</label>
                            </div>
                        </div>
                        @*<div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_filtrar_producto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="prod_nc.buscar()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    @*<button id="btn_oculta_filtro_manifiesto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Ocultar" type="button" onclick="manifiesto.OcultarFiltrosManifiesto()"><i class="fa fa-minus" aria-hidden="true"></i></button>*@
                                @*</div>
                            </div>
                        </div>*@
                    </div>
                </div>

                <div id="tbl_productoNC" class="table-responsive fullHidden">
                    <table id="productoNC_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="PNC_IDENTIFICADOR">Identificador</th>
                                <th data-field="pnC_consecutivo">Consecutivo</th>
                                <th data-field="PNC_CLIENTE">Cliente</th>
                                <th data-field="PNC_USU_REGISTRA">Usuario Reg</th>
                                <th data-field="PNC_FECHA">Fecha Reg</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="productoNC_tablebody"></tbody>
                    </table>
                </div>
                <script id="productoNC_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{PNC_IDENTIFICADOR}}</td>
                        <td>{{pnC_consecutivo}}</td>
                        <td>{{PNC_CLIENTE}}</td>
                        <td>{{PNC_USU_REGISTRA}}</td>
                        <td>{{PNC_FECHA}}</td>
                        <td><button class="btn btn-elegant" onclick="prod_nc.editar('{{PNC_IDENTIFICADOR}}')"><i class="fa fa-edit" aria-hidden="true"></i></button></td>
                    </tr>
                </script>
            </div>
            <div class="tab-pane fade show fullHidden" id="detalle" role="tabpanel" aria-labelledby="detalle-tab">
                
                <div class="row">
                    <div class="col-md-12 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                @*<button id="btn_listar_manifiesto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="manifiesto.Refrescar()"><i class="fa fa-list" aria-hidden="true"></i></button>*@
                                <button id="btn_crea_detalle" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Crear" type="button" onclick="productoNC_detalle.guardar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button id="btn_actualiza_detalle" class="btn btn-elegant waves-effect waves-light fullHidden" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="productoNC_detalle.actualizar()"><i class="fas fa-edit"></i></button>
                                <button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="productoNC_detalle.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                @*<button id="btn_filters_manifiesto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Filtros" type="button" onclick="manifiesto.FiltrosManifiesto()"><i class="fa fa-filter" aria-hidden="true"></i></button>*@
                            </div>
                        </div>
                    </div>
                </div>

                <form id="frm_productoNC_detalle" class="frm_productoNC_detalle">
                    <input type="hidden" id="UsReg_pncIdentificador" name="TNC_PNC_IDENTIFICADOR" value="" />
                    <input type="hidden" id="TNC_SECUENCIA" name="TNC_SECUENCIA" value="" />
                    <div class="row">
                        <div class="col-md-2">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input id="TNC_TARIMA" type="number" name="TNC_TARIMA" class="form-control" tabindex="1" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15" />
                                    <label for="TNC_TARIMA" class="control-label col-md-12">Tarima</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="number" id="TNC_BULTOS" name="TNC_BULTOS" class="form-control" tabindex="2" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="4" />
                                    <label for="TNC_BULTOS" class="control-label col-md-12">Bultos</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="number" id="TNC_BULTOS_NC" name="TNC_BULTOS_NC" class="form-control" tabindex="3" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="4" />
                                    <label for="TNC_BULTOS_NC" class="control-label col-md-12">Bultos NC</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <table id="detalle_producto_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="TNC_TARIMA">Tarima</th>
                                <th data-field="TNC_BULTOS">Bultos</th>
                                <th data-field="TNC_BULTOS_NC">Bultos NC</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="detalle_producto_tablebody"></tbody>
                    </table>
                </div>
                <script id="detalle_producto_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{TNC_TARIMA}}</td>
                        <td>{{TNC_BULTOS}}</td>
                        <td>{{TNC_BULTOS_NC}}</td>
                        <td><button class="btn btn-elegant" onclick="productoNC_detalle.editar('{{TNC_PNC_IDENTIFICADOR}}', '{{TNC_SECUENCIA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button></td>
                    </tr>
                </script>
            </div>
            <div class="tab-pane fade show fullHidden" id="investigacion" role="tabpanel" aria-labelledby="investigacion-tab">
                @*<hr />*@
                <div class="row">
                    <div class="col-md-12 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="productoNC_investigacion.Actualizar()"><i class="fas fa-edit"></i></button>
                                @*<button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="productoNC_investigacion.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <form id="frm_producto_investigacion" class="frm_producto_investigacion">
                    <input type="hidden" id="PNC_IDENTIFICADOR" name="PNC_IDENTIFICADOR" value="" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_INVESTIGACION" class="control-label col-md-12">Investigación</label>
                                    <textarea id="PNC_INVESTIGACION" name="PNC_INVESTIGACION" class="form-control" tabindex="1"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_CAUSA" class="control-label col-md-12">Causa</label>
                                    <textarea id="PNC_CAUSA" name="PNC_CAUSA" class="form-control" tabindex="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_DESCRIP_ACCION" class="control-label col-md-12">Acción</label>
                                    <textarea id="PNC_DESCRIP_ACCION" name="PNC_DESCRIP_ACCION" class="form-control" tabindex="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="PNC_RESPONSABLE" name="PNC_RESPONSABLE" class="form-control" tabindex="4" />
                                    <label for="PNC_RESPONSABLE" class="control-label col-md-12">Responsable</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_FCH_LIMITE" class="control-label col-md-12">Fecha Límite</label>
                                    <input type="date" id="PNC_FCH_LIMITE" name="PNC_FCH_LIMITE" class="form-control" tabindex="5" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="PNC_EMAIL_NOTIF" name="PNC_EMAIL_NOTIF" class="form-control" tabindex="6" />
                                    <label for="PNC_EMAIL_NOTIF" class="control-label col-md-12">Email Notificación</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="pnc_estado" class="control-label col-md-12">Estado</label>
                                    <select id="pnc_estado" name="PNC_ESTADO" class="form-control" tabindex="1"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="checkbox" name="PNC_EVID_MANIFIESTO" id="PNC_EVID_MANIFIESTO" class="k-checkbox" tabindex="2">
                                    <label class="k-checkbox-label" for="PNC_EVID_MANIFIESTO">Manifiesto</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="checkbox" name="PNC_EVID_FACTURA" id="PNC_EVID_FACTURA" class="k-checkbox" tabindex="7">
                                    <label class="k-checkbox-label" for="PNC_EVID_FACTURA">Factura</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="checkbox" name="PNC_EVID_VIDEO" id="PNC_EVID_VIDEO" class="k-checkbox" tabindex="8">
                                    <label class="k-checkbox-label" for="PNC_EVID_VIDEO">Video</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="checkbox" name="PNC_EVID_FOTOS" id="PNC_EVID_FOTOS" class="k-checkbox" tabindex="9">
                                    <label class="k-checkbox-label" for="PNC_EVID_FOTOS">Fotos</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="checkbox" name="PNC_EVID_EXAMEN" id="PNC_EVID_EXAMEN" class="k-checkbox" tabindex="10">
                                    <label class="k-checkbox-label" for="PNC_EVID_EXAMEN">Examen Previo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="PNC_OTRO" name="PNC_OTRO" class="form-control" tabindex="11" />
                                    <label for="PNC_OTRO" class="control-label col-md-12">Otro</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="PNC_USU_INVESTIGA" name="PNC_USU_INVESTIGA" class="form-control" tabindex="12" disabled />
                                    <label for="PNC_USU_INVESTIGA" class="control-label col-md-12">Usuario Investiga</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_FCH_INVESTIGA" class="control-label col-md-12">Fecha Investigación</label>
                                    <input type="date" id="PNC_FCH_INVESTIGA" name="PNC_FCH_INVESTIGA" class="form-control" tabindex="13" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="PNC_USU_REVISION" name="PNC_USU_REVISION" class="form-control" tabindex="14" disabled />
                                    <label for="PNC_USU_REVISION" class="control-label col-md-12">Usuario Revisa</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_FCH_REVISION" class="control-label col-md-12">Fecha Revisión</label>
                                    <input type="date" id="PNC_FCH_REVISION" name="PNC_FCH_REVISION" class="form-control" tabindex="15" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="PNC_USU_APRUEBA" name="PNC_USU_APRUEBA" class="form-control" tabindex="16" disabled />
                                    <label for="PNC_USU_APRUEBA" class="control-label col-md-12">Usuario Aprueba</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_FCH_APRUEBA" class="control-label col-md-12">Fecha Aprobación</label>
                                    <input type="date" id="PNC_FCH_APRUEBA" name="PNC_FCH_APRUEBA" class="form-control" tabindex="17" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="PNC_USU_CALIDAD" name="PNC_USU_CALIDAD" class="form-control" tabindex="17" disabled />
                                    <label for="PNC_USU_CALIDAD" class="control-label col-md-12">Usuario Finaliza</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="PNC_FCH_CALIDAD" class="control-label col-md-12">Fecha Finalización</label>
                                    <input type="date" id="PNC_FCH_CALIDAD" name="PNC_FCH_CALIDAD" class="form-control" tabindex="18" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade show fullHidden" id="verificacion" role="tabpanel" aria-labelledby="verificacion-tab">
                @*<hr />*@
                <div class="row">
                    <div class="col-md-12 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Crear" type="button" onclick="productoNC_verificacion.guardar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                @*<button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="productoNC_verificacion.actualizar()"><i class="fas fa-edit"></i></button>*@
                                <button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="productoNC_verificacion.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="frm_productoNC_verificacion" class="frm_productoNC_verificacion">
                    <input type="hidden" id="VNC_PNC_IDENTIFICADOR" name="VNC_PNC_IDENTIFICADOR" value="" />
                    <input type="hidden" id="VNC_SECUENCIA" name="VNC_SECUENCIA" value="" />
                    <input type="hidden" id="VNC_USU_REGISTRA" name="VNC_USU_REGISTRA" value="@ViewData["User"]" />
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="VNC_FECHA" class="control-label col-md-12">Fecha</label>
                                    <input id="VNC_FECHA" type="date" name="VNC_FECHA" class="form-control" tabindex="1" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="VNC_DESCRIPCION" name="VNC_DESCRIPCION" class="form-control" tabindex="2" />
                                    <label for="VNC_DESCRIPCION" class="control-label col-md-12">Descripción</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <table id="verificacion_producto_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="VNC_FECHA">Fecha</th>
                                <th data-field="VNC_DESCRIPCION">Descripción</th>
                                @*<th>Acciones</th>*@
                            </tr>
                        </thead>
                        <tbody id="verificacion_producto_tablebody"></tbody>
                    </table>
                </div>
                <script id="verificacion_producto_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{VNC_FECHA}}</td>
                        <td>{{VNC_DESCRIPCION}}</td>
                        @*<td><button class="btn btn-elegant" onclick="productoNC_verificacion.editar('{{VNC_PNC_IDENTIFICADOR}}', '{{VNC_SECUENCIA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button></td>*@
                    </tr>
                </script>

            </div>
        </div>


    </div>
</body>
</html>