﻿@{
    ViewBag.Title = "Solicitud Video";
    ViewData["User"] = Session["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_solicitud_video")
</head>
<body>
    <div class="container-fluid">

        <div class="tab-content" id="ProductoTabContent">
            <div class="tab-pane fade show active" id="encabezado" role="tabpanel" aria-labelledby="encabezado-tab">
                <input type="hidden" id="SIV_USU" name="SIV_USU" value="@ViewData["User"]" />
                <div class="row">
                    <div class="col-md-6"><h4>Solicitud Interna de Video</h4></div>
                    <div class="col-md-6 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="btn_regresar_solicitudes" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="solicitud_video.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                                <button id="btn_listar_solicitudes" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="solicitud_video.Refrescar()"><i class="fa fa-list" aria-hidden="true"></i></button>
                                <button id="btn_guardar_solicitudes" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Crear" type="button" onclick="solicitud_video.guardar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button id="btn_editar_solicitudes" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="solicitud_video.Actualizar()"><i class="fas fa-edit"></i></button>
                                <button id="btn_limpiar_solicitudes" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="solicitud_video.limpiaFiltros()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="frm_solicitudVideo" class="frm_solicitudVideo">
                    @*<hr class="espacio" />*@
                    <input type="hidden" id="SIV_USU_REGISTRA" name="SIV_USU_REGISTRA" value="@ViewData["User"]" />
                    <input type="hidden" id="SIV_SOLICITUD" name="SIV_SOLICITUD" value="" />
                    <div class="row">
                        @*<div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="SIV_SOLICITUD" class="control-label col-md-12">Solicitud</label>
                                    <input id="SIV_SOLICITUD" type="number" name="SIV_SOLICITUD" class="form-control" tabindex="1" onkeypress="principal.FilterInput(event)" />
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-2">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="IEN_GUIA_MASTER" name="GUIA_MASTER" class="form-control" tabindex="1" maxlength="30" disabled />
                                    <label for="IEN_GUIA_MASTER" class="control-label col-md-12">Guía Master</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="SIV_TIPO" class="control-label col-md-12">Tipo de Solicitud</label>
                                    <select id="SIV_TIPO" name="SIV_TIPO" class="form-control" tabindex="2"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="SIV_SISTEMA" class="control-label col-md-12">Sistema</label>
                                    <select id="SIV_SISTEMA" name="SIV_SISTEMA" class="form-control" tabindex="3"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="number" id="SIV_IEN_ENTRADA" name="SIV_IEN_ENTRADA" class="form-control" tabindex="4" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15" />
                                    <label id="lbl_SIV_IEN_ENTRADA" for="SIV_IEN_ENTRADA" class="control-label col-md-12 lblfocus">Consecutivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="IEN_GUIA_ORIGINAL" name="GUIA_HIJA" class="form-control" tabindex="5" maxlength="30" disabled />
                                    <label for="IEN_GUIA_ORIGINAL" class="control-label col-md-12">Conocimiento</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="CONSIGNATARIO" name="CONSIGNATARIO" class="form-control" tabindex="6" disabled />
                                    <label for="CONSIGNATARIO" class="control-label col-md-12">Consignatario/Exportador</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="AER_NOMBRE" name="AER_NOMBRE" class="form-control" tabindex="7" disabled />
                                    <label for="AER_NOMBRE" class="control-label col-md-12">Consolidador</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="number" id="SIV_PRIORIDAD" name="SIV_PRIORIDAD" class="form-control" tabindex="8" onkeypress="principal.FilterInput(event)" />
                                    <label for="SIV_PRIORIDAD" class="control-label col-md-12">Prioridad</label>
                                </div>
                            </div>
                        </div>                     
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="SIV_SOLICITA" class="control-label col-md-12">Solicita</label>
                                    <select id="SIV_SOLICITA" name="SIV_SOLICITA" class="form-control" tabindex="9"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" id="SIV_NOMBRE_SOLICITA" name="SIV_NOMBRE_SOLICITA" class="form-control" tabindex="10" />
                                    <label for="SIV_NOMBRE_SOLICITA" class="control-label col-md-12">Nombre</label>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="SIV_OBSERVACIONES" class="control-label col-md-12">Observaciones</label>
                                    <textarea type="text" id="SIV_OBSERVACIONES" name="SIV_OBSERVACIONES" class="form-control" tabindex="11"></textarea>
                                </div>
                            </div>
                        </div>


                        @*<div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="SIV_USU_REGISTRA" class="control-label col-md-12">Usuario Solicita</label>
                                    <input type="text" id="SIV_USU_REGISTRA" name="SIV_USU_REGISTRA" class="form-control" tabindex="23" />
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="SIV_VERIF_DESCRP_OTRO" class="control-label col-md-12">Descripción Otro</label>
                                    <input type="text" id="SIV_VERIF_DESCRP_OTRO" name="SIV_VERIF_DESCRP_OTRO" class="form-control" tabindex="12" />
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    @*<div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="SIV_FCH_FINALIZA" class="control-label col-md-12">Fecha Finalizado</label>
                                    <input id="SIV_FCH_FINALIZA" name="SIV_FCH_FINALIZA" class="form-control" tabindex="21" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="F_HORAS" class="control-label col-md-12">Duración en Horas</label>
                                    <input type="text" id="F_HORAS" name="F_HORAS" class="form-control" tabindex="21" />
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <fieldset>
                        <legend>Verificar</legend>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_RECEPCION" id="SIV_VERIF_RECEPCION" class="k-checkbox" tabindex="13">
                                        <label class="k-checkbox-label" for="SIV_VERIF_RECEPCION">Recepción</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_AFORO" id="SIV_VERIF_AFORO" class="k-checkbox" tabindex="14">
                                        <label class="k-checkbox-label" for="SIV_VERIF_AFORO">Aforo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_RX" id="SIV_VERIF_RX" class="k-checkbox" tabindex="15">
                                        <label class="k-checkbox-label" for="SIV_VERIF_RX">Rayos-X</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_DESPALET" id="SIV_VERIF_DESPALET" class="k-checkbox" tabindex="16">
                                        <label class="k-checkbox-label" for="SIV_VERIF_DESPALET">Paletizaje/Despaletizaje</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_REFRIG" id="SIV_VERIF_REFRIG" class="k-checkbox" tabindex="17">
                                        <label class="k-checkbox-label" for="SIV_VERIF_REFRIG">Cámara Frío</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_DESPACH" id="SIV_VERIF_DESPACH" class="k-checkbox" tabindex="18">
                                        <label class="k-checkbox-label" for="SIV_VERIF_DESPACH">Despacho</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_CHEQUEO" id="SIV_VERIF_CHEQUEO" class="k-checkbox" tabindex="19">
                                        <label class="k-checkbox-label" for="SIV_VERIF_CHEQUEO">Chequeo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_COURIER" id="SIV_VERIF_COURIER" class="k-checkbox" tabindex="20">
                                        <label class="k-checkbox-label" for="SIV_VERIF_COURIER">Courier</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="SIV_VERIF_OTRO" id="SIV_VERIF_OTRO" class="k-checkbox" tabindex="21">
                                        <label class="k-checkbox-label" for="SIV_VERIF_OTRO">Otro</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                @*div para contener los filtros*@
                <div class="row  container-fluid fullHidden div_solicitavideo_filtros" id="div_solicitavideo_filtros">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="md-form">
                                <input id="siv_flr_solicitud" type="number" class="form-control" onkeyup="solicitud_video.buscar()" onkeypress="principal.FilterInput(event)">
                                <label for="siv_flr_solicitud" class="control-label col-md-12">Solicitud</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="siv_flr_estado" class="control-label col-md-12">Estado</label>
                                <select id="siv_flr_estado" class="form-control" onchange="solicitud_video.buscar()"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input id="siv_flr_entrada" type="number" class="form-control" onkeyup="solicitud_video.filtrar(this)" onkeypress="principal.FilterInput(event)">
                                <label for="siv_flr_entrada" class="control-label col-md-12">Consecutivo</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="siv_flr_sistema" class="control-label col-md-12">Sistema</label>
                                <select id="siv_flr_sistema" class="form-control" onchange="solicitud_video.buscar()"></select>
                            </div>
                        </div>
                        @*<div class="col-md-2">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_filtrar_producto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="solicitud_video.buscar()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        @*<button id="btn_oculta_filtro_manifiesto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Ocultar" type="button" onclick="manifiesto.OcultarFiltrosManifiesto()"><i class="fa fa-minus" aria-hidden="true"></i></button>*@
                        @*</div>
                    </div>
                </div>*@
                    </div>
                </div>
                @*<hr class="espacio" />*@
                <div id="tbl_solicitudesVideo" class="table-responsive fullHidden">
                    <table id="solicitudesVideo_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="SIV_SOLICITUD">Solicitud</th>
                                <th data-field="DESC_TIPO">Tipo Solicitud</th>
                                <th data-field="SIV_NOMBRE_SOLICITA">Nombre Solicita</th>
                                <th data-field="CONSIGNATARIO">Consignatario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="solicitudesVideo_tablebody"></tbody>
                    </table>
                </div>
                <script id="solicitudesVideo_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{SIV_SOLICITUD}}</td>
                        <td>{{DESC_TIPO}}</td>
                        <td>{{SIV_NOMBRE_SOLICITA}}</td>
                        <td>{{CONSIGNATARIO}}</td>
                        <td><button class="btn btn-elegant" onclick="solicitud_video.editar('{{SIV_SOLICITUD}}')"><i class="fa fa-edit" aria-hidden="true"></i></button></td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
</body>
</html>