﻿@{
    ViewBag.Title = "Tarifas Cliente";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_tarifas_cliente")
</head>
<body>
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4></h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <!--Regresar-->
                        <button id="btn_regresar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarifas_cliente.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <!--Listar-->
                        <button id="btn_listar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="tarifas_cliente.listar()"><i class="fas fa-list"></i></button>
                        <!--Guardar-->
                        <button id="btn_guardar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Tarifario" type="button" onclick="tarifas_cliente.guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <!--Actualizar-->
                        <button id="btn_actualizar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Tarifario" type="button" onclick="tarifas_cliente.actualizar()"><i class="fa fa-edit" aria-hidden="true"></i></button>
                        <!--Limpiar-->
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="tarifas_cliente.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>

                    </div>
                </div>
            </div>
        </div>

        <hr style="border-top: 2px solid #C29F34; background: transparent;">
        <h4>Tarifas por Cliente</h4>

        <form id="frm_tarifas_cliente" class="frm_tarifas_cliente">
            <input type="hidden" id="TRC_USU_REGISTRO" name="TRC_USU_REGISTRO" />
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="TRC_CLIENTE_CONTENEDOR" name="TRC_CLIENTE_CONTENEDOR" type="number" class="form-control" tabindex="1" />
                            <label for="TRC_CLIENTE_CONTENEDOR" class="control-label col-md-12">Cliente contenedor</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="TRC_CLIENTE_CONTENEDOR_TIPO" class="control-label col-md-12">Tipo</label>
                        <div class="md-form">
                            <select name="TRC_CLIENTE_CONTENEDOR_TIPO" id="TRC_CLIENTE_CONTENEDOR_TIPO" class="form-control" tabindex=""></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="TRC_CLIENTE_CONTENEDOR_NOMBRE" class="control-label col-md-12">Nombre</label>
                        <input id="TRC_CLIENTE_CONTENEDOR_NOMBRE" name="TRC_CLIENTE_CONTENEDOR_NOMBRE" type="text" class="form-control" tabindex="" disabled/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="TRC_CLIENTE_GUIA" name="TRC_CLIENTE_GUIA" type="number" class="form-control" tabindex="" />
                            <label for="TRC_CLIENTE_GUIA" class="control-label col-md-12">Cliente Gu&iacute;a/BL</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="TRC_CLIENTE_GUIA_NOMBRE" class="control-label col-md-12">Nombre</label>
                        <input id="TRC_CLIENTE_GUIA_NOMBRE" name="TRC_CLIENTE_GUIA_NOMBRE" type="text" class="form-control" tabindex="" disabled/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input id="TRC_TRF_ID" name="TRC_TRF_ID" type="number" class="form-control" tabindex="" />
                            <label for="TRC_TRF_ID" class="control-label col-md-12">Tarifa</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="TRC_TRF_NOMBRE" class="control-label col-md-12">Nombre</label>
                        <input id="TRC_TRF_NOMBRE" name="TRC_TRF_NOMBRE" type="text" class="form-control" tabindex="" disabled />
                    </div>
                </div>
                <hr class="espacio" />
            </div>
        </form>

        <!-- Busqueda inicio -->
        <div class="container-fluid fullHidden div_tarifas_cliente_busqueda" id="div_tarifas_cliente_busqueda">
            <form id="frm_tarifas_cliente_busqueda" class="frm_tarifas_cliente_busqueda">
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="B_TRC_TRF_ID" class="control-label col-md-12">Id Tarifa</label>
                            <input id="B_TRC_TRF_ID" name="B_TRC_TRF_ID" type="text" class="form-control" onkeyup="tarifas_cliente.buscar(this)" maxlength="20">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="tbl_tarifas_cliente_busqueda" class="table-responsive fullHidden">
            <table id="tarifas_cliente_busqueda_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="TRC_CLIENTE_CONTENEDOR">Cliente Contenedor</th>
                        <th data-field="TRC_TIPO_CLIENTE_CONTENEDOR">Tipo</th>
                        <th data-field="TRC_CLIENTE_GUIA">Cliente Guia</th>
                        <th data-field="TRC_TRF_ID">Tarifa</th>
                        <th data-field="TRC_USU_REGISTRO">Usuario</th>
                        <th data-field="TRC_FCH_REGISTRO">Fecha Registro</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tarifas_cliente_busqueda_tablebody"></tbody>
            </table>
        </div>
        <script id="tarifas_cliente_busqueda_table_template" type="text/x-handlebars-template">
            <tr>
                <td>{{TRC_CLIENTE_CONTENEDOR}}</td>
                <td>{{TRC_TIPO_CLIENTE_CONTENEDOR}}</td>
                <td>{{TRC_CLIENTE_GUIA}}</td>
                <td>{{TRC_TRF_ID}}</td>
                <td>{{TRC_USU_REGISTRO}}</td>
                <td>{{TRC_FCH_REGISTRO}}</td>
                <td>
                    <button class="btn btn-elegant" onclick="tarifas_cliente.editar('{{JSON}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-elegant" onclick="tarifas_cliente.eliminar('{{JSON}}')"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                </td>
            </tr>
        </script>
        <!-- Busqueda fin -->
    </div>
</body>
</html>
