﻿@{
    ViewBag.Title = "Consulta Prealertas";
    ViewData["User"] = Session["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prealertas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_cons_prealertas")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4>Consulta Prealertas</h4></div>
        </div>
        <hr class="espacio" />
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_plr_guia" class="form-control" type="text" tabindex="1" maxlength="20" onblur="cons_prealerta.onfocus()">
                        <label id="lbl_flr_guia" for="in_flr_plr_guia" class="control-label col-md-12 lblfocus">Guía</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            @*<button id="btn_filtrar_cajera" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="cons_prealerta.PLR_BuscarFiltro()"><i class="fa fa-search" aria-hidden="true"></i></button>*@
                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="cons_prealerta.PLR_limpiarFiltros()" id="btn_limpiar_filtros"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="espacio" />
        @*Encabezado del listar*@
        <div id="th_Cons_Prealertas" class="table-responsive">
            <table id="Cons_Prealertas_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="PLR_GUIA">Guía</th>
                        @*<th data-field="PLR_CON_NCONSOLIDADOR">Consolidador</th>*@
                        <th data-field="NOM_CONSOL" align="center">Consolidador</th>
                        <th data-field="PLR_ARCHIVO">Archivo</th>
                        <th data-field="PLR_USU_REGISTRO">Usuario Registro</th>
                        <th data-field="PLR_FCH_REGISTRO">Fecha Registro</th>
                        <th data-field="">Imprimir</th>
                    </tr>
                </thead>
                <tbody id="Cons_Prealertas_tablebody"></tbody>
            </table>
        </div>
        @*MODAL PDF*@
        <div class="modal" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe id="frame"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="PLR_Cons_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{PLR_GUIA}}</td>
                @*<td>{{PLR_CON_NCONSOLIDADOR}}</td>*@
                <td>{{NOM_CONSOL}}</td>
                <td>{{PLR_ARCHIVO}}</td>
                <td>{{PLR_USU_REGISTRO}}</td>
                <td>{{PLR_FCH_REGISTRO}}</td>
                <td><button class="btn btn-elegant" onclick="cons_prealerta.PLR_Imprimir('{{PLR_ARCHIVO}}')"><i class="fas fa-print" aria-hidden="true"></i></button></td>
            </tr>
        </script>
    </div>

</body>
</html>



