﻿@{
    ViewBag.Title = "Prealertas";
    ViewData["User"] = Session["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prealertas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_prealertas")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4>Prealertas</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="prealerta.PLR_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        <button id="btn_guardar" class="btn btn-elegant waves-effect waves-light pull-right" data-placement="Bottom" data-toggle="tooltip" title="Guardar" type="button" onclick="prealerta.PLR_Guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />

        <form id="frm_prealerta">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="PLR_GUIA" id="PLR_GUIA" tabindex="1" maxlength="20">
                            <label id="lbl_PLR_GUIA" for="PLR_GUIA" class="control-label col-md-12 lblfocus">Guía</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input type="number" class="form-control" name="PLR_CON_NCONSOLIDADOR" id="PLR_CON_NCONSOLIDADOR" tabindex="2" onkeypress="principal.FilterInput(event)">
                            <label for="PLR_CON_NCONSOLIDADOR" class="control-label col-md-12">Consolidador</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="NOMBRE_CONSOLIDADOR" id="NOMBRE_CONSOLIDADOR" tabindex="3">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="prealerta_vuelo" id="prealerta_vuelo" tabindex="4">
                            <label for="prealerta_vuelo" class="control-label col-md-12">Vuelo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input id="filename" type="text" class="form-control" disabled />
                            <label id="lblarchivo" for="filename" class="control-label col-md-12">Archivo</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="btn btn-elegant waves-effect waves-light" id="buscarArchivo">
                        <span class="name"></span><i class="fa fa-file-pdf" data-toggle="tooltip" title="Cargar archivo pdf"></i>
                        <input type="file" id="fileUpload" style="display: none;" onchange="prealerta.changeInputText()" accept="application/pdf">
                    </label>
                </div>
            </div>
            <input type="hidden" id="UserMERX" name="UserMERX" />
        </form>
        <hr class="espacio" />
        @*Encabezado del listar*@
        <div id="th_Prealertas" class="table-responsive">
            <table id="Prealertas_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="PLR_GUIA">Guía</th>
                        @*<th data-field="PLR_CON_NCONSOLIDADOR"> Id Consolidador</th>*@
                        <th data-field="NOM_CONSOL">Nombre Consolidador</th>
                        <th data-field="PLR_ARCHIVO">Archivo</th>
                        <th data-field="PLR_USU_REGISTRO">Usuario Registro</th>
                        <th data-field="PLR_FCH_REGISTRO">Fecha Registro</th>
                    </tr>
                </thead>
                <tbody id="Prealertas_tablebody"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="PLR_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{PLR_GUIA}}</td>
                @* <td>{{PLR_CON_NCONSOLIDADOR}}</td>*@
                <td>{{NOM_CONSOL}}</td>
                <td>{{PLR_ARCHIVO}}</td>
                <td>{{PLR_USU_REGISTRO}}</td>
                <td>{{PLR_FCH_REGISTRO}}</td>
            </tr>
        </script>
    </div>

</body>
</html>


