﻿@{
    ViewBag.Title = "Consulta Facturas";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <title>Facturar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_facturacion_consulta")
</head>
<body>
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3"><h4>Consulta de Facturas</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_cons-mov" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Consulta por Movimiento" type="button" onclick="facturacion_consulta.modal_ConsultaporMovimiento()"><i class="fas fa-search" aria-hidden="true"></i></button>
                        <button id="btn_reversion" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Reversar" type="button" onclick="facturacion_consulta.reversion()"><i class="fas fa-undo" aria-hidden="true"></i></button>
                        <button id="btn_clonacion" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Clonar" type="button" onclick="facturacion_consulta.clonacion()"><i class="fas fa-clone" aria-hidden="true"></i></button>
                        <button id="btn_reimpresion" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Reimprimir" type="button" onclick="facturacion_consulta.reimpresion()"><i class="fas fa-print" aria-hidden="true"></i></button>
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="facturacion_consulta.limpiarCamposFactura()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_registro_prefactura" class="active">
                <a class="nav-link active" id="registro_prefactura-tab" data-toggle="tab" href="#registro_prefactura" role="tab" aria-controls="registro_prefactura" aria-selected="true">Prefactura</a>
            </li>
            <li id="li_movimientos">
                <a class="nav-link" id="movimientos-tab" data-toggle="tab" href="#movimientos" role="tab" aria-controls="movimientos" aria-selected="false">Movimientos</a>
            </li>
            <li id="li_adicionales">
                <a class="nav-link" id="adicionales-tab" data-toggle="tab" href="#adicionales" role="tab" aria-controls="adicionales" aria-selected="false">Adicionales</a>
            </li>

            <li id="li_detalle">
                <a class="nav-link" id="detalle-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="detalle" aria-selected="false">Detalle</a>
            </li>
            <li id="li_totales">
                <a class="nav-link" id="totales-tab" data-toggle="tab" href="#totales" role="tab" aria-controls="totales" aria-selected="false">Totales</a>
            </li>
            <li id="li_totales_tarifa">
                <a class="nav-link" id="totales_tarifa-tab" data-toggle="tab" href="#totales_tarifa" role="tab" aria-controls="totales_tarifa" aria-selected="false">Totales por Tarifa</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">

            @*Código de cada tab o pestaña*@

            <div class="tab-pane fade show active" id="registro_prefactura" role="tabpanel" aria-labelledby="registro_prefactura-tab">
                <form id="frm_registro_prefactura_cons">
                    <input type="hidden" id="FAC_USU_DIGITO" name="FAC_USU_DIGITO" />
                    <div id="detalles-registro-prefactura_cons" class="detInfo_registro_prefactura_cons">
                        <hr class="espacio" />
                        <div class="row">
                            <div class="col-md-2 offset-5">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_FACTURA" name="FAC_FACTURA" class="form-control" type="text" onblur="" tabindex="1">
                                        <label id="lbl_FAC_FACTURA" for="FAC_FACTURA" class="control-label col-md-12 lblfocus">Factura</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_ELECTRONICA" name="FAC_ELECTRONICA" class="form-control" type="text" disabled>
                                        <label id="lbl_FAC_ELECTRONICA" for="FAC_ELECTRONICA" class="control-label col-md-12 ">Factura Electrónica</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_FCH_DIGITO" name="FAC_FCH_DIGITO" class="form-control" type="text" disabled>
                                        <label id="lbl_FAC_FCH_DIGITO" for="FAC_FCH_DIGITO" class="control-label col-md-12">Fecha / hora</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_DUA_SALIDA" name="FAC_DUA_SALIDA" type="text" class="form-control" tabindex="2">
                                        <label id="lbl_DUA" for="FAC_DUA_SALIDA" class="control-label col-md-12 ">DUA</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_VIAJE_TRANSITO" name="FAC_VIAJE_TRANSITO" type="text" class="form-control" tabindex="3">
                                        <label for="FAC_VIAJE_TRANSITO" class="control-label col-md-12">Viaje</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_FCH_DUA" name="FAC_FCH_DUA" type="text" class="form-control" tabindex="3">
                                        <label for="FAC_FCH_DUA" class="control-label col-md-12">Fecha DUA</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_BULTOS_DUA" name="FAC_BULTOS_DUA" type="text" class="form-control" tabindex="">
                                        <label for="FAC_BULTOS_DUA" class="control-label col-md-12">Bultos DUA</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="TDO_DESCRIPCION" name="TDO_DESCRIPCION" type="text" class="form-control" tabindex="">
                                        <label for="TDO_DESCRIPCION" class="control-label col-md-12">Tipo Documento</label>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="demo-section k-content">
                                        <label for="FAC_DIN_TIPO_DOCUMENTO" class="control-label col-md-12">Tipo Documento</label>
                                        <select id="FAC_DIN_TIPO_DOCUMENTO" name="FAC_DIN_TIPO_DOCUMENTO" class="form-control" tabindex=""></select>
                                    </div>
                                </div>
                            </div>*@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_VALOR_CIF" name="FAC_VALOR_CIF" type="text" class="form-control" tabindex="">
                                        <label for="FAC_VALOR_CIF" class="control-label col-md-12">Valor CIF</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_IMPUESTOS" name="FAC_IMPUESTOS" type="text" class="form-control" tabindex="">
                                        <label for="FAC_IMPUESTOS" class="control-label col-md-12">Impuestos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_IMP_EXENTOS" name="FAC_IMP_EXENTOS" type="text" class="form-control" tabindex="">
                                        <label for="FAC_IMP_EXENTOS" class="control-label col-md-12">Exentos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="FAC_EXENTA" id="FAC_EXENTA" class="k-checkbox" tabindex="">
                                        <label class="k-checkbox-label" for="FAC_EXENTA">¿Exenta?</label>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_NOTA_EXENCION" name="FAC_NOTA_EXENCION" type="text" class="form-control" tabindex="">
                                        <label for="FAC_NOTA_EXENCION" class="control-label col-md-12">Nota</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_VALOR_CIF" name="FAC_VALOR_CIF" type="text" class="form-control" tabindex="">
                                        <label for="FAC_VALOR_CIF" class="control-label col-md-12">Valor CIF</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_DESDE_EXENCION" name="FAC_DESDE_EXENCION" type="text" class="form-control" tabindex="">
                                        <label for="FAC_DESDE_EXENCION" class="control-label col-md-12">Desde</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_HASTA_EXENCION" name="FAC_HASTA_EXENCION" type="text" class="form-control" tabindex="">
                                        <label for="FAC_HASTA_EXENCION" class="control-label col-md-12">Hasta</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_UBI_UBICACION" name="FAC_UBI_UBICACION" type="text" class="form-control" tabindex="">
                                        <label for="FAC_UBI_UBICACION" class="control-label col-md-12">Ubicaci&oacute;n</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-1">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_IMPORTADOR" name="FAC_IMPORTADOR" type="text" class="form-control" tabindex="">
                                        <label for="FAC_IMPORTADOR" class="control-label col-md-12">Importador</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_ESTADO" name="FAC_ESTADO" type="text" class="form-control" tabindex="">
                                        <label for="FAC_ESTADO" class="control-label col-md-12">Estado</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_MARCH_ELECTRONICO" name="FAC_MARCH_ELECTRONICO" type="text" class="form-control" tabindex="">
                                        <label for="FAC_MARCH_ELECTRONICO" class="control-label col-md-12">Marchamo Electr&oacute;nico</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_TRAMITE" name="FAC_TRAMITE" type="text" class="form-control" tabindex="">
                                        <label for="FAC_TRAMITE" class="control-label col-md-12">Tr&aacute;mite</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_CLIENTE_DUA" name="FAC_CLIENTE_DUA" type="text" class="form-control" tabindex="">
                                        <label for="FAC_CLIENTE_DUA" class="control-label col-md-12">Cliente DUA</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_TOTAL_FACTURA" name="FAC_TOTAL_FACTURA" type="text" class="form-control" tabindex="" disabled>
                                        <label for="FAC_TOTAL_FACTURA" class="control-label col-md-12">Total a pagar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_TIPO_CAMBIO" name="FAC_TIPO_CAMBIO" type="text" class="form-control" tabindex="" disabled>
                                        <label id="lbl_tipocambio" for="FAC_TIPO_CAMBIO" class="control-label col-md-12">Tipo de cambio</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="DCT_NOMBRE" name="DCT_NOMBRE" type="text" class="form-control" tabindex="">
                                        <label for="DCT_NOMBRE" class="control-label col-md-12">Declarante</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="TAA_NOMBRE" name="TAA_NOMBRE" type="text" class="form-control" tabindex="">
                                    <label for="TAA_NOMBRE" class="control-label col-md-12">Agente</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CONTADO" name="CONTADO" type="text" class="form-control" tabindex="">
                                        <label for="CONTADO" class="control-label col-md-12">Forma Pago</label>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="FAC_CONTADO" class="control-label col-md-12">Forma Pago</label>
                                    <select id="FAC_CONTADO" name="FAC_CONTADO" class="form-control" tabindex="">
                                        <option value="N" selected>Crédito</option>
                                        <option value="S">Contado</option>

                                    </select>
                                </div>
                            </div>
                        </div>*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_NOMBRE_CUENTA" name="FAC_NOMBRE_CUENTA" type="text" class="form-control" tabindex="">
                                        <label for="FAC_NOMBRE_CUENTA" class="control-label col-md-12">Nombre Cuenta</label>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="demo-section k-content">
                                        <label for="FAC_NOMBRE_CUENTA" class="control-label col-md-12">Nombre Cuenta</label>
                                        <select id="FAC_NOMBRE_CUENTA" name="FAC_NOMBRE_CUENTA" class="form-control" tabindex=""></select>
                                    </div>
                                </div>
                            </div>*@
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_CUENTA" name="FAC_CUENTA" type="text" class="form-control" tabindex="" disabled>
                                        <label id="lbl_FAC_CUENTA" for="FAC_CUENTA" class="control-label col-md-12">Cuenta</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            @*<div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="A_QUIEN_FACTURA" class="control-label col-md-12">CTA / Intermed</label>
                                    <select id="A_QUIEN_FACTURA" name="A_QUIEN_FACTURA" class="form-control" tabindex="">
                                        <option value="" selected>CTA / Interm</option>
                                        <option value="C">Cuenta</option>
                                        <option value="I">Intermediario</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_NBR_CONTRIBUYENTE" name="FAC_NBR_CONTRIBUYENTE" type="text" class="form-control" tabindex="">
                                        <label for="FAC_NBR_CONTRIBUYENTE" class="control-label col-md-12">Nombre Contribuyente</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_CONTRIBUYENTE" name="FAC_CONTRIBUYENTE" type="text" class="form-control" tabindex="" disabled>
                                        <label id="lbl_FAC_CONTRIBUYENTE" for="FAC_CONTRIBUYENTE" class="control-label col-md-12">Contribuyente</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade show" id="movimientos" role="tabpanel" aria-labelledby="movimientos-tab">
                <hr class="espacio" />
                <form id="frm_movimientos">
                    @*<input type="hidden" id="USER_MERXInv" name="UserMERX" />*@
                    <div id="detalles-movimientos" class="detInfo_movimientos">
                        <div class="row" id="">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="FAC_FACTURA_ENC" name="FAC_FACTURA" type="text" class="form-control" disabled>
                                            <label id="lbl_FAC_FACTURA_ENC" for="FAC_FACTURA" class="control-label col-md-12"># Factura</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="FAC_DUA_SALIDA_ENC" name="FAC_DUA_SALIDA" type="text" class="form-control" disabled>
                                            <label id="lbl_FAC_DUA_SALIDA_ENC" for="FAC_DUA_SALIDA" class="control-label col-md-12">DUA</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="FAC_VIAJE_TRANSITO_ENC" name="FAC_VIAJE_TRANSITO" type="text" class="form-control" disabled>
                                            <label id="lbl_FAC_VIAJE_TRANSITO_ENC" for="FAC_VIAJE_TRANSITO" class="control-label col-md-12">Viaje</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

                <div id="tbl_movimientosfac" class="table-responsive">
                    <table id="imovimientosfac_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="FMV_ID" hidden>Id Movimiento</th>
                                <th data-field="FMV_MOVIMIENTO">Movimiento</th>
                                <th data-field="FMV_IEN_ENTRADA">Consecutivo</th>
                                <th data-field="FMV_BULTOS">Bultos</th>
                                <th data-field="FMV_KILOS">Kilos</th>
                                <th data-field="FMV_VOLUMEN">Volumen</th>
                                <th data-field="TME_DESCRIPCION">Tipo mercancía</th>
                                <th data-field="FMV_ITT_TARIFA" hidden>Id tarifa</th>
                                <th data-field="ITT_DESCRIPCION">Tarifa</th>
                                <th data-field="FMV_MONTO_A_PAGAR">Monto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="movimientosfac_tablebody"></tbody>
                    </table>
                </div>
                <script id="movimientosfac_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td hidden>{{FMV_ID}}</td>
                        <td>{{FMV_MOVIMIENTO}}</td>
                        <td>{{FMV_IEN_ENTRADA}}</td>
                        <td>{{FMV_BULTOS}}</td>
                        <td>{{FMV_KILOS}}</td>
                        <td>{{FMV_VOLUMEN}}</td>
                        <td>{{TME_DESCRIPCION}}</td>
                        <td hidden>{{FMV_ITT_TARIFA}}</td>
                        <td>{{ITT_DESCRIPCION}}</td>
                        <td>{{FMV_MONTO_A_PAGAR}}</td>
                        <td>
                            <button class="btn btn-elegant" data-toggle="tooltip" title="Tarimas" onclick="facturacion_consulta.modal_tarimasMovimiento('{{FMV_ID}}','{{FMV_MOVIMIENTO}}','{{ITT_DESCRIPCION}}')"><i class="fas fa-boxes" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" data-toggle="tooltip" title="Valores" onclick="facturacion_consulta.modal_ValoresMovimiento('{{FMV_MOVIMIENTO}}')"><i class="fas fa-list-ol" aria-hidden="true"></i></button>
                            @*<button class="btn btn-elegant" data-toggle="tooltip" title="Editar" onclick="facturacion_consulta.editarTarifaMovimiento('{{FMV_ID}}','{{FMV_MOVIMIENTO}}','{{FMV_ITT_TARIFA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button class="btn btn-elegant" data-toggle="tooltip" title="Eliminar" onclick="facturacion_consulta.eliminarMovimiento('{{FMV_ID}}')"><i class="fas fa-times" aria-hidden="true"></i></button>*@
                        </td>
                    </tr>
                </script>

            </div>

            <div class="tab-pane fade show" id="adicionales" role="tabpanel" aria-labelledby="adicionales-tab">
                <hr class="espacio" />
                <div id="tbl_adicionalesfac" class="table-responsive">
                    <table id="adicionalesfac_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="FCO_RUB_RUBRO">Concepto</th>
                                <th data-field="FCO_MONTO">Monto</th>
                                @*<th>Acciones</th>*@
                            </tr>
                        </thead>
                        <tbody id="adicionalesfac_tablebody"></tbody>
                    </table>
                </div>
                <script id="adicionalesfac_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{FCO_RUB_RUBRO}}</td>
                        <td>{{FCO_MONTO}}</td>
                        @* <td><button class="btn btn-elegant" onclick="facturacion_consulta.eliminarAdicional('{{FCO_RUB_RUBRO}}')"><i class="fas fa-times" aria-hidden="true"></i></button></td>*@
                    </tr>
                </script>

            </div>

            <div class="tab-pane fade show" id="detalle" role="tabpanel" aria-labelledby="detalle-tab">
                <hr class="espacio" />
                <form id="frm_detallefac_cons">
                    <input type="hidden" id="usuario" name="FAC_USU_DIGITO" />
                    <input type="hidden" id="factura" name="FAC_FACTURA" />

                    <div id="detalles-detallefac_cons" class="detInfo_detallefac_cons">
                        <h5>Persona que factura</h5>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="CFR_CODIGO" name="FAC_CFR_FACTURA" type="text" class="form-control" tabindex="1">
                                    <label for="CFR_CODIGO" class="control-label col-md-12">Código</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="md-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="CFR_CEDULA" name="FAC_CEDULA_FACTURA" class="form-control" tabindex="2">
                                        <label for="CFR_CEDULA" class="control-label col-md-12">C&eacute;dula</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="CFR_NOMBRE" name="FAC_NOMBRE_FACTURA" class="form-control" tabindex="3">
                                        <label for="CFR_NOMBRE" class="control-label col-md-12">Nombre</label>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-1">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_filtrar_persona" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar persona" type="button" onclick="facturacion_consulta.personas()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>*@
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="CFR_TELEFONO" name="FAC_TELEFONO" type="text" class="form-control" tabindex="4">
                                    <label for="CFR_TELEFONO" class="control-label col-md-12">Tel&eacute;fono</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="md-form">
                                    <input id="FAC_AUTORIZADO_POR" name="FAC_AUTORIZADO_POR" type="text" class="form-control" tabindex="5">
                                    <label for="FAC_AUTORIZADO_POR" class="control-label col-md-12">Autorizado por</label>
                                </div>
                            </div>
                        </div>
                        <hr class="espacio" />
                        <h5>Conductor</h5>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="TRA_TRANSPORTISTA" name="FAC_TRA_CHOFER" type="text" class="form-control" tabindex="6">
                                    <label for="TRA_TRANSPORTISTA" class="control-label col-md-12">Código</label>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="md-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="FAC_CEDULA_CHOFER" name="FAC_CEDULA_CHOFER" class="form-control" tabindex="7">
                                        <label for="FAC_CEDULA_CHOFER" class="control-label col-md-12">C&eacute;dula</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="TRA_NOMBRE" name="FAC_NOMBRE_CHOFER" class="form-control" tabindex="8">
                                        <label for="TRA_NOMBRE" class="control-label col-md-12">Nombre</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="FAC_PLACA_VEHICULO" name="FAC_PLACA_VEHICULO" type="text" class="form-control" tabindex="9">
                                    <label for="FAC_PLACA_VEHICULO" class="control-label col-md-12">Placa</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="FAC_MARCHAMO1" name="FAC_MARCHAMO1" type="text" class="form-control" tabindex="10">
                                    <label for="FAC_MARCHAMO1" class="control-label col-md-12">Marchamo 1</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="FAC_MARCHAMO2" name="FAC_MARCHAMO2" type="text" class="form-control" tabindex="11">
                                    <label for="FAC_MARCHAMO2" class="control-label col-md-12">Marchamo 2</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="FAC_MARCHAMO3" name="FAC_MARCHAMO3" type="text" class="form-control" tabindex="12">
                                    <label for="FAC_MARCHAMO3" class="control-label col-md-12">Marchamo 3</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="FAC_MARCHAMO4" name="FAC_MARCHAMO4" type="text" class="form-control" tabindex="13">
                                    <label for="FAC_MARCHAMO4" class="control-label col-md-12">Marchamo 4</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="md-form">
                                    <input id="FAC_OBSERVACIONES" name="FAC_OBSERVACIONES" type="text" class="form-control" tabindex="14">
                                    <label for="FAC_OBSERVACIONES" class="control-label col-md-12">Observaciones</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="tab-pane fade show" id="totales" role="tabpanel" aria-labelledby="totales-tab">
                <hr class="espacio" />


                <div id="tbl_totalesfac" class="table-responsive">
                    <font size="2" face="Courier New">
                        <table id="totalesfac_table" data-toggle="table" class="table table-fixed">
                            <thead>
                                <tr>
                                    @*<th data-field="Nombre"></th>*@
                                    @* <th data-field="TMA_FCH_MANIFIESTO">Monto</th>*@
                                </tr>
                            </thead>
                            <tbody id="totalesfac_tablebody"></tbody>
                        </table>
                    </font>
                </div>
                <script id="totalesfac_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{Nombre}}</td>
                        @* <td>{{TMA_FCH_MANIFIESTO}}</td>*@

                    </tr>
                </script>

            </div>

            <div class="tab-pane fade show" id="totales_tarifa" role="tabpanel" aria-labelledby="totales_tarifa-tab">
                <hr class="espacio" />
                <div id="tbl_totalesfac_tarifa" class="table-responsive">
                    <font size="2" face="Courier New">
                        <table id="totalesfac_tarifa_table" data-toggle="table" class="table table-fixed">
                            <thead>
                                <tr>
                                    @* <th data-field="Nombre">czxczc</th>*@
                                    @* <th data-field="TMA_FCH_MANIFIESTO">Monto</th>*@
                                </tr>
                            </thead>
                            <tbody id="totalesfac_tarifa_tablebody"></tbody>
                        </table>
                    </font>
                </div>
                <script id="totalesfac_tarifa_table-template" type="text/x-handlebars-template">
                    <tr>
                        @*<td>{{Id}}</td>*@
                        <td>{{Nombre}}</td>
                    </tr>
                </script>

            </div>

            @* Modales o screens de los tabs *@
            <div id="myModalValores" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Valores Movimiento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="frm_Valores">
                                <br />
                                <input type="hidden" id="FMV_ID" name="FMV_ID" />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="FMV_PCT_DESCUENTO" name="FMV_PCT_DESCUENTO" type="text" class="form-control" tabindex="1">
                                            <label for="FMV_PCT_DESCUENTO" class="control-label col-md-12">%Desc</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <input id="FMV_BASE_DESCUENTO" name="FMV_BASE_DESCUENTO" type="text" class="form-control" tabindex="1">
                                            <label for="FMV_BASE_DESCUENTO" class="control-label col-md-12">Base</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="FMV_ASOCIE" id="FMV_ASOCIE" class="k-checkbox" disabled>
                                                <label class="k-checkbox-label" for="ASOCIE">Asocie</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="md-form">
                                            <input id="CED_ENDOSO" name="CED_ENDOSO" type="text" class="form-control" disabled>
                                            <label for="CED_ENDOSO" class="control-label col-md-12">C&eacute;dula Endoso</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_ALMACENAJE" name="FMV_ALMACENAJE" type="text" class="form-control" disabled>
                                                <label for="FMV_ALMACENAJE" class="control-label col-md-12">Almacenaje</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_MANEJO" name="FMV_MANEJO" type="text" class="form-control" disabled>
                                                <label for="FMV_MANEJO" class="control-label col-md-12">Manejo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_SEGURO" name="FMV_SEGURO" type="text" class="form-control" disabled>
                                                <label for="FMV_SEGURO" class="control-label col-md-12">Seguro</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="DESCUENTO" name="DESCUENTO" type="text" class="form-control" disabled>
                                                <label for="DESCUENTO" class="control-label col-md-12">Descuento</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_TOTAL_IVA" name="FMV_TOTAL_IVA" type="text" class="form-control" disabled>
                                                <label for="FMV_TOTAL_IVA" class="control-label col-md-12">Impuesto(IVA)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_MONTO_A_PAGAR" name="FMV_MONTO_A_PAGAR" type="text" class="form-control" disabled>
                                                <label for="FMV_MONTO_A_PAGAR" class="control-label col-md-12">Total Línea</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<hr style="border-top: 2px solid #C29F34; background: transparent;">*@


                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalTarimas" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Tarimas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="TARIMA" name="TARIMA" />
                            <input type="hidden" id="id_movimiento" name="id_movimiento" />
                            <div class="divwithscroll">
                                <div class="row">
                                    <div class="col-3">
                                        <p><b>MOVIMIENTO:</b></p>
                                    </div>
                                    <div class="col-2">
                                        <small id="num_movimiento" class=""></small>
                                    </div>
                                    <div class="col-2 offset-1">
                                        <p><b>TARIFA: </b></p>
                                    </div>
                                    <div class="col-4">
                                        <small id="nom_tarifa" class=""></small>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div id="tb_detMovimientos" class="table-responsive">
                                        <table id="detMovimientos_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="ID_MERCANCIA">Tarima</th>
                                                    <th data-field="BULTOS">Bultos</th>
                                                    <th data-field="KILOS">Kilos</th>
                                                    <th data-field="VOLUMEN">Volumen</th>
                                                    @*<th>Acciones</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="tarimasMovimiento_tablebody"></tbody>
                                        </table>
                                    </div>
                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="tarimasMovimiento_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{ID_MERCANCIA}}</td>
                                            <td>{{BULTOS}}</td>
                                            <td>{{KILOS}}</td>
                                            <td>{{VOLUMEN}}</td>
                                            @*<td>
                                            <button class="btn btn-elegant" onclick="facturacion_consulta.borrarTarima('{{ID_TARIMA}}')"><i class="fas fa-times" aria-hidden="true"></i></button>
                                            <button class="btn btn-elegant" onclick="facturacion_consulta.editarTarima('{{ID_TARIMA}}','{{BULTOS}}','{{KILOS}}','{{VOLUMEN}}')"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                        </td>*@
                                        </tr>
                                    </script>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalFacturas" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta de Facturas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div class="row">
                                    @*Encabezado del listar facturas*@
                                    <div id="tb_facturas" class="table-responsive">
                                        <table id="tb_facturas_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="FAC_FACTURA">Factura</th>
                                                    <th data-field="FAC_DUA_SALIDA">Dua</th>
                                                    <th data-field="FAC_NOMBRE_CUENTA">Nombre Cuenta</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tb_facturas_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="tb_facturas_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{FAC_FACTURA}}</td>
                                            <td>{{FAC_DUA_SALIDA}}</td>
                                            <td>{{FAC_NOMBRE_CUENTA}}</td>
                                            <td>
                                                <button data-toggle="tooltip" title="Cargar" class="btn btn-elegant" onclick="facturacion_consulta.selectFactura('{{FAC_FACTURA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>


                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalFacturasporMov" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta por Movimiento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div id="div_filtros" class="row">
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <input id="in_movimiento" type="number" class="form-control" tabindex="1" onblur="facturacion_consulta.consultaMov()">
                                            <label id="lbl_in_movimiento" for="in_movimiento" class="control-label col-md-12">Movimiento</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <input id="in_guia" type="text" class="form-control" tabindex="2" disabled>
                                            <label id="in_guia" for="in_guia" class="control-label col-md-12">Guía</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <div class="btn-group" data-toggle="buttons">
                                                <button id="btn_limpia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="facturacion_consulta.consultaMovLimpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    @*Encabezado del listar facturas*@
                                    <div id="tb_facturas_mov" class="table-responsive">
                                        <table id="tb_facturas_mov_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="FMV_FAC_FACTURA">Factura</th>
                                                    <th data-field="FMV_FCH_REGISTRO">Fecha</th>
                                                    <th data-field="TOTAL_FACTURA">Monto</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tb_facturas_mov_tablebody"></tbody>
                                        </table>
                                    </div>
                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="tb_facturas_mov_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{FMV_FAC_FACTURA}}</td>
                                            <td>{{FMV_FCH_REGISTRO}}</td>
                                            <td>{{TOTAL_FACTURA}}</td>
                                            <td>
                                                <button data-toggle="tooltip" title="Cargar" class="btn btn-elegant" onclick="facturacion_consulta.selectFactura('{{FMV_FAC_FACTURA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalClonacion" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Clonación de Facturas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="frm_clonar" class="info_clona">
                                <br />
                                <input type="hidden" id="FAC_USU_DIGITO_CLO" name="FAC_USU_DIGITO_CLO" />
                                <input type="hidden" id="FAC_FACTURA_CLO" name="FAC_FACTURA_CLO" />
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="demo-section k-content">
                                                    <label for="FAC_NOMBRE_CUENTA_CLO" class="control-label col-md-12">Nombre Cuenta</label>
                                                    <select id="FAC_NOMBRE_CUENTA_CLO" name="FAC_NOMBRE_CUENTA_CLO" class="form-control" ></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FAC_CUENTA_CLO" name="FAC_CUENTA_CLO" type="text" class="form-control" disabled>
                                                <label id="lbl_FAC_CUENTA_CLO" for="FAC_CUENTA_CLO" class="control-label col-md-12">Cuenta</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FAC_DUA_SALIDA_CLO" name="FAC_DUA_SALIDA_CLO" class="form-control" type="text">
                                                <label id="lbl_FAC_DUA_SALIDA_CLO" for="FAC_DUA_SALIDA_CLO" class="control-label col-md-12">DUA Salida</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 offset-2">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="demo-section k-content">
                                                    <label for="FAC_DIN_TIPO_DOCUMENTO_CLO" class="control-label col-md-12">Tipo Documento</label>
                                                    <select id="FAC_DIN_TIPO_DOCUMENTO_CLO" name="FAC_DIN_TIPO_DOCUMENTO_CLO" class="form-control" ></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="demo-section k-content">
                                                    <label for="FAC_DCT_DECLARANTE_ID_CLO" class="control-label col-md-12">Declarante</label>
                                                    <select id="FAC_DCT_DECLARANTE_ID_CLO" name="FAC_DCT_DECLARANTE_ID_CLO" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="demo-section k-content">
                                                    <label for="FAC_ADC_AGENTE_ID_CLO" class="control-label col-md-12">Agente</label>
                                                    <select id="FAC_ADC_AGENTE_ID_CLO" name="FAC_ADC_AGENTE_ID_CLO" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="demo-section k-content">
                                                    <label for="FAC_NBR_CONTRIBUYENTE_CLO" class="control-label col-md-12">Nombre Contribuyente</label>
                                                    <select id="FAC_NBR_CONTRIBUYENTE_CLO" name="FAC_NBR_CONTRIBUYENTE_CLO" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FAC_CONTRIBUYENTE_CLO" name="FAC_CONTRIBUYENTE_CLO" type="text" class="form-control" disabled>
                                                <label id="lbl_FAC_CONTRIBUYENTE_CLO" for="FAC_CONTRIBUYENTE_CLO" class="control-label col-md-12">Contribuyente</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="NUEVA_FAC" name="NUEVA_FAC" class="form-control" type="text" disabled>
                                                <label id="lbl_NUEVA_FAC" for="NUEVA_FAC" class="control-label col-md-12">Nueva Factura</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button onclick="facturacion_consulta.clonarFactura()" class="btn btn-elegant">Clonar</button>
                                <button onclick="facturacion_consulta.limpiaClon()" class="btn btn-elegant">Limpiar</button>
                                <button onclick="facturacion_consulta.regresar()" class="btn btn-elegant" data-dismiss="modal">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
