﻿@{
    ViewBag.Title = "Facturación";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <title>Facturar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_facturacion")
</head>
<body>
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3"><h4>Facturación de Mercanc&iacute;as</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_obt_tiquete" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Obtener tiquete" type="button" onclick="facturacion.CargarTiquete()"><i class="fas fa-ticket-alt" aria-hidden="true"></i></button>
                        <button id="btn_calcular_fac" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Calcular" type="button" onclick="facturacion.calcular()"><i class="fas fa-calculator" aria-hidden="true"></i></button>
                        <button id="btn_guardar_encabFac" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Generar" type="button" onclick="facturacion.GuardarEncabezado()"><i class="fas fa-save" aria-hidden="true"></i></button>
                        <button id="btn_facturar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Facturar" type="button" onclick="facturacion.facturar()"><i class="fas fa-file-alt" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_fac" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar Prefactura" type="button" onclick="facturacion.LimpiarCamposEncabezado()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_detalle" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar Detalle" type="button" onclick="facturacion.LimpiarCamposDetalle()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        <button id="btn_anular_fac" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Anular" type="button" onclick="facturacion.anularEncabezado()"><i class="fas fa-window-close" aria-hidden="true"></i></button>

                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_registro_prefactura" class="active">
                <a class="nav-link active" id="registro_prefactura-tab" data-toggle="tab" href="#registro_prefactura" role="tab" aria-controls="registro_prefactura" aria-selected="true">Prefactura</a>
            </li>
            <li id="li_movimientos">
                <a class="nav-link" id="movimientos-tab" data-toggle="tab" href="#movimientos" role="tab" aria-controls="movimientos" aria-selected="false">Movimientos</a>
            </li>
            <li id="li_adicionales">
                <a class="nav-link" id="adicionales-tab" data-toggle="tab" href="#adicionales" role="tab" aria-controls="adicionales" aria-selected="false">Adicionales</a>
            </li>

            <li id="li_detalle">
                <a class="nav-link" id="detalle-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="detalle" aria-selected="false">Detalle</a>
            </li>
            <li id="li_totales">
                <a class="nav-link" id="totales-tab" data-toggle="tab" href="#totales" role="tab" aria-controls="totales" aria-selected="false">Totales</a>
            </li>
            <li id="li_totales_tarifa">
                <a class="nav-link" id="totales_tarifa-tab" data-toggle="tab" href="#totales_tarifa" role="tab" aria-controls="totales_tarifa" aria-selected="false">Totales por Tarifa</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">

            @*Código de cada tab o pestaña*@

            <div class="tab-pane fade show active" id="registro_prefactura" role="tabpanel" aria-labelledby="registro_prefactura-tab">
                <form id="frm_registro_prefactura">
                    <input type="hidden" id="FAC_USU_DIGITO" name="FAC_USU_DIGITO" />
                    <div id="detalles-registro-prefactura" class="detInfo_registro_prefactura">
                        <div class="row">
                            <div class="col-md-2 offset-5">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_FACTURA" name="FAC_FACTURA" class="form-control" type="text" disabled>
                                        <label id="lbl_FAC_FACTURA" for="FAC_FACTURA" class="control-label col-md-12">Factura</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_TIQUETE" name="FAC_TIQUETE" class="form-control" type="text" disabled>
                                        <label id="lbl_FAC_TIQUETE" for="s_rec_reclamo" class="control-label col-md-12 ">Tiquete</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_TIPO_TIQUETE" name="FAC_TIPO_TIQUETE" class="form-control" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_FCH_TIQUETE" name="FAC_FCH_TIQUETE" class="form-control" type="text" disabled>
                                        <label id="lbl_FAC_FCH_TIQUETE" for="FAC_FCH_TIQUETE" class="control-label col-md-12">Fecha / hora</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_DUA_SALIDA" name="FAC_DUA_SALIDA" type="text" class="form-control" tabindex="1" onblur="facturacion.onfocus()">
                                        <label id="lbl_DUA" for="FAC_DUA_SALIDA" class="control-label col-md-12 lblfocus">DUA</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_VIAJE_TRANSITO" name="FAC_VIAJE_TRANSITO" type="text" class="form-control" tabindex="2">
                                        <label for="FAC_VIAJE_TRANSITO" class="control-label col-md-12">Viaje</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="FAC_FCH_DUA" class="control-label col-md-12">Fecha DUA</label>
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_FCH_DUA" name="FAC_FCH_DUA" class="form-control" tabindex="3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <label for="FAC_BULTOS_DUA" class="control-label col-md-12">Bultos DUA</label>
                                        <input id="FAC_BULTOS_DUA" name="FAC_BULTOS_DUA" type="text" class="form-control" tabindex="4">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="demo-section k-content">
                                            <label for="FAC_DIN_TIPO_DOCUMENTO" class="control-label col-md-12">Tipo Documento</label>
                                            <select id="FAC_DIN_TIPO_DOCUMENTO" name="FAC_DIN_TIPO_DOCUMENTO" class="form-control" tabindex="5"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_VALOR_CIF" name="FAC_VALOR_CIF" type="text" class="form-control" tabindex="6">
                                        <label for="FAC_VALOR_CIF" class="control-label col-md-12">Valor CIF</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_IMPUESTOS" name="FAC_IMPUESTOS" type="text" class="form-control" tabindex="7">
                                        <label for="FAC_IMPUESTOS" class="control-label col-md-12">Impuestos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_IMP_EXENTOS" name="FAC_IMP_EXENTOS" type="text" class="form-control" tabindex="8">
                                        <label for="FAC_IMP_EXENTOS" class="control-label col-md-12">Exentos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="FAC_EXENTA" id="FAC_EXENTA" class="k-checkbox" tabindex="9">
                                        <label class="k-checkbox-label" for="FAC_EXENTA">¿Exenta?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_NOTA_EXENCION" name="FAC_NOTA_EXENCION" type="text" class="form-control" tabindex="10">
                                        <label for="FAC_NOTA_EXENCION" class="control-label col-md-12">Nota</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="FAC_DESDE_EXENCION" class="control-label col-md-12">Desde</label>
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_DESDE_EXENCION" name="FAC_DESDE_EXENCION" class="form-control" tabindex="11">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="FAC_HASTA_EXENCION" class="control-label col-md-12">Hasta</label>
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_HASTA_EXENCION" name="FAC_HASTA_EXENCION" class="form-control" tabindex="12">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_UBI_UBICACION" name="FAC_UBI_UBICACION" type="text" class="form-control" tabindex="13" onblur="facturacion.getUbicacion()">
                                        <label for="FAC_UBI_UBICACION" class="control-label col-md-12">Ubicaci&oacute;n</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="demo-section k-content">
                                            <label for="FAC_IMP_CEDULA" class="control-label col-md-12">Importador</label>
                                            <select id="FAC_IMP_CEDULA" name="FAC_IMP_CEDULA" class="form-control" tabindex="14"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_MARCH_ELECTRONICO" name="FAC_MARCH_ELECTRONICO" type="text" class="form-control" tabindex="15">
                                        <label for="FAC_MARCH_ELECTRONICO" class="control-label col-md-12">Marchamo Electr&oacute;nico</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_TRAMITE" name="FAC_TRAMITE" type="text" class="form-control" tabindex="16">
                                        <label for="FAC_TRAMITE" class="control-label col-md-12">Tr&aacute;mite</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_CLIENTE_DUA" name="FAC_CLIENTE_DUA" type="text" class="form-control" tabindex="17">
                                        <label for="FAC_CLIENTE_DUA" class="control-label col-md-12">Cliente DUA</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_TIPO_CAMBIO" name="FAC_TIPO_CAMBIO" type="text" class="form-control" tabindex="18" disabled>
                                        <label id="lbl_tipocambio" for="FAC_TIPO_CAMBIO" class="control-label col-md-12">Tipo de cambio</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="demo-section k-content">
                                            <label for="FAC_DCT_DECLARANTE_ID" class="control-label col-md-12">Declarante</label>
                                            <select id="FAC_DCT_DECLARANTE_ID" name="FAC_DCT_DECLARANTE_ID" class="form-control" tabindex="19"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="demo-section k-content">
                                            <label for="FAC_ADC_AGENTE_ID" class="control-label col-md-12">Agente</label>
                                            <select id="FAC_ADC_AGENTE_ID" name="FAC_ADC_AGENTE_ID" class="form-control" tabindex="20"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="FAC_CONTADO" class="control-label col-md-12">Forma Pago</label>
                                        <select id="FAC_CONTADO" name="FAC_CONTADO" class="form-control" tabindex="21">
                                            @* <option value="" selected>Cont / Créd</option>*@
                                            <option value="N" selected>Crédito</option>
                                            <option value="S">Contado</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="demo-section k-content">
                                            <label for="FAC_NOMBRE_CUENTA" class="control-label col-md-12">Nombre Cuenta</label>
                                            <select id="FAC_NOMBRE_CUENTA" name="FAC_NOMBRE_CUENTA" class="form-control" tabindex="22"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_CUENTA" name="FAC_CUENTA" type="text" class="form-control" tabindex="23" disabled>
                                        <label id="lbl_FAC_CUENTA" for="FAC_CUENTA" class="control-label col-md-12">Cuenta</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="A_QUIEN_FACTURA" class="control-label col-md-12">CTA / Intermed</label>
                                        <select id="A_QUIEN_FACTURA" name="A_QUIEN_FACTURA" class="form-control" tabindex="24">
                                            <option value="" selected>CTA / Interm</option>
                                            <option value="C">Cuenta</option>
                                            <option value="I">Intermediario</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="demo-section k-content">
                                            <label for="FAC_NBR_CONTRIBUYENTE" class="control-label col-md-12">Nombre Contribuyente</label>
                                            <select id="FAC_NBR_CONTRIBUYENTE" name="FAC_NBR_CONTRIBUYENTE" class="form-control" tabindex="25"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FAC_CONTRIBUYENTE" name="FAC_CONTRIBUYENTE" type="text" class="form-control" tabindex="26" disabled>
                                        <label id="lbl_FAC_CONTRIBUYENTE" for="FAC_CONTRIBUYENTE" class="control-label col-md-12">Contribuyente</label>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="FAC_CEDULA_CONTRIB" name="FAC_CEDULA_CONTRIB" type="text" class="form-control" tabindex="27" disabled>
                                    <label for="FAC_CEDULA_CONTRIB" class="control-label col-md-12">C&eacute;dula Contribuyente</label>
                                </div>
                            </div>
                        </div>*@
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade show" id="movimientos" role="tabpanel" aria-labelledby="movimientos-tab">
                <hr class="espacio" />
                <form id="frm_movimientos">
                    @*<input type="hidden" id="USER_MERXInv" name="UserMERX" />*@
                    <div id="detalles-movimientos" class="detInfo_movimientos">

                        <div class="row" id="">
                            @*<fieldset id="frm_movs_fielset" class="frm_movs">*@
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="FAC_FACTURA_ENC" name="FAC_FACTURA" type="text" class="form-control" disabled>
                                            <label id="lbl_FAC_FACTURA_ENC" for="FAC_FACTURA_ENC" class="control-label col-md-12"># Factura</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="FAC_DUA_SALIDA_ENC" name="FAC_DUA_SALIDA" type="text" class="form-control" disabled>
                                            <label id="lbl_FAC_DUA_SALIDA_ENC" for="FAC_DUA_SALIDA_ENC" class="control-label col-md-12">DUA</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="FAC_VIAJE_TRANSITO_ENC" name="FAC_VIAJE_TRANSITO" type="text" class="form-control" disabled>
                                            <label id="lbl_FAC_VIAJE_TRANSITO_ENC" for="FAC_VIAJE_TRANSITO_ENC" class="control-label col-md-12">Viaje</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</fieldset>*@
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FMV_MOVIMIENTO" name="FMV_MOVIMIENTO" type="text" class="form-control" tabindex="">
                                        <label for="FMV_MOVIMIENTO" class="control-label col-md-12">Movimiento</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" id="div_tarifa">
                                <input type="hidden" id="id_mov_tarifa" name="id_mov_tarifa" />
                                <label for="FMV_ITT_TARIFA" class="control-label col-md-12">Tarifa</label>
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <select id="FMV_ITT_TARIFA" name="FMV_ITT_TARIFA" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <button id="btn_agregar_movimiento" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="facturacion.AgregarMovimiento()"><i class="fas fa-plus-square"></i></button>
                                        <button id="btn_actualiza_tarifa" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="facturacion.actualizaTarifa()"><i class="fas fa-save"></i></button>
                                        <button id="btn_cancela_actualiza_tarifa" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Cancelar" type="button" onclick="facturacion.cancelaActualizaTarifa()"><i class="fas fa-times"></i></button>
                                    </div>                               
                            </div>
                        </div>
                    </div>
                </form>

                <div id="tbl_movimientosfac" class="table-responsive">
                    <table id="imovimientosfac_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="FMV_ID" hidden>Id Movimiento</th>
                                <th data-field="FMV_MOVIMIENTO">Movimiento</th>
                                <th data-field="FMV_IEN_ENTRADA">Consecutivo</th>
                                <th data-field="FMV_BULTOS">Bultos</th>
                                <th data-field="FMV_KILOS">Kilos</th>
                                <th data-field="FMV_VOLUMEN">Volumen</th>
                                <th data-field="TME_DESCRIPCION">Tipo mercancía</th>
                                <th data-field="FMV_ITT_TARIFA" hidden>Id tarifa</th>
                                <th data-field="ITT_DESCRIPCION">Tarifa</th>
                                <th data-field="FMV_MONTO_A_PAGAR">Monto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="movimientosfac_tablebody"></tbody>
                    </table>
                </div>
                <script id="movimientosfac_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td hidden>{{FMV_ID}}</td>
                        <td>{{FMV_MOVIMIENTO}}</td>
                        <td>{{FMV_IEN_ENTRADA}}</td>
                        <td>{{FMV_BULTOS}}</td>
                        <td>{{FMV_KILOS}}</td>
                        <td>{{FMV_VOLUMEN}}</td>
                        <td>{{TME_DESCRIPCION}}</td>
                        <td hidden>{{FMV_ITT_TARIFA}}</td>
                        <td>{{ITT_DESCRIPCION}}</td>
                        <td>{{FMV_MONTO_A_PAGAR}}</td>
                        <td>
                            <button class="btn btn-elegant" data-toggle="tooltip" title="Tarimas" onclick="facturacion.modal_tarimasMovimiento('{{FMV_ID}}','{{FMV_MOVIMIENTO}}','{{ITT_DESCRIPCION}}')"><i class="fas fa-boxes" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" data-toggle="tooltip" title="Valores" onclick="facturacion.modal_ValoresMovimiento('{{FMV_MOVIMIENTO}}')"><i class="fas fa-list-ol" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" data-toggle="tooltip" title="Editar" onclick="facturacion.editarTarifaMovimiento('{{FMV_ID}}','{{FMV_MOVIMIENTO}}','{{FMV_ITT_TARIFA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" data-toggle="tooltip" title="Eliminar" onclick="facturacion.eliminarMovimiento('{{FMV_ID}}')"><i class="fas fa-times" aria-hidden="true"></i></button>

                        </td>
                    </tr>
                </script>

            </div>

            <div class="tab-pane fade show" id="adicionales" role="tabpanel" aria-labelledby="adicionales-tab">
                <hr class="espacio" />
                <form id="frm_adicionales">
                    @*<input type="hidden" id="USER_MERXInv" name="UserMERX" />*@
                    <div id="detalles-adicionales" class="detInfo_adicionales">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="FCO_RUB_RUBRO" class="control-label col-md-12">Concepto</label>
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <select id="FCO_RUB_RUBRO" name="FCO_RUB_RUBRO" class="form-control" tabindex=""></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <label for="FCO_MONTO" class="control-label col-md-12">Monto</label>
                                        <input id="FCO_MONTO" name="FCO_MONTO" type="text" class="form-control" tabindex="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="btn_agregar_adicional" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="facturacion.agregarAdicional()"><i class="fas fa-plus-square"></i></button>
                                <button id="btn_limpiar_adicional" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="facturacion.limpiarAdicional()"><i class="fas fa-eraser"></i></button>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="tbl_adicionalesfac" class="table-responsive">
                    <table id="adicionalesfac_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="FCO_RUB_RUBRO">Concepto</th>
                                <th data-field="FCO_MONTO">Monto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="adicionalesfac_tablebody"></tbody>
                    </table>
                </div>
                <script id="adicionalesfac_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{FCO_RUB_RUBRO}}</td>
                        <td>{{FCO_MONTO}}</td>
                        <td><button class="btn btn-elegant" onclick="facturacion.eliminarAdicional('{{FCO_RUB_RUBRO}}')"><i class="fas fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                </script>

            </div>

            <div class="tab-pane fade show" id="detalle" role="tabpanel" aria-labelledby="detalle-tab">
                <hr class="espacio" />
                <form id="frm_detallefac">
                    <input type="hidden" id="usuario" name="FAC_USU_DIGITO" />
                    <input type="hidden" id="factura" name="FAC_FACTURA" />

                    <div id="detalles-detallefac" class="detInfo_detallefac">
                        <h5>Persona que factura</h5>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="CFR_CODIGO" name="FAC_CFR_FACTURA" type="text" class="form-control" tabindex="27">
                                    <label for="CFR_CODIGO" class="control-label col-md-12">Código</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="md-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="CFR_CEDULA" name="FAC_CEDULA_FACTURA" class="form-control" tabindex="28">
                                        <label for="CFR_CEDULA" class="control-label col-md-12">C&eacute;dula</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="CFR_NOMBRE" name="FAC_NOMBRE_FACTURA" class="form-control" tabindex="29">
                                        <label for="CFR_NOMBRE" class="control-label col-md-12">Nombre</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="pull-right">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_persona" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar persona" type="button" onclick="facturacion.personas()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="CFR_TELEFONO" name="FAC_TELEFONO" type="text" class="form-control" tabindex="30">
                                    <label for="CFR_TELEFONO" class="control-label col-md-12">Tel&eacute;fono</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="md-form">
                                    <input id="FAC_AUTORIZADO_POR" name="FAC_AUTORIZADO_POR" type="text" class="form-control" tabindex="31">
                                    <label for="FAC_AUTORIZADO_POR" class="control-label col-md-12">Autorizado por</label>
                                </div>
                            </div>
                        </div>
                        <hr class="espacio" />
                        <h5>Conductor</h5>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="TRA_TRANSPORTISTA" name="FAC_TRA_CHOFER" type="text" class="form-control" tabindex="32">
                                    <label for="TRA_TRANSPORTISTA" class="control-label col-md-12">Código</label>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="md-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="TRA_CEDULA" name="FAC_CEDULA_CHOFER" class="form-control" tabindex="33">
                                        <label for="TRA_CEDULA" class="control-label col-md-12">C&eacute;dula</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="TRA_NOMBRE" name="FAC_NOMBRE_CHOFER" class="form-control" tabindex="34">
                                        <label for="TRA_NOMBRE" class="control-label col-md-12">Nombre</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="pull-right">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_conductor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar conductor" type="button" onclick="facturacion.conductores()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="FAC_PLACA_VEHICULO" name="FAC_PLACA_VEHICULO" type="text" class="form-control" tabindex="35">
                                    <label for="FAC_PLACA_VEHICULO" class="control-label col-md-12">Placa</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="FAC_MARCHAMO1" name="FAC_MARCHAMO1" type="text" class="form-control" tabindex="36">
                                    <label for="FAC_MARCHAMO1" class="control-label col-md-12">Marchamo 1</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="FAC_MARCHAMO2" name="FAC_MARCHAMO2" type="text" class="form-control" tabindex="37">
                                    <label for="FAC_MARCHAMO2" class="control-label col-md-12">Marchamo 2</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="FAC_MARCHAMO3" name="FAC_MARCHAMO3" type="text" class="form-control" tabindex="38">
                                    <label for="FAC_MARCHAMO3" class="control-label col-md-12">Marchamo 3</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="FAC_MARCHAMO4" name="FAC_MARCHAMO4" type="text" class="form-control" tabindex="39">
                                    <label for="FAC_MARCHAMO4" class="control-label col-md-12">Marchamo 4</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="md-form">
                                    <input id="FAC_OBSERVACIONES" name="FAC_OBSERVACIONES" type="text" class="form-control" tabindex="40">
                                    <label for="FAC_OBSERVACIONES" class="control-label col-md-12">Observaciones</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="tab-pane fade show" id="totales" role="tabpanel" aria-labelledby="totales-tab">
                <hr class="espacio" />            
                <div id="tbl_totalesfac" class="table-responsive">
                    <font size="2" face="Courier New">
                        <table id="totalesfac_table" data-toggle="table" class="table table-fixed" align="center">
                            <thead>
                                <tr>
                                    @*<th data-field="Nombre"></th>*@
                                    @* <th data-field="TMA_FCH_MANIFIESTO">Monto</th>*@
                                </tr>
                            </thead>
                            <tbody id="totalesfac_tablebody"></tbody>
                        </table>
                    </font>
                </div>  
                <script id="totalesfac_table-template" type="text/x-handlebars-template">
                    <tr>
                        @*<td>{{Id}}</td>*@
                        <td>{{Nombre}}</td>

                    </tr>
                </script>

            </div>

            <div class="tab-pane fade show" id="totales_tarifa" role="tabpanel" aria-labelledby="totales_tarifa-tab">
                <hr class="espacio" />
                <div id="tbl_totalesfac_tarifa" class="table-responsive">
                    <font size="2" face="Courier New">
                        <table id="totalesfac_tarifa_table" data-toggle="table" class="table table-fixed">
                            <thead>
                                <tr>
                                    @* <th data-field="Nombre">czxczc</th>*@
                                    @* <th data-field="TMA_FCH_MANIFIESTO">Monto</th>*@
                                </tr>
                            </thead>
                            <tbody id="totalesfac_tarifa_tablebody"></tbody>
                        </table>
                    </font>
                </div>
                <script id="totalesfac_tarifa_table-template" type="text/x-handlebars-template">
                    <tr>
                        @*<td>{{Id}}</td>*@
                        <td>{{Nombre}}</td>
                    </tr>
                </script>

            </div>

            @* Modales o screens de los tabs *@
            <div id="myModalValores" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Valores Movimiento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            <form id="frm_Valores" class="valores_formulario">
                                <br />
                                <input type="hidden" id="FMV_ID" name="FMV_ID" />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="FMV_PCT_DESCUENTO" name="FMV_PCT_DESCUENTO" type="text" class="form-control" tabindex="1">
                                            <label for="FMV_PCT_DESCUENTO" class="control-label col-md-12">%Desc</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="FMV_BASE_DESCUENTO" class="control-label col-md-12">Base</label>
                                        <div class="md-form">
                                            <select id="FMV_BASE_DESCUENTO" name="FMV_BASE_DESCUENTO" type="text" class="form-control" tabindex="2"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="FMV_ASOCIE" id="FMV_ASOCIE" class="k-checkbox" disabled>
                                                <label class="k-checkbox-label" for="ASOCIE">Asocie</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="md-form">
                                            <input id="CED_ENDOSO" name="CED_ENDOSO" type="text" class="form-control" disabled>
                                            <label for="CED_ENDOSO" class="control-label col-md-12">C&eacute;dula Endoso</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_ALMACENAJE" name="FMV_ALMACENAJE" type="text" class="form-control" disabled>
                                                <label for="FMV_ALMACENAJE" class="control-label col-md-12">Almacenaje</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_MANEJO" name="FMV_MANEJO" type="text" class="form-control" disabled>
                                                <label for="FMV_MANEJO" class="control-label col-md-12">Manejo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_SEGURO" name="FMV_SEGURO" type="text" class="form-control" disabled>
                                                <label for="FMV_SEGURO" class="control-label col-md-12">Seguro</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="DESCUENTO" name="DESCUENTO" type="text" class="form-control" disabled>
                                                <label for="DESCUENTO" class="control-label col-md-12">Descuento</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="IVA" name="IVA" type="text" class="form-control" disabled>
                                                <label for="IVA" class="control-label col-md-12">Impuesto(IVA)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="FMV_TOTAL_IVA" name="FMV_TOTAL_IVA" type="text" class="form-control" disabled>
                                                <label for="FMV_TOTAL_IVA" class="control-label col-md-12">Total Línea</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<hr style="border-top: 2px solid #C29F34; background: transparent;">*@


                            </form>
                            <div class="modal-footer">
                                <button onclick="facturacion.calculaValores()" class="btn btn-elegant">Calcular</button>
                                <button onclick="facturacion.regresaValores()" class="btn btn-elegant" data-dismiss="modal">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalTarimas" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Tarimas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="TARIMA" name="TARIMA" />
                            <input type="hidden" id="id_movimiento" name="id_movimiento" />
                            <div class="divwithscroll">
                                <div class="row">
                                    <div class="col-3">
                                        <p><b>MOVIMIENTO:</b></p>
                                    </div>
                                    <div class="col-2">
                                        <small id="num_movimiento" class=""></small>
                                    </div>
                                    <div class="col-2 offset-1">
                                        <p><b>TARIFA: </b></p>
                                    </div>
                                    <div class="col-4">
                                        <small id="nom_tarifa" class=""></small>
                                    </div>
                                </div>
                                <br />
                                <div id="div_edit_tarima" class="row">
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <input id="BULTOS" type="number" class="form-control" tabindex="1">
                                            <label id="lbl_BULTOS" for="BULTOS" class="control-label col-md-12">Bultos</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <input id="KILOS" type="text" class="form-control" tabindex="2">
                                            <label id="lbl_KILOS" for="KILOS" class="control-label col-md-12">Kilos</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <input id="VOLUMEN" type="text" class="form-control" tabindex="3">
                                            <label id="lbl_VOLUMEN" for="VOLUMEN" class="control-label col-md-12">Volumen</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <div class="btn-group" data-toggle="buttons">
                                                <button id="btn_actualizar_tarima" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualiza" type="button" onclick="facturacion.actualizarTarimas()"><i class="fa fa-save" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="tb_detMovimientos" class="table-responsive">
                                        <table id="detMovimientos_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="ID_TARIMA">Tarima</th>
                                                    <th data-field="BULTOS">Bultos</th>
                                                    <th data-field="KILOS">Kilos</th>
                                                    <th data-field="VOLUMEN">Volumen</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tarimasMovimiento_tablebody"></tbody>
                                        </table>
                                    </div>
                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="tarimasMovimiento_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{ID_TARIMA}}</td>
                                            <td>{{BULTOS}}</td>
                                            <td>{{KILOS}}</td>
                                            <td>{{VOLUMEN}}</td>
                                            <td>
                                                <button class="btn btn-elegant" onclick="facturacion.borrarTarima('{{ID_TARIMA}}')"><i class="fas fa-times" aria-hidden="true"></i></button>
                                                <button class="btn btn-elegant" onclick="facturacion.editarTarima('{{ID_TARIMA}}','{{BULTOS}}','{{KILOS}}','{{VOLUMEN}}')"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalCalculos" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="">
                                <script id="expressions-template" type="text/x-handlebars-template">
                                    <div class="row">
                                        <div class="col-4">
                                            <h7 class="">Subtotal</h7>
                                        </div>
                                        <div class="col-3">
                                            {{description.ADICIONALES}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h7 class="">Otros Rubros</h7>
                                        </div>
                                        <div class="col-3">
                                            {{description.DESCUENTO}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h7 class="">Descuentos</h7>
                                        </div>
                                        <div class="col-3">
                                            {{description.SUBTOTAL}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h7 class="">IVA</h7>
                                        </div>
                                        <div class="col-3">
                                            {{{description.IVA}}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h7 class="">TOTAL</h7>
                                        </div>
                                        <div class="col-3">
                                            {{description.TOTAL}}
                                        </div>
                                    </div>
                                </script>

                                <div class="content-placeholder"></div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalPersonas" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta de Personas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="PER_CEDULA" type="number" class="form-control" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                                            <label for="PER_CEDULA" class="control-label col-md-12">CÉDULA</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input id="PER_NOMBRE" type="text" class="form-control" tabindex="2">
                                            <label for="PER_NOMBRE" class="control-label col-md-12">NOMBRE</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <div class="btn-group" data-toggle="buttons">
                                                <button id="btn_filtrar_persona" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="facturacion.getPersonasFlt()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="facturacion.limpiarFiltroPersonas()" id="btn_limpiar_filtros_persona"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*Encabezado del listar Consignatarios*@
                                    <div id="tb_personas" class="table-responsive">
                                        <table id="tb_personas_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th hidden data-field="CFR_CODIGO">Código</th>
                                                    <th hidden data-field="CFR_TELEFONO">Telefono</th>
                                                    <th data-field="CFR_CEDULA">Cédula</th>
                                                    <th data-field="CFR_NOMBRE">Nombre</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tb_personas_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="tb_personas_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td hidden>{{CFR_CODIGO}}</td>
                                            <td hidden>{{CFR_TELEFONO}}</td>
                                            <td>{{CFR_CEDULA}}</td>
                                            <td>{{CFR_NOMBRE}}</td>
                                            <td>
                                                <button class="btn btn-elegant" onclick="facturacion.selectPersona('{{CFR_CODIGO}}', '{{CFR_CEDULA}}','{{CFR_NOMBRE}}', '{{CFR_TELEFONO}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>


                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalConductores" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta de Conductores</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="CONDUC_CEDULA" type="number" class="form-control" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                                            <label for="CONDUC_CEDULA" class="control-label col-md-12">CÉDULA</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input id="CONDUC_NOMBRE" type="text" class="form-control" tabindex="2">
                                            <label for="CONDUC_NOMBRE" class="control-label col-md-12">NOMBRE</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <div class="btn-group" data-toggle="buttons">
                                                <button id="btn_filtrar_conduc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="facturacion.getConductoresFlt()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="facturacion.limpiarFiltroConductores()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*Encabezado del listar Consignatarios*@
                                    <div id="tb_conductores" class="table-responsive">
                                        <table id="tb_conductores_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th hidden data-field="TRA_TRANSPORTISTA">Código</th>
                                                    <th hidden data-field="TRA_TELEFONO">teléfono</th>
                                                    <th data-field="TRA_CEDULA">Cédula</th>
                                                    <th data-field="TRA_NOMBRE">Nombre</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tb_conductores_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="tb_conductores_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td hidden>{{TRA_TRANSPORTISTA}}</td>
                                            <td hidden>{{TRA_TELEFONO}}</td>
                                            <td>{{TRA_CEDULA}}</td>
                                            <td>{{TRA_NOMBRE}}</td>
                                            <td>
                                                <button class="btn btn-elegant" onclick="facturacion.selectConductor('{{TRA_TRANSPORTISTA}}', '{{TRA_CEDULA}}','{{TRA_NOMBRE}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
