﻿@{
    ViewBag.Title = "Contenedor";
    ViewData["User"] = Session["user"];
}

@*<div class="card">
    <div class="card-block">*@

<div class="form-horizontal" id="frmmanifiesto">
    <hr />
    <div class="row">
        <div class="col-md-3"><h4>Contenedores</h4></div>
        <div class="col-md-9 alignRight">
            <div class="pull-right">
                <div class="btn-group" data-toggle="buttons">
                    <button id="btn_regresar_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="contenedor.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                    <button id="btn_listar_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="contenedor.Refrescar()"><i class="fa fa-list" aria-hidden="true"></i></button>
                    <button id="btn_guardar_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Crear" type="button" onclick="contenedor.GuardarContenedor()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button id="btn_editar_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="contenedor.Actualizar()"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button id="btn_limpiar_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="contenedor.limpiarCamposContenedor()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    <button id="btn_filters_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Filtros" type="button" onclick="contenedor.FiltrosContenedor()"><i class="fa fa-filter" aria-hidden="true"></i></button>
                    <button id="btn_manifiesto_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Manifiesto" type="button" onclick="contenedor.pasarManifiesto()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Manifiesto </button>
                    <button id="btn_guias_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guias" type="button" onclick="contenedor.pasarGuia()"> Guias <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <input type="hidden" id="TCO_MANIFIESTO_ID" value="@(ViewBag.Manifiesto)" />
    <input type="hidden" id="TCO_CONTENEDOR_ID" value="@(ViewBag.Id)" />

    <form id="frm_contenedor">
        <div id="detalles-contenedor" class="detalles_contenedor">
            <div class="row moremargin">
                <div class="col-md-4">
                    <div class="md-form">
                        <input id="in_mma_guia_madre" name="TCO_VIAJE" type="text" class="form-control moresize" tabindex="5">
                        <label for="in_mma_guia_madre" class="control-label col-md-12 moresize">Viaje</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="s_tco_tdo_documento" class="control-label col-md-12">Tipo Documento</label>
                        <select class="form-control" name="TCO_TDO_DOCUMENTO" id="s_tco_tdo_documento" tabindex="4"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="dtp_tco_fechaManIngreso" class="control-label col-md-12">Fecha Ingreso</label>
                            <input id="dtp_tco_fechaManIngreso" tabindex="6" name="TCO_FCH_INGRESO">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row moremargin">
                <div hidden>
                    <div class="md-form">
                        <input id="in_tco_contenedor" name="TCO_CONTENEDOR" type="text" class="form-control ">
                        <label id="lbl_tco_contenedor" for="in_tco_contenedor" class="control-label col-md-12">Contenedor</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_tco_num_contenedor" name="TCO_NUM_CONTENEDOR" type="text" class="form-control moresize" tabindex="1">
                        <label id="lbl_tco_num_contenedor" for="in_tco_num_contenedor" class="control-label col-md-12 lblfocus moresize">Contenedor</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_mma_guia_madre" name="TCO_TAMANO" type="text" class="form-control" tabindex="2">
                        <label for="in_mma_guia_madre" class="control-label col-md-12">Tamaño</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_tco_tma_manifiesto" name="TCO_TMA_MANIFIESTO" type="text" class="form-control" value="@(ViewBag.Manifiesto)" disabled>
                        <label id="lbl_tco_tma_manifiesto" for="in_tco_tma_manifiesto" class="control-label col-md-12">Manifiesto</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="TCO_PERMANENCIA_BORDO" id="chb_tco_permanencia" class="k-checkbox" tabindex="11">
                            <label class="k-checkbox-label" for="chb_tco_permanencia">Permanencia a bordo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row moremargin">
                <div hidden>
                    <div class="md-form">
                        <input id="in_tco_con_consolidador" name="TCO_CON_NCONSOLIDADOR" type="text" class="form-control">
                        <label for="in_tco_con_consolidador" class="control-label col-md-12">Cliente</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_consolidador" name="CONSOLIDADOR" type="text" class="form-control moresize" tabindex="3">
                        <label for="in_consolidador" class="control-label col-md-12 moresize">Cliente</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="pull-left">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_consolidador" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="contenedor.MostrarListaConsolidadores()"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_mma_guia_madre" name="TCO_PUERTA" type="text" class="form-control" tabindex="11">
                        <label for="in_mma_guia_madre" class="control-label col-md-12">Portón</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_mma_guia_madre" name="TCO_CHEQUEADOR" type="text" class="form-control" tabindex="9">
                        <label for="in_mma_guia_madre" class="control-label col-md-12">Chequeador</label>
                    </div>
                </div>
                @*<div class="col-md-1">
                        <div class="md-form">
                            <input id="in_mma_guia_madre" name="TCO_DUA" type="text" class="form-control" tabindex="6">
                            <label for="in_mma_guia_madre" class="control-label col-md-12">Dua</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="s_tco_adu_aduana" class="control-label col-md-12">Aduana</label>
                            <select class="form-control" name="TCO_ADU_ADUANA" id="s_tco_adu_aduana" tabindex="7"></select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="md-form">
                            <input id="in_mma_guia_madre" name="TCO_PERIODO" type="text" class="form-control" tabindex="8">
                            <label for="in_mma_guia_madre" class="control-label col-md-12">Periodo</label>
                        </div>
                    </div>*@
            </div>
            <div class="row">
                @*<div class="col-md-3">
                        <div class="form-group">
                            <label for="s_tco_grupo_trabajo" class="control-label col-md-12">Grupo Trabajo</label>
                            <select class="form-control" name="TCO_GRUPO_TRABAJO" id="s_tco_grupo_trabajo" tabindex="10"></select>
                        </div>
                    </div>*@
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_tco_tipo_contenedor" name="TCO_TIPO_CONTENEDOR" type="text" class="form-control" tabindex="12">
                        <label for="in_tco_tipo_contenedor" class="control-label col-md-12">Tipo Contenedor</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_tco_func_aduana_ced" name="TCO_FUNC_ADUANA_CED" type="text" class="form-control" tabindex="12">
                        <label for="in_tco_func_aduana_ced" class="control-label">Funcionario Aduana/Supervisión</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="pull-left">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_agregar_funcionario" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="contenedor.MostrarFuncionariosAduana()"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_tco_func_aduana_nom" name="TCO_FUNC_ADUANA_NOM" type="text" class="form-control" tabindex="12">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_tco_acta_sup" name="TCO_ACTA_SUP" type="text" class="form-control" tabindex="12">
                        <label for="in_tco_acta_sup" class="control-label col-md-12">Acta Supervisón</label>
                    </div>
                </div>
                @*<div class="col-md-2">
                        <div class="md-form">
                            <input id="in_mma_guia_madre" name="TCO_PERSONAS_DESCARGA" type="text" class="form-control" tabindex="12">
                            <label for="in_mma_guia_madre" class="control-label col-md-12">Personas Descarga</label>
                        </div>
                    </div>*@
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="s_tco_estado" class="control-label col-md-12">Estado</label>
                        <select class="form-control" name="TCO_ESTADO" id="s_tco_estado" tabindex="13" disabled></select>
                    </div>
                </div>
            </div>

            <input type="hidden" id="TCO_USU_REGISTRO" name="TCO_USU_REGISTRO" />
            <input type="hidden" id="TCO_FCH_REGISTRO" name="TCO_FCH_REGISTRO" />
            <input type="hidden" id="TCO_USU_MODIFICO" name="TCO_USU_MODIFICO" />
            <input type="hidden" id="UserMERX" name="UserMERX" />
        </div>
    </form>

    @*div para contener los filtros de la tabla de contenedores*@
    <div class="container-fluid" id="div_filters">
        <div class="row">
            <div class="col-md-3">
                <div class="md-form">
                    <input id="in_flr_contenedor" type="text" class="form-control">
                    <label for="in_flr_contenedor" class="control-label col-md-12">Contenedor</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="in_flr_viaje" type="text" class="form-control">
                    <label for="in_flr_viaje" class="control-label col-md-12">Viaje</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_filtrar_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="contenedor.BusquedaFiltros()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <button id="btn_oculta_filtro_contenedor" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Ocultar" type="button" onclick="contenedor.OcultarFiltrosContenedor()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Encabezado del listar Manifiesto*@
    <div id="th_contenedor" class="table-responsive">
        <table id="tb_contenedor" data-toggle="table" class="table table-fixed">
            <thead>
                <tr>
                    <th data-field="TCO_CONTENEDOR" hidden></th>
                    <th data-field="TCO_NUM_CONTENEDOR">#Contenedor</th>
                    <th data-field="TCO_DUA">Dua</th>
                    <th data-field="TCO_VIAJE">Viaje</th>
                    <th data-field="CONSOLIDADOR">Consolidador</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tb_contenedores"></tbody>
        </table>
    </div>

    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
    <script id="tb-contenedor-template" type="text/x-handlebars-template">
        <tr>
            <td hidden>{{TCO_CONTENEDOR}}</td>
            <td>{{TCO_NUM_CONTENEDOR}}</td>
            <td>{{TCO_DUA}}</td>
            <td>{{TCO_VIAJE}}</td>
            <td>{{CONSOLIDADOR}}</td>
            <td>
                <button class="btn btn-elegant" onclick="contenedor.Editar('{{TCO_CONTENEDOR}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
            </td>
        </tr>
    </script>


    <div id="myModalConsolidadores" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listado de Consolidadores</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="divwithscroll">
                        <div class="row">
                            @*Encabezado del listar Consolidadores*@
                            <div id="TCO_TablaConsolida" class="table-responsive">
                                <table id="TCO_Consolida_table" data-toggle="table" class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th data-field="Id">Id </th>
                                            <th data-field="Nombre">Nombre</th>
                                            <th data-field="Cedula">Cédula</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TCO_Consolida_tablebody"></tbody>
                                </table>
                            </div>

                            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                            <script id="TCO_Consolida_table-template" type="text/x-handlebars-template">
                                <tr>
                                    <td>{{Id}}</td>
                                    <td>{{Nombre}}</td>
                                    <td>{{Cedula}}</td>
                                    <td>
                                        <button class="btn btn-elegant" onclick="contenedor.Escoger('{{Id}}','{{Nombre}}')"><i class="far fa-hand-pointer" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </script>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalFuncionariosAduana" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listado de Funcionarios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*Encabezado del listar Consolidadores*@
                    <div id="TCO_TablaFuncionarios" class="table-responsive">
                        <table id="TCO_funcionarios_table" data-toggle="table" class="table table-fixed">
                            <thead>
                                <tr>
                                    <th data-field="Id">Id </th>
                                    <th data-field="Nombre">Nombre</th>
                                    <th data-field="Cedula">Cédula</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="TCO_FuncionariosAduana_tablebody"></tbody>
                        </table>
                    </div>

                            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                            <script id="TCO_FuncionariosAduana_table-template" type="text/x-handlebars-template">
                                <tr>
                                    <td>{{Id}}</td>
                                    <td>{{Nombre}}</td>
                                    <td>{{Cedula}}</td>
                                    <td>
                                        <button class="btn btn-elegant" onclick="contenedor.EscogerFuncionario('{{Id}}','{{Nombre}}')"><i class="far fa-hand-pointer" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </script>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/assets/js/js_contenedor.js"></script>