﻿@{
    ViewBag.Title = "Conocimientos";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <link href="~/assets/icomoon/demo.css" rel="stylesheet" />
    <title>Conocimientos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_conocimientos")
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-6"><h5>Ingreso Conocimientos</h5></div>
            <div class="col-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar_manifiesto" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Ir a Contenedor/Manifiesto" type="button" onclick="conocimientos.redirectContenedor()"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Contenedor/Manifiesto</button>
                        <button id="btn_regresar_conoc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="conocimientos.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar</button>

                        <button id="btn_cerrar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Cerrar Tarimas" type="button" onclick="sumatoria.Tarimas_Cerrar()"><i class="fa fa-lock" aria-hidden="true"></i></button>
                        <button id="btn_selec" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Seleccionar todas" type="button" onclick="sumatoria.SeleccionaTodas()"><i class="fas fa-check-circle" aria-hidden="true"></i></button>
                        <button id="btn_deselec" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Deseleccionar todas" type="button" onclick="sumatoria.DesSeleccionaTodas()"><i class="fas fa-times-circle" aria-hidden="true"></i></button>


                        <button id="btn_listar_conoc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="conocimientos.Refrescar()"><i class="fa fa-list" aria-hidden="true"></i></button>
                        <button id="btn_guardar_conoc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar" type="button" onclick="conocimientos.guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_editar_conoc" class="btn btn-elegant waves-effect waves-light fullHidden" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="conocimientos.Actualizar()"><i class="fas fa-edit"></i></button>

                        <button id="btn_sumatoria" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Sumatoria Tarimas" type="button" onclick="conocimientos.ListarSumatoria()"><i class="icon icon-sigma"></i></button>
                        <button id="btn_Aplicar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Aplicar datos MD" type="button" onclick="conocimientos.AplicarDatosMD()"><i class="fas fa-upload" aria-hidden="true" style="color:brown"></i></button>

                        <button id="btn_tarimas" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Ir a Tarimas" type="button" onclick="conocimientos.redireccionar()">Tarimas  <i class="fa fa-arrow-right" aria-hidden="true"></i></button>

                        &nbsp;&nbsp;
                        <button id="btn_limpiar_conoc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="conocimientos.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_sum_filtros" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar filtros" type="button" onclick="conocimientos.limpiaFiltrosSum()"><i class="fa fa-eraser" aria-hidden="true"></i></button>

                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
        <form autocomplete="off" id="frm_conocimientos" class="frm_conocimientos">
            <div class="row">
                <div class="col-9">
                    <div class="row frm_manif" id="frm_manif">
                        <input type="hidden" id="TMA_TDO_DOCUMENTO" name="TMA_TDO_DOCUMENTO" />
                        <fieldset id="frm_manif_fielset">
                            <div class="row">
                                <div class="col-3">
                                    <div class="md-form divResumen">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <input type="text" class="form-control" name="IEN_DUA_R" id="IEN_DUA_R" disabled />
                                            <label for="IEN_DUA_R" class="control-label col-md-12 disabled">DUA</label>
                                        </div>
                                        @*<div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="TMA_MANIFIESTO" id="TMA_MANIFIESTO" disabled />
                            <label for="TMA_MANIFIESTO" class="control-label col-md-12 disabled">Manifiesto</label>
                        </div>*@
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="md-form divResumen">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <input type="text" class="form-control" name="TMA_NUM_CONTENEDOR" id="TMA_NUM_CONTENEDOR" disabled>
                                            <label for="TMA_NUM_CONTENEDOR" class="control-label col-md-12 disabled">Contenedor</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="md-form divResumen">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <input type="text" class="form-control" name="TMA_CLIENTE_NOMBRE" id="TMA_CLIENTE_NOMBRE" disabled>
                                            <label for="TMA_CLIENTE_NOMBRE" class="control-label col-md-12 disabled">Cliente</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row fullHidden">
                                <div class="col-3">
                                    <div class="form-group disabled">
                                        <div class="col-12">
                                            <label for="TMA_FCH_INGRESO" class="control-label col-md-12 disabled">Fecha Ingreso</label>
                                            <input type="text" class="form-control" name="TMA_FCH_INGRESO" id="TMA_FCH_INGRESO" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group disabled">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label for="TMA_FCH_REGISTRO" class="control-label col-md-12 disabled">Fecha Digitación</label>
                                            <input type="text" class="form-control" name="TMA_FCH_REGISTRO" id="TMA_FCH_REGISTRO" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group disabled">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label for="AEROLINEA" class="control-label col-md-12 disabled">Transportista Internacional</label>
                                            <input type="text" class="form-control" name="AEROLINEA" id="AEROLINEA" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-2">
                    <br />
                    <div class="col-6"><h5 id="etiqueta_consecutivo"><strong>Consecutivo</strong> </h5></div>
                    <div class="col-6"><h4><strong style="text-decoration-line:underline; text-decoration-style:dotted;" id="conseTitulo"></strong></h4></div>
                </div>
            </div>
            <input type="hidden" id="IEN_USU_DIGITO" name="IEN_USU_DIGITO" />
            <input type="hidden" id="IEN_TMA_ID_MANIFIESTO" name="IEN_TMA_ID_MANIFIESTO" value="" />
            <div class="row">
                <div class="col-3 fullHidden">
                    <div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_ENTRADA" class="control-label col-md-12">Consecutivo</label>
                            <input type="number" class="form-control" name="IEN_ENTRADA" id="IEN_ENTRADA" onkeypress="principal.FilterInput(event)" tabindex="" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="demo-section k-content">
                                    <label for="IEN_PUESTO_CHEQUEO" class="control-label col-md-12">Chequeo / Portón</label>
                                    <select id="IEN_PUESTO_CHEQUEO" name="IEN_PUESTO_CHEQUEO" class="form-control" tabindex=""></select>
                                </div>
                            </div>
                        </div>



                        @*<div class="md-form">
                            <input id="IEN_PUESTO_CHEQUEO" name="IEN_PUESTO_CHEQUEO" class="form-control" type="number" maxlength="2" oninput="principal.maxLengthCheck(this)" tabindex="1" onblur="conocimientos.onfocus()">
                            <label id="lbl_IEN_PUESTO_CHEQUEO" for="IEN_PUESTO_CHEQUEO" class="control-label col-md-12 lblfocus">Chequeo / Portón</label>
                        </div>*@
                    </div>
                </div>

                <div class="col-3">
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_GUIA_ORIGINAL" class="control-label col-md-12">Conocimiento (Guía/BL)</label>
                            <input type="text" class="form-control" name="IEN_GUIA_ORIGINAL" id="IEN_GUIA_ORIGINAL" onblur="conocimientos.valida_existe_prealerta(this)" tabindex="3" maxlength="30">
                        </div>
                    </div>*@
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="IEN_GUIA_ORIGINAL" id="IEN_GUIA_ORIGINAL" onblur="conocimientos.valida_existe_prealerta(this)" tabindex="2" maxlength="30">
                            <label id="lbl_guiaBL" for="IEN_GUIA_ORIGINAL" class="control-label col-md-12 lblfocus">Conocimiento/Guía/BL</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="IEN_GUIA" id="IEN_GUIA" tabindex="3" onblur="conocimientos.valida_guia(this)" maxlength="30">
                            <label for="IEN_GUIA" class="control-label col-md-12">Secuencia Tica</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_GUIA" class="control-label col-md-12">Secuencia Tica</label>
                            <input type="text" class="form-control" name="IEN_GUIA" id="IEN_GUIA" tabindex="4" onblur="conocimientos.valida_guia(this)" maxlength="30">
                        </div>
                    </div>*@
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="IEN_GUIA_MASTER" name="IEN_GUIA_MASTER" class="form-control" maxlength="11" onblur="conocimientos.valida_existe_prealerta(this)" tabindex="4" />
                            <label for="IEN_GUIA_MASTER" class="control-label col-md-12">Guía Madre</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_GUIA_MASTER" class="control-label col-md-12">Guía Madre</label>
                            <input type="text" id="IEN_GUIA_MASTER" name="IEN_GUIA_MASTER" class="form-control" maxlength="11" onblur="conocimientos.valida_existe_prealerta(this)" tabindex="5" />
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="IEN_DIN_TIPO_DOCUMENTO" class="control-label col-md-12">Documento Tica</label>
                                <select type="text" class="form-control" name="IEN_DIN_TIPO_DOCUMENTO" id="IEN_DIN_TIPO_DOCUMENTO" tabindex="5"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_DUA" class="control-label col-md-12">Dua</label>
                            <select type="text" id="IEN_DUA" name="IEN_DUA" class="form-control" tabindex="6"></select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_NUMERO_VIAJE" class="control-label col-md-12">Viaje</label>
                            <select type="text" id="IEN_NUMERO_VIAJE" name="IEN_NUMERO_VIAJE" class="form-control" tabindex="7"></select>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @*<div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="IEN_ANTECESOR" name="IEN_ANTECESOR" class="form-control" tabindex="9" disabled>
                            <label for="IEN_ANTECESOR" class="control-label col-md-12">Antecesor</label>
                        </div>
                    </div>*@
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="IEN_ANTECESOR" name="IEN_ANTECESOR" class="form-control" tabindex="8" onblur="conocimientos.valida_antecesorNumerico()" />
                            <label for="IEN_ANTECESOR" class="control-label col-md-12">Antecesor</label>
                        </div>
                    </div>
                    @*<div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_ANTECESOR" class="control-label col-md-12">Antecesor</label>
                            <input type="number" id="IEN_ANTECESOR" name="IEN_ANTECESOR" class="form-control" tabindex="9" disabled>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="IEN_IMP_CEDULA" name="IEN_IMP_CEDULA" class="form-control" tabindex="9" onblur="conocimientos.importadores(this);">
                            <label id="lbl_IEN_IMP_CEDULA" for="IEN_IMP_CEDULA" class="control-label col-md-12">Id Consignatario</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="IEN_IMPORTADOR" name="IEN_IMPORTADOR" class="form-control" tabindex="10">
                            <label for="IEN_IMPORTADOR" class="control-label col-md-12">Nombre Consignatario</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_IMPORTADOR" class="control-label col-md-12">Nombre Consignatario</label>
                            <input type="text" id="IEN_IMPORTADOR" name="IEN_IMPORTADOR" class="form-control" tabindex="11">
                        </div>
                    </div>*@
                </div>
                <div class="col-1">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_consigna" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar consignatario" type="button" onclick="conocimientos.importadores(null)"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="IEN_CON_NCONSOLIDADOR" class="control-label col-md-12">Consolidador</label>
                                <select id="IEN_CON_NCONSOLIDADOR" name="IEN_CON_NCONSOLIDADOR" class="form-control" tabindex="11"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="IEN_LINEA_GUIA" name="IEN_LINEA_GUIA" class="form-control" tabindex="12" maxlength="3" oninput="principal.maxLengthCheck(this)" />
                            <label for="IEN_LINEA_GUIA" class="control-label col-md-12">Línea Guía</label>
                        </div>
                    </div>
                </div>


                @*<div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="IEN_IMP_CEDULA" class="control-label col-md-12">ID Consignatario</label>
                        <input type="text" id="IEN_IMP_CEDULA" name="IEN_IMP_CEDULA" class="form-control" tabindex="10" onblur="conocimientos.importadores(this);">
                    </div>
                </div>*@

                @*<div class="col-2">
                    <div class="md-form" id="div_consolidador" data-codigo="">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="IEN_CON_NCONSOLIDADOR" name="IEN_CON_NCONSOLIDADOR" class="form-control" data-id="" tabindex="12" onkeyup="conocimientos.buscarCons(this)">
                            <label for="IEN_CON_NCONSOLIDADOR" class="control-label col-md-12">Consolidador</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="CONSOLIDADOR" name="CONSOLIDADOR" class="form-control" tabindex="" disabled>
                            <label for="CONSOLIDADOR" class="control-label col-md-12">Nombre Consolidador</label>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="col-1 align-self-center">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="" class="control-label col-md-12">Manifestado:</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="IEN_BULTOS_MANIFESTADOS" name="IEN_BULTOS_MANIFESTADOS" class="form-control" tabindex="13" data-thousands=".">
                            <label for="IEN_BULTOS_MANIFESTADOS" class="control-label col-md-12">Bultos</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_BULTOS_MANIFESTADOS" class="control-label col-md-12">Bultos</label>
                            <input type="number" id="IEN_BULTOS_MANIFESTADOS" name="IEN_BULTOS_MANIFESTADOS" class="form-control" tabindex="13">
                        </div>
                    </div>*@
                </div>
                <div class="col-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @*<input id="IEN_KILOS_MANIFESTADOS" type="text" class="form-control" name="IEN_KILOS_MANIFESTADOS" data-decimal="," data-thousands="." />*@
                            <input type="number" class="form-control" name="IEN_KILOS_MANIFESTADOS" id="IEN_KILOS_MANIFESTADOS" tabindex="14">
                            <label for="IEN_KILOS_MANIFESTADOS" class="control-label col-md-12">Kilos</label>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_KILOS_MANIFESTADOS" class="control-label col-md-12">Kilos</label>
                            <input type="number" class="form-control" name="IEN_KILOS_MANIFESTADOS" id="IEN_KILOS_MANIFESTADOS" tabindex="14">
                        </div>
                    </div>*@
                </div>
                <div class="col-1">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" class="form-control" name="IEN_VOLUMEN_MANIF" id="IEN_VOLUMEN_MANIF" tabindex="15" disabled>
                            <label for="IEN_VOLUMEN_MANIF" class="control-label col-md-12">Vol(m&sup3;)</label>
                        </div>
                    </div>
                    @*<div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_VOLUMEN_MANIF" class="control-label col-md-12">Vol(m&sup3;)</label>
                            <input type="number" class="form-control" name="IEN_VOLUMEN_MANIF" id="IEN_VOLUMEN_MANIF" tabindex="15" disabled>
                        </div>
                    </div>*@
                </div>
                <div class="col-7">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="IEN_DESCRIPCION_MANIF" name="IEN_DESCRIPCION_MANIF" class="form-control" tabindex="16">
                            <label for="IEN_DESCRIPCION_MANIF" class="control-label col-md-12">Descripción Mercancía</label>
                            @*<input type="text" name="IEN_DESCRIPCION_MANIF" id="IEN_DESCRIPCION_MANIF" class="form-control" tabindex="19" maxlength="100">
                            <label class="control-label" for="IEN_DESCRIPCION_MANIF">Descripción Mercancía</label>*@
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label" for="IEN_DESCRIPCION_MANIF">Descripción Mercancía</label>
                            <input type="text" name="IEN_DESCRIPCION_MANIF" id="IEN_DESCRIPCION_MANIF" class="form-control" tabindex="19" maxlength="100">
                        </div>
                    </div>*@
                </div>

            </div>
            <div class="row">
                <div class="col-1 align-self-center">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @* <div class="col-12"><h7>Ingresado:</h7></div>*@
                            <label for="" class="control-label col-md-12">Ingresado:</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="IEN_BULTOS_INGRESADOS" name="IEN_BULTOS_INGRESADOS" class="form-control" tabindex="17" />
                            <label for="IEN_BULTOS_INGRESADOS" class="control-label col-md-12">Bultos</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_BULTOS_INGRESADOS" class="control-label col-md-12">Bultos</label>
                            <input type="number" id="IEN_BULTOS_INGRESADOS" name="IEN_BULTOS_INGRESADOS" class="form-control" tabindex="16" />
                        </div>
                    </div>*@
                </div>
                <div class="col-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="IEN_KILOS_INGRESADOS" name="IEN_KILOS_INGRESADOS" class="form-control" tabindex="18" />
                            <label for="IEN_KILOS_INGRESADOS" class="control-label col-md-12">Kilos</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_KILOS_INGRESADOS" class="control-label col-md-12">Kilos</label>
                            <input type="number" id="IEN_KILOS_INGRESADOS" name="IEN_KILOS_INGRESADOS" class="form-control" tabindex="17" />
                        </div>
                    </div>*@
                </div>
                <div class="col-1">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="IEN_VOLUMEN_INGRESADO" name="IEN_VOLUMEN_INGRESADO" class="form-control" tabindex="19" disabled />
                            <label for="IEN_VOLUMEN_INGRESADO" class="control-label col-md-12">Vol(m&sup3;)</label>
                        </div>
                    </div>
                    @*<div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_VOLUMEN_INGRESADO" class="control-label col-md-12">Vol(m&sup3;)</label>
                            <input type="number" id="IEN_VOLUMEN_INGRESADO" name="IEN_VOLUMEN_INGRESADO" class="form-control" tabindex="18" disabled />
                        </div>
                    </div>*@
                </div>
                <div class="col-7">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @*<label class="control-label" for="IEN_OBSERVACIONES">Observaciones</label>*@
                            <label for="IEN_OBSERVACIONES" class="control-label col-md-12">Observaciones</label>
                            @* <textarea class="form-control" tabindex="19" id="IEN_OBSERVACIONES" name="IEN_OBSERVACIONES" maxlength="500"></textarea>*@
                            <input type="text" name="IEN_OBSERVACIONES" id="IEN_OBSERVACIONES" class="form-control" tabindex="20" maxlength="500">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1 align-self-center">
                    <div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="" class="control-label col-md-12">Despaletizado:</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="TOT_BULTOS" name="TOT_BULTOS" class="form-control" tabindex="" />
                            <label for="TOT_BULTOS" class="control-label col-md-12">Bultos</label>
                        </div>
                    </div>
                    @*<div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="TOT_BULTOS" name="TOT_BULTOS" class="form-control" tabindex="">
                            <label for="TOT_BULTOS" class="control-label col-md-12">Bultos</label>
                        </div>
                    </div>*@
                </div>
                <div class="col-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="TOT_KILOS" id="TOT_KILOS" tabindex="">
                            <label for="TOT_KILOS" class="control-label col-md-12">Kilos</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="TOT_VOLUMEN" id="TOT_VOLUMEN" tabindex="">
                            <label for="TOT_VOLUMEN" class="control-label col-md-12">Vol(m&sup3;)</label>
                        </div>
                    </div>
                </div>


                <div class="col-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="IEN_PEN_DESCONSOLIDAR" id="IEN_PEN_DESCONSOLIDAR" class="k-checkbox">
                            <label class="k-checkbox-label" for="IEN_PEN_DESCONSOLIDAR">Pendiente desconsolidación</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="IEN_ES_COURIER" id="IEN_ES_COURIER" class="k-checkbox">
                            <label class="k-checkbox-label" for="IEN_ES_COURIER">Courier</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="IEN_ES_FARMA" id="IEN_ES_FARMA" class="k-checkbox">
                            <label class="k-checkbox-label" for="IEN_ES_FARMA">Farmacéutico</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row fullHidden">
                <div class="col-4">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="IEN_UBICACION_INGRESO" class="control-label col-md-12">Ubicación Origen</label>
                                <select id="IEN_UBICACION_INGRESO" name="IEN_UBICACION_INGRESO" class="form-control" tabindex="21"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="IEN_UBICACION_TRANSITO" class="control-label col-md-12">Ubicación Destino</label>
                                <select id="IEN_UBICACION_TRANSITO" name="IEN_UBICACION_TRANSITO" class="form-control" tabindex="22"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="IEN_ACTA_DESCARGA" id="IEN_ACTA_DESCARGA" tabindex="21" maxlength="20">
                            <label for="IEN_ACTA_DESCARGA" class="control-label col-md-12">Acta Descarga</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_ACTA_DESCARGA" class="control-label col-md-12">Acta Descarga</label>
                            <input type="text" class="form-control" name="IEN_ACTA_DESCARGA" id="IEN_ACTA_DESCARGA" tabindex="27" maxlength="20">
                        </div>
                    </div>*@
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="IEN_SOLICITUD" id="IEN_SOLICITUD" tabindex="22" maxlength="10">
                            <label for="IEN_SOLICITUD" class="control-label col-md-12">Solicitud PAB</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_SOLICITUD" class="control-label col-md-12">Solicitud PAB</label>
                            <input type="text" class="form-control" name="IEN_SOLICITUD" id="IEN_SOLICITUD" tabindex="28" maxlength="10">
                        </div>
                    </div>*@
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="IEN_TEXTO_ACTA" id="IEN_TEXTO_ACTA" tabindex="23" maxlength="100">
                            <label for="IEN_TEXTO_ACTA" class="control-label col-md-12">Texto del acta</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_TEXTO_ACTA" class="control-label col-md-12">Texto del acta</label>
                            <input type="text" class="form-control" name="IEN_TEXTO_ACTA" id="IEN_TEXTO_ACTA" tabindex="29" maxlength="100">
                        </div>
                    </div>*@
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_ESTADO" class="control-label col-md-12">Estado</label>
                            <select type="text" class="form-control" name="IEN_ESTADO" id="IEN_ESTADO" tabindex="24" disabled></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 fullHidden">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="IEN_CLASE" class="control-label col-md-12">Clasificación</label>
                                <select id="IEN_CLASE" name="IEN_CLASE" class="form-control" tabindex=""></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 fullHidden">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="IEN_BOLETA_CLASE" class="control-label col-md-12">Boleta</label>
                            <input type="text" class="form-control" name="IEN_BOLETA_CLASE" id="IEN_BOLETA_CLASE" tabindex="" onblur="conocimientos.validacionBoleta(this)" maxlength="20">
                        </div>
                    </div>
                </div>
                <div class="col-4 fullHidden">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="IEN_DUDA_REFRI" class="control-label col-md-12">Indicación Refrigeración</label>
                                <select id="IEN_DUDA_REFRI" name="IEN_DUDA_REFRI" class="form-control" tabindex=""></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 fullHidden">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="IEN_TIPO_DUDA_REF" class="control-label col-md-12">Duda Refrigeración</label>
                                <select id="IEN_TIPO_DUDA_REF" name="IEN_TIPO_DUDA_REF" class="form-control" tabindex=""></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="container-fluid fullHidden div_conocimientos_filtros" id="div_conocimientos_filtros">
            <div class="row">
                <div class="col-2">
                    <div class="md-form">
                        <input id="conoc_flr_ien_entrada" type="text" class="form-control" onkeyup="conocimientos.filtrar(this)">
                        <label for="conoc_flr_ien_entrada" class="control-label col-md-12">Consecutivo </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <input type="text" class="form-control" id="conoc_flr_ien_guia_original" onkeyup="conocimientos.filtrar(this)" />
                        <label for="conoc_flr_ien_guia_original" class="control-label col-md-12">Guía Original </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <input type="text" id="conoc_flr_ien_con_nconsolidador" class="form-control" onkeyup="conocimientos.filtrar(this)">
                        <label for="conoc_flr_ien_con_nconsolidador" class="control-label col-md-12">Consolidador </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="conoc_flr_ien_fch_digitacion" class="control-label col-md-12">Fecha Digitación </label>
                        <input type="date" id="conoc_flr_ien_fch_digitacion" class="form-control" onchange="conocimientos.filtrar(this)" />
                    </div>
                </div>
                @*<div class="col-2">
                    <div class="form-group">
                        <label for="conoc_flr_ien_estado" class="control-label col-md-12">Estado</label>
                        <select type="text" id="conoc_flr_ien_estado" class="form-control" onkeyup="conocimientos.filtrar(this)"></select>
                    </div>
                </div>*@
            </div>
        </div>

        <div id="tbl_conocimientos" class="table-responsive fullHidden">
            <table id="conocimientos_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="IEN_ENTRADA">Consecutivo </th>
                        <th data-field="IEN_GUIA_ORIGINAL">Guia Original </th>
                        <th data-field="IEN_BULTOS_MANIFESTADOS">Bultos Manifestados</th>
                        @*<th data-field="IEN_FCH_DIGITACION">Fecha Digitación</th>*@
                        <th data-field="CONSOLIDADOR">Consolidador</th>
                        @* <th data-field="IEN_CON_NCONSOLIDADOR">Consolidador</th>*@
                        <th data-field="IEN_IMPORTADOR">Importador</th>
                        @* <th data-field="IEN_ESTADO">Estado</th>*@
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="conocimientos_tablebody"></tbody>
            </table>
        </div>
        <script id="conocimientos_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{IEN_ENTRADA}}</td>
                <td>{{IEN_GUIA_ORIGINAL}}</td>
                <td align="center">{{IEN_BULTOS_MANIFESTADOS}}</td>
                @*<td>{{IEN_FCH_DIGITACION}}</td>*@
                <td>{{CONSOLIDADOR}}</td>
                @*<td>{{IEN_CON_NCONSOLIDADOR}}</td>*@
                <td>{{IEN_IMPORTADOR}}</td>
                @*<td>{{IEN_ESTADO}}</td>*@
                <td>
                    <button class="btn btn-elegant" onclick="conocimientos.editar('{{IEN_ENTRADA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-elegant" onclick="conocimientos.Guia_Borrar('{{IEN_ENTRADA}}')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        </script>


        @* Filtros de la lista de tarimas en todos los estados *@
        <div class="container-fluid fullHidden div_tarimas_filtrosZ" id="div_tarimas_filtrosZ">
        <div class="row">
            <div class="col-9">
                <div class="row frm_manif_sum" id="frm_manif_sum">
                    <fieldset id="frm_manif_sum_fielset">
                        <div class="row">
                            <div class="col-3">
                                <div class="md-form divResumen">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="IEN_DUA_Z" id="IEN_DUA_Z" disabled />
                                        <label for="IEN_DUA_Z" class="control-label col-md-12 disabled">DUA</label>
                                    </div>
                                    @*<div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="TMA_MANIFIESTO" id="TMA_MANIFIESTO" disabled />
                                        <label for="TMA_MANIFIESTO" class="control-label col-md-12 disabled">Manifiesto</label>
                                    </div>*@
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form divResumen">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="TMA_NUM_CONTENEDOR" id="TMA_NUM_CONTENEDOR" disabled>
                                        <label for="TMA_NUM_CONTENEDOR" class="control-label col-md-12 disabled">Contenedor</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="md-form divResumen">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="TMA_CLIENTE_NOMBRE" id="TMA_CLIENTE_NOMBRE" disabled>
                                        <label for="TMA_CLIENTE_NOMBRE" class="control-label col-md-12 disabled">Cliente</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        
        <div class="col-6"><h5>Sumatoria de Tarimas</h5></div>
        
        <div class="row">

            <div class="col-2">
                <div class="md-form">
                    <input id="tarima_flr_ien_entradaZ" type="text" class="form-control" onkeyup="sumatoria.filtrarSumatoria(this)">
                    <label for="tarima_flr_ien_entradaZ" class="control-label col-md-12">Tarima</label>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="demo-section k-content">
                            <label for="MER_TME_MERCANCIA_FILTROZ" class="control-label col-md-12">Tipo Mercancía</label>
                            <select class="form-control" name="MER_TME_MERCANCIA_FILTROZ" id="MER_TME_MERCANCIA_FILTROZ"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        @* Tabla de tarimas en todos los estados *@
        <div id="tbl_tarimas_cons" class="table-responsive fullHidden">
            <table id="tarimas_cons_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="TARIMA">Tarima </th>
                        <th data-field="DES_MERCANCIA">Tipo Mercancía</th>
                        <th data-field="BULTOS_TARIMA">Bultos</th>
                        <th data-field="KILOS_NETO">Kilos</th>
                        @*<th data-field="KILOS_TARIMA">Kilos Tarima</th>*@
                        <th data-field="DESAVERIAS">Condición</th>
                        <th data-field="DES_OPER_TICA">Operación</th>
                        <th data-field="MER_ID_MERCANCIA_REF">Tarima Referencia</th>
                        @*<th data-field="MER_DESCRIPCION">Descripción</th>*@
                        <th data-field="MER_ESTADO">Estado</th>
                        <th data-field="">Cerrar</th>
                    </tr>
                </thead>
                <tbody id="tarimas_cons_tablebody"></tbody>
            </table>
        </div>
        <script id="tarimas_cons_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{TARIMA}}</td>
                <td>{{DES_MERCANCIA}}</td>
                <td>{{BULTOS_TARIMA}}</td>
                <td>{{KILOS_NETO}}</td>
                @*<td>{{KILOS_TARIMA}}</td>*@
                <td>{{DESAVERIAS}}</td>
                @*<td>{{MER_DESCRIPCION}}</td>*@
                <td>{{DES_OPER_TICA}}</td>
                <td>{{MER_ID_MERCANCIA_REF}}</td>
                <td>{{MER_ESTADO}}</td>
                <td>
                    {{#if ABIERTA }}
                    <span class="k-checkbox">
                        <input type="checkbox" id="rd_C" name="MER_Estado_{{TARIMA}}" value="{{MER_Estado}}" />
                    </span>
                    {{/if}}

                </td>
            </tr>
        </script>


        @* Modales *@
        <div class="modal" id="Conoc_ConsolidadorModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Consulta de Consolidadores</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="divwithscroll">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="conoc_flt_Id" type="text" class="form-control" tabindex="1">
                                        <label for="conoc_flt_Id" class="control-label col-md-12">Id</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="md-form">
                                        <input id="conoc_flt_Nombre" type="text" class="form-control" tabindex="2">
                                        <label for="conoc_flt_Nombre" class="control-label col-md-12">Nombre</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <div class="btn-group" data-toggle="buttons">
                                            <button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="conocimientos.BuscarConsolidadorFiltro()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="conocimientos.limpiarFiltrosModal()" id=""><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*Encabezado del listar Peligrosidad*@
                                <div id="Conoc_ConsolidadorTable" class="table-responsive">
                                    @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                    <table id="Conoc_Consolidador_table1" data-toggle="table" class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th data-field="Id">Id</th>
                                                <th data-field="Nombre">Nombre</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Conoc_Consolidador_tablebody"></tbody>
                                    </table>
                                </div>

                                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                <script id="Conoc_Consolidadore_table-template" type="text/x-handlebars-template">
                                    <tr>
                                        <td>{{Id}}</td>
                                        <td>{{Nombre}}</td>
                                        <td>
                                            <button class="btn btn-elegant" onclick="conocimientos.pintarConsolidadores('{{Id}}','{{Nombre}}')"><i class="fas fa-edit"></i></button>
                                        </td>
                                    </tr>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModalConsigna" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Consulta de Consignatarios</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="divwithscroll">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="blo_flt_cod_consig" type="number" class="form-control" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                                        <label for="blo_flt_cod_consig" class="control-label col-md-12">ID</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <input id="blo_flt_nom_consig" type="text" class="form-control" tabindex="2">
                                        <label for="blo_flt_nom_consig" class="control-label col-md-12">NOMBRE</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <div class="btn-group" data-toggle="buttons">
                                            <button id="btn_filtrar_consig+" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="conocimientos.Modal_BuscarConsigna()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="conocimientos.Modal_limpiarFiltrosConsigna()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div id="divProcessing" style="display: none">
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, favor esperar . . . <img src="../../assets/images/ajax-loader.gif"></p>
                                </div>
                            </div>
                            <div class="row">
                                @*Encabezado del listar Consignatarios*@
                                <div id="BLO_TablaConsigna" class="table-responsive">
                                    <table id="BLO_Consigna_table" data-toggle="table" class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th data-field="Id">Código</th>
                                                <th data-field="Nombre">Consignatario</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="BLO_Consigna_tablebody"></tbody>
                                    </table>
                                </div>

                                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                <script id="BLO_Consigna_table-template" type="text/x-handlebars-template">
                                    <tr>
                                        <td>{{Id}}</td>
                                        <td>{{Nombre}}</td>
                                        <td>
                                            <button class="btn btn-elegant" onclick="conocimientos.Modal_SelectConsigna('{{Id}}', '{{Nombre}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </script>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

