﻿@{
    ViewBag.Title = "Consulta Contenedor/Manifiesto";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <title>Consulta Manifiesto Contenedor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_manifiestocontenedor_con")
    @Scripts.Render("~/bundles/js_mercancia_viajes")
    @Scripts.Render("~/bundles/js_mercancia_duas")
</head>
<body>
    <div class="container-fluid" id="div_consulta">
        @*<hr />*@
        <div class="row">
            <div class="col-md-6 offset-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar_ingresoMerc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="manifiestocontenedor_con.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</button>
                        <button id="btn_listar_ingresoMerc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="manifiestocontenedor_con.Refrescar()"><i class="fa fa-list" aria-hidden="true"></i></button>
                        @*<button id="btn_guardar_ingresoMerc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar" type="button" onclick="manifiestocontenedor_con.guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>*@
                        @*<button id="btn_editar_ingresoMerc" class="btn btn-elegant waves-effect waves-light fullHidden" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="manifiestocontenedor_con.Actualizar()"><i class="fas fa-edit"></i></button>*@
                        <button id="btn_conocimientos" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Ir a Conocimientos" type="button" onclick="manifiestocontenedor_con.redireccionar()"> Conocimientos  <i class="fas fa-arrow-right"></i></button>
                        &nbsp;&nbsp;
                        <button id="btn_limpiar_ingresoMerc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="manifiestocontenedor_con.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        @*<button id="btn_limpiar_ingresoMerc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="manifiestocontenedor_con.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>*@
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
        <form autocomplete="off" id="frm_ingresoMerc" class="frm_ingresoMerc">
            <input type="hidden" id="TMA_USU_REGISTRO" name="TMA_USU_REGISTRO" />
            <input type="hidden" id="TMA_USU_MODIFICO" name="TMA_USU_MODIFICO" />
            <input type="hidden" id="TMA_CLIENTE_NOMBRE" name="TMA_CLIENTE_NOMBRE" value="" />
            <div class="row">
                <div class="col-md-3"><h5>Consulta Contenedores/Manifiestos</h5></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_MOD_TRANSPORTE" class="control-label col-md-12">Modalidad Transporte</label>
                            <select id="TMA_MOD_TRANSPORTE" name="TMA_MOD_TRANSPORTE" class="form-control" tabindex=""></select>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input name="TMA_ID_MANIFIESTO" id="TMA_ID_MANIFIESTO" type="text" class="form-control" disabled>
                            <label for="TMA_ID_MANIFIESTO" class="control-label col-md-12">Id</label>
                        </div>
                    </div>

                    @*<div class="form-group disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_ID_MANIFIESTO" class="control-label col-md-12">Id</label>
                            <input type="text" class="form-control" name="TMA_ID_MANIFIESTO" id="TMA_ID_MANIFIESTO" disabled>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input name="TMA_MANIFIESTO" id="TMA_MANIFIESTO" type="text" class="form-control" tabindex="1" maxlength="20" onblur="manifiestocontenedor_con.onfocus()">
                            <label id="lbl_TMA_MANIFIESTO" for="TMA_MANIFIESTO" class="control-label col-md-12 lblfocus">Manifiesto</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_FCH_MANIFIESTO" class="control-label col-md-12">Fecha Manifiesto</label>
                            <input type="date" id="TMA_FCH_MANIFIESTO" name="TMA_FCH_MANIFIESTO" class="form-control" />

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_FCH_INGRESO" class="control-label col-md-12">Fecha Ingreso</label>
                            <input type="date" id="TMA_FCH_INGRESO" name="TMA_FCH_INGRESO" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="TMA_NUM_CONTENEDOR" id="TMA_NUM_CONTENEDOR" tabindex="2" maxlength="30">
                            <label for="TMA_NUM_CONTENEDOR" class="control-label col-md-12">Contenedor</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_NUM_CONTENEDOR" class="control-label col-md-12">Contenedor</label>
                            <input type="text" class="form-control" name="TMA_NUM_CONTENEDOR" id="TMA_NUM_CONTENEDOR" tabindex="3" maxlength="30">
                        </div>
                    </div>*@
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_FCH_REGIMEN" class="control-label col-md-12">Fecha Ingreso Régimen</label>
                            <input type="date" id="TMA_FCH_REGIMEN" name="TMA_FCH_REGIMEN" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_TIPO_CONTENEDOR" class="control-label col-md-12">Tipo Contenedor</label>
                            <select id="TMA_TIPO_CONTENEDOR" name="TMA_TIPO_CONTENEDOR" class="form-control" tabindex="3"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_TAMANO" class="control-label col-md-12">Tamaño</label>
                            <select id="TMA_TAMANO" name="TMA_TAMANO" class="form-control" tabindex="4"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_TDO_DOCUMENTO" class="control-label col-md-12">Tipo Documento</label>
                            <select id="TMA_TDO_DOCUMENTO" name="TMA_TDO_DOCUMENTO" class="form-control" tabindex="5"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_CLIENTE_TIPO" class="control-label col-md-12">Tipo Cliente:</label>
                            <select id="TMA_CLIENTE_TIPO" name="TMA_CLIENTE_TIPO" class="form-control" tabindex="6"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_CLIENTE_ID" class="control-label col-md-12">Cliente</label>
                                <select id="TMA_CLIENTE_ID" name="TMA_CLIENTE_ID" class="form-control" tabindex="7"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_FUN_FUNCIONARIO" class="control-label col-md-12">Funcionario Aduana</label>
                                <select id="TMA_FUN_FUNCIONARIO" name="TMA_FUN_FUNCIONARIO" class="form-control" tabindex="8"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <input type="text" id="TMA_ACTA_SUPERVISION" name="TMA_ACTA_SUPERVISION" class="form-control" />
                        <label for="TMA_ACTA_SUPERVISION" class="control-label col-md-12">Acta supervisión</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_ID_FUN_SUPERVISION" class="control-label col-md-12">Funcionario Aduana/Supervisión</label>
                                <select id="TMA_ID_FUN_SUPERVISION" name="TMA_ID_FUN_SUPERVISION" class="form-control" tabindex="8"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 fullHidden">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_PTO_PUERTO" class="control-label col-md-12">Puerto</label>
                                <select id="TMA_PTO_PUERTO" name="TMA_PTO_PUERTO" class="form-control" tabindex=""></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div id="tranportistaInt" class="demo-section k-content fullHidden">
                                <label for="TMA_AER_NAEROLINEA" class="control-label col-md-12">Transportista Int.</label>
                                <select id="TMA_AER_NAEROLINEA" name="TMA_AER_NAEROLINEA" class="form-control" tabindex=""></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_UBICACION_INGRESO" class="control-label col-md-12">Ubicación Origen</label>
                                <select id="TMA_UBICACION_INGRESO" name="TMA_UBICACION_INGRESO" class="form-control" tabindex="9"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_ADU_ENVIA" class="control-label col-md-12">Aduana Envía</label>
                                <select id="TMA_ADU_ENVIA" name="TMA_ADU_ENVIA" class="form-control" tabindex="10"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_ADU_RECIBE" class="control-label col-md-12">Aduana Recibe</label>
                                <select id="TMA_ADU_RECIBE" name="TMA_ADU_RECIBE" class="form-control" tabindex="11"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" name="TMA_ACTA_NUMERO" id="TMA_ACTA_NUMERO" tabindex="12" oninput="principal.maxLengthCheck(this)" maxlength="20">
                            <label for="TMA_ACTA_NUMERO" class="control-label col-md-12">Acta</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_ACTA_NUMERO" class="control-label col-md-12">Acta supervisión</label>
                            <input type="text" class="form-control" name="TMA_ACTA_NUMERO" id="TMA_ACTA_NUMERO" tabindex="14" oninput="principal.maxLengthCheck(this)" maxlength="20">
                        </div>
                    </div>*@
                </div>
                @*<div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_CODIGO_VUELO" class="control-label col-md-12">Código Vuelo</label>
                            <input type="text" class="form-control" name="TMA_CODIGO_VUELO" id="TMA_CODIGO_VUELO" tabindex="" maxlength="10" disabled>
                        </div>
                    </div>
                </div>*@
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_PORTON" class="control-label col-md-12">Portón</label>
                                <select id="TMA_PORTON" name="TMA_PORTON" class="form-control" tabindex="13"></select>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_PORTON" class="control-label col-md-12">Portón</label>
                            <input type="text" id="TMA_PORTON" name="TMA_PORTON" class="form-control" tabindex="16" maxlength="10" />
                        </div>
                    </div>*@
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="TMA_CHEQUEADOR" class="control-label col-md-12">Chequeador</label>
                                <select id="TMA_CHEQUEADOR" name="TMA_CHEQUEADOR" class="form-control" tabindex="14"></select>
                            </div>
                        </div>
                        @*<div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_CHEQUEADOR" class="control-label col-md-12">Chequeador</label>
                            <input type="text" id="TMA_CHEQUEADOR" name="TMA_CHEQUEADOR" class="form-control" tabindex="" maxlength="100" />
                        </div>*@
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div id="codVuelo" class="col-lg-12 col-md-12 col-sm-12 fullHidden">
                            <label for="TMA_CODIGO_VUELO" class="control-label col-md-12">Código Vuelo</label>
                            <input type="text" class="form-control" name="TMA_CODIGO_VUELO" id="TMA_CODIGO_VUELO" tabindex="" maxlength="10" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="TMA_PAB" id="TMA_PAB" class="k-checkbox">
                            <label class="k-checkbox-label" for="TMA_PAB">Permanencia a bordo</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="TMA_PALETIZADO" id="TMA_PALETIZADO" class="k-checkbox">
                            <label class="k-checkbox-label" for="TMA_PALETIZADO">Paletizado</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="TMA_EQUIPO_ESPECIAL" id="TMA_EQUIPO_ESPECIAL" class="k-checkbox">
                            <label class="k-checkbox-label" for="TMA_EQUIPO_ESPECIAL">Equipo especial</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="TMA_SEPARACIONES" id="TMA_SEPARACIONES" class="k-checkbox">
                            <label class="k-checkbox-label" for="TMA_SEPARACIONES">Separaciones</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="TMA_VIAJE_CONTINGENCIA" id="TMA_VIAJE_CONTINGENCIA" class="k-checkbox">
                            <label class="k-checkbox-label" for="TMA_VIAJE_CONTINGENCIA">Viaje contingencia</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="col-md-3"><h6>Viajes</h6></div>
                    <table id="tb_viajes" data-toggle="table" class="table table-fixed">
                        <tbody id="tbody_viajes"></tbody>
                    </table>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @*<button id="btn_agregar_viaje" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="manifiesto_viaje.pintaViajes()"><i class="fas fa-plus-square"></i></button>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-3"><h6>DUAs</h6></div>
                    <table id="tb_duas" data-toggle="table" class="table table-fixed">
                        <tbody id="tbody_duas"></tbody>
                    </table>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @*<button id="btn_agregar_dua" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="manifiesto_duas.pintaDuas()"><i class="fas fa-plus-square"></i></button>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="TMA_ESTADO" class="control-label col-md-12">Estado</label>
                            <select id="TMA_ESTADO" name="TMA_ESTADO" class="form-control" tabindex="17" disabled></select>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form autocomplete="off" id="frm_filtrosGeneral" class="frm_filtrosGeneral">
            <div class="container-fluid fullHidden div_ingresoMerc_filtros" id="div_ingresoMerc_filtros">
                <div class="row">
                    <div class="col-2">
                        <div class="md-form">
                            <input id="manifiesto" type="text" class="form-control" onkeyup="manifiestocontenedor_con.filtrar(this)" maxlength="20">
                            <label for="manifiesto" class="control-label col-md-12">Manifiesto</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form">
                            <input type="text" id="contenedor" class="form-control" onkeyup="manifiestocontenedor_con.filtrar(this)" />
                            <label for="contenedor" class="control-label col-md-12">Contenedor</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="md-form">
                            <input type="text" id="bl" class="form-control" onkeyup="manifiestocontenedor_con.filtrar(this)" />
                            <label for="bl" class="control-label col-md-12">BL</label>
                        </div>
                    </div>
                    <div class="col-3">
                       
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="demo-section k-content">
                                        <label for="consignatario" class="control-label col-md-12">Consignatario</label>
                                        <select id="consignatario" name="consignatario" class="form-control" tabindex="" onchange="manifiestocontenedor_con.buscarGeneral(this)"></select>
                                    </div>
                                </div>
                            </div>
                      
                        @*<div class="form-group">
                            <label for="consignatario" class="control-label col-md-12">Consignatario</label>
                            <select id="consignatario" class="form-control" ></select>
                        </div>*@
                    </div>
                    <div class="col-2">
                        <div class="md-form">
                            <input type="text" id="movimiento" class="form-control" onkeyup="manifiestocontenedor_con.filtrar(this)" />
                            <label for="movimiento" class="control-label col-md-12">Movimiento</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form">
                            <input type="text" id="consecutivo" class="form-control" onkeyup="manifiestocontenedor_con.filtrar(this)" />
                            <label for="consecutivo" class="control-label col-md-12">Consecutivo</label>
                        </div>
                    </div>
                </div>
            </div>

        </form>


            <div id="tbl_ingresoMerc" class="table-responsive fullHidden">
                <table id="ingresoMerc_table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="manifiesto" hidden>Manifiesto</th>
                            <th data-field="consecutivo">Consecutivo</th>
                            <th data-field="contenedor">Contenedor</th>
                            <th data-field="bl">BL</th>
                            <th data-field="dua">DUA</th>
                            <th data-field="cliente">Cliente</th>
                            <th data-field="viaje">Viaje</th>
                            <th data-field="consolidador">Consolidador</th>
                            <th data-field="movimiento">Movimiento</th>
                            @*<th data-field="TMA_MANIFIESTO">Manifiesto</th>*@
                            @*<th data-field="TMA_FCH_MANIFIESTO">Fecha manifiesto</th>*@
                            @*<th data-field="AEROLINEA">Transportista (Aerolínea)</th>*@
                            @*<th data-field="TMA_CLIENTE_NOMBRE">Cliente</th>*@
                            @*<th data-field="tma_num_contenedor">Contenedor</th>*@
                            @*<th data-field="tipo_contenedor">Tipo contenedor</th>*@
                            <th>Consultar</th>
                        </tr>
                    </thead>
                    <tbody id="ingresoMerc_tablebody"></tbody>
                </table>
            </div>
            <script id="ingresoMerc_table-template" type="text/x-handlebars-template">
                <tr>
                    <td hidden>{{manifiesto}}</td>
                    <td>{{consecutivo}}</td>
                    <td>{{contenedor}}</td>
                    <td>{{bl}}</td>
                    <td>{{dua}}</td>
                    <td>{{cliente}}</td>
                    <td>{{viaje}}</td>
                    <td>{{consolidador}}</td>
                    <td>{{movimiento}}</td>
                    @*<td>{{TMA_MANIFIESTO}}</td>*@
                    @*<td>{{TMA_FCH_MANIFIESTO}}</td>*@
                    @*<td>{{AEROLINEA}}</td>*@
                    @*<td>{{TMA_CLIENTE_NOMBRE}}</td>*@
                    @*<td>{{TMA_NUM_CONTENEDOR}}</td>*@
                    @*<td>{{TIPO_CONTENEDOR}}</td>*@
                    <td><button class="btn btn-elegant" data-toggle="tooltip" title="Cargar" onclick="manifiestocontenedor_con.editar('{{manifiesto}}')"><i class="fas fa-spinner" aria-hidden="true"></i></button></td>
                </tr>
            </script>
</div>
</body>
</html>
