﻿@{
    ViewBag.Title = "Modificar Tarimas";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <link href="~/assets/icomoon/demo.css" rel="stylesheet" />
    <title>Modificación de Tarimas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
        @*<hr />*@
        <div class="row">
            <div id="div_titulo" class="col-6"><h4>Modificación de Tarimas</h4></div>
            <div class="col-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar_conocimientos" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Ir a Conocimientos" type="button" onclick="tarimas_modificar.redirectConocimientos()"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Conocimientos</button>
                        <button id="btn_regresar_tarimas" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarimas_modificar.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar</button>

                        <button id="btn_cerrar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Cerrar Tarimas" type="button" onclick="sumatoria.Tarimas_Cerrar()"><i class="fa fa-lock" aria-hidden="true"></i></button>
                        <button id="btn_selec" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Seleccionar todas" type="button" onclick="sumatoria.SeleccionaTodas()"><i class="fas fa-check-circle" aria-hidden="true"></i></button>
                        <button id="btn_deselec" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Deseleccionar todas" type="button" onclick="sumatoria.DesSeleccionaTodas()"><i class="fas fa-times-circle" aria-hidden="true"></i></button>

                        <button id="btn_listar_tarimas" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Listar" type="button" onclick="tarimas_modificar.RefrescarTarimas()"><i class="fa fa-list" aria-hidden="true"></i></button>
                        @*<button id="btn_guardar_tarimas" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar" type="button" onclick="tarimas_modificar.guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>*@
                        <button id="btn_editar_tarimas" class="btn btn-elegant waves-effect waves-light fullHidden" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="tarimas_modificar.Actualizar()"><i class="fas fa-edit"></i></button>
                        <button id="btn_listar_tarimas_consec" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Sumatoria Tarimas" type="button" onclick="tarimas_modificar.Refrescar()"><i class="icon icon-sigma"></i></button>
                        <button id="btn_fracciona_tarimas" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Fraccionamiento Tarimas" type="button" onclick="tarimas_modificar.Fraccionar()"><i class="fas fa-boxes"></i></button>
                        &nbsp;&nbsp;
                        <button id="btn_limpiar_tarimas" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="tarimas_modificar.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_tarimas_filtros" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar filtros" type="button" onclick="tarimas_modificar.limpiaFiltros()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="USER_MERX" name="USER_MERX" value="@ViewData["User"]" />

        <form autocomplete="off" id="frm_tarimas" class="frm_tarimas">
            <input type="hidden" id="MER_USUARIO" name="MER_USUARIO" value="@ViewData["User"]" />
            <input type="hidden" id="USER_MERX" name="USER_MERX" value="@ViewData["User"]" />
            <input type="hidden" id="MER_USER_MERX" name="MER_USER_MERX" value="@ViewData["User"]" />
            <div class="row">
                <div class="frm_tarima_info col-10" id="frm_tarima_info">
                    <fieldset id="tarima_fieldset">
                        <div class="row" id="resumen_field">
                            <div class="col-2">
                                <div class="md-form divResumen">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="IEN_DUA_R" id="IEN_DUA_R" disabled />
                                        <label for="IEN_DUA_R" class="control-label col-md-12">DUA</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="md-form divResumen">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="IEN_ENTRADA" id="IEN_ENTRADA" value="" disabled>
                                        <label for="IEN_ENTRADA" class="control-label col-md-12">Consecutivo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="md-form divResumen">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="IEN_GUIA_ORIGINAL" id="IEN_GUIA_ORIGINAL" disabled>
                                        <label for="IEN_GUIA_ORIGINAL" class="control-label col-md-12">Conocimiento (BL/Guia)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="md-form divResumen">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="TOT_BULTOS" id="TOT_BULTOS" disabled>
                                        <label for="TOT_BULTOS" class="control-label col-md-12">Total Bultos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="md-form divResumen">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" name="TOT_KILOS" id="TOT_KILOS" disabled>
                                        <label for="TOT_KILOS" class="control-label col-md-12">Total Kilos</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-2">
                    <br />
                    <div class="col-6"><h5 id="etiqueta_tarima"><strong>Tarima</strong> </h5></div>
                    <div class="col-6"><h4><strong style="text-decoration-line:underline; text-decoration-style:dotted;" id="TarimaTitulo"></strong></h4></div>
                </div>
            </div>
            <input type="hidden" id="IEN_USU_DIGITO" name="IEN_USU_DIGITO" value="@ViewData["User"]" />
            <div class="col-3">
                <div class="form-group disabled fullHidden">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="MER_ID_MERCANCIA" class="control-label col-md-12">Tarima</label>
                        <input type="text" class="form-control" name="MER_ID_MERCANCIA" id="MER_ID_MERCANCIA" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="MER_PUESTO_CHEQUEO" class="control-label col-md-12">Puesto Chequeo</label>
                                <select id="MER_PUESTO_CHEQUEO" name="MER_PUESTO_CHEQUEO" class="form-control" tabindex=""></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" class="form-control" name="MER_BULTOS_DESPALETIZADOS" id="MER_BULTOS_DESPALETIZADOS" tabindex="2" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="12" onblur="tarimas_modificar.onfocus()">
                            <label id="lbl_MER_BULTOS_DESPALETIZADOS" for="MER_BULTOS_DESPALETIZADOS" class="control-label col-md-12 lblfocus">Bultos Tarima</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control number" name="MER_KILOS_BRUTO" id="MER_KILOS_BRUTO" tabindex="3">
                            <label for="MER_KILOS_BRUTO" class="control-label col-md-12">Kilos Bruto</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" class="form-control" name="MER_KILOS_TARIMA" id="MER_KILOS_TARIMA" tabindex="4">
                            <label for="MER_KILOS_TARIMA" class="control-label col-md-12">Kilos Tarima</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_KILOS_NETO" name="MER_KILOS_NETO" class="form-control" maxlength="11" tabindex="" disabled />
                            <label id="lbl_MER_KILOS_NETO" for="MER_KILOS_NETO" class="control-label col-md-12">KilosNeto</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="MER_TME_MERCANCIA" class="control-label col-md-12">Tipo Mercancía</label>
                                <select class="form-control" name="MER_TME_MERCANCIA" id="MER_TME_MERCANCIA" tabindex="6"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="MER_TEM_EMBALAJE" class="control-label col-md-12">Embalaje</label>
                                <select class="form-control" name="MER_TEM_EMBALAJE" id="MER_TEM_EMBALAJE" tabindex="7"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_AVE_AVERIA" class="control-label col-md-12">Condición</label>
                            <select id="MER_AVE_AVERIA" name="MER_AVE_AVERIA" class="form-control" tabindex="8"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-1 align-self-center">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="" class="control-label col-md-12">Volumen (m&sup3;):</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_LARGO" name="MER_LARGO" class="form-control" tabindex="9" disabled>
                            <label for="MER_LARGO" class="control-label col-md-12">Largo</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_ALTO" name="MER_ALTO" class="form-control" data-id="" tabindex="10" disabled>
                            <label for="MER_ALTO" class="control-label col-md-12">Alto</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form disabled">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_ANCHO" name="MER_ANCHO" class="form-control" data-id="" tabindex="11" disabled>
                            <label for="MER_ANCHO" class="control-label col-md-12">Ancho</label>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="MER_TIP_CODIGO_IATA" class="control-label col-md-12">Peligrosidad IATA</label>
                                <select class="form-control" name="MER_TIP_CODIGO_IATA" id="MER_TIP_CODIGO_IATA" tabindex="12"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_CODIGO_UN" name="MER_CODIGO_UN" class="form-control" tabindex="13" onblur="tarimas_modificar.validacionCodigo()" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                            <label for="MER_CODIGO_UN" class="control-label col-md-12">Código UN</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" class="form-control" name="MER_INDICE_TRANS" id="MER_INDICE_TRANS" tabindex="14" onblur="tarimas_modificar.validacionIndice()">
                            <label for="MER_INDICE_TRANS" class="control-label col-md-12">Indice Transporte(Rd)</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_DESCRIPCION" name="MER_DESCRIPCION" class="form-control" tabindex="15" maxlength="300" />
                            <label id="lbl_MER_DESCRIPCION" for="MER_DESCRIPCION" class="control-label col-md-12">Descripción</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_MARCAS" name="MER_MARCAS" class="form-control" tabindex="16" maxlength="30" />
                            <label for="MER_MARCAS" class="control-label col-md-12">Marcas</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_OPERACION_TICA" class="control-label col-md-12">Operación TICA</label>
                            <select id="MER_OPERACION_TICA" name="MER_OPERACION_TICA" class="form-control" tabindex="18" onchange="tarimas_modificar.validacionOperacion()"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label" for="MER_OBSERVACIONES">Observaciones</label>
                            <textarea class="form-control" tabindex="19" id="MER_OBSERVACIONES" name="MER_OBSERVACIONES" maxlength="300"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-center">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="MER_PERECEDERO" id="MER_PERECEDERO" class="k-checkbox">
                            <label class="k-checkbox-label" for="MER_PERECEDERO">¿Es perecedera?</label>
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-center">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="MER_REFRIGERADO" id="MER_REFRIGERADO" class="k-checkbox">
                            <label class="k-checkbox-label" for="MER_REFRIGERADO">¿Es refrigerada?</label>
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-center">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="checkbox" name="MER_ARMAS" id="MER_ARMAS" class="k-checkbox">
                            <label class="k-checkbox-label" for="MER_ARMAS">¿Es arma o munición?</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2 align-self-center">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="" class="control-label col-md-12">Fraccionamiento:</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_ID_MERCANCIA_REF" class="control-label col-md-12">Tarima Referencia</label>
                            <select id="MER_ID_MERCANCIA_REF" name="MER_ID_MERCANCIA_REF" class="form-control" tabindex="19" disabled></select>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="bultosRef" name="bultosRef" />
                <div class="col-2" hidden>
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_BULTOS_REF" name="MER_BULTOS_REF" class="form-control" tabindex="20" onblur="tarimas_modificar.validacionBultosRef()">
                            <label for="MER_BULTOS_REF" class="control-label col-md-12">Bultos Referencia</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_ESTADO" class="control-label col-md-12">Estado</label>
                            <select id="MER_ESTADO" name="MER_ESTADO" class="form-control" tabindex="21" onchange=""></select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-9">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_ACCION" name="MER_ACCION" class="form-control" tabindex="29" disabled />
                            <label for="MER_ACCION" class="control-label col-md-12">Acción</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_TRANSMISION" name="MER_TRANSMISION" class="form-control" tabindex="30" disabled />
                            <label for="MER_TRANSMISION" class="control-label col-md-12">Transmitir?</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_FCH_TRANSMISION" name="MER_FCH_TRANSMISION" class="form-control" tabindex="31" disabled />
                            <label for="MER_FCH_TRANSMISION" class="control-label col-md-12 lblfocus">Fecha Transmisión</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_USUARIO_TRANSMISION" name="MER_USUARIO_TRANSMISION" class="form-control" tabindex="32" disabled />
                            <label for="MER_USUARIO_TRANSMISION" class="control-label col-md-12">Usuario Transmite</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_ARCHIVO_TRANSMISION" name="MER_ARCHIVO_TRANSMISION" class="form-control" tabindex="33" disabled />
                            <label for="MER_ARCHIVO_TRANSMISION" class="control-label col-md-12">Archivo</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_FCH_LOCALIZACION" name="MER_FCH_LOCALIZACION" class="form-control" tabindex="39" disabled />
                            <label for="MER_FCH_LOCALIZACION" class="control-label col-md-12 lblfocus">Fecha de Localización</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_ERROR" name="MER_ERROR" class="form-control" tabindex="34" disabled />
                            <label for="MER_ERROR" class="control-label col-md-12">Error Tica</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fullHidden">
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_LOC_RACK" name="MER_LOC_RACK" class="form-control" tabindex="35" onblur="tarimas_modificar.validacionRack()" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="2">
                            <label for="MER_LOC_RACK" class="control-label col-md-12">Rack</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_LOC_COLUMNA" name="MER_LOC_COLUMNA" class="form-control" tabindex="36">
                            <label for="MER_LOC_COLUMNA" class="control-label col-md-12">Columna</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_LOC_LADO" name="MER_LOC_LADO" class="form-control" tabindex="37">
                            <label for="MER_LOC_LADO" class="control-label col-md-12">Lado</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="number" id="MER_LOC_ALTURA" name="MER_LOC_ALTURA" class="form-control" tabindex="38">
                            <label for="MER_LOC_ALTURA" class="control-label col-md-12">Altura</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_MOT_ULTIMA_MODIFICACION" class="control-label col-md-12">Motivo</label>
                            <select id="MER_MOT_ULTIMA_MODIFICACION" name="MER_MOT_ULTIMA_MODIFICACION" class="form-control" tabindex="41"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_SOLICITA_CAMBIO" name="MER_SOLICITA_CAMBIO" class="form-control" tabindex="42" maxlength="30" />
                            <label class="control-label col-md-12" for="MER_SOLICITA_CAMBIO">Solicitante</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label col-md-12" for="MER_DEPARTAMENTO">Departamento Responsable</label>
                            <select id="MER_DEPARTAMENTO" name="MER_DEPARTAMENTO" class="form-control" tabindex="43"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text" id="MER_RESPONSABLE_ERROR" name="MER_RESPONSABLE_ERROR" class="form-control" tabindex="44" maxlength="30" />
                            <label class="control-label col-md-12" for="MER_RESPONSABLE_ERROR">Responsable</label>
                        </div>
                    </div>
                </div>
            </div>








            <div class="row fullHidden">
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_LOC_RACK" class="control-label col-md-12">Rack</label>
                            <input type="number" id="MER_LOC_RACK" name="MER_LOC_RACK" class="form-control" tabindex="22" onblur="tarimas_modificar.validacionRack()" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="2">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_LOC_COLUMNA" class="control-label col-md-12">Columna</label>
                            <input type="number" id="MER_LOC_COLUMNA" name="MER_LOC_COLUMNA" class="form-control" tabindex="23">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_LOC_LADO" class="control-label col-md-12">Lado</label>
                            <input type="number" id="MER_LOC_LADO" name="MER_LOC_LADO" class="form-control" tabindex="24">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="MER_LOC_ALTURA" class="control-label col-md-12">Altura</label>
                            <input type="number" id="MER_LOC_ALTURA" name="MER_LOC_ALTURA" class="form-control" tabindex="25">
                        </div>
                    </div>
                </div>
                @*<div class="col-3">
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label for="ETIQUETAS" class="control-label col-md-12">Etiquetas</label>
                    <input type="text" id="ETIQUETAS" name="ETIQUETAS" class="form-control" tabindex="26">
                </div>
            </div>
            </div>*@
            </div>
        </form>

        @* cuadro resumen *@
        <div class="frm_tarima_resumen fullHidden" id="frm_tarima_resumen">
            <fieldset id="tarima_resumen_fieldset">
                <div class="row col-lg-12 col-md-12 col-sm-12">
                    <div class="col-2">
                        <div class="md-form divResumen">
                            <div class="col-lg-12 col-md-12 col-sm-12 disabled">
                                <input type="text" class="form-control" name="IEN_DUA_Z" id="IEN_DUA_Z" disabled />
                                <label id="" for="IEN_DUA_Z" class="control-label col-md-12">DUA</label>
                            </div>
                        </div>
                        @*<div class="md-form divResumen">
                                <div class="col-lg-12 col-md-12 col-sm-12 disabled">
                                    <input type="text" class="form-control" name="IEN_MANIFIESTO_Z" id="IEN_MANIFIESTO_Z" disabled />
                                    <label id="" for="" class="control-label col-md-12">Manifiesto</label>
                                </div>
                            </div>*@
                    </div>
                    <div class="col-2">
                        <div class="md-form divResumen">
                            <div class="col-lg-12 col-md-12 col-sm-12 disabled">
                                <input type="text" class="form-control" name="CONTENEDOR" id="CONTENEDOR" value="" disabled>
                                <label for="" class="control-label col-md-12">Contenedor</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form divResumen">
                            <div class="col-lg-12 col-md-12 col-sm-12 disabled">
                                <input type="text" class="form-control" name="IEN_GUIA_ORIGINAL_Z" id="IEN_GUIA_ORIGINAL_Z" disabled>
                                <label for="" class="control-label col-md-12">Conocimiento/BL/Guia</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form divResumen">
                            <div class="col-lg-12 col-md-12 col-sm-12 disabled">
                                <input type="text" class="form-control" name="CANT_TARIMAS" id="CANT_TARIMAS" disabled>
                                <label for="" class="control-label col-md-12">Total Tarimas</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form divResumen">
                            <div class="col-lg-12 col-md-12 col-sm-12 disabled">
                                <input type="text" class="form-control" name="TOT_BULTOS_Z" id="TOT_BULTOS_Z" disabled>
                                <label for="" class="control-label col-md-12">Total Bultos</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="md-form divResumen">
                            <div class="col-lg-12 col-md-12 col-sm-12 disabled">
                                <input type="text" class="form-control" name="TOT_KILOS_Z" id="TOT_KILOS_Z" disabled>
                                <label for="" class="control-label col-md-12">Total Kilos</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        @* Filtros de la lista de tarimas abiertas *@
        <div class="container-fluid fullHidden div_tarimas_filtros" id="div_tarimas_filtros">
            <div class="row">
                <div class="col-2">
                    <div class="md-form">
                        <input id="tarima_flr_ien_entrada" type="text" class="form-control" onkeyup="tarimas_modificar.filtrar(this)">
                        <label for="tarima_flr_ien_entrada" class="control-label col-md-12">Tarima</label>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="MER_TME_MERCANCIA_FILTRO" class="control-label col-md-12">Tipo Mercancía</label>
                                <select class="form-control" name="MER_TME_MERCANCIA_FILTRO" id="MER_TME_MERCANCIA_FILTRO"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Tabla de las tarimas abiertas *@
        <div id="tbl_tarimas" class="table-responsive fullHidden">
            <table id="tarimas_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="MER_ID_MERCANCIA">Tarima </th>
                        <th data-field="DES_MERCANCIA">Tipo Mercancía</th>
                        <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos</th>
                        <th data-field="MER_KILOS_BRUTO">Kilos</th>
                        <th data-field="DESAVERIAS">Condición</th>
                        <th data-field="MER_DESCRIPCION">Descripción</th>
                        <th data-field="ESTADO">Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tarimas_tablebody"></tbody>
            </table>
        </div>
        <script id="tarimas_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{MER_ID_MERCANCIA}}</td>
                <td>{{DES_MERCANCIA}}</td>
                <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                <td>{{MER_KILOS_BRUTO}}</td>
                <td>{{DESAVERIAS}}</td>
                <td>{{MER_DESCRIPCION}}</td>
                <td>{{ESTADO}}</td>
                <td>
                    <button class="btn btn-elegant" onclick="tarimas_modificar.editar('{{MER_ID_MERCANCIA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button class="btn btn-elegant" onclick="tarimas_modificar.Tarima_Borrar('{{MER_ID_MERCANCIA}}')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        </script>





        @* Filtros de la lista de tarimas en todos los estados *@
        <div class="container-fluid fullHidden div_tarimas_filtrosZ" id="div_tarimas_filtrosZ">
            <div class="row">
                <div class="col-2">
                    <div class="md-form">
                        <input id="tarima_flr_ien_entradaZ" type="text" class="form-control" onkeyup="sumatoria.filtrarSumatoria(this)">
                        <label for="tarima_flr_ien_entradaZ" class="control-label col-md-12">Tarima</label>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="demo-section k-content">
                                <label for="MER_TME_MERCANCIA_FILTROZ" class="control-label col-md-12">Tipo Mercancía</label>
                                <select class="form-control" name="MER_TME_MERCANCIA_FILTROZ" id="MER_TME_MERCANCIA_FILTROZ"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Tabla de tarimas en todos los estados *@
        <div id="tbl_tarimas_cons" class="table-responsive fullHidden">
            <table id="tarimas_cons_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="TARIMA">Tarima </th>
                        <th data-field="DES_MERCANCIA">Tipo Mercancía</th>
                        <th data-field="BULTOS_TARIMA">Bultos</th>
                        <th data-field="KILOS_NETO">Kilos</th>
                        @*<th data-field="KILOS_TARIMA">Kilos Tarima</th>*@
                        <th data-field="DESAVERIAS">Condición</th>
                        <th data-field="DES_OPER_TICA">Operación</th>
                        <th data-field="MER_ID_MERCANCIA_REF">Tarima Referencia</th>
                        @*<th data-field="MER_DESCRIPCION">Descripción</th>*@
                        <th data-field="MER_ESTADO">Estado</th>
                        <th data-field="">Cerrar</th>
                    </tr>
                </thead>
                <tbody id="tarimas_cons_tablebody"></tbody>
            </table>
        </div>
        <script id="tarimas_cons_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{TARIMA}}</td>
                <td>{{DES_MERCANCIA}}</td>
                <td>{{BULTOS_TARIMA}}</td>
                <td>{{KILOS_NETO}}</td>
                @*<td>{{KILOS_TARIMA}}</td>*@
                <td>{{DESAVERIAS}}</td>
                @*<td>{{MER_DESCRIPCION}}</td>*@
                <td>{{DES_OPER_TICA}}</td>
                <td>{{MER_ID_MERCANCIA_REF}}</td>
                <td>{{MER_ESTADO}}</td>
                <td>
                    {{#if ABIERTA }}
                    <span class="k-checkbox">
                        <input type="checkbox" id="rd_C" name="MER_Estado_{{TARIMA}}" value="{{MER_Estado}}" />
                    </span>
                    {{/if}}

                </td>
            </tr>
        </script>




        @*Proceso de fraccionamiento*@
        <div id="fracci" class="fullHidden">

            <div class="col-6"><h5>Cálculo Bultos Referencia</h5></div>
            <div class="row">
                <div class="col-md-3" id="div_tarifa">
                    @*<input type="hidden" id="id_mov_tarifa" name="id_mov_tarifa" />*@
                    <label for="FRAC_REFERENCIA" class="control-label col-md-12">Referencia</label>
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <select id="FRAC_REFERENCIA" name="FRAC_REFERENCIA" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input id="FRAC_BULTOS" name="FRAC_BULTOS" type="text" class="form-control" tabindex="">
                            <label for="FRAC_BULTOS" class="control-label col-md-12">Bultos</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button id="btn_actualiza_fracc" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar y Calcular" type="button" onclick="tarimas_modificar.CalcularBultosRef()"><i class="fas fa-calculator"></i></button>
                    </div>
                </div>
            </div>
        </div>

        @* Tabla de tarimas referencia y sus movimientos para calcular los bultos referencia *@
        <div id="tbl_tarimas_ref" class="table-responsive fullHidden">
            <table id="tarimas_ref_table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="MER_MOV_INVENTARIO">Movimiento</th>
                        <th data-field="BL">Guía/BL</th>
                        <th data-field="OPERACION">Operación</th>
                        @*<th data-field="MER_ID_MERCANCIA"></th>*@
                        <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos</th>
                        @*<th data-field="MER_KILOS_BRUTO"></th>*@
                        <th align="center" data-field="MOV_REF">Referencia</th>
                        <th data-field="BLT_REF">Bultos Referencia</th>
                    </tr>
                </thead>
                <tbody id="tarimas_ref_tablebody"></tbody>
            </table>
        </div>
        <script id="tarimas_ref_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{MER_MOV_INVENTARIO}}</td>
                <td>{{BL}}</td>
                <td>{{OPERACION}}</td>
                @*<td>{{MER_ID_MERCANCIA}}</td>*@
                <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                @*<td>{{MER_KILOS_BRUTO}}</td>*@
                <td>{{MOV_REF}}</td>
                <td>{{BLT_REF}}</td>
            </tr>
        </script>




    </div>
</body>
</html>
@Scripts.Render("~/bundles/js_tarimas_modificar")
<script src="~/assets/icomoon/demo.js"></script>
<script src="~/assets/icomoon/liga.js"></script>