﻿@model WebNSI.Models.Usuario

@{
    /**/
  
    Layout = null;
}

    <script type="text/javascript">

        $(document).ready(function () {            
        });

        function Validar()
        {
            if ($("#User").val() == "" && $("#Password").val() == "") {
                swal({
                    title: "Almacenadora",
                    text: 'Debe digitar Usuario y contraseña.',
                    icon: "error",
                    button: "OK!",

                }).then((value) => {
                    $('#User').focus();                  
                });
                return false;
            }
            if ($("#User").val() != "" && $("#Password").val() == "") {
                swal({
                    title: "Almacenadora",
                    text: 'Debe digitar contraseña.',
                    icon: "error",
                    button: "OK!",

                }).then((value) => {
                    $('#User').focus();
                });
                return false;
            }
            if ($("#User").val() == "" && $("#Password").val() != "") {
                swal({
                    title: "Almacenadora",
                    text: 'Debe digitar el Usuario.',
                    icon: "error",
                    button: "OK!",

                }).then((value) => {
                    $('#User').focus();                   
                });
                 return false;
            }
            if ($("#User").val() != "" && $("#Password").val() != "") {
                return true;
            }
        }

        function check() {
            if ('@ViewBag.Error' == "E") {
                swal({
                    title: "Almacenadora",
                    text: 'Usuario o contraseña incorrectos.',
                    icon: "error",
                    button: "OK!",

                }).then((value) => {
                     $('#User').focus();
                });              
                //$('#alert_msg').removeAttr('hidden');
                //alert('Usuario o contraseña incorrectos');
            }       
        }

    </script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MERX | Almacenadora</title>
    <link rel="shortcut icon" href="~/assets/images/MERX.ico" />
    @Styles.Render("~/Content/css_login")
    <style>
        .input-group-prepend span {
            width: 50px;
            background-color: #C29F34;
            color: white;
            border: 0 !important;
        }

        .form-control {
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1.2rem;
            line-height: 1.6;
            color: black !important;
            background-color: white !important;
            background-clip: padding-box;
            border: 1px solid #28a745;
            border-radius: 0;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            width: 500px;
            margin-top: 80px;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>
</head>


<body onload="check()">
    <div id="header">
        <header>
            <nav class="navbar navbar-toggleable-md navbar-dark graphite-gradient">
                <div>
                    <span class="navbar-brand">
                        <img class="img-fluid img-responsive" src="~/assets/images/merx_logo_36x36.png" style="width:40px;height:40px" />
                    </span>
                    <span class="navbar-brand" href="#">
                        <strong>@Html.ActionLink("Almacenadora", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })</strong>
                    </span>
                </div>
            </nav>
        </header>
    </div>
    
    <div id="body">
        <div class="container">
            <div class="container-fluid">
                <div id="logoStyle">
                    <a>
                        <img src="../assets/images/MERX_IDENTITIFICACION_USUARIO_02.png" id="logo" class="col-lg-8 col-md-12 col-sm-12" style="width: 500px; height:300px" />
                    </a>
                </div>
            </div>
            <div class="row login col-sm-10 col-md-12 col-lg-12">

                @using (Html.BeginForm("Authorization", "Login", FormMethod.Post, new { @class = "col-lg-4", onsubmit = "return  Validar();"}))
                {
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Usuario" id="User" name="User">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña" id="Password" name="Password">
                    </div>
                    <div class="form-group">
                        <input id="submitButton" type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                    <div id="alert_msg" class="alert" hidden>
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>Error!</strong> Usuario o contraseña incorrectos.
                    </div>
                }
            </div>
        </div>
    </div>

    @*<div id="footer" class="container-fluid body-content">
            <footer class="page-footer center-on-small-only stylish-color-dark">
                <!--Copyright-->
                <div class="footer-copyright">
                    <div class="container-fluid">
                        © 2017 Copyright: <a href=""> Grupo Pasqui</a>
                    </div>
                </div>
                <!--/.Copyright-->
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js_login")
</body>
</html>
