﻿@{
    ViewBag.Title = "Atención Sala";
    ViewData["User"] = Session["user"];
}

@Scripts.Render("~/bundles/js_atencion_sala")


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"><h4>Atención Sala</h4></div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="monitoreo-tab" data-toggle="tab" href="#monitoreo" role="tab" aria-controls="monitoreo" aria-selected="true">Monitoreo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="usuarios-tab" data-toggle="tab" href="#usuarios" role="tab" aria-controls="usuarios" aria-selected="false">Usuarios</a>
        </li>
    </ul>
</div>

<input type="hidden" id="TabActive" name="TabActive" />
<input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="monitoreo" role="tabpanel" aria-labelledby="monitoreo-tab">
        <hr class="espacio"/>
        <div class="row">
            <div class="col-lg-6">
                <div id="th_AtencionSala" class="table-responsive">
                    <table id="F_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="2">FACTURACIÓN</th>
                                <th colspan="2"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th data-field="ATS_ID" hidden>ID</th>
                                <th data-field="ATS_TIPO_COLA" hidden>TIPO COLA</th>
                                <th data-field="ATS_TIQUETE">Tiquete</th>
                                <th data-field="ATS_FCH_IMPRESO">Impreso</th>
                                <th data-field="ATS_ESTADO">Estado</th>
                                <th data-field="ATS_FCH_ATENDIDO">Atendido</th>
                                <th data-field="USUARIO_DISPLAY">Usr. Atendió</th>
                                <th data-field="ATS_PRIORIDAD">Prior.</th>
                            </tr>
                        </thead>
                        <tbody id="F_table1body"></tbody>
                    </table>
                </div>

                <script id="F_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{ATS_ID}}</td>
                        <td hidden>{{ATS_TIPO_COLA}}</td>
                        <td>{{ATS_TIQUETE}}</td>
                        <td>{{ATS_FCH_IMPRESO}}</td>
                        <td>
                            {{#if PENDIENTE }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Atender('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                            {{/if}}
                            {{#if ATENDIDO }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Finalizar('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_NoPresente('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="No Presente" type="button"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></button>
                            {{/if}}
                        </td>
                        <td>{{ATS_FCH_ATENDIDO}}</td>
                        <td>{{USUARIO_DISPLAY}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{ATS_ID}}" name="ATS_PRIORIDAD" value="{{ATS_PRIORIDAD}}" disabled />
                            </span>
                        </td>
                    </tr>
                </script>
            </div>

            <div class="col-lg-6">
                <div id="th_AtencionSala" class="table-responsive">
                    <table id="C_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="2">CONTADO</th>
                                <th colspan="2"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th data-field="ATS_ID" hidden>ID</th>
                                <th data-field="ATS_TIPO_COLA" hidden>TIPO COLA</th>
                                <th data-field="ATS_TIQUETE">Tiquete</th>
                                <th data-field="ATS_FCH_IMPRESO">Impreso</th>
                                <th data-field="DESC_ESTADO">Estado</th>
                                <th data-field="ATS_FCH_ATENDIDO">Atendido</th>
                                <th data-field="USUARIO_DISPLAY">Usr. Atendió</th>
                                <th data-field="ATS_PRIORIDAD">Prior.</th>
                            </tr>
                        </thead>
                        <tbody id="C_table1body"></tbody>
                    </table>
                </div>

                <script id="C_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{ATS_ID}}</td>
                        <td hidden>{{ATS_TIPO_COLA}}</td>
                        <td>{{ATS_TIQUETE}}</td>
                        <td>{{ATS_FCH_IMPRESO}}</td>
                        <td>
                            {{#if PENDIENTE }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Atender('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                            {{/if}}
                            {{#if ATENDIDO }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Finalizar('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_NoPresente('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="No Presente" type="button"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></button>
                            {{/if}}
                        </td>
                        <td>{{ATS_FCH_ATENDIDO}}</td>
                        <td>{{USUARIO_DISPLAY}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{ATS_ID}}" name="ATS_PRIORIDAD" value="{{ATS_PRIORIDAD}}" disabled />
                            </span>
                        </td>
                    </tr>
                </script>
            </div>
        </div>
        <hr class="espacio" />
        <div class="row">
            <div class="col-lg-6">
                <div id="th_AtencionSala" class="table-responsive">
                    <table id="T_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="2">TRÁMITE PERSONAL</th>
                                <th colspan="2"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th data-field="ATS_ID" hidden>ID</th>
                                <th data-field="ATS_TIPO_COLA" hidden>TIPO COLA</th>
                                <th data-field="ATS_TIQUETE">Tiquete</th>
                                <th data-field="ATS_FCH_IMPRESO">Impreso</th>
                                <th data-field="ATS_ESTADO">Estado</th>
                                <th data-field="ATS_FCH_ATENDIDO">Atendido</th>
                                <th data-field="USUARIO_DISPLAY">Usr. Atendió</th>
                                <th data-field="ATS_PRIORIDAD">Prior.</th>
                            </tr>
                        </thead>
                        <tbody id="T_table1body"></tbody>
                    </table>
                </div>

                <script id="T_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{ATS_ID}}</td>
                        <td hidden>{{ATS_TIPO_COLA}}</td>
                        <td>{{ATS_TIQUETE}}</td>
                        <td>{{ATS_FCH_IMPRESO}}</td>
                        <td>
                            {{#if PENDIENTE }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Atender('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                            {{/if}}
                            {{#if ATENDIDO }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Finalizar('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_NoPresente('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="No Presente" type="button"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></button>
                            {{/if}}
                        </td>
                        <td>{{ATS_FCH_ATENDIDO}}</td>
                        <td>{{USUARIO_DISPLAY}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{ATS_ID}}" name="ATS_PRIORIDAD" value="{{ATS_PRIORIDAD}}" disabled />
                            </span>
                        </td>
                    </tr>
                </script>
            </div>

            <div class="col-lg-6">
                <div id="th_AtencionSala" class="table-responsive">
                    <table id="G_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="2">CONSULTAS</th>
                                <th colspan="2"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th data-field="ATS_ID" hidden>ID</th>
                                <th data-field="ATS_TIPO_COLA" hidden>TIPO COLA</th>
                                <th data-field="ATS_TIQUETE">Tiquete</th>
                                <th data-field="ATS_FCH_IMPRESO">Impreso</th>
                                <th data-field="DESC_ESTADO">Estado</th>
                                <th data-field="ATS_FCH_ATENDIDO">Atendido</th>
                                <th data-field="USUARIO_DISPLAY">Usr. Atendió</th>
                                <th data-field="ATS_PRIORIDAD">Prior.</th>
                            </tr>
                        </thead>
                        <tbody id="G_table1body"></tbody>
                    </table>
                </div>

                <script id="G_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{ATS_ID}}</td>
                        <td hidden>{{ATS_TIPO_COLA}}</td>
                        <td>{{ATS_TIQUETE}}</td>
                        <td>{{ATS_FCH_IMPRESO}}</td>
                        <td>
                            {{#if PENDIENTE }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Atender('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                            {{/if}}
                            {{#if ATENDIDO }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Finalizar('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_NoPresente('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="No Presente" type="button"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></button>
                            {{/if}}
                        </td>
                        <td>{{ATS_FCH_ATENDIDO}}</td>
                        <td>{{USUARIO_DISPLAY}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{ATS_ID}}" name="ATS_PRIORIDAD" value="{{ATS_PRIORIDAD}}" disabled/>
                            </span>
                        </td>
                    </tr>
                </script>
            </div>
        </div>
        <hr class="espacio" />
        <div class="row">
            <div class="col-lg-6">
                <div id="th_AtencionSala" class="table-responsive">
                    <table id="I_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="2">AFORO POR IMPORTADOR</th>
                                <th colspan="2"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th data-field="ATS_ID" hidden>ID</th>
                                <th data-field="ATS_TIPO_COLA" hidden>TIPO COLA</th>
                                <th data-field="ATS_TIQUETE">Tiquete</th>
                                <th data-field="ATS_FCH_IMPRESO">Impreso</th>
                                <th data-field="ATS_ESTADO">Estado</th>
                                <th data-field="ATS_FCH_ATENDIDO">Atendido</th>
                                <th data-field="USUARIO_DISPLAY">Usr. Atendió</th>
                                <th data-field="ATS_PRIORIDAD">Prior.</th>
                            </tr>
                        </thead>
                        <tbody id="I_table1body"></tbody>
                    </table>
                </div>

                <script id="I_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{ATS_ID}}</td>
                        <td hidden>{{ATS_TIPO_COLA}}</td>
                        <td>{{ATS_TIQUETE}}</td>
                        <td>{{ATS_FCH_IMPRESO}}</td>
                        <td>
                            {{#if PENDIENTE }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Atender('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                            {{/if}}
                            {{#if ATENDIDO }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Finalizar('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_NoPresente('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="No Presente" type="button"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></button>
                            {{/if}}
                        </td>
                        <td>{{ATS_FCH_ATENDIDO}}</td>
                        <td>{{USUARIO_DISPLAY}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{ATS_ID}}" name="ATS_PRIORIDAD" value="{{ATS_PRIORIDAD}}" disabled/>
                            </span>
                        </td>
                    </tr>
                </script>
            </div>

            <div class="col-lg-6">
                <div id="th_AtencionSala" class="table-responsive">
                    <table id="M_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="2">MUESTRAS</th>
                                <th colspan="2"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th data-field="ATS_ID" hidden>ID</th>
                                <th data-field="ATS_TIPO_COLA" hidden>TIPO COLA</th>
                                <th data-field="ATS_TIQUETE">Tiquete</th>
                                <th data-field="ATS_FCH_IMPRESO">Impreso</th>
                                <th data-field="DESC_ESTADO">Estado</th>
                                <th data-field="ATS_FCH_ATENDIDO">Atendido</th>
                                <th data-field="USUARIO_DISPLAY">Usr. Atendió</th>
                                <th data-field="ATS_PRIORIDAD">Prior.</th>
                            </tr>
                        </thead>
                        <tbody id="M_table1body"></tbody>
                    </table>
                </div>

                <script id="M_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{ATS_ID}}</td>
                        <td hidden>{{ATS_TIPO_COLA}}</td>
                        <td>{{ATS_TIQUETE}}</td>
                        <td>{{ATS_FCH_IMPRESO}}</td>
                        <td>
                            {{#if PENDIENTE }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Atender('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                            {{/if}}
                            {{#if ATENDIDO }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Finalizar('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_NoPresente('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="No Presente" type="button"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></button>
                            {{/if}}
                        </td>
                        <td>{{ATS_FCH_ATENDIDO}}</td>
                        <td>{{USUARIO_DISPLAY}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{ATS_ID}}" name="ATS_PRIORIDAD" value="{{ATS_PRIORIDAD}}" disabled />
                            </span>
                        </td>
                    </tr>
                </script>
            </div>
        </div>
        <hr class="espacio"/>
        <div class="row">
            <div class="col-lg-6">
                <div id="th_AtencionSala" class="table-responsive">
                    <table id="B_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="2">REVISIÓN EXTERNA</th>
                                <th colspan="2"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th data-field="ATS_ID" hidden>ID</th>
                                <th data-field="ATS_TIPO_COLA" hidden>TIPO COLA</th>
                                <th data-field="ATS_TIQUETE">Tiquete</th>
                                <th data-field="ATS_FCH_IMPRESO">Impreso</th>
                                <th data-field="ATS_ESTADO">Estado</th>
                                <th data-field="ATS_FCH_ATENDIDO">Atendido</th>
                                <th data-field="USUARIO_DISPLAY">Usr. Atendió</th>
                                <th data-field="ATS_PRIORIDAD">Prior.</th>
                            </tr>
                        </thead>
                        <tbody id="B_table1body"></tbody>
                    </table>
                </div>

                <script id="B_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{ATS_ID}}</td>
                        <td hidden>{{ATS_TIPO_COLA}}</td>
                        <td>{{ATS_TIQUETE}}</td>
                        <td>{{ATS_FCH_IMPRESO}}</td>
                        <td>
                            {{#if PENDIENTE }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Atender('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                            {{/if}}
                            {{#if ATENDIDO }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Finalizar('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_NoPresente('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="No Presente" type="button"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></button>
                            {{/if}}
                        </td>
                        <td>{{ATS_FCH_ATENDIDO}}</td>
                        <td>{{USUARIO_DISPLAY}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{ATS_ID}}" name="ATS_PRIORIDAD" value="{{ATS_PRIORIDAD}}" disabled/>
                            </span>
                        </td>
                    </tr>
                </script>
            </div>

            <div class="col-lg-6">
                <div id="th_AtencionSala" class="table-responsive">
                    <table id="R_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th colspan="3">REGISTRO AGENTE - ASISTENTE</th>
                                <th colspan="2"></th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th data-field="ATS_ID" hidden>ID</th>
                                <th data-field="ATS_TIPO_COLA" hidden>TIPO COLA</th>
                                <th data-field="ATS_TIQUETE">Tiquete</th>
                                <th data-field="ATS_FCH_IMPRESO">Impreso</th>
                                <th data-field="DESC_ESTADO">Estado</th>
                                <th data-field="ATS_FCH_ATENDIDO">Atendido</th>
                                <th data-field="USUARIO_DISPLAY">Usr. Atendió</th>
                                <th data-field="ATS_PRIORIDAD">Prior.</th>
                            </tr>
                        </thead>
                        <tbody id="R_table1body"></tbody>
                    </table>
                </div>

                <script id="R_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{ATS_ID}}</td>
                        <td hidden>{{ATS_TIPO_COLA}}</td>
                        <td>{{ATS_TIQUETE}}</td>
                        <td>{{ATS_FCH_IMPRESO}}</td>
                        <td>
                            {{#if PENDIENTE }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Atender('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                            {{/if}}
                            {{#if ATENDIDO }}
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_Finalizar('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant" onclick="atencionsala.ATS_UP_NoPresente('{{ATS_TIPO_COLA}}','{{ATS_ID}}','{{ATS_PRIORIDAD}}')" data-toggle="tooltip" title="No Presente" type="button"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i></button>
                            {{/if}}
                        </td>
                        <td>{{ATS_FCH_ATENDIDO}}</td>
                        <td>{{USUARIO_DISPLAY}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{ATS_ID}}" name="ATS_PRIORIDAD" value="{{ATS_PRIORIDAD}}" disabled/>
                            </span>
                        </td>
                    </tr>
                </script>
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="usuarios" role="tabpanel" aria-labelledby="usuarios-tab">   
        <hr class="espacio" />
         @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_nombre" class="form-control" type="text" tabindex="1" onkeypress="atencionsala.UAS_Filtrar()" maxlength="25">
                        <label for="in_flr_nombre" class="control-label col-md-12">Usuario</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="s_permisos" class="control-label col-md-12">Permisos</label>
                        <select id="s_permisos" name="S_PERMISOS" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_agregar_usuario" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="atencionsala.UAS_Agregar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <button id="btn_limpiar_usuarios" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="atencionsala.UAS_Limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-lg-8">
                <div id="th_Usuarios" class="table-responsive">
                    <table id="Usuarios_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="UAS_OPCION" hidden>OPCION</th>
                                <th data-field="UAS_USU_USUARIO">Id</th>
                                <th data-field="NOMBRE">Nombre</th>
                                <th data-field="USUARIO">Usuario</th>
                                <th data-field="DESC_UAS_OPCION">Permisos</th>
                                <th data-field="UAS_PRIORIDAD">Prioridad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="Usuarios_table1body"></tbody>
                    </table>
                </div>

                <script id="Usuarios_table-template" type="text/x-handlebars-template">
                    <tr style="cursor: pointer;">
                        <td hidden>{{UAS_OPCION}}</td>
                        <td>{{UAS_USU_USUARIO}}</td>
                        <td>{{NOMBRE}}</td>
                        <td>{{USUARIO}}</td>
                        <td>{{DESC_UAS_OPCION}}</td>
                        <td>
                            <span class="button-checkbox">
                                <input type="checkbox" id="rdPrior_{{UAS_USU_USUARIO}}-{{UAS_OPCION}}" name="ATS_PRIORIDAD" value="{{UAS_PRIORIDAD}}" />
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-elegant" data-toggle="tooltip" title="Eliminar" onclick="atencionsala.UAS_Borrar('{{USUARIO}}','{{UAS_OPCION}}','{{DESC_UAS_OPCION}}')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
</div>














