﻿@{
    ViewBag.Title = "Ingreso Anden";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_ingreso_anden")
</head>
<body>
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-md-8"><h4>Monitoreo de Tiempo Atención Andén Importación</h4></div>
        </div>
        <hr class="espacio"/>

        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_ut" class="form-control" type="text" tabindex="1" disabled>
                        <label for="in_ut" class="control-label col-md-12">UT en espera para ingreso:</label>
                    </div>

                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-3"><h5>Distribución de Vehículos</h5></div>
        </div>
        @*Encabezado del listar*@
        <div id="th_Anden" class="table-responsive">
            <table id="Anden_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="CIA_POSICION">Posición</th>
                        <th data-field="CIA_TIQUETE">Tiquete</th>
                        <th data-field="CIA_PLACA">Placa</th>
                        <th data-field="DESC_AGENCIA">Agencia</th>
                        <th data-field="CIA_HORA_LLEGADA">Hora Llegada</th>
                        <th data-field="TIEMPO_ATENCION">Tiempo Atención</th>
                    </tr>
                </thead>
                <tbody id="Anden_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="Anden_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{CIA_POSICION}}</td>
                <td>{{CIA_TIQUETE}}</td>
                <td>{{CIA_PLACA}}</td>
                <td>{{DESC_AGENCIA}}</td>
                <td>{{CIA_HORA_LLEGADA}}</td>
                <td>{{TIEMPO_ATENCION}}</td>
            </tr>
        </script>


    </div>
</body>
</html>

