﻿@{
    ViewBag.Title = "Mercancías Perdidas";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mercancías Perdidas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_mercancias_perdidas")
</head>
<body>
    <div class="container-fluid">

        @*Div que contiene el titulo de la página y los botones de buscar y borrar filtros *@
        <div class="row">
            <div class="col-md-3"><h4>Mercancías Perdidas</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="merc_perdidas.MERC_PERD_Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id="btn_actualizar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="merc_perdidas.MERC_PERD_Actualizar()"><i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
        </div>

        @*div que contiene los filtros necesarios para realizar las busqueda de las mercancias perdidas*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_Mercancia_id" class="form-control" type="number" tabindex="1" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                        <label for="in_Mercancia_id" class="control-label col-md-12">MercancÍa</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="dtp_in_fch_reportada" class="control-label col-md-12">Fecha Reportada</label>
                        <input id="dtp_in_fch_reportada" type="date" tabindex="2" name="MRP_FCH_INICIO">

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_cajera" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="merc_perdidas.MERC_PERD_Buscar()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="merc_perdidas.MERC_PERD_limpiarFiltros()" id="btn_limpiar_filtros"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
        @*Formulario mediante el cual realizamos la actualización del tipo de resolución de las mercancias perdidas *@
        <form id="frm_mercancias_perdidas">
            <div id="detalles-mercancias_perdidas" class="detInfo_mercancias_perdidas">
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" name="MRP_MER_ID_MERCANCIA" id="MRP_MER_ID_MERCANCIA" tabindex="1" disabled>
                            <label for="MRP_MER_ID_MERCANCIA" class="control-label col-md-12">Mercancia</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="MRP_TIPO_RESOL" class="control-label col-md-12">Tipo Resolución</label>
                        <div class="md-form">
                            <select id="MRP_TIPO_RESOL" name="MRP_TIPO_RESOL" class="form-control"></select>

                        </div>
                    </div>
                    <input type="hidden" id="UserMERX" name="UserMERX" />
                    <input type="hidden" id="MRP_ID" name="MRP_ID" />
                </div>
            </div>
        </form>

        @*Encabezado paea listar las mercancias perdidas*@
        <div id="th_Mercancias_Perdidas" class="table-responsive">
            <table id="Mercancias_Perdidas_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="MRP_MER_ID_MERCANCIA">Mercancía</th>
                        <th data-field="MRP_CONSIGNATARIO">Consignatario</th>
                        <th data-field="MRP_FCH_INICIO">Fecha Reportada</th>
                        <th data-field="MRP_USU_REPORTA">Usuario Reporta</th>
                        <th data-field="DES_TIPO_RESOL">Resolución</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="Mercancias_Perdidas_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="MERC_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{MRP_MER_ID_MERCANCIA}}</td>
                <td>{{MRP_CONSIGNATARIO}}</td>
                <td>{{MRP_FCH_INICIO}}</td>
                <td>{{MRP_USU_REPORTA}}</td>
                <td>{{DES_TIPO_RESOL}}</td>
                <td>
                    <button class="btn btn-elegant" onclick="merc_perdidas.MERC_PERD_ConsultarDatosMercanciasPerdidas('{{MRP_MER_ID_MERCANCIA}}')" data-toggle="tooltip" title="Editar" type="button"><i class="fas fa-edit"></i></button>
                </td>
            </tr>
        </script>
    </div>

</body>
</html>
