﻿@{
    ViewBag.Title = "Control Anden";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <title>Control Andén</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_control_anden")
</head>
<body>
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">

        <div class="row">
            <div class="col-6"><h4>Control And&eacute;n</h4></div>
            <div class="col-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_agregarfacturas" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="control_anden.CAD_AgregarFacturas()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_facspend" class="active">
                <a class="nav-link active" id="facspend-tab" data-toggle="tab" href="#facspend" role="tab" aria-controls="facspend" aria-selected="true">Facturas Pendientes</a>
            </li>
            <li id="li_controlAnden">
                <a class="nav-link" id="controlAnden-tab" data-toggle="tab" href="#controlAnden" role="tab" aria-controls="controlAnden" aria-selected="false">Control And&eacute;n</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="facspend" role="tabpanel" aria-labelledby="facspend-tab">
                
                <div class="container-fluid" id="div_filters">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="">
                                        <label  id="lbl_control_anden" for="CONTROL_ANDEN" class="control-label col-md-12">Andén</label>
                                        <select type="text" class="form-control" name="CONTROL_ANDEN" id="CONTROL_ANDEN"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="row">
                    <div class="col-md-3"><h5>Facturas Pendientes</h5></div>
                </div>
                @*Encabezado del listar*@
                <div id="th_AndenFacturas" class="table-responsive">
                    <table id="AndenFacturas_Table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="FAC_FACTURA">No. Factura</th>
                                <th data-field="FAC_NOMBRE_CUENTA">Nombre Cliente</th>
                                <th>Agregar</th>
                            </tr>
                        </thead>
                        <tbody id="AndenFacturas_table1body"></tbody>
                    </table>
                </div>

                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
                <script id="AndenFacturas_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{FAC_FACTURA}}</td>
                        <td>{{FAC_NOMBRE_CUENTA}}</td>
                        <td>
                            <span class="button-radio">
                                <input type="checkbox" id="chk_{{FAC_FACTURA}}" name="Factura_{{FAC_FACTURA}}" />
                            </span>
                        </td>
                    </tr>
                </script>

            </div>

            <div class="tab-pane fade show" id="controlAnden" role="tabpanel" aria-labelledby="controlAnden-tab">
                @*<hr class="espacio" />*@
                <div class="container-fluid" id="div_filters2">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="demo-section k-content">
                                        <label id="lbl_CONTROL_ANDEN2" for="CONTROL_ANDEN2" class="control-label col-md-12">Andén</label>
                                        <select type="text" class="form-control" name="CONTROL_ANDEN2" id="CONTROL_ANDEN2"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="demo-section k-content">
                                        <label id="lbl_colas" for="COLAS" class="control-label col-md-12">Colas</label>
                                        <select type="text" class="form-control" name="COLAS" id="COLAS"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tbl_EnColaAsig" class="table-responsive">
                    <table id="EnColaAsig_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="TIPO_CAMION_COD" hidden>TIPO_CAMION_COD</th>
                                <th data-field="ACCION_COD" hidden>ACCION_COD</th>
                                <th data-field="CLIENTE_ID" hidden>Cliente Id</th>
                                <th data-field="CLIENTE">Cliente</th>
                                <th data-field="PLACA">Placa</th>
                                <th data-field="TIPO_CAMION">Tipo Camión</th>
                                <th data-field="TELEFONO">Teléfono</th>
                                <th data-field="POSICION">Andén</th>
                                <th data-field="ACCION">Acción</th>
                                <th data-field="ANULAR">Anular</th>
                                <th data-field="FACTURAS">Facturas</th>
                            </tr>
                        </thead>
                        <tbody id="EnColaAsig_tablebody"></tbody>
                    </table>
                </div>
                <script id="EnColaAsig_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td hidden>{{TIPO_CAMION_COD}}</td>
                        <td hidden>{{ACCION_COD}}</td>
                        <td hidden>{{CLIENTE_ID}}</td>
                        <td>{{CLIENTE}}</td>
                        <td>{{PLACA}}</td>
                        <td><button class="btn btn-elegant" onclick="control_anden.EditarTipoCamion('{{PLACA}}','{{TIPO_CAMION_COD}}')"><i aria-hidden="true"></i>{{TIPO_CAMION}}</button></td>
                        <td><button class="btn btn-elegant" onclick="control_anden.EditarTelefono('{{PLACA}}','{{TELEFONO}}')"><i aria-hidden="true"></i>{{TELEFONO}}</button></td>
                        <td><button class="btn btn-elegant" onclick="control_anden.EditarPosicionAnden('{{PLACA}}','{{POSICION}}')"><i aria-hidden="true"></i>{{POSICION}}</button></td>
                        <td>
                            {{#if mostrarboton }}
                            <button class="btn btn-elegant" onclick="control_anden.ActualizarEstado('{{PLACA}}','{{ACCION_COD}}','{{TIPO_CAMION_COD}}')"><i aria-hidden="true"></i>{{ACCION}}</button>
                            {{/if}}
                        </td>
                        <td><button class="btn btn-elegant" onclick="control_anden.Anular('{{PLACA}}')"><i aria-hidden="true"></i>Anular</button></td>
                        <td><button class="btn btn-elegant" onclick="control_anden.Facturas('{{PLACA}}','{{CLIENTE}}','{{CLIENTE_ID}}')"><i aria-hidden="true"></i>{{FACTURAS}}</button></td>
                    </tr>
                </script>

                <div id="myModal_TipoCam" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Tipo de Camión</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="PLACA" name="PLACA" type="text" class="form-control" disabled>
                                                <label for="PLACA" id="lbl_PLACA" class="control-label col-md-12">Placa</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <label for="S_TIPOCAMION" class="control-label col-md-12">Tipo Camión</label>
                                                <div class="md-form">
                                                    <select id="S_TIPOCAMION" name="S_TIPOCAMION" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-default" onclick="control_anden.ActualizarTipoCamion()">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal_Telefono" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Teléfono</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="PLACATEL" name="PLACATEL" type="text" class="form-control" disabled>
                                                <label for="PLACATEL" id="lbl_PLACATEL" class="control-label col-md-12">Placa</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="TELEFONO" name="TELEFONO" type="text" class="form-control">
                                                <label for="TELEFONO" id="lbl_TELEFONO" class="control-label col-md-12">Teléfono</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-default" onclick="control_anden.ActualizarTelefono()">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal_Anden" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Cambio de posición</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="PLACANDEN" name="PLACANDEN" type="text" class="form-control" disabled>
                                                <label for="PLACANDEN" id="lbl_PLACANDEN" class="control-label col-md-12">Placa</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="POSICION" name="POSICION" type="text" class="form-control">
                                                <label for="POSICION" id="lbl_POSICION" class="control-label col-md-12">Posición</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-default" onclick="control_anden.ActualizarPosicionAnden()">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal_Anular" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Proceso Acción de Anular</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="PLACANULAR" name="PLACANULAR" type="text" class="form-control" disabled>
                                                <label for="PLACANULAR" id="lbl_PLACANULAR" class="control-label col-md-12">Placa</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <label for="S_MOTIVO" class="control-label col-md-12">Motivo</label>
                                                <div class="md-form">
                                                    <select id="S_MOTIVO" name="S_MOTIVO" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-default" onclick="control_anden.EjecutaAnular()">Ejecutar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal_Facturas" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Facturas</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="PLACAFAC" name="PLACAFAC" type="text" class="form-control" disabled>
                                                <label for="PLACAFAC" id="lbl_PLACAFAC" class="control-label col-md-12">Placa</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                                <input id="CLIENTEFAC" name="CLIENTEFAC" type="text" class="form-control" disabled>
                                                <label for="CLIENTEFAC" id="lbl_CLIENTEFAC" class="control-label col-md-12">Cliente</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div id="tbl_Facs" class="table-responsive">
                                    <table id="Facs_table" data-toggle="table" class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th data-field="FACTURA">Factura</th>
                                                <th data-field="CLIENTE">Cliente</th>
                                                <th data-field="BLT_TOTALES">Bultos Totales</th>
                                                <th data-field="KG_TOTALES">Kilos Totales</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Facs_tablebody"></tbody>
                                    </table>
                                </div>
                                <script id="Facs_table-template" type="text/x-handlebars-template">
                                    <tr>
                                        <td>{{FACTURA}}</td>
                                        <td>{{CLIENTE}}</td>
                                        <td>{{BLT_TOTALES}}</td>
                                        <td>{{KG_TOTALES}}</td>
                                    </tr>
                                </script>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

