﻿@{
    ViewBag.Title = "Ajustes Inventario";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_diferencias")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"><h4>Ajuste Diferencias en Toma Física</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="diferencia.DFT_Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id="btn_actualizar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="diferencia.DFT_Actualizar()"><i class="fas fa-edit"></i></button>
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="diferencia.DFT_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_itf_inventario" class="form-control" onblur="diferencia.onfocus()" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label id="lbl_id" for="in_flr_itf_inventario" class="control-label col-md-12 lblfocus">Id</label>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="md-form">
                        <input id="in_flr_inventario" class="form-control" type="text" tabindex="1" disabled>
                        <label id="lbl_invt" for="in_flr_inventario" class="control-label col-md-12">Inventario</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-left">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_inventario" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Abrir lista Inventarios" type="button" onclick="diferencia.MostrarListaInventarios()"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            @*<button id="btn_buscar_inventario" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="diferencia.DTF_Listar()"><i class="fa fa-search" aria-hidden="true"></i></button>*@
                            <button id="btn_limpiar_filtros" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="diferencia.LimpiarFiltrosInv()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />

        <form id="frm_diferencia">
            <div id="detalles-diferencia" class="detInfo_diferencia">

                <div class="row">
                    <div class="col-md-2" hidden>
                        <div class="md-form">
                            <input type="text" class="form-control" name="DTF_ID" id="DTF_ID">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" class="form-control" name="CONSECUTIVO" id="CONSECUTIVO" disabled>
                            <label for="CONSECUTIVO" class="control-label col-md-12">Consecutivo</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" name="CONSIGNATARIO" id="CONSIGNATARIO" class="form-control" disabled>
                            <label class="control-label col-md-12" for="CONSIGNATARIO">Consignatario</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" name="DTF_MER_ID_MERCANCIA" id="DTF_MER_ID_MERCANCIA" class="form-control" disabled>
                            <label class="control-label col-md-12" for="DTF_MER_ID_MERCANCIA">Tarima</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="md-form">
                            <input type="text" name="DTF_BULTOS" id="DTF_BULTOS" class="form-control" disabled>
                            <label class="control-label col-md-12" for="DTF_BULTOS">Bultos</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" name="DTF_LOCALIZACION" id="DTF_LOCALIZACION" class="form-control" disabled>
                            <label class="control-label col-md-12" for="DTF_LOCALIZACION">Localización</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label id="lbl_tipodif" for="DTF_TIPO_DIFERENCIA" class="control-label col-md-12">Tipo Diferencia</label>
                                <div class="md-form">
                                    <select id="DTF_TIPO_DIFERENCIA" name="DTF_TIPO_DIFERENCIA" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label id="lbl_causa" for="s_causas" class="control-label col-md-12">Causa</label>
                                <div class="md-form">
                                    <select id="s_causas" name="DTF_ID_CAUSA" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-2" hidden>
            <div class="md-form">
                <input id="DTF_ID_CAUSA" name="DTF_ID_CAUSA" class="form-control" type="text" tabindex="1">
            </div>
        </div>
        <div class="col-md-2">
            <div class="md-form">
                <input id="DESC_CAUSA" name="DESC_CAUSA" class="form-control" type="text" tabindex="1">
                <label for="DESC_CAUSA" class="control-label col-md-12">Causa</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-left">
                <div class="btn-group" data-toggle="buttons">
                    <button id="btn_filtrar_inventario" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Abrir lista Inventarios" type="button" onclick="diferencia.MostrarListaInventarios()"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>*@
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label id="lbl_solucion" for="DTF_SOLUCION">Solución</label>
                            <textarea id="DTF_SOLUCION" name="DTF_SOLUCION" style="width: 650px; height: 100px; resize: none;" class="form-control"> 
                        </textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label id="lbl_estado" for="DTF_ESTADO" class="control-label col-md-12">Estado</label>
                                <div class="md-form">
                                    <select id="DTF_ESTADO" name="DTF_ESTADO" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="UserMERX" name="UserMERX" />
            </div>
        </form>

        @*Encabezado del listar*@
        <div id="th_Diferencias" class="table-responsive">
            <table id="Diferencias_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="DTF_ID">Id</th>
                        <th data-field="CONSECUTIVO">Consecutivo</th>
                        <th data-field="DTF_MER_ID_MERCANCIA">Tarima</th>
                        <th data-field="DTF_BULTOS">Bultos</th>
                        <th data-field="CONSIGNATARIO">Consignatario</th>
                        <th data-field="DTF_TIPO_DIFERENCIA">Tipo Diferencia</th>
                        <th data-field="DTF_LOCALIZACION">Localización</th>
                        <th data-field="DESC_ESTADO">Estado</th>
                        <th data-field="DESC_CAUSA">Causa</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="Diferencias_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="DTF_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{DTF_ID}}</td>
                <td>{{CONSECUTIVO}}</td>
                <td>{{DTF_MER_ID_MERCANCIA}}</td>
                <td>{{DTF_BULTOS}}</td>
                <td>{{CONSIGNATARIO}}</td>
                <td>{{DTF_TIPO_DIFERENCIA}}</td>
                <td>{{DTF_LOCALIZACION}}</td>
                <td>{{DESC_ESTADO}}</td>
                <td>{{DESC_CAUSA}}</td>
                <td>
                    <button class="btn btn-elegant" onclick="diferencia.DFT_ConsultarDatos('{{DTF_ID}}')" data-toggle="tooltip" title="Editar" type="button"><i class="fas fa-edit"></i></button>
                </td>

            </tr>
        </script>


    </div>

    <div id="myModalInventarios" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listado de Inventarios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="divwithscroll">
                        <div class="row">
                            @*Encabezado del listar Inventario*@
                            <div id="Inventario_tabla" class="table-responsive">
                                <table id="Inventario_table" data-toggle="table" class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th data-field="ITF_INVENTARIO">Id </th>
                                            <th data-field="INVENTARIO">Inventario</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Inventario_tablebody"></tbody>
                                </table>
                            </div>

                            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                            <script id="Inventario_table-template" type="text/x-handlebars-template">
                                <tr>
                                    <td>{{ITF_INVENTARIO}}</td>
                                    <td>{{INVENTARIO}}</td>
                                    <td>
                                        <button class="btn btn-elegant" data-toggle="tooltip" title="Seleccionar" onclick="diferencia.EscogerInvent('{{ITF_INVENTARIO}}','{{INVENTARIO}}')"><i class="far fa-hand-pointer" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </script>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
</html>

