﻿@{
    ViewBag.Title = "Consolidador";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Actualización de Consolidadores</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_consolidador")
</head>
<body>

    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4>Consolidadores</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div id="botones" class="btn-group" data-toggle="buttons">
                        <button id="btn_actualizar_consolidador" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="consolidador.CON_Actualizar()"><i class="fas fa-edit"></i></button>
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consolidador.CON_LimpiarCampos()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" id="li_consolidador">
                <a class="nav-link active" id="consolidador-tab" data-toggle="tab" href="#consolidador" role="tab" aria-controls="consolidador" aria-selected="true">Consolidador</a>
            </li>
            <li class="nav-item fullHidden" id="li_destinos">
                <a class="nav-link" id="destinos-tab" data-toggle="tab" href="#destinos" role="tab" aria-controls="destinos" aria-selected="false">Destinos</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="consolidador" role="tabpanel" aria-labelledby="consolidador-tab">


                <hr class="espacio" />

                <form id="frm_consolidador">
                    <input type="hidden" id="USER_MERX" name="UserMERX" />
                    <div id="detalles-consolidador" class="detInfo_consolidador">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_NCONSOLIDADOR" name="CON_NCONSOLIDADOR" type="text" class="form-control" tabindex="1" onblur="consolidador.onfocus()">
                                        <label for="CON_NCONSOLIDADOR" id="lbl_CON_NCONSOLIDADOR" class="control-label col-md-12 lblfocus">Consolidador</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_NOMBRE" name="CON_NOMBRE" type="text" class="form-control" tabindex="2">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_CEDULA" name="CON_CEDULA" type="text" class="form-control" tabindex="3">
                                        <label for="CON_CEDULA" id="lbl_CON_CEDULA" class="control-label col-md-12">Cédula</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  offset-4">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_EstadoEntrada" class="control-label col-md-12">Estado de Entrada</label>
                                        <div class="md-form">
                                            <select id="s_EstadoEntrada" name="CON_ESTADO_ENTRADA" class="form-control" tabindex="4"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_TELEFONO1" name="CON_TELEFONO1" type="text" class="form-control" tabindex="5">
                                        <label for="CON_TELEFONO1" id="lbl_CON_TELEFONO1" class="control-label col-md-12 ">Teléfono 1</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  offset-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_TELEFONO2" name="CON_TELEFONO2" type="text" class="form-control" tabindex="6">
                                        <label for="CON_TELEFONO2" id="lbl_CON_TELEFONO2" class="control-label col-md-12 ">Teléfono 2</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_TELEFONO_FAX" name="CON_TELEFONO_FAX" type="text" class="form-control" tabindex="7">
                                        <label for="CON_TELEFONO_FAX" id="lbl_CON_TELEFONO_FAX" class="control-label col-md-12">Teléfono Fax</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  offset-4">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_EstadoConsolidador" class="control-label col-md-12">Estado Consolidador</label>
                                        <div class="md-form">
                                            <select id="s_EstadoConsolidador" name="CON_EST_ESTADO" class="form-control" tabindex="8"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_APARTADO" name="CON_APARTADO" type="text" class="form-control" tabindex="9">
                                        <label for="CON_APARTADO" id="lbl_CON_APARTADO" class="control-label col-md-12">Apartado</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  offset-4">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_RecibeEstados" class="control-label col-md-12">Recibe Estados?</label>
                                        <div class="md-form">
                                            <select id="s_RecibeEstados" name="CON_RECIBE_ESTADOS" class="form-control" tabindex="10"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_EMAIL" name="CON_EMAIL" type="text" class="form-control" tabindex="11">
                                        <label for="CON_EMAIL" id="lbl_CON_EMAIL" class="control-label col-md-12">Email</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 offset-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="CON_FECHA_INGRESO" class="control-label col-md-12">Fecha Ingreso</label>
                                        <input id="CON_FECHA_INGRESO" type="date" tabindex="12" name="CON_FECHA_INGRESO">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_DIRECCION" name="CON_DIRECCION" type="text" class="form-control" tabindex="13">
                                        <label for="CON_DIRECCION" id="lbl_CON_DIRECCION" class="control-label col-md-12">Dirección</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_OBSERVACIONES" name="CON_OBSERVACIONES" type="text" class="form-control" tabindex="14">
                                        <label for="CON_OBSERVACIONES" id="lbl_CON_OBSERVACIONES" class="control-label col-md-12">Observaciones</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_MODIFICACIONES" name="CON_MODIFICACIONES" type="text" class="form-control" tabindex="15">
                                        <label for="CON_MODIFICACIONES" class="control-label col-md-12">Modificaciones</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="CON_FCH_RIGE" class="control-label col-md-12">Fecha Vigencia</label>
                                        <input id="CON_FCH_RIGE" type="date" tabindex="16" name="CON_FCH_RIGE">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 offset-1">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CON_USU_MODIFICA" name="CON_USU_MODIFICA" type="text" class="form-control" tabindex="17">
                                        <label for="CON_USU_MODIFICA" id="lbl_CON_USU_MODIFICA" class="control-label col-md-12">Último Cambio</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="CON_FCH_MODIFICA" class="control-label col-md-12"></label>
                                        <input id="CON_FCH_MODIFICA" type="date" tabindex="18" name="CON_FCH_MODIFICA">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>


            </div>

            <div class="tab-pane fade show" id="destinos" role="tabpanel" aria-labelledby="destinos-tab">
                <hr class="espacio" />
                <div class="col-12">
                    <div class="row frm_manif" id="frm_manif">
                        <fieldset id="frm_manif_fielset">
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <div class="col-12 disabled">
                                            <label for="CON_NCONSOLIDADOR_DEST" class="control-label col-md-12 disabled">Consolidador</label>
                                            <input type="text" class="form-control" name="CON_NCONSOLIDADOR_DEST" id="CON_NCONSOLIDADOR_DEST" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group disabled">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label for="CON_NOMBRE_DEST" class="control-label col-md-12 disabled"></label>
                                            <input type="text" class="form-control" name="CON_NOMBRE_DEST" id="CON_NOMBRE_DEST" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        </fieldset>
                    </div>
                </div>
                
                <div class="row" id="adds_row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-md-1" hidden>
                                <div class="form-group">
                                    <div class="">
                                        <label for="CON_UBI_ID" class="control-label col-md-12">Ubicación</label>
                                        <input type="text" id="CON_UBI_ID" name="CON_UBI_ID" class="form-control" tabindex="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="">
                                        <label id="lbl_con_ubi" for="CON_UBI" class="control-label col-md-12">Ubicación</label>
                                        <input type="text" id="CON_UBI" name="CON_UBI" class="form-control" tabindex="19" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_ubicacion" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="consolidador.DEST_MostrarListaUbicaciones()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consolidador.DEST_LimpiarUbi()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                        <button id="btn_agregar_ubicacion" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="consolidador.DEST_AgregaDestino()"><i class="fas fa-plus-square"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-2" id="div_agrega_consig">
                        <div class="row">
                            <div class="col-md-1" hidden>
                                <div class="form-group">
                                    <div class="">
                                        <input type="text" id="CONSOLID_CNS" name="CONSOLID_cns" class="form-control" />
                                        <input type="text" id="UBIC_CNS" name="UBIC_CNS" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label id="lbl_ubi_consig" for="UBI_CONSIG" class="control-label col-md-12">Consignatario</label>
                                        <input type="text" id="UBI_CONSIG" name="UBI_CONSIG" class="form-control" tabindex="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        @*<button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consolidador.CNS_LimpiarConsig()"><i class="fa fa-eraser" aria-hidden="true"></i></button>*@
                                        <button id="btn_agregar_consig" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="consolidador.CNS_AgregaConsigDestino()"><i class="fas fa-plus-square"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="tables_row">
                    <div class="col-lg-5">
                        <div id="th_Destinos" class="table-responsive">
                            <table id="Destinos_Table" data-toggle="table" class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th colspan="4" align="center">Destinos</th>
                                    </tr>
                                    <tr>
                                        <th data-field="COU_CON_NCONSOLIDADOR" hidden>Consolid</th>
                                        <th data-field="COU_UBI_UBICACION">Código</th>
                                        <th data-field="UBI_RAZON_SOCIAL">Descripción</th>
                                        <th data-field="COU_UBI_UBICACION">Acciones</th>
                                        <th data-field="CONSIGNATARIOS" hidden>Consolid</th>
                                    </tr>
                                </thead>
                                <tbody id="Destinos_table1body"></tbody>
                            </table>
                        </div>

                        <script id="Destinos_table-template" type="text/x-handlebars-template">
                            <tr style="cursor: pointer;">
                                <td hidden>{{COU_CON_NCONSOLIDADOR}}</td>
                                <td>{{COU_UBI_UBICACION}}</td>
                                <td>{{UBI_RAZON_SOCIAL}}</td>
                                <td hidden>{{CONSIGNATARIOS}}</td>
                                <td>
                                    <button class="btn btn-elegant" onclick="consolidador.CON_Borrar_Destino('{{COU_CON_NCONSOLIDADOR}}','{{COU_UBI_UBICACION}}','{{CONSIGNATARIOS}}')" data-toggle="tooltip" title="Borrar" type="button"><i class="fas fa-eraser" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </script>
                    </div>
                    <div class="col-lg-5 offset-2">

                        <div id="th_Consig" class="table-responsive">
                            <table id="Consig_Table" data-toggle="table" class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th colspan="2">Consignatarios que pertenecen en TSM</th>
                                    </tr>
                                    <tr>
                                        <th data-field="COC_ID" hidden>id</th>
                                        <th data-field="COC_CON_NCONSOLIDADOR" hidden>consoli</th>
                                        <th data-field="COC_UBI_UBICACION" hidden>ubi</th>
                                        <th data-field="COC_CONSIGNATARIO">Nombre</th>
                                        <th data-field="">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="Consig_table1body"></tbody>
                            </table>
                        </div>

                        <script id="Consig_table-template" type="text/x-handlebars-template">
                            <tr style="cursor: pointer;">
                                <td hidden>{{COC_ID}}</td>
                                <td hidden>{{COC_CON_NCONSOLIDADOR}}</td>
                                <td hidden>{{COC_UBI_UBICACION}}</td>
                                <td>{{COC_CONSIGNATARIO}}</td>
                                <td>
                                    <button class="btn btn-elegant" onclick="consolidador.CNS_EliminarConsig('{{COC_ID}}')" data-toggle="tooltip" title="Borrar" type="button"><i class="fas fa-eraser" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
            </div>

    </div>

    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Consulta de Ubicaciones</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="divwithscroll">
                        <div class="row">
                            <div id="divProcessing" style="display: none">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, favor esperar . . . <img src="../../assets/images/ajax-loader.gif"></p>
                            </div>
                        </div>
                        <div class="">
                            @*Encabezado del listar Ubicaciones*@
                            <div id="Ubicaciones_Tabla" class="table-responsive">
                                @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                <table id="Ubicaciones_table1" data-toggle="table" class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th data-field="Id">Código</th>
                                            <th data-field="Nombre">Descripción</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Ubicaciones_table1body"></tbody>
                                </table>
                            </div>

                            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                            <script id="Ubicaciones_table-template" type="text/x-handlebars-template">
                                <tr>
                                    <td>{{Id}}</td>
                                    <td>{{Nombre}}</td>
                                    <td>
                                        <button class="btn btn-elegant" onclick="consolidador.DEST_MuestraDatosUbicacion('{{Id}}','{{Nombre}}')"><i class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>













