﻿@{
    ViewBag.Title = "Cola Carrusel";
    ViewData["User"] = Session["user"];
}

@Scripts.Render("~/bundles/js_cola_carrusel")


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"><h4>Cola Carrusel</h4></div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="aforocarrusel-tab" data-toggle="tab" href="#aforocarrusel" role="tab" aria-controls="aforocarrusel" aria-selected="true">Aforo Carrusel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="salidacarrusel-tab" data-toggle="tab" href="#salidacarrusel" role="tab" aria-controls="salidacarrusel" aria-selected="false">Salida Carrusel</a>
        </li>
    </ul>
</div>

<input type="hidden" id="TabActive" name="TabActive" />
<input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="aforocarrusel" role="tabpanel" aria-labelledby="aforocarrusel-tab">
        <hr class="espacio" />
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_que_ien_entradaAC" class="form-control" type="number" tabindex="1" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_que_ien_entradaAC" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_colaaforoAC" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="colacarrusel.QUE_Listar_AC()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button id="btn_limpiar_filtrosAC" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="colacarrusel.QUE_limpiar_AC()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Encabezado del listar*@
        <div id="th_ColaAC" class="table-responsive">
            <table id="ColaAC_Table" data-toggle="table" class="table table-fixed">
                <thead >
                    <tr>
                        <th data-field="QUE_LINEA">Línea</th>
                        <th data-field="QUE_IEN_ENTRADA">Consecutivo</th>
                        <th data-field="QUE_CONSIGNATARIO">Consignatario</th>
                        <th data-field="AGENCIA">Agencia</th>
                        <th data-field="DESC_ESTADO">Estado</th>
                        <th data-field="QUE_EXAMEN_PREVIO">Previo</th>
                        <th data-field="QUE_HORA_GENERO">Pidió</th>
                        <th data-field="QUE_HORA_INICIO_ATENCION">Inicio</th>
                        <th data-field="QUE_HORA_FIN_ATENCION">Fin</th>
                        <th data-field="QUE_AUTORIZADO">Aut.</th>
                        <th data-field="QUE_USU_USUARIO_GENERO">Usuario</th>
                        <th data-field="QUE_TIPO_COLA" hidden></th>
                        <th align="center">Acciones</th>
                    </tr>
                </thead>
                <tbody id="ColaAC_table1body"></tbody>
            </table>
        </div>
        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
             manipulacion de hileras -->
        <script id="QUE_AC_table-template" type="text/x-handlebars-template">
            <tr style="cursor: pointer;">
                <td>{{QUE_LINEA}}</td>
                <td>{{QUE_IEN_ENTRADA}}</td>
                <td>{{QUE_CONSIGNATARIO}}</td>
                <td>{{AGENCIA}}</td>
                <td>{{DESC_ESTADO}}</td>
                <td>
                    <span class="button-checkbox">
                        <input type="checkbox" id="rdPrev_{{QUE_LINEA}}" name="QUE_EXAMEN_PREVIO" value="{{QUE_EXAMEN_PREVIO}}" disabled />
                    </span>
                </td>
                <td>{{QUE_HORA_GENERO}}</td>
                <td>{{QUE_HORA_INICIO_ATENCION}}</td>
                <td>{{QUE_HORA_FIN_ATENCION}}</td>
                <td>
                    <span class="button-checkbox">
                        <input type="checkbox" id="rdAut_{{QUE_LINEA}}" name="QUE_AUTORIZADO" value="{{QUE_AUTORIZADO}}" disabled />
                    </span>
                </td>
                <td>{{QUE_USU_USUARIO_GENERO}}</td>
                <td hidden>{{QUE_TIPO_COLA}}</td>
                <td>
                    {{#if PENDIENTE }}
                    <button class="btn btn-elegant" onclick="colacarrusel.QUE_Atender('{{QUE_LINEA}}','{{QUE_IEN_ENTRADA}}','{{QUE_TIPO_COLA}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                    {{/if}}
                    {{#if ATENDIDO }}
                    <button class="btn btn-elegant" onclick="colacarrusel.QUE_Finalizar('{{QUE_LINEA}}','{{QUE_IEN_ENTRADA}}','{{QUE_TIPO_COLA}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times" aria-hidden="true"></i></button>
                    {{/if}}
                    {{#if FINALIZADO }}
                    <button class="btn btn-elegant" onclick="colacarrusel.QUE_Terminar('{{QUE_LINEA}}','{{QUE_IEN_ENTRADA}}','{{QUE_TIPO_COLA}}')" data-toggle="tooltip" title="Terminar" type="button"><i class="fas fa-stop" aria-hidden="true"></i></button>
                    {{/if}}
                </td>

            </tr>
        </script>


        <hr class="espacio"/>

        <div id="th_mercAC" class="table-responsive">
            <table id="MERC_AC_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="MER_IEN_ENTRADA">Mercancía</th>
                        <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos</th>
                        <th data-field="">Ref</th>
                        <th data-field="MER_LOC_RACK">Rack</th>
                        <th data-field="MER_LOC_COLUMNA">Col</th>
                        <th data-field="MER_LOC_LADO">Lado</th>
                        <th data-field="MER_LOC_ALTURA">Alt</th>

                    </tr>
                </thead>
                <tbody id="MERC_AC_table1body"></tbody>
            </table>
        </div>

        <script id="MERC_AC_table-template" type="text/x-handlebars-template">
            <tr style="cursor: pointer;">
                <td>{{MER_ID_MERCANCIA}}</td>
                <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                <td>
                    <span class="button-checkbox">
                        <input type="checkbox" id="rd_{{MER_ID_MERCANCIA}}" name="MER_REFRIGERADO" value="{{MER_REFRIGERADO}}" disabled/>
                    </span>
                </td>
                <td>{{MER_LOC_RACK}}</td>
                <td>{{MER_LOC_COLUMNA}}</td>
                <td>{{MER_LOC_LADO}}</td>
                <td>{{MER_LOC_ALTURA}}</td>
            </tr>
        </script>

    </div>

    <div class="tab-pane fade show" id="salidacarrusel" role="tabpanel" aria-labelledby="salidacarrusel-tab">
        <hr class="espacio" />
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_que_ien_entradaSC" class="form-control" type="number" tabindex="1" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_que_ien_entradaSC" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_colaaforoSC" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="colacarrusel.QUE_Listar_SC()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button id="btn_limpiar_filtrosSC" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="colacarrusel.QUE_limpiar_SC()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Encabezado del listar*@
        <div id="th_ColaSC" class="table-responsive">
            <table id="ColaSC_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="QUE_LINEA">Línea</th>
                        <th data-field="QUE_IEN_ENTRADA">Consecutivo</th>
                        <th data-field="QUE_CONSIGNATARIO">Consignatario</th>
                        <th data-field="AGENCIA">Agencia</th>
                        @*<th data-field="IMPORTADOR">Importador</th>*@
                        <th data-field="DESC_ESTADO">Estado</th>
                        <th data-field="QUE_EXAMEN_PREVIO">Prev</th>
                        <th data-field="QUE_HORA_GENERO">Pidió</th>
                        <th data-field="QUE_HORA_INICIO_ATENCION">Inicio</th>
                        <th data-field="QUE_HORA_FIN_ATENCION">Fin</th>
                        <th data-field="QUE_AUTORIZADO">Aut.</th>
                        <th data-field="QUE_USU_USUARIO_GENERO">Usuario</th>
                        <th data-field="QUE_TIPO_COLA" hidden></th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="ColaSC_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
            manipulacion de hileras -->
        <script id="QUE_SC_table-template" type="text/x-handlebars-template">
            <tr style="cursor: pointer;">
                <td>{{QUE_LINEA}}</td>
                <td>{{QUE_IEN_ENTRADA}}</td>
                <td>{{QUE_CONSIGNATARIO}}</td>
                <td>{{AGENCIA}}</td>
                @*<td>{{IMPORTADOR}}</td>*@
                <td>{{DESC_ESTADO}}</td>
                <td>
                    <span class="button-checkbox">
                        <input type="checkbox" id="rdPrev_{{QUE_LINEA}}" name="QUE_EXAMEN_PREVIO" value="{{QUE_EXAMEN_PREVIO}}" disabled/>
                    </span>
                </td>
                <td>{{QUE_HORA_GENERO}}</td>
                <td>{{QUE_HORA_INICIO_ATENCION}}</td>
                <td>{{QUE_HORA_FIN_ATENCION}}</td>
                <td>
                    <span class="button-checkbox">
                        <input type="checkbox" id="rdAut_{{QUE_LINEA}}" name="QUE_AUTORIZADO" value="{{QUE_AUTORIZADO}}" disabled/>
                    </span>
                </td>
                <td>{{QUE_USU_USUARIO_GENERO}}</td>
                <td hidden>{{QUE_TIPO_COLA}}</td>
                <td>
                    {{#if PENDIENTE }}
                    <button class="btn btn-elegant" onclick="colacarrusel.QUE_Atender('{{QUE_LINEA}}','{{QUE_IEN_ENTRADA}}','{{QUE_TIPO_COLA}}')" data-toggle="tooltip" title="Atender" type="button"><i class="fas fa-check" aria-hidden="true"></i></button>
                    {{/if}}
                    {{#if ATENDIDO }}
                    <button class="btn btn-elegant" onclick="colacarrusel.QUE_Finalizar('{{QUE_LINEA}}','{{QUE_IEN_ENTRADA}}','{{QUE_TIPO_COLA}}')" data-toggle="tooltip" title="Finalizar" type="button"><i class="fas fa-times" aria-hidden="true"></i></button>
                    {{/if}}
                    {{#if FINALIZADO }}
                    <button class="btn btn-elegant" onclick="colacarrusel.QUE_Terminar('{{QUE_LINEA}}','{{QUE_IEN_ENTRADA}}','{{QUE_TIPO_COLA}}')" data-toggle="tooltip" title="Terminar" type="button"><i class="fas fa-stop" aria-hidden="true"></i></button>
                    {{/if}}
                </td>

            </tr>
        </script>

        <hr class="espacio"/>

        <div id="th_mercSC" class="table-responsive">
            <table id="MERC_SC_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="MER_IEN_ENTRADA">Mercancía</th>
                        <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos</th>
                        <th data-field="">Ref</th>
                        <th data-field="MER_LOC_RACK">Rack</th>
                        <th data-field="MER_LOC_COLUMNA">Col</th>
                        <th data-field="MER_LOC_LADO">Lado</th>
                        <th data-field="MER_LOC_ALTURA">Alt</th>

                    </tr>
                </thead>
                <tbody id="MERC_SC_table1body"></tbody>
            </table>
        </div>

        <script id="MERC_SC_table-template" type="text/x-handlebars-template">
            <tr style="cursor: pointer;">
                <td>{{MER_ID_MERCANCIA}}</td>
                <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                <td>
                    <span class="button-checkbox">
                        <input type="checkbox" id="rd_{{MER_ID_MERCANCIA}}" name="MER_REFRIGERADO" value="{{MER_REFRIGERADO}}" disabled/>
                    </span>
                </td>
                <td>{{MER_LOC_RACK}}</td>
                <td>{{MER_LOC_COLUMNA}}</td>
                <td>{{MER_LOC_LADO}}</td>
                <td>{{MER_LOC_ALTURA}}</td>
            </tr>
        </script>
    </div>

</div>














