﻿@{
    ViewBag.Title = "Consulta Colas";
    ViewData["User"] = Session["user"];
}



@Scripts.Render("~/bundles/js_consulta_colas")


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"><h4>Consulta Colas</h4></div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="rack-tab" data-toggle="tab" href="#rack" role="tab" aria-controls="rack" aria-selected="true">Aforo Rack</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="carrusel-tab" data-toggle="tab" href="#carrusel" role="tab" aria-controls="carrusel" aria-selected="false">Aforo Carrusel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="salidarack-tab" data-toggle="tab" href="#salidarack" role="tab" aria-controls="salidarack" aria-selected="true">Salida Rack</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="salidacarrusel-tab" data-toggle="tab" href="#salidacarrusel" role="tab" aria-controls="salidacarrusel" aria-selected="false">Salida Carrusel</a>
        </li>
    </ul>
</div>
<input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="rack" role="tabpanel" aria-labelledby="rack-tab">
        <hr class="espacio" />
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_que_ien_entradaAR" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_que_ien_entradaAR" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_colaaforoAR" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="consultacolas.QUE_Listar('AR')"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button id="btn_limpiar_filtrosAR" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consultacolas.QUE_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      

        
            <div id="th_ColaAforoAR" class="table-responsive">
                <table id="ColaAR_Table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="QUE_LINEA">Línea</th>
                            <th data-field="QUE_IEN_ENTRADA">Consecutivo</th>
                            <th data-field="MANIFIESTO">Manifiesto</th>
                            <th data-field="GUIA">Guía</th>
                            <th data-field="QUE_CONSIGNATARIO">Consignatario</th>
                            <th data-field="AGENCIA">Agencia</th>
                            <th data-field="DESC_ESTADO">Estado</th>
                            <th data-field="QUE_EXAMEN_PREVIO">Previo</th>
                            <th data-field="QUE_HORA_GENERO">Pidió</th>
                            <th data-field="QUE_HORA_INICIO_ATENCION">Inicio</th>
                            <th data-field="QUE_HORA_FIN_ATENCION">Fin</th>
                            <th data-field="QUE_USU_USUARIO_GENERO">Generó</th>
                            <th data-field="QUE_TIPO_COLA" hidden></th>
                        </tr>
                    </thead>
                    <tbody id="ColaAR_table1body"></tbody>
                </table>
            </div>

            <script id="QUE_AR_table-template" type="text/x-handlebars-template">
                <tr style="cursor: pointer;">
                    <td>{{QUE_LINEA}}</td>
                    <td>{{QUE_IEN_ENTRADA}}</td>
                    <td>{{MANIFIESTO}}</td>
                    <td>{{GUIA}}</td>
                    <td>{{QUE_CONSIGNATARIO}}</td>
                    <td>{{AGENCIA}}</td>
                    <td>{{DESC_ESTADO}}</td>
                    <td>
                        <span class="button-checkbox">
                            <input  type="checkbox" id="rdPrev_{{QUE_LINEA}}" name="QUE_EXAMEN_PREVIO" value="{{QUE_EXAMEN_PREVIO}}"  disabled/>
                        </span>
                    </td>
                    <td>{{QUE_HORA_GENERO}}</td>
                    <td>{{QUE_HORA_INICIO_ATENCION}}</td>
                    <td>{{QUE_HORA_FIN_ATENCION}}</td>
                    <td>{{QUE_USU_USUARIO_GENERO}}</td>
                    <td hidden>{{QUE_TIPO_COLA}}</td>
                </tr>
            </script>
     

        <hr class="espacio" />

        <div class="">
            <div id="th_mercAR" class="table-responsive">
                <table id="MERC_AR_Table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="MER_IEN_ENTRADA">Mercancía</th>
                            <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos</th>
                            <th data-field="">Ref</th>
                            <th data-field="MER_LOC_RACK">Rack</th>
                            <th data-field="MER_LOC_COLUMNA">Col</th>
                            <th data-field="MER_LOC_LADO">Lado</th>
                            <th data-field="MER_LOC_ALTURA">Alt</th>

                        </tr>
                    </thead>
                    <tbody id="MERC_AR_table1body"></tbody>
                </table>
            </div>

            <script id="MERC_AR_table-template" type="text/x-handlebars-template">
                <tr style="cursor: pointer;">
                    <td>{{MER_ID_MERCANCIA}}</td>
                    <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                    <td>
                        <span class="button-checkbox">
                            <input type="checkbox" id="rd_{{MER_ID_MERCANCIA}}" name="MER_REFRIGERADO" value="{{MER_REFRIGERADO}}" disabled/>
                        </span>
                    </td>
                    <td>{{MER_LOC_RACK}}</td>
                    <td>{{MER_LOC_COLUMNA}}</td>
                    <td>{{MER_LOC_LADO}}</td>
                    <td>{{MER_LOC_ALTURA}}</td>
                </tr>
            </script>
        </div>

    </div>

    <div class="tab-pane fade show" id="carrusel" role="tabpanel" aria-labelledby="carrusel-tab">
        <hr  class="espacio"/>
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_que_ien_entradaAC" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_que_ien_entradaAC" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_colaaforoAC" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="consultacolas.QUE_Listar('AC')"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button id="btn_limpiar_filtrosAC" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consultacolas.QUE_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            @*Encabezado del listar*@
            <div id="th_ColaAforoAC" class="table-responsive">
                <table id="ColaAC_Table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="QUE_LINEA">Línea</th>
                            <th data-field="QUE_IEN_ENTRADA">Consecutivo</th>
                            <th data-field="MANIFIESTO">Manifiesto</th>
                            <th data-field="GUIA">Guía</th>
                            <th data-field="QUE_CONSIGNATARIO">Consignatario</th>
                            <th data-field="AGENCIA">Agencia</th>
                            <th data-field="DESC_ESTADO">Estado</th>
                            <th data-field="QUE_EXAMEN_PREVIO">Previo</th>
                            <th data-field="QUE_HORA_GENERO">Pidió</th>
                            <th data-field="QUE_HORA_INICIO_ATENCION">Inicio</th>
                            <th data-field="QUE_HORA_FIN_ATENCION">Fin</th>
                            <th data-field="QUE_USU_USUARIO_GENERO">Generó</th>
                            <th data-field="QUE_TIPO_COLA" hidden></th>
                        </tr>
                    </thead>
                    <tbody id="ColaAC_table1body"></tbody>
                </table>
            </div>

            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
            manipulacion de hileras -->
            <script id="QUE_AC_table-template" type="text/x-handlebars-template">
                <tr style="cursor: pointer;">
                    <td>{{QUE_LINEA}}</td>
                    <td>{{QUE_IEN_ENTRADA}}</td>
                    <td>{{MANIFIESTO}}</td>
                    <td>{{GUIA}}</td>
                    <td>{{QUE_CONSIGNATARIO}}</td>
                    <td>{{AGENCIA}}</td>
                    <td>{{DESC_ESTADO}}</td>
                    <td>
                        <span class="button-checkbox">
                            <input type="checkbox" id="rdPrev_{{QUE_LINEA}}" name="QUE_EXAMEN_PREVIO" value="{{QUE_EXAMEN_PREVIO}}" disabled/>
                        </span>
                    </td>
                    <td>{{QUE_HORA_GENERO}}</td>
                    <td>{{QUE_HORA_INICIO_ATENCION}}</td>
                    <td>{{QUE_HORA_FIN_ATENCION}}</td>
                    <td>{{QUE_USU_USUARIO_GENERO}}</td>
                    <td hidden>{{QUE_TIPO_COLA}}</td>
                </tr>
            </script>

        </div>
        <hr class="espacio"/>
        <div class="">
            <div id="th_mercAC" class="table-responsive">
                <table id="MERC_AC_Table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="MER_IEN_ENTRADA">Mercancía</th>
                            <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos</th>
                            <th data-field="">Ref</th>
                            <th data-field="MER_LOC_RACK">Rack</th>
                            <th data-field="MER_LOC_COLUMNA">Col</th>
                            <th data-field="MER_LOC_LADO">Lado</th>
                            <th data-field="MER_LOC_ALTURA">Alt</th>

                        </tr>
                    </thead>
                    <tbody id="MERC_AC_table1body"></tbody>
                </table>
            </div>

            <script id="MERC_AC_table-template" type="text/x-handlebars-template">
                <tr style="cursor: pointer;">
                    <td>{{MER_ID_MERCANCIA}}</td>
                    <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                    <td>
                        <span class="button-checkbox">
                            <input type="checkbox" id="rd_{{MER_ID_MERCANCIA}}" name="MER_REFRIGERADO" value="{{MER_REFRIGERADO}}"  disabled/>
                        </span>
                    </td>
                    <td>{{MER_LOC_RACK}}</td>
                    <td>{{MER_LOC_COLUMNA}}</td>
                    <td>{{MER_LOC_LADO}}</td>
                    <td>{{MER_LOC_ALTURA}}</td>
                </tr>
            </script>

        </div>
    </div>

    <div class="tab-pane fade show" id="salidarack" role="tabpanel" aria-labelledby="salidarack-tab">
        <hr class="espacio" />
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_que_ien_entradaSR" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_que_ien_entradaSR" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_colaaforoSR" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="consultacolas.QUE_Listar('SR')"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button id="btn_limpiar_filtrosSR" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consultacolas.QUE_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="">


            @*Encabezado del listar*@
            <div id="th_ColaAforoSR" class="table-responsive">
                <table id="ColaSR_Table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="QUE_LINEA">Línea</th>
                            <th data-field="QUE_IEN_ENTRADA">Consecutivo</th>
                            <th data-field="MANIFIESTO">Manifiesto</th>
                            <th data-field="GUIA">Guía</th>
                            <th data-field="QUE_CONSIGNATARIO">Consignatario</th>
                            <th data-field="AGENCIA">Agencia</th>
                            <th data-field="DESC_ESTADO">Estado</th>
                            <th data-field="QUE_EXAMEN_PREVIO">Previo</th>
                            <th data-field="QUE_HORA_GENERO">Pidió</th>
                            <th data-field="QUE_HORA_INICIO_ATENCION">Inicio</th>
                            <th data-field="QUE_HORA_FIN_ATENCION">Fin</th>
                            <th data-field="QUE_USU_USUARIO_GENERO">Generó</th>
                            <th data-field="QUE_TIPO_COLA" hidden></th>
                        </tr>
                    </thead>
                    <tbody id="ColaSR_table1body"></tbody>
                </table>
            </div>

            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
            manipulacion de hileras -->
            <script id="QUE_SR_table-template" type="text/x-handlebars-template">
                <tr style="cursor: pointer;">
                    <td>{{QUE_LINEA}}</td>
                    <td>{{QUE_IEN_ENTRADA}}</td>
                    <td>{{MANIFIESTO}}</td>
                    <td>{{GUIA}}</td>
                    <td>{{QUE_CONSIGNATARIO}}</td>
                    <td>{{AGENCIA}}</td>
                    <td>{{DESC_ESTADO}}</td>
                    <td>
                        <span class="button-checkbox">
                            <input type="checkbox" id="rdPrev_{{QUE_LINEA}}" name="QUE_EXAMEN_PREVIO" value="{{QUE_EXAMEN_PREVIO}}" disabled/>
                        </span>
                    </td>
                    <td>{{QUE_HORA_GENERO}}</td>
                    <td>{{QUE_HORA_INICIO_ATENCION}}</td>
                    <td>{{QUE_HORA_FIN_ATENCION}}</td>
                    <td>{{QUE_USU_USUARIO_GENERO}}</td>
                    <td hidden>{{QUE_TIPO_COLA}}</td>
                </tr>
            </script>

        </div>
        <hr class="espacio" />
        <div class="">
            <div id="th_mercSR" class="table-responsive">
                <table id="MERC_SR_Table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="MER_IEN_ENTRADA">Mercancía</th>
                            <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos</th>
                            <th data-field="">Ref</th>
                            <th data-field="MER_LOC_RACK">Rack</th>
                            <th data-field="MER_LOC_COLUMNA">Col</th>
                            <th data-field="MER_LOC_LADO">Lado</th>
                            <th data-field="MER_LOC_ALTURA">Alt</th>

                        </tr>
                    </thead>
                    <tbody id="MERC_SR_table1body"></tbody>
                </table>
            </div>

            <script id="MERC_SR_table-template" type="text/x-handlebars-template">
                <tr style="cursor: pointer;">
                    <td>{{MER_ID_MERCANCIA}}</td>
                    <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                    <td>
                        <span class="button-checkbox">
                            <input type="checkbox" id="rd_{{MER_ID_MERCANCIA}}" name="MER_REFRIGERADO" value="{{MER_REFRIGERADO}}" disabled />
                        </span>
                    </td>
                    <td>{{MER_LOC_RACK}}</td>
                    <td>{{MER_LOC_COLUMNA}}</td>
                    <td>{{MER_LOC_LADO}}</td>
                    <td>{{MER_LOC_ALTURA}}</td>
                </tr>
            </script>

        </div>
    </div>

    <div class="tab-pane fade show" id="salidacarrusel" role="tabpanel" aria-labelledby="salidacarrusel-tab">
        <hr class="espacio" />
        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_que_ien_entradaSC" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                        <label for="in_flr_que_ien_entradaSC" class="control-label col-md-12">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_colaaforoSC" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="consultacolas.QUE_Listar('SC')"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button id="btn_limpiar_filtrosSC" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consultacolas.QUE_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 

        <div class="">


            @*Encabezado del listar*@
            <div id="th_ColaAforoSC" class="table-responsive">
                <table id="ColaSC_Table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="QUE_LINEA">Línea</th>
                            <th data-field="QUE_IEN_ENTRADA">Consecutivo</th>
                            <th data-field="MANIFIESTO">Manifiesto</th>
                            <th data-field="GUIA">Guía</th>
                            <th data-field="QUE_CONSIGNATARIO">Consignatario</th>
                            <th data-field="AGENCIA">Agencia</th>
                            <th data-field="DESC_ESTADO">Estado</th>
                            <th data-field="QUE_EXAMEN_PREVIO">Previo</th>
                            <th data-field="QUE_HORA_GENERO">Pidió</th>
                            <th data-field="QUE_HORA_INICIO_ATENCION">Inicio</th>
                            <th data-field="QUE_HORA_FIN_ATENCION">Fin</th>
                            <th data-field="QUE_USU_USUARIO_GENERO">Generó</th>
                            <th data-field="QUE_TIPO_COLA" hidden></th>
                        </tr>
                    </thead>
                    <tbody id="ColaSC_table1body"></tbody>
                </table>
            </div>

            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
            manipulacion de hileras -->
            <script id="QUE_SC_table-template" type="text/x-handlebars-template">
                <tr style="cursor: pointer;">
                    <td>{{QUE_LINEA}}</td>
                    <td>{{QUE_IEN_ENTRADA}}</td>
                    <td>{{MANIFIESTO}}</td>
                    <td>{{GUIA}}</td>
                    <td>{{QUE_CONSIGNATARIO}}</td>
                    <td>{{AGENCIA}}</td>
                    <td>{{DESC_ESTADO}}</td>
                    <td>
                        <span class="button-checkbox">
                            <input type="checkbox" id="rdPrev_{{QUE_LINEA}}" name="QUE_EXAMEN_PREVIO" value="{{QUE_EXAMEN_PREVIO}}" disabled/>
                        </span>
                    </td>
                    <td>{{QUE_HORA_GENERO}}</td>
                    <td>{{QUE_HORA_INICIO_ATENCION}}</td>
                    <td>{{QUE_HORA_FIN_ATENCION}}</td>
                    <td>{{QUE_USU_USUARIO_GENERO}}</td>
                    <td hidden>{{QUE_TIPO_COLA}}</td>
                </tr>
            </script>

        </div>
        <hr class="espacio"/>
        <div class="">
            <div id="th_mercSC" class="table-responsive">
                <table id="MERC_SC_Table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="MER_IEN_ENTRADA">Mercancía</th>
                            <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos</th>
                            <th data-field="">Ref</th>
                            <th data-field="MER_LOC_RACK">Rack</th>
                            <th data-field="MER_LOC_COLUMNA">Col</th>
                            <th data-field="MER_LOC_LADO">Lado</th>
                            <th data-field="MER_LOC_ALTURA">Alt</th>

                        </tr>
                    </thead>
                    <tbody id="MERC_SC_table1body"></tbody>
                </table>
            </div>

            <script id="MERC_SC_table-template" type="text/x-handlebars-template">
                <tr style="cursor: pointer;">
                    <td>{{MER_ID_MERCANCIA}}</td>
                    <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                    <td>
                        <span class="button-checkbox">
                            <input type="checkbox" id="rd_{{MER_ID_MERCANCIA}}" name="MER_REFRIGERADO" value="{{MER_REFRIGERADO}}" disabled/>
                        </span>
                    </td>
                    <td>{{MER_LOC_RACK}}</td>
                    <td>{{MER_LOC_COLUMNA}}</td>
                    <td>{{MER_LOC_LADO}}</td>
                    <td>{{MER_LOC_ALTURA}}</td>
                </tr>
            </script>

        </div>
    </div>

</div>














