﻿@{
    ViewBag.Title = "Tarifario";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/kendo/css")
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_tarifario")
</head>
<body>
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_tarifario" class="active">
                <a class="nav-link active" id="tarifario_tab" data-toggle="tab" href="#tarifario" role="tab" aria-controls="tarifario" aria-selected="true">Cliente</a>
            </li>
            <li id="li_tarifas_cliente">
                <a class="nav-link" style="display:none" id="tarifas_cliente_tab" data-toggle="tab" href="#tarifas_cliente" role="tab" aria-controls="tarifas_cliente" aria-selected="false" onclick="">Tarifas</a>
            </li>
            <li id="li_rubros_tarifa">
                <a class="nav-link" style="display:none" id="rubros_tab" data-toggle="tab" href="#rubros_tarifa" role="tab" aria-controls="rubros_tarifa" aria-selected="false" onclick="tarifario.conceptos_tarifa_tab()">Rubros</a>
            </li>
            <li id="li_otros_tarifa">
                <a class="nav-link" style="display:none" id="otros_tab" data-toggle="tab" href="#otros_tarifa" role="tab" aria-controls="otros_tarifa" aria-selected="false" onclick="tarifario.conceptos_tarifa_tab()">Otros Cobros</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">

            @*Código de cada tab o pestaña*@

            <div class="tab-pane fade show active" id="tarifario" role="tabpanel" aria-labelledby="tarifario_tab">
                <div class="row">
                    <div class="col-md-3"><h4></h4></div>
                    <div class="col-md-9 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <!--TARIFARIO-->
                                <!--Regresar-->
                                @*<button id="tarifario_btn_regresar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarifario.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                <!--Listar-->
                                <button id="tarifario_btn_listar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Lista de Clientes" type="button" onclick="tarifario.listar()"><i class="fas fa-list"></i></button>
                                <!--Guardar-->
                                <button id="tarifario_btn_guardar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Cliente Tarifa" type="button" onclick="tarifario.guardarCliente()"><i class="fa fa-save" aria-hidden="true"></i></button>
                                <!--Actualizar-->
                                @*<button id="tarifario_btn_actualizar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Indormación" type="button" onclick="tarifario.actualizarConsolidConsig()"><i class="fa fa-edit" aria-hidden="true"></i></button>*@
                                <!--Actualizar-->
                                <button id="tarifario_btn_nuevo" style="display:block" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Nuevo Cliente Tarifa" type="button" onclick="tarifario.nuevoClienteTarifa()"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                                <!--Limpiar-->
                                @* <button id="tarifario_btn_limpiar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="tarifario.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>*@
                                <!--/TARIFARIO-->

                            </div>
                        </div>
                    </div>
                </div>
                <h5>Cliente Tarifa</h5>
                <hr class="espacio" />
                <div id="div_tarifario_inputs" style="display:none">
                    <form id="frm_tarifario" class="frm_tarifario">
                        <input type="hidden" id="TTC_USU_REGISTRO" name="TTC_USU_REGISTRO" />
                        <div id="detalles-registro" class="detInfo_registro">
                            <div class="row">
                                <div class="col-md-1 fullHidden">
                                    <div class="md-form">
                                        <input id="TTC_ID" name="TTC_ID" type="text" class="form-control" tabindex="1" disabled />
                                        <label for="TTC_ID" class="control-label col-md-12">Id</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label for="TTC_TIPO_CLIENTE" class="control-label col-md-12">Tipo Cliente:</label>
                                            <select id="TTC_TIPO_CLIENTE" name="TTC_TIPO_CLIENTE" class="form-control" tabindex="6"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="demo-section k-content">
                                                <label for="TTC_CLIENTE_ID" class="control-label col-md-12">Cliente</label>
                                                <select id="TTC_CLIENTE_ID" name="TTC_CLIENTE_ID" class="form-control" tabindex="7"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form id="frm_consolid_consigna" class="frm_consolid_consigna">
                        <div id="div_consolid_consig">
                            <input type="hidden" id="TTC_USU_REGISTRA" name="TTC_USU_REGISTRA" />
                            <input type="hidden" id="TCC_TTC_ID" name="TCC_TTC_ID" />

                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="demo-section k-content">
                                                <label for="TTC_CON_NCONSOLIDADOR" class="control-label col-md-12">Consolidador</label>
                                                <select id="TTC_CON_NCONSOLIDADOR" name="TTC_CON_NCONSOLIDADOR" class="form-control" tabindex="11"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="demo-section k-content">
                                                <label for="TTC_IMP_CEDULA" class="control-label col-md-12">Consignatario</label>
                                                <select id="TTC_IMP_CEDULA" name="TTC_IMP_CEDULA" class="form-control" tabindex="11"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="pull-right">
                                        <div class="btn-group" data-toggle="buttons" style="margin-top: 30px">
                                            <button id="btn_agregar_consolidconsigna" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar" type="button" onclick="tarifario.agregarConsolidConsig()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            <button id="btn_nuevo_consolidconsigna" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Nuevo" type="button" onclick="tarifario.nuevoConsolidConsig()"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    @* Tabla de relaciones Consolid/Consigna del Cliente *@

                    <div id="div_tabla">
                        <div id="tbl_consolidconsigna" class="table-responsive">
                            <table id="tarifario_consolidconsigna_table" data-toggle="table" class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th data-field="TCC_ID">Id</th>
                                        <th data-field="CONSOLIDADOR">Consolidador</th>
                                        <th data-field="IMPORTADOR">Consignatario</th>
                                        <th data-field="TCC_TTC_ID" hidden>Id</th>
                                        <th data-field="TTC_CON_CONSOLIDADOR" hidden>Id conSOL</th>
                                        <th data-field="TTC_IMP_CEDULA" hidden>Id CONSIG</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tarifario_consolidconsigna_tablebody"></tbody>
                            </table>
                        </div>
                        <script id="tarifario_consolidconsigna_table_template" type="text/x-handlebars-template">
                            <tr>
                                <td>{{TCC_ID}}</td>
                                <td>{{CONSOLIDADOR}}</td>
                                <td>{{IMPORTADOR}}</td>
                                <td hidden>{{TCC_TTC_ID}}</td>
                                <td hidden>{{TTC_CON_NCONSOLIDADOR}}</td>
                                <td hidden>{{TTC_IMP_CEDULA}}</td>
                                <td>
                                    <button data-toggle="tooltip" title="Cargar" class="btn btn-elegant" onclick="tarifario.editarConsolidConsig('{{TCC_ID}}','{{TTC_CON_NCONSOLIDADOR}}','{{TTC_IMP_CEDULA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                    <button data-toggle="tooltip" title="Borrar Registro" class="btn btn-elegant" onclick="tarifario.borrarConsolidConsigna('{{TCC_ID}}')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </script>
                    </div>

                </div>


                @* Tabla de clientes tarifa *@
                <div id="div_tarifario_busqueda" style="display:block">
                    <form id="frm_tarifario_busqueda" class="">
                        <div class="row">
                            <div class="col-1">
                                <div class="md-form">
                                    <input type="text" id="B_TTC_ID" name="B_TTC_ID" class="form-control" onkeyup="tarifario.buscar(this)" onblur="tarifario.onfocus()" tabindex="1" />
                                    <label id="lbl_B_TTC_ID" for="B_TTC_ID" class="control-label col-md-12 lblfocus">Id</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="md-form">
                                    <input type="text" id="B_TTC_NOMBRE_CLIENTE" name="B_TTC_NOMBRE_CLIENTE" class="form-control" onkeyup="tarifario.buscar(this)" tabindex="2" />
                                    <label for="B_TTC_NOMBRE_CLIENTE" class="control-label col-md-12">Nombre</label>
                                </div>
                            </div>
                        </div>
                    </form>






                    <div id="tbl_tarifario_busqueda" class="table-responsive">
                        <table id="tarifario_busqueda_table" data-toggle="table" class="table table-fixed">
                            <thead>
                                <tr>
                                    <th data-field="TTC_ID">Id</th>
                                    <th data-field="TTC_TIPO_CLIENTE">Tipo Cliente</th>
                                    <th data-field="TTC_NOMBRE_CLIENTE">Nombre</th>
                                    <th data-field="TTC_NOMBRE_CLIENTE" hidden>Id Cli</th>
                                    @*<th data-field="TTC_USU_REGISTRA">Usuario Registro</th>
                                <th data-field="TTC_FCH_REGISTRA">Fecha Registro</th>*@
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tarifario_busqueda_tablebody"></tbody>
                        </table>
                    </div>
                    <script id="tarifario_busqueda_table_template" type="text/x-handlebars-template">
                        <tr>
                            <td>{{TTC_ID}}</td>
                            <td>{{TTC_TIPO_CLIENTE}}</td>
                            <td>{{TTC_NOMBRE_CLIENTE}}</td>
                            <td hidden>{{TTC_CLIENTE_ID}}</td>

                            @*<td>{{TRF_USU_REGISTRO}}</td>
                        <td>{{TRF_FCH_REGISTRO}}</td>*@
                            <td>
                                <button data-toggle="tooltip" title="Cargar" class="btn btn-elegant" onclick="tarifario.editarCliente('{{TTC_CLIENTE_ID}}', '{{TTC_TIPO_CLIENTE}}', '{{TTC_ID}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Borrar Registro" class="btn btn-elegant" onclick="tarifario.borrarCliente('{{TTC_ID}}')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </script>
                    <!-- Busqueda fin -->
                </div>


            </div>

            <div class="tab-pane fade" id="tarifas_cliente" role="tabpanel" aria-labelledby="tarifas_cliente_tab">
                <div class="row">
                    <div class="col-md-3"><h4></h4></div>
                    <div class="col-md-9 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                @*Agregar*@
                                <button id="tarifas_cliente_btn_agregar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarifario.tarifas_cliente.agregar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                @*Regresar*@
                                <button id="tarifas_cliente_btn_regresar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarifario.tarifas_cliente.regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                                @*Guardar*@
                                <button id="tarifas_cliente_btn_guardar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar" type="button" onclick="tarifario.tarifas_cliente.guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Tarifas Cliente</h4>

                <div id="detalles-tarifa" class="detInfo_tarifa">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="TRF_TIPO_TARIFA" class="control-label col-md-12">Tipo Tarifa:</label>
                                    <select id="TRF_TIPO_TARIFA" name="TRF_TIPO_TARIFA" class="form-control" tabindex=""></select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="div_tarifas_cliente_inputs" style="display:block">
                        <form id="frm_tarifas_completa" class="frm_tarifas_completa" style="display:none; border-style: dashed; border-color: brown;">
                            <input type="hidden" id="TRC_USU_REGISTRO" name="TRC_USU_REGISTRO" />
                            <input type="hidden" id="TRC_TRF_ID" name="TRC_TRF_ID" />
                            <div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="TRF_TIPO_CONTENEDOR" class="control-label col-md-12">Tipo Contenedor</label>
                                        <div class="md-form">
                                            <select name="TRF_TIPO_CONTENEDOR" id="TRF_TIPO_CONTENEDOR" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="TRF_TAMANO_CONT" class="control-label col-md-12">Tamaño Contenedor</label>
                                        <div class="md-form">
                                            <select name="TRF_TAMANO_CONT" id="TRF_TAMANO_CONT" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="TRF_TIPO_DESCARGA" class="control-label col-md-12">Tipo Descarga</label>
                                        <div class="md-form">
                                            <select name="TRF_TIPO_DESCARGA" id="TRF_TIPO_DESCARGA" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_ESTADIA_MINIMA" name="TRF_ESTADIA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_ESTADIA_MINIMA" class="control-label col-md-12">Estad&iacute;a M&iacute;nima</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_MINIMA" name="TRF_TARIFA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_MINIMA" class="control-label col-md-12">Tarifa M&iacute;nima</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="TRF_MONEDA_TARIFA_MIN" class="control-label col-md-12">Moneda monto m&iacute;nimo</label>
                                        <div class="md-form">
                                            <select name="TRF_MONEDA_TARIFA_MIN" id="TRF_MONEDA_TARIFA_MIN" class="form-control" tabindex="7"></select>
                                        </div>
                                    </div>
                                    <div class="col-1 align-self-center">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="TRF_ES_DUT" id="TRF_ES_DUT" class="k-checkbox">
                                                <label class="k-checkbox-label" for="TRF_ES_DUT">Dut</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 align-self-center">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="TRF_POR_MOVIMIENTO" id="TRF_POR_MOVIMIENTO" class="k-checkbox">
                                                <label class="k-checkbox-label" for="TRF_POR_MOVIMIENTO">Por Movimiento</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 align-self-center">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="TRF_ESTADO" id="TRF_ESTADO" class="k-checkbox">
                                                <label class="k-checkbox-label" for="TRF_ESTADO">Estado</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_ADIC_DIARIA" name="TRF_TARIFA_ADIC_DIARIA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_ADIC_DIARIA" class="control-label col-md-12">Tarifa Adicional</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="TRF_MONEDA_TARIF_ADIC" class="control-label col-md-12">Moneda monto adicional</label>
                                        <div class="md-form">
                                            <select name="TRF_MONEDA_TARIF_ADIC" id="TRF_MONEDA_TARIF_ADIC" class="form-control" tabindex="7"></select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label" for="MER_OBSERVACIONES">Observaciones</label>
                                                <textarea class="form-control" tabindex="19" id="MER_OBSERVACIONES" name="MER_OBSERVACIONES" maxlength="300"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form id="frm_tarifas_consolidada" class="frm_tarifas_consolidada" style="display:none; border-style: dashed; border-color: aliceblue;">
                            <input type="hidden" id="TRC_USU_REGISTRO" name="TRC_USU_REGISTRO" />
                            <input type="hidden" id="TRC_TRF_ID" name="TRC_TRF_ID" />
                            <div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="TRF_TIPO_CONTENEDOR" class="control-label col-md-12">Tipo Contenedor</label>
                                        <div class="md-form">
                                            <select name="TRF_TIPO_CONTENEDOR" id="TRF_TIPO_CONTENEDOR" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                    <div class="col-1 align-self-center">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="TRF_ES_DUT" id="TRF_ES_DUT" class="k-checkbox">
                                                <label class="k-checkbox-label" for="TRF_ES_DUT">Dut</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 align-self-center">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="TRF_POR_MOVIMIENTO" id="TRF_POR_MOVIMIENTO" class="k-checkbox">
                                                <label class="k-checkbox-label" for="TRF_POR_MOVIMIENTO">Por Movimiento</label>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
                                        <label for="TRF_TAMANO_CONT" class="control-label col-md-12">Tamaño Contenedor</label>
                                        <div class="md-form">
                                            <select name="TRF_TAMANO_CONT" id="TRF_TAMANO_CONT" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>*@
                                </div>

                                <div class="row">

                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label" for="MER_OBSERVACIONES">Observaciones</label>
                                                <textarea class="form-control" tabindex="19" id="MER_OBSERVACIONES" name="MER_OBSERVACIONES" maxlength="300"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-1 align-self-center">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="TRF_ESTADO" id="TRF_ESTADO" class="k-checkbox">
                                                <label class="k-checkbox-label" for="TRF_ESTADO">Estado</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <form id="frm_tarifas_general" class="frm_tarifas_general" style="display:none; border-style: dashed; border-color: aqua;">
                            <input type="hidden" id="TRC_USU_REGISTRO" name="TRC_USU_REGISTRO" />
                            <input type="hidden" id="TRC_TRF_ID" name="TRC_TRF_ID" />
                            <div>
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="TRF_SEG_ADICIONAL" id="TRF_SEG_ADICIONAL" class="k-checkbox">
                                                <label class="k-checkbox-label" for="TRF_SEG_ADICIONAL">Seguro adicional</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="TRF_BASE_CALCULO_SEG_ADIC" class="control-label col-md-12">Base de cálculo</label>
                                        <div class="md-form">
                                            <select name="TRF_BASE_CALCULO_SEG_ADIC" id="TRF_BASE_CALCULO_SEG_ADIC" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_MINIMA" name="TRF_TARIFA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_MINIMA" class="control-label col-md-12">Factor</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="TRF_MONEDA_TARIF_ADIC" class="control-label col-md-12">Moneda</label>
                                        <div class="md-form">
                                            <select name="TRF_MONEDA_TARIF_ADIC" id="TRF_MONEDA_TARIF_ADIC" class="form-control" tabindex="7"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="TRF_BASE_CALCULO_SEG_ADIC" class="control-label col-md-12">Operador</label>
                                        <div class="md-form">
                                            <select name="TRF_BASE_CALCULO_SEG_ADIC" id="TRF_BASE_CALCULO_SEG_ADIC" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_MINIMA" name="TRF_TARIFA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_MINIMA" class="control-label col-md-12">Monto Base</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="TRF_MONEDA_TARIF_ADIC" class="control-label col-md-12">Moneda</label>
                                        <div class="md-form">
                                            <select name="TRF_MONEDA_TARIF_ADIC" id="TRF_MONEDA_TARIF_ADIC" class="form-control" tabindex="7"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_MINIMA" name="TRF_TARIFA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_MINIMA" class="control-label col-md-12">Monto mínimo</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="TRF_MONEDA_TARIF_ADIC" class="control-label col-md-12">Moneda</label>
                                        <div class="md-form">
                                            <select name="TRF_MONEDA_TARIF_ADIC" id="TRF_MONEDA_TARIF_ADIC" class="form-control" tabindex="7"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_MINIMA" name="TRF_TARIFA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_MINIMA" class="control-label col-md-12">Frecuencia</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form id="frm_tarifas_compensacion" class="frm_tarifas_compensacion" style="display:none; border-style: dashed; border-color: chocolate;">
                            <input type="hidden" id="TRC_USU_REGISTRO" name="TRC_USU_REGISTRO" />
                            <input type="hidden" id="TRC_TRF_ID" name="TRC_TRF_ID" />
                            <div>
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <input type="checkbox" name="TRF_SEG_ADICIONAL" id="TRF_SEG_ADICIONAL" class="k-checkbox">
                                                <label class="k-checkbox-label" for="TRF_SEG_ADICIONAL">Compensación</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="TRF_BASE_CALCULO_SEG_ADIC" class="control-label col-md-12">Monto</label>
                                        <div class="md-form">
                                            <select name="TRF_BASE_CALCULO_SEG_ADIC" id="TRF_BASE_CALCULO_SEG_ADIC" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_MINIMA" name="TRF_TARIFA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_MINIMA" class="control-label col-md-12">Valor</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form id="frm_tarifas_parcial" class="frm_tarifas_parcial" style="display:none; border-style: dashed; border-color: darkblue;">
                            <input type="hidden" id="TRC_USU_REGISTRO" name="TRC_USU_REGISTRO" />
                            <input type="hidden" id="TRC_TRF_ID" name="TRC_TRF_ID" />
                            <div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="TRF_BASE_CALCULO_SEG_ADIC" class="control-label col-md-12">Tipo Parcial</label>
                                        <div class="md-form">
                                            <select name="TRF_BASE_CALCULO_SEG_ADIC" id="TRF_BASE_CALCULO_SEG_ADIC" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_MINIMA" name="TRF_TARIFA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_MINIMA" class="control-label col-md-12">Factor</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="TRF_BASE_CALCULO_SEG_ADIC" class="control-label col-md-12">Moneda</label>
                                        <div class="md-form">
                                            <select name="TRF_BASE_CALCULO_SEG_ADIC" id="TRF_BASE_CALCULO_SEG_ADIC" class="form-control" tabindex=""></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="TRF_TARIFA_MINIMA" name="TRF_TARIFA_MINIMA" type="text" class="form-control" tabindex="" />
                                            <label for="TRF_TARIFA_MINIMA" class="control-label col-md-12">Fórmula</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                @*<div id="div_tarifas_cliente_busqueda">
            <div class="container-fluid div_tarifas_cliente_busqueda" id="div_tarifas_cliente_busqueda">
                <form id="frm_tarifas_cliente_busqueda" class="frm_tarifas_cliente_busqueda">
                    <input id="B_TRC_TRF_ID" name="B_TRC_TRF_ID" type="hidden">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="B_TRC_CLIENTE_CONTENEDOR" class="control-label col-md-12">Cliente Contenedor</label>
                                <input id="B_TRC_CLIENTE_CONTENEDOR" name="B_TRC_CLIENTE_CONTENEDOR" type="text" class="form-control" onkeyup="tarifario.tarifas_cliente.buscar(this)" maxlength="20">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="B_TRC_CLIENTE_GUIA" class="control-label col-md-12">Cliente Guia</label>
                                <input id="B_TRC_CLIENTE_GUIA" name="B_TRC_CLIENTE_GUIA" type="text" class="form-control" onkeyup="tarifario.tarifas_cliente.buscar(this)" maxlength="20">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="tbl_tarifas_cliente_busqueda" class="table-responsive">
                <table id="tarifas_cliente_busqueda_table" data-toggle="table" class="table table-fixed">
                    <thead>
                        <tr>
                            <th data-field="TRC_CLIENTE_CONTENEDOR">Cliente Contenedor</th>
                            <th data-field="CLIENTE_CONTENEDOR">Nombre</th>
                            <th data-field="TRC_TIPO_CLIENTE_CONTENEDOR">Tipo</th>
                            <th data-field="TRC_CLIENTE_GUIA">Cliente Guia</th>
                            <th data-field="CLIENTE_GUIA">Nombre</th>
                            <th data-field="TRC_USU_REGISTRO">Usuario</th>
                            <th data-field="TRC_FCH_REGISTRO">Fecha Registro</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tarifas_cliente_busqueda_tablebody"></tbody>
                </table>
            </div>
            <script id="tarifas_cliente_busqueda_table_template" type="text/x-handlebars-template">
                <tr>
                    <td>{{TRC_CLIENTE_CONTENEDOR}}</td>
                    <td>{{CLIENTE_CONTENEDOR}}</td>
                    <td>{{TRC_TIPO_CLIENTE_CONTENEDOR}}</td>
                    <td>{{TRC_CLIENTE_GUIA}}</td>
                    <td>{{CLIENTE_GUIA}}</td>
                    <td>{{TRC_USU_REGISTRO}}</td>
                    <td>{{TRC_FCH_REGISTRO}}</td>
                    <td>
                        <button class="btn btn-elegant" onclick="tarifario.tarifas_cliente.eliminar('{{JSON}}')"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </script>
        </div>*@

      
            </div>

            <div class="tab-pane fade" id="rubros_tarifa" role="tabpanel" aria-labelledby="rubros_tarifa_tab">
                <div class="row">
                    <div class="col-md-3"><h4></h4></div>
                    <div class="col-md-9 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <!--Agregar-->
                                <button id="conceptos_tarifa_btn_agregar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarifario.conceptos_tarifa.agregar()"><i class="fa fa-plus" aria-hidden="false"></i></button>
                                <!--Regresar-->
                                <button id="conceptos_tarifa_btn_regresar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarifario.conceptos_tarifa.listar()"><i class="fa fa-arrow-left" aria-hidden="false"></i></button>
                                <!--Guardar-->
                                <button id="conceptos_tarifa_btn_guardar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Conceptos por Tarifa" type="button" onclick="tarifario.conceptos_tarifa.guardar()"><i class="fa fa-save" aria-hidden="false"></i></button>
                                <!--Actualizar-->
                                <button id="conceptos_tarifa_btn_actualizar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Conceptos por Tarifa" type="button" onclick="tarifario.conceptos_tarifa.actualizar()"><i class="fa fa-edit" aria-hidden="false"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <h4>Rubros - <span id="CONCEPTOS_TARIFA_INFO"></span></h4>

                <div id="div_conceptos_tarifa_busqueda">
                    <div class="container-fluid div_conceptos_tarifa_busqueda" id="div_conceptos_tarifa_busqueda">
                        <form id="frm_conceptos_tarifa_busqueda" class="frm_conceptos_tarifa_busqueda">
                            <input type="hidden" id="B_CTR_TRF_ID" name="B_CTR_TRF_ID" />
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="B_CTR_CCB_CONCEPTO" class="control-label col-md-12">Concepto Tarifa</label>
                                        <input id="B_CTR_CCB_CONCEPTO" name="B_CTR_CCB_CONCEPTO" type="text" class="form-control" onkeyup="tarifario.conceptos_tarifa.buscar(this)" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="tbl_conceptos_tarifa_busqueda" class="table-responsive">
                        <table id="conceptos_tarifa_busqueda_table" data-toggle="table" class="table table-fixed">
                            <thead>
                                <tr>
                                    <th data-field="CTR_CCB_CONCEPTO">Concepto</th>
                                    <th data-field="CTR_MONTO_FIJO">Monto Fijo</th>
                                    <th data-field="CTR_MONEDA_MONTO_FIJO">Moneda</th>
                                    <th data-field="CTR_PCT_PRORRATEO">% Prorrateo</th>
                                    <th data-field="CTR_CIF_MINIMO">CIF Minimo</th>
                                    <th data-field="CTR_MONTO_MINIMO">Monto Minimo</th>
                                    <th data-field="CTR_MONEDA_MONTO_MINIMO">Moneda</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="conceptos_tarifa_busqueda_tablebody"></tbody>
                        </table>
                    </div>
                    <script id="conceptos_tarifa_busqueda_table_template" type="text/x-handlebars-template">
                        <tr>
                            <td>{{CTR_CCB_CONCEPTO}}</td>
                            <td>{{CTR_MONTO_FIJO}}</td>
                            <td>{{CTR_MONEDA_MONTO_FIJO}}</td>
                            <td>{{CTR_PCT_PRORRATEO}}</td>
                            <td>{{CTR_CIF_MINIMO}}</td>
                            <td>{{CTR_MONTO_MINIMO}}</td>
                            <td>{{CTR_MONEDA_MONTO_MINIMO}}</td>
                            <td>
                                <button class="btn btn-elegant" onclick="tarifario.conceptos_tarifa.editar('{{JSON}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button class="btn btn-elegant" onclick="tarifario.conceptos_tarifa.eliminar('{{JSON}}')"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </script>
                </div>

                <div id="div_conceptos_tarifa_inputs" style="display:none">
                    <form id="frm_conceptos_tarifa" class="frm_conceptos_tarifa">
                        <input type="hidden" id="TRF_USU_REGISTRO" name="TRF_USU_REGISTRO" />
                        <input type="hidden" id="CTR_TRF_ID" name="CTR_TRF_ID" />
                        <div id="detalles-registro-muestras" class="detInfo_registro_muestras">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="CTR_CCB_CONCEPTO" class="control-label col-md-12">Concepto</label>
                                    <div class="md-form">
                                        <select name="CTR_CCB_CONCEPTO" id="CTR_CCB_CONCEPTO" class="form-control" tabindex="1"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="CTR_MONTO_FIJO" class="control-label col-md-12">Monto Fijo</label>
                                    <input id="CTR_MONTO_FIJO" name="CTR_MONTO_FIJO" type="text" class="form-control" tabindex="2" />
                                </div>
                                <div class="col-md-4">
                                    <label for="CTR_MONEDA_MONTO_FIJO" class="control-label col-md-12">Moneda monto fijo</label>
                                    <div class="md-form">
                                        <select name="CTR_MONEDA_MONTO_FIJO" id="CTR_MONEDA_MONTO_FIJO" class="form-control" tabindex="3"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label for="CTR_PCT_PRORRATEO" class="control-label col-md-12">Porcentaje prorrateo</label>
                                    <input id="CTR_PCT_PRORRATEO" name="CTR_PCT_PRORRATEO" type="text" class="form-control" tabindex="4" />
                                </div>
                                <div class="col-md-3">
                                    <label for="CTR_CIF_MINIMO" class="control-label col-md-12">CIF m&iacute;nimo</label>
                                    <input id="CTR_CIF_MINIMO" name="CTR_CIF_MINIMO" type="text" class="form-control" tabindex="5" />
                                </div>
                                <div class="col-md-3">
                                    <label for="CTR_MONTO_MINIMO" class="control-label col-md-12">Monto m&iacute;nimo</label>
                                    <input id="CTR_MONTO_MINIMO" name="CTR_MONTO_MINIMO" type="text" class="form-control" tabindex="6" />
                                </div>
                                <div class="col-md-3">
                                    <label for="CTR_MONEDA_MONTO_MINIMO" class="control-label col-md-12">Moneda monto m&iacute;nimo</label>
                                    <div class="md-form">
                                        <select name="CTR_MONEDA_MONTO_MINIMO" id="CTR_MONEDA_MONTO_MINIMO" class="form-control" tabindex="7"></select>
                                    </div>
                                </div>
                            </div>

                            <hr class="espacio" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="otros_tarifa" role="tabpanel" aria-labelledby="otros_tarifa_tab">
                <div class="row">
                    <div class="col-md-3"><h4></h4></div>
                    <div class="col-md-9 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <!--Agregar-->
                                <button id="conceptos_tarifa_btn_agregar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarifario.conceptos_tarifa.agregar()"><i class="fa fa-plus" aria-hidden="false"></i></button>
                                <!--Regresar-->
                                <button id="conceptos_tarifa_btn_regresar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="tarifario.conceptos_tarifa.listar()"><i class="fa fa-arrow-left" aria-hidden="false"></i></button>
                                <!--Guardar-->
                                <button id="conceptos_tarifa_btn_guardar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Conceptos por Tarifa" type="button" onclick="tarifario.conceptos_tarifa.guardar()"><i class="fa fa-save" aria-hidden="false"></i></button>
                                <!--Actualizar-->
                                <button id="conceptos_tarifa_btn_actualizar" style="display:none" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Conceptos por Tarifa" type="button" onclick="tarifario.conceptos_tarifa.actualizar()"><i class="fa fa-edit" aria-hidden="false"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <h4>Otros Cobros - <span id="CONCEPTOS_TARIFA_INFO"></span></h4>

                <div id="div_conceptos_tarifa_busqueda">
                    <div class="container-fluid div_conceptos_tarifa_busqueda" id="div_conceptos_tarifa_busqueda">
                        <form id="frm_conceptos_tarifa_busqueda" class="frm_conceptos_tarifa_busqueda">
                            <input type="hidden" id="B_CTR_TRF_ID" name="B_CTR_TRF_ID" />
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="B_CTR_CCB_CONCEPTO" class="control-label col-md-12">Concepto Tarifa</label>
                                        <input id="B_CTR_CCB_CONCEPTO" name="B_CTR_CCB_CONCEPTO" type="text" class="form-control" onkeyup="tarifario.conceptos_tarifa.buscar(this)" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="tbl_conceptos_tarifa_busqueda" class="table-responsive">
                        <table id="conceptos_tarifa_busqueda_table" data-toggle="table" class="table table-fixed">
                            <thead>
                                <tr>
                                    <th data-field="CTR_CCB_CONCEPTO">Concepto</th>
                                    <th data-field="CTR_MONTO_FIJO">Monto Fijo</th>
                                    <th data-field="CTR_MONEDA_MONTO_FIJO">Moneda</th>
                                    <th data-field="CTR_PCT_PRORRATEO">% Prorrateo</th>
                                    <th data-field="CTR_CIF_MINIMO">CIF Minimo</th>
                                    <th data-field="CTR_MONTO_MINIMO">Monto Minimo</th>
                                    <th data-field="CTR_MONEDA_MONTO_MINIMO">Moneda</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="conceptos_tarifa_busqueda_tablebody"></tbody>
                        </table>
                    </div>
                    <script id="conceptos_tarifa_busqueda_table_template" type="text/x-handlebars-template">
                        <tr>
                            <td>{{CTR_CCB_CONCEPTO}}</td>
                            <td>{{CTR_MONTO_FIJO}}</td>
                            <td>{{CTR_MONEDA_MONTO_FIJO}}</td>
                            <td>{{CTR_PCT_PRORRATEO}}</td>
                            <td>{{CTR_CIF_MINIMO}}</td>
                            <td>{{CTR_MONTO_MINIMO}}</td>
                            <td>{{CTR_MONEDA_MONTO_MINIMO}}</td>
                            <td>
                                <button class="btn btn-elegant" onclick="tarifario.conceptos_tarifa.editar('{{JSON}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button class="btn btn-elegant" onclick="tarifario.conceptos_tarifa.eliminar('{{JSON}}')"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </script>
                </div>

                <div id="div_conceptos_tarifa_inputs" style="display:none">
                    <form id="frm_conceptos_tarifa" class="frm_conceptos_tarifa">
                        <input type="hidden" id="TRF_USU_REGISTRO" name="TRF_USU_REGISTRO" />
                        <input type="hidden" id="CTR_TRF_ID" name="CTR_TRF_ID" />
                        <div id="detalles-registro-muestras" class="detInfo_registro_muestras">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="CTR_CCB_CONCEPTO" class="control-label col-md-12">Concepto</label>
                                    <div class="md-form">
                                        <select name="CTR_CCB_CONCEPTO" id="CTR_CCB_CONCEPTO" class="form-control" tabindex="1"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="CTR_MONTO_FIJO" class="control-label col-md-12">Monto Fijo</label>
                                    <input id="CTR_MONTO_FIJO" name="CTR_MONTO_FIJO" type="text" class="form-control" tabindex="2" />
                                </div>
                                <div class="col-md-4">
                                    <label for="CTR_MONEDA_MONTO_FIJO" class="control-label col-md-12">Moneda monto fijo</label>
                                    <div class="md-form">
                                        <select name="CTR_MONEDA_MONTO_FIJO" id="CTR_MONEDA_MONTO_FIJO" class="form-control" tabindex="3"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label for="CTR_PCT_PRORRATEO" class="control-label col-md-12">Porcentaje prorrateo</label>
                                    <input id="CTR_PCT_PRORRATEO" name="CTR_PCT_PRORRATEO" type="text" class="form-control" tabindex="4" />
                                </div>
                                <div class="col-md-3">
                                    <label for="CTR_CIF_MINIMO" class="control-label col-md-12">CIF m&iacute;nimo</label>
                                    <input id="CTR_CIF_MINIMO" name="CTR_CIF_MINIMO" type="text" class="form-control" tabindex="5" />
                                </div>
                                <div class="col-md-3">
                                    <label for="CTR_MONTO_MINIMO" class="control-label col-md-12">Monto m&iacute;nimo</label>
                                    <input id="CTR_MONTO_MINIMO" name="CTR_MONTO_MINIMO" type="text" class="form-control" tabindex="6" />
                                </div>
                                <div class="col-md-3">
                                    <label for="CTR_MONEDA_MONTO_MINIMO" class="control-label col-md-12">Moneda monto m&iacute;nimo</label>
                                    <div class="md-form">
                                        <select name="CTR_MONEDA_MONTO_MINIMO" id="CTR_MONEDA_MONTO_MINIMO" class="form-control" tabindex="7"></select>
                                    </div>
                                </div>
                            </div>

                            <hr class="espacio" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
