input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    /*background-color: transparent;*/
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 100%;
    font-size: 1rem;
    box-shadow: none!important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;

}


.md-form .prefix~input, .md-form .prefix~textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.md-form .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

.md-form, .md-form .btn {
    margin-bottom: 1.5rem;
}

.md-form {
    position: relative;
}

body {
    overflow: auto!important;
    font-family: Roboto,sans-serif;
}

.md-form .prefix~label {
    margin-left: 3rem;
}

.md-form label {
    color: #757575;
    /*position: static;*/
    position: absolute;
    top: .8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

label {
    font-size: .8rem;
    color: darken #ccc,90%;
}

input[type:text]:focus:not([readonly])+label{
	color:blue;
}

label.active{
	font-size: .8rem;
	transform: translateY(-99%);
}

input[type=date]+label:after, input[type=datetime-local]+label:after, input[type=email]+label:after, input[type=number]+label:after, input[type=password]+label:after, input[type=search-md]+label:after, input[type=search]+label:after, input[type=tel]+label:after, input[type=text]+label:after, input[type=time]+label:after, input[type=url]+label:after, textarea.md-textarea+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: .2s opacity ease-out,.2s color ease-out;
}

/*.form-control {
    padding: .5rem 0 .6rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    margin-top: .2rem;
    margin-bottom: 1rem;
}
.form-control:focus{
	background-color: transparent;
	box-shadow: none;
}*/