#logo {
  padding-top: 30px;
}
#logoStyle{
  text-align: center;
}
body {
    background-color: rgba(60, 60, 60, 1);
    color:#fff;
}
input[type=submit] {

  padding:5px 15px; background:#C29F34!important; border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}
input[type=submit]:hover, input[type=submit]:focus {
    background-color: #F7C705;
    color: black;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}
input[type=password]:focus {
    color: #FFF;
}
input{
    color: #FFF;
}
#header{
  background-color: black;
}
@media screen and (min-width: 1366px){
  .login {
    padding-left: 37%;
    padding-top: 2%;
  }
  #header header nav .container span{
    margin-top: -1%;
  }
}
@media screen and (min-width: 768px){
  .login {
    padding-left: 35%;
    padding-top: 2%;
  }
  .row{
    margin-right: -98px; !important
  }
}
@media screen and (min-width: 320px){
  .login {
    padding-top: 4%;
  }
}
input{
  background-color: transparent!important;
}
.form-control:focus{
  box-shadow: 0 0 0 0;
   border-color: #ccc;
}
.right{
  text-align: right!important;
}