#logo {
	padding-top: 30px;
}
#logoStyle{
	text-align: center;
}

#logoStyleInicio {
    text-align: center;
}
.card{
	 background-color: rgba(60, 60, 60, 1);
}
.k-select {
    color: #FFF;
    background-color: rgba(60, 60, 60, 1);
}
.fa, .fas {
  color : white;
}
.btn-elegant, .btn-elegant:hover, .btn-elegant:active, .btn-elegant:visited, .btn-elegant:focus, .btn-elegant.active{
    background-color: rgb(147, 150, 149)!important;
    cursor:pointer !important;
}
.control-label.active{
	 color: #FFF!important; 
	 /* -webkit-transform:translateY(-0%)!important; */
	 /* -ms-transform:translateY(-0%)!important; */
	 /* transform:translateY(-0%)!important; */
}
body {
    background-color: rgba(60, 60, 60, 1);
    color:#fff;
}

form{
	background-color: rgba(60, 60, 60, 1);
}
textarea {
    resize: none;
}
select {
    background: rgba(60,60,60,1) !important;
    color: #fff !important;
    border-color: #FFF !important;
}
select:disabled {
    background: rgba(60,60,60,1) !important;
    color: #C29F34 !important;
    border-color: #FFF !important;
}
select option {
    background: rgba(60, 60, 60, 1);
    color: #fff;
}
input[type=text], input[type=number] {
    color: #FFF!important;
    background-color: rgba(60, 60, 60, 1);
}
input[type=checkbox] {
    cursor:pointer!important;
}
input[type=text]:not([readonly]) + label{
    color: rgb(147, 150, 149); 
}
input[type="text"][disabled]+label {
   color: #C29F34!important;   
}
.disabled label {
    color: #C29F34;
}
input[type=text][disabled], input[type=number][disabled] {
    border-bottom: 1px solid #C29F34 !important;
    box-shadow: 0 1px 0 0 #C29F34 !important;
    border-right: 1px solid #3c3c3c !important;
    color: #C29F34 !important;
    background-color: rgba(60, 60, 60, 1) !important;
}
.k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper  {
    background-color: rgba(60, 60, 60, 1)!important;
}#frmmanifiesto{
    margin-left:10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(60, 60, 60, 1);
    color: white;
    text-align: center;
}

#myform{
    width:100%;
}

#topline{
    width:100%;
}

.tab-content > .tab-pane {
  display: none!important;
}

.tab-content > .active {
  display: block!important;
}


.fullHidden{
  display: none!important;
}

.frame_previos{
    width: 900px;
}

.divwithscroll{
    height:320px;
    overflow:scroll;
    overflow-x:hidden;
}

.divwithscroll2 {
    width:100%;
    height: 520px;
    overflow: scroll;
    overflow-x: hidden;
}

.lblfocus {
    color: white !important;
    transform: translateY(-140%)!important;
    font-size:.8rem!important;
}
header{
  background-color: black;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
    border-left-color: transparent;
}

.dropdown-submenu:hover>a:after {
    border-left-color: transparent;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

nav ul li a{
  color: white;
}
nav ul li a:hover, nav > li > a:hover,
nav > li > a:focus{
  color: rgb(147, 150, 149);
 }

#navbarTogglerDemo01 span strong a {
  color: white;
}

nav ul li.active {
    background-color: red;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: rgb(147, 150, 149);
}

.md-form input:focus > label{
  transform: translateY(-140%)!important;
    font-size:.8rem!important;

}

#logout{
  color: white;
  font-size: 26px;
  padding-left: 1%;
}

.alignRight
{
    text-align: right!important;
}

.nav li{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav li a{
    color: black;
    background-color: white;
    border-color: #e9ecef!important;
}
.nav-link.active{
    /*background-color: rgb(147, 150, 149)!important;*/
    background-color: #C29F34!important;
    color: white!important;
}

.form-control{
    background-color: transparent;
    border-color: #e9ecef!important;
    box-shadow: 0 0 0 0.05rem #e9ecef;
}
.form-control:focus{
    box-shadow: none!important;
    background-color: transparent; 
}
.modal-body .form-control:focus {
    box-shadow: none !important;
    background-color: black !important;
}
textarea:focus{
    box-shadow: none!important;
    border-bottom: 1px solid white!important;
}

.form-control:disabled, .form-control[readonly] {
     background-color: transparent!important;
}

.marginLeft{
    margin-left: 50%!important;
}
.modal-body{
    color: black!important;
}
/*#ColaAforoAC_Table tr td:last-child, #ColaAforoAR_Table tr td:last-child, #ColaAC_Table tr td:last-child, #ColaAR_Table tr td:last-child, #ColaSR_Table tr td:last-child, #ColaSC_Table tr td:last-child, #ColaSZ_Table tr td:last-child {
    width: 117px !important;
}*/
#MERC_AR_Table, #MERC_AC_Table, #MERC_SC_Table, #MERC_SR_Table, #MERC_SZ_Table {
    max-width: 30%;
    margin-left: 34%;
    background-color: rgba(214, 181, 47, 0.5);
}
.user{
    text-align: right;
    font-size: 14px;
}
#myTabContent{
    width: 100%
}
#th_ColaAforoAR, #th_ColaAforoAC, #th_ColaAforoSC, #th_ColaAforoSR, #th_ColaAC, #th_ColaSC, #th_ColaSZ {
    max-height: 400px;
}

#tbl_ingresoMerc {
    max-height: 500px;
}
/*@media screen and (min-width: 768px){
    #th_ColaAforoAR, #th_ColaAforoSC, #th_ColaAforoSR, #th_ColaAC, #th_ColaSC, #th_ColaSZ {
        width: 114%;
    }
}*/

/*#th_ColaAforoAR {
    width: 90% !important;
}*/
#movimientos_table {
    /*background-color: rgba(214, 181, 47, 0.5);*/
}

#PREV_TablaMercancias {
    background-color: rgba(127,127,127,127);
    max-height: 500px;
    max-width: 95%;
}

#th_Mercancias_Perdidas {
    background-color: rgba(127,127,127,127);
    max-height: 350px;
    /*max-width: 95%;*/
}

#Prev_table1 tbody, #ces_table tbody {
    background-color: rgba(60, 60, 60, 1);
    color: white;
}

#tbl_ces {
    background-color: rgba(127,127,127,127);
    max-height: 250px;
}

#tbl_tarimas {
    background-color: rgba(127,127,127,127);
    max-height: 500px;
}

#th_mercanciasReimp, #th_Cajeras {
    background-color: rgba(127,127,127,127);
    max-height: 400px;
}
#th_consDesconsolid {
    background-color: rgba(127,127,127,127);
    max-height: 500px;
}
#th_Declarantes, #th_funcionarios{
    background-color: rgba(127,127,127,127);
    max-height: 380px;
}

#tb_agencias tbody,
#tb_agentes tbody,
#Declarantes_Table tbody,
#tb_funcionarios tbody,
#th_mercanciasReimp tbody,
#th_mercLocalizaEspecial tbody,
#tbl_solicitudesVideo tbody,
#th_consDesconsolid tbody,
#tarimas_table tbody,
#tarimas_cons_table tbody,
#Mercancias_Perdidas_Table tbody,
#tbl_EnColaAsig tbody,
#th_Cajeras tbody,
#th_mercanciasCorrec tbody,
#th_Prealertas tbody,
#Indicador_Previo tbody,
#tbl_productoNC tbody,
#th_Diferencias tbody,
#th_Bitacora tbody,
#th_Cons_Prealertas tbody,
#th_AndenFacturas tbody{
    background-color: rgba(60, 60, 60, 1);
    color: white;
}

#tbl_totalesfac {
    background-color: rgba(127,127,127,127);
    max-height: 470px;
    max-width: 300px;
}

 #tbl_totalesfac_tarifa {
    background-color: rgba(127,127,127,127);
    max-height: 550px;
    max-width: 300px;
}

#tbl_adicionalesfac {
    background-color: rgba(127,127,127,127);
    max-height: 300px;
    max-width: 650px;
}

#th_mercLocalizaEspecial {
    background-color: rgba(127,127,127,127);
    max-height: 350px;
}

#th_Destinos, #th_Consig, #th_AtencionSala, #th_agentes, #th_Consignatarios, #tbl_tarimas_cons {
    background-color: rgba(127,127,127,127);
    max-height: 300px;
}

#tbl_solicitudesVideo {
    background-color: rgba(127,127,127,127);
    max-height: 370px;
}

#Consignatarios_Table tbody {
    background-color: rgba(60, 60, 60, 1);
}

#th_Usuarios {
    background-color: rgba(127,127,127,127);
    max-height: 550px;
}
 #th_Anden {
    max-height: 550px;
}
#F_Table tbody, #C_Table tbody, #Usuarios_Table tbody, #T_Table tbody, #G_Table tbody, #I_Table tbody, #M_Table tbody, #B_Table tbody, #R_Table tbody {
    background-color: #d4d1d1;
    color: black;
}

hr.espacio {
    border: 1px solid;
    color: rgba(60, 60, 60, 1);
}
.moresize {
    font-size: 20px !important;
}
.moremargin{
    margin-top: 2%!important;
}
span[class~="k-input"]
{
    padding: 0!important;
}
textarea {
    color: white !important;
    font-size: 13px !important;
}

.accionesfijas {
    width: 125px;
}
.divResumen {
    margin-top: 20px;
}

fieldset{
    border-width: 2px!important;
    border-style: groove!important;
    border-color: rgba(127,127,127,127)!important;
    border-image: initial!important;
    width: 82%;
    margin-left: 10%;
    margin-bottom: 2%;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: 8%!important;
}

.modal-title{
    color:black;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.demo-section{
    background-color: transparent!important;
    color: white!important;
}
.k-combobox{
    width: 100%!important;
}
.k-combobox input{
    border-bottom: none!important;
    height: 100%!important;
}
.k-combobox .k-dropdown-wrap{
    border: 2px solid white!important;
    height: 92%;
}
.k-combobox span{
    color: white!important;
}
k-list>.k-state-focused.k-state-selected, .k-listview>.k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    -webkit-box-shadow: inset 0 0 3px 1px #757575!important;
    box-shadow: inset 0 0 3px 1px #757575!important;
}
list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
    color: #fff;
    background-color: #757575!important;
    border-color: #757575!important;
}
.k-combobox .k-dropdown-wrap:before, .k-numeric-wrap:before, .k-picker-wrap:before {
    content: none!important;
}

/*#frm_manif_fielset label.active{
    color: #C29F34!important;
    transform: translateY(21%)!important;
}
#tarima_fieldset label.active {
    color: #C29F34 !important;
    transform: translateY(21%) !important;
    margin-left: 3% !important;
}*/
/*#resumen_field {
    margin-right: 0px !important;
}*/

#tarima_fieldset {
    margin-left: 2% !important;
    margin-top: 1%;
    width: 95% !important;
}

#tarima_resumen_fieldset {
    margin-left: 0% !important;
    margin-top: 1%;
    width: 95% !important;
}

#etiqueta_tarima, #etiqueta_consecutivo, #conseTitulo, #TarimaTitulo {
    color: #C29F34 !important;
}

.modal-body .control-label.active {
    color: #FFF !important;
    -webkit-transform: translateY(-0%) !important;
    transform: translateY(-77%) !important;
}
#lbl_PLACA, #lbl_PLACATEL, #lbl_PLACANDEN, #lbl_PLACANULAR {
    color: #C29F34 !important;
}

#tbl_EnColaAsig, #th_agencias, #th_Bitacora {
    background-color: rgba(127,127,127,127);
    max-height: 300px;
}

#th_mercanciasCorrec, #th_Prealertas, #Indicador_Previo, #th_Diferencias, #th_Cons_Prealertas {
    background-color: rgba(127,127,127,127);
    max-height: 380px;
}

#tbl_productoNC {
    background-color: rgba(127,127,127,127);
    max-height: 330px;
}

#th_AndenFacturas {
    background-color: rgba(127,127,127,127);
    max-height: 320px;
}
#h2Tarimas {
    font-size: 24px;
}

#h3Tarimas {
    font-size: 15px;
}

#h2Tarimas, #h3Tarimas {
    width: 50%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline;
}