﻿@{
    ViewBag.Title = "Registro Reclamos";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro de Reclamos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_registro_reclamos")
</head>
<body>
    <input type="hidden" id="TabActive" name="TabActive" />
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4>Registro de Reclamos</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_actualizar_reclamo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Registro de Reclamo" type="button" onclick="registro_reclamos.ActualizarReclamo()"><i class="fas fa-edit" aria-hidden="true"></i></button>
                        <button id="btn_registrar_reclamo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Registro de Reclamo" type="button" onclick="registro_reclamos.GuardarReclamo()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_filtros" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="registro_reclamos.limpiarFiltros()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

     

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_registro_reclamos" class="active">
                <a class="nav-link active" id="registro-reclamos-tab" data-toggle="tab" href="#registro_reclamos" role="tab" aria-controls="registro_reclamos" aria-selected="true">Registro Reclamos</a>
            </li>
            <li id="li_investigacion">
                <a class="nav-link" id="investigacion-tab" data-toggle="tab" href="#investigacion" role="tab" aria-controls="investigacion" aria-selected="false">Investigaci&oacute;n</a>
            </li>
            <li id="li_seguimiento">
                <a class="nav-link" id="seguimiento-tab" data-toggle="tab" href="#seguimiento" role="tab" aria-controls="seguimiento" aria-selected="false">Seguimiento</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="registro_reclamos" role="tabpanel" aria-labelledby="registro-reclamos-tab">
                <hr class="espacio"/>
                <div class="container-fluid" id="div_filters">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="s_rec_reclamo" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10" onblur="registro_reclamos.onfocus()">
                                    <label id="lbl_rec_reclamo" for="s_rec_reclamo" class="control-label col-md-12 lblfocus">Id de reclamo</label>
                                </div>
                            </div>
                        </div>                    
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="s_rec_fecha_presentacion" class="control-label col-md-12">Fecha Presentacion</label>
                                    <div class="md-form">
                                        <input id="s_rec_fecha_presentacion" class="form-control" tabindex="2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="s_flr_rcl_tipo" class="control-label col-md-12">Sistema</label>
                                    <div class="md-form">
                                        <select id="s_rec_sistema" class="form-control" tabindex="3"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="s_consecutivo" class="form-control" type="number" tabindex="4" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                                    <label for="s_consecutivo" class="control-label col-md-12">Consecutivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_filtrar_registro_reclamos" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="registro_reclamos.BuscarRegistroReclamos()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px solid #C29F34; background: transparent;">
                
                <h5>Registro de Reclamos</h5>
               
                <form id="frm_registro_reclamos">
                    <input type="hidden" id="USER_MERXReg" name="UserMERX" />
                    <div id="detalles-registro-reclamos" class="detInfo_registro_reclamos">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="REC_RECLAMO_REG" name="REC_RECLAMO_REG" type="text" class="form-control" tabindex="5" disabled>
                                        <label for="REC_RECLAMO_REG" class="control-label col-md-12">Id de registro</label>
                                        <input type="hidden" id="REC_RECLAMO" name="REC_RECLAMO" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="REC_FECHA_PRESENTACION" class="control-label col-md-12">Fecha de Presentaci&oacute;n</label>
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="REC_FECHA_PRESENTACION" name="REC_FECHA_PRESENTACION" class="form-control" tabindex="6">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="REC_SISTEMA" class="control-label col-md-12">Sistema</label>
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <select id="REC_SISTEMA" name="REC_SISTEMA" class="form-control" tabindex="7"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <label for="consecutivo" class="control-label col-md-12">Consecutivo</label>
                                        <input id="consecutivo" name="consecutivo" type="text" class="form-control" tabindex="9">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="DUA_INGRESO" name="DUA_INGRESO" type="text" class="form-control" tabindex="9" disabled>
                                        <label for="DUA_INGRESO" class="control-label col-md-12">DUA de Ingreso</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="GUIA_ORIGINAL" name="GUIA_ORIGINAL" type="text" class="form-control" tabindex="10" disabled>
                                        <label for="GUIA_ORIGINAL" class="control-label col-md-12">Consecutivo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CONSIGNATARIO" name="CONSIGNATARIO" type="text" class="form-control" tabindex="11" disabled>
                                        <label for="CONSIGNATARIO" class="control-label col-md-12">Consignatario/Exportador</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CLIENTE_NOMBRE" name="CLIENTE_NOMBRE" type="text" class="form-control" tabindex="12" disabled>
                                        <label for="CLIENTE_NOMBRE" class="control-label col-md-12">Cliente</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CONSOLIDADOR" name="CONSOLIDADOR" type="text" class="form-control" tabindex="13" disabled>
                                        <label for="CONSOLIDADOR" class="control-label col-md-12">Consolidador</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="AGENCIA" name="AGENCIA" type="text" class="form-control" tabindex="14" disabled>
                                        <label for="AGENCIA" class="control-label col-md-12">Agencia</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="DUA" name="DUA" type="text" class="form-control" tabindex="15" disabled>
                                        <label for="DUA" class="control-label col-md-12">DUA de Salida</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FACTURA" name="FACTURA" type="text" class="form-control" tabindex="16" disabled>
                                        <label for="FACTURA" class="control-label col-md-12">Factura</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_MOTIVO" class="control-label col-md-12">Motivo</label>
                                        <div class="md-form">
                                            <select id="REC_MOTIVO" name="REC_MOTIVO" class="form-control" tabindex="17"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="REC_SOLICITADO" name="REC_SOLICITADO" type="text" class="form-control" tabindex="18">
                                        <label for="REC_SOLICITADO" class="control-label col-md-12">Compa&ntilde;&iacute;a Reclama</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="REC_CONTACTO" name="REC_CONTACTO" type="text" class="form-control" tabindex="19">
                                        <label for="REC_CONTACTO" class="control-label col-md-12">Contacto</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <div class="md-form col-lg-6 col-md-6 col-sm-12">
                                        <input id="REC_MONTO" name="REC_MONTO" type="text" class="form-control" tabindex="20">
                                        <label for="REC_MONTO" class="control-label col-md-12">Valor Reclamado</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <select id="REC_TIPO_MONEDA" name="REC_TIPO_MONEDA" class="form-control" tabindex="21"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_DESCRIP_RECLAMO" class="control-label col-md-12">Descripci&oacute;n</label>
                                        <textarea type="text" id="REC_DESCRIP_RECLAMO" name="REC_DESCRIP_RECLAMO" class="form-control" tabindex="22"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="REC_OBSERVACIONES" class="control-label col-md-12">Observaciones</label>
                                    <textarea type="text" id="REC_OBSERVACIONES" name="REC_OBSERVACIONES" class="form-control" tabindex="22"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="REGISTRO_PNC" name="REGISTRO_PNC" type="text" class="form-control" tabindex="23" disabled>
                                    <label for="REGISTRO_PNC" class="control-label col-md-12">Registro PNC</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="SIV" name="SIV" type="text" class="form-control" tabindex="24" disabled>
                                    <label for="SIV" class="control-label col-md-12">S.I.V</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="PREVIO_EXAMEN" name="PREVIO_EXAMEN" type="text" class="form-control" tabindex="25" disabled>
                                    <label for="PREVIO_EXAMEN" class="control-label col-md-12">Previo Examen</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="REC_USU_REGISTRA" name="REC_USU_REGISTRA" type="text" class="form-control" tabindex="27" disabled>
                                    <label for="REC_USU_REGISTRA" class="control-label col-md-12">Usuario Registra</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="REC_FCH_REGISTRA" name="REC_FCH_REGISTRA" type="text" class="form-control" tabindex="28" disabled>
                                    <label for="REC_FCH_REGISTRA" class="control-label col-md-12">Fecha Registro</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="REC_RESOLUCION" class="control-label col-md-12">Estado</label>
                                <div class="md-form">
                                    <select id="REC_RESOLUCION" name="REC_RESOLUCION" class="form-control" tabindex="29"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade show" id="investigacion" role="tabpanel" aria-labelledby="investigacion-tab">
                <h4>Investigaci&oacute;n</h4>
                <hr class="espacio" />
                <form id="frm_investigacion">
                    @*<input type="hidden" id="USER_MERXInv" name="UserMERX" />*@
                    <div id="detalles-investigacion" class="detInfo_investigacion">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="REC_RECLAMO_OPS" name="REC_RECLAMO_OPS" type="text" class="form-control" tabindex="2" disabled>
                                    <label for="REC_RECLAMO_OPS" class="control-label col-md-12">Reclamo</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="REC_FCH_RECIBE_OPS" class="control-label col-md-12">Fecha Recibido</label>
                                <div class="md-form">
                                    <input id="REC_FCH_RECIBE_OPS" name="REC_FCH_RECIBE_OPS" type="text" class="form-control" tabindex="2">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_INVESTIGA_OPS" class="control-label col-md-12">Investigaci&oacute;n</label>
                                        <textarea style="height:100px" type="text" id="REC_INVESTIGA_OPS" name="REC_INVESTIGA_OPS" class="form-control" tabindex="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_CAUSA_OPS" class="control-label col-md-12">Causa</label>
                                        <textarea style="height:100px" type="text" id="REC_CAUSA_OPS" name="REC_CAUSA_OPS" class="form-control" tabindex="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="espacio" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_OBSERV_OPS" class="control-label col-md-12">Acciones Correctivas</label>
                                        <textarea style="height:100px" type="text" id="REC_OBSERV_OPS" name="REC_OBSERV_OPS" class="form-control" tabindex="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_JUSTIFICA_ATRASO_OPS" class="control-label col-md-12">Justificaci&oacute;n Atraso</label>
                                        <textarea style="height:100px" type="text" id="REC_JUSTIFICA_ATRASO_OPS" name="REC_JUSTIFICA_ATRASO_OPS" class="form-control" tabindex="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="espacio" />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="REC_USU_JUSTIF_OPS" name="REC_USU_JUSTIF_OPS" type="text" class="form-control" tabindex="7">
                                    <label for="REC_USU_JUSTIF_OPS" class="control-label col-md-12">Usuario Justifica</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="REC_FCH_JUSTIF_OPS" class="control-label col-md-12">Fecha Justificaci&oacute;n</label>
                                <div class="md-form">
                                    <input id="REC_FCH_JUSTIF_OPS" name="REC_FCH_JUSTIF_OPS" type="text" class="form-control" tabindex="8">
                                </div>
                            </div>
                            <div class="col-md-2 offset-1">
                                <div class="md-form">
                                    <input id="REC_USU_INVESTIGA" name="REC_USU_INVESTIGA" type="text" class="form-control" tabindex="9">
                                    <label for="REC_USU_INVESTIGA" class="control-label col-md-12">Investigador</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="REC_FCH_RESOLUC_OPS" class="control-label col-md-12">Fecha Resoluci&oacute;n</label>
                                <div class="md-form">
                                    <input id="REC_FCH_RESOLUC_OPS" name="REC_FCH_RESOLUC_OPS" type="text" class="form-control" tabindex="10">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="REC_USU_RESOLUCION" name="REC_USU_RESOLUCION_OPS" type="text" class="form-control" tabindex="11" disabled>
                                    <label for="REC_USU_RESOLUCION" class="control-label col-md-12">Usuario Resoluci&oacute;n Final</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="REC_RESOLUCION_OPS" class="control-label col-md-12">Resoluci&oacute;n</label>
                                <div class="md-form">
                                    <select id="REC_RESOLUCION_OPS" name="REC_RESOLUCION_OPS" type="text" class="form-control" tabindex="12"></select>
                                </div>
                            </div>
                            <div class="col-md-2 offset-1">
                                <div class="md-form">
                                    <input id="TIEMPO_INVESTIGA" name="TIEMPO_INVESTIGA" type="text" class="form-control" tabindex="13" disabled>
                                    <label for="TIEMPO_INVESTIGA" class="control-label col-md-12">Tiempo de Investigaci&oacute;n</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade show" id="seguimiento" role="tabpanel" aria-labelledby="seguimiento-tab">
                <h5>Seguimiento</h5>
                <form id="frm_seguimiento">
                    <div id="detalles-seguimiento" class="detInfo_seguimiento">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="REC_RECLAMO_SEG" name="REC_RECLAMO_SEG" type="text" class="form-control" tabindex="2" disabled>
                                    <label for="REC_RECLAMO_SEG" class="control-label col-md-12">Reclamo</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="DIAS_TRANSCURRIDOS" name="DIAS_TRANSCURRIDOS" type="text" class="form-control" tabindex="2" disabled>
                                    <label for="DIAS_TRANSCURRIDOS" class="control-label col-md-12">D&iacute;as Transcurridos</label>
                                </div>
                            </div>
                        </div>

                        @*<div class="hr-light"></div>*@
                        <hr style="border-top: 1px solid #C29F34; background: transparent;">
                        <h5>Comunicaci&oacute;n con el cliente</h5>
                        <hr class="espacio" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_JUSTIFICA_ATRASO" class="control-label col-md-12">Justificaci&oacute;n Atraso</label>
                                        <textarea style="height:80px" type="text" id="REC_JUSTIFICA_ATRASO" name="REC_JUSTIFICA_ATRASO" class="form-control" tabindex="6"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="md-form">
                                    <input type="text" id="REC_PERSONA_NOTIF" name="REC_PERSONA_NOTIF" class="form-control" tabindex="6" />
                                    <label for="REC_PERSONA_NOTIF" class="control-label col-md-12">Persona de Contacto</label>
                                </div>
                            </div>
                        </div>
                        <hr class="espacio" />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="REC_FCH_NOTIF" class="control-label col-md-12">Fecha</label>
                                    <input id="REC_FCH_NOTIF" name="REC_FCH_NOTIF" type="text" class="form-control" tabindex="2">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="REC_VIA_NOTIF" class="control-label col-md-12">V&iacute;a</label>
                                    <select id="REC_VIA_NOTIF" name="REC_VIA_NOTIF" class="form-control" tabindex="2"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="REC_FCH_ENTREGA_CHEQUE" class="control-label col-md-12">Fecha Entrega Cheque</label>
                                    <input id="REC_FCH_ENTREGA_CHEQUE" name="REC_FCH_ENTREGA_CHEQUE" type="text" class="form-control" tabindex="2">
                                </div>
                            </div>
                        </div>

                        <hr style="border-top: 1px solid #C29F34; background: transparent;">
                        <h5>Resoluci&oacute;n Final</h5>
                        <hr class="espacio" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_JUSTIF_RESOLUCION" class="control-label col-md-12">Justificaci&oacute;n Resoluci&oacute;n</label>
                                        <textarea style="height:80px" type="text" id="REC_JUSTIF_RESOLUCION" name="REC_JUSTIF_RESOLUCION" class="form-control" tabindex="6"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <input id="REC_APLICA_POLIZA" name="REC_APLICA_POLIZA" type="checkbox" class="k-checkbox" tabindex="2">
                                    <label for="REC_APLICA_POLIZA" class="k-checkbox-label">Aplica P&oacute;liza</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input id="REC_DECISION_INS" name="REC_DECISION_INS" type="checkbox" class="k-checkbox" tabindex="2">
                                    <label for="REC_DECISION_INS" class="k-checkbox-label">Aceptaci&oacute;n del INS</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="REC_FCH_ENTREGA_CLIENTE" class="control-label col-md-12">Fecha Entrega al Cliente</label>
                                        <input id="REC_FCH_ENTREGA_CLIENTE" name="REC_FCH_ENTREGA_CLIENTE" type="text" class="form-control" tabindex="2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="myModalRegistroReclamos" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta de Registro de Reclamos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div class="row">
                                    <div id="RCL_TablaQuejas" class="table-responsive">
                                        <table id="RCL_Quejas_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="REC_RECLAMO">Id Registro</th>
                                                    <th data-field="REC_FECHA_PRESENTACION">Fecha Presentaci&oacute;n</th>
                                                    <th data-field="DESC_SISTEMA">Sistema</th>
                                                    <th data-field="consecutivo">Consecutivo</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="registro_reclamos_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="registro_reclamos_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{REC_RECLAMO}}</td>
                                            <td>{{REC_FECHA_PRESENTACION}}</td>
                                            <td>{{DESC_SISTEMA }}</td>
                                            <td>{{consecutivo}}</td>
                                            <td>
                                                <button class="btn btn-elegant" onclick="registro_reclamos.MostrarRegistroReclamosSeleccionado('{{REC_RECLAMO}}')"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
