﻿@{
    ViewBag.Title = "Previos";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Previos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_previos")
</head>
<body>

    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="guias-tab" data-toggle="tab" href="#guias" role="tab" aria-controls="guias" aria-selected="true">Guías</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tarimas-tab" data-toggle="tab" href="#tarimas" role="tab" aria-controls="tarimas" aria-selected="false">Tarimas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="revision-tab" data-toggle="tab" href="#revision" role="tab" aria-controls="revision" aria-selected="false">Revisión</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="guias" role="tabpanel" aria-labelledby="guias-tab">
                <h3>Pedido de Guías a Aforo</h3>              
                <div class="container-fluid" id="div_filters">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="in_flr_guia_original" class="form-control" type="text" tabindex="1" onblur="previos.onfocus()">
                                <label id="lbl_guia_original" for="in_flr_guia_original" class="control-label col-md-12 lblfocus">Conocimiento</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="in_flr_movimiento" class="form-control" type="text" tabindex="2">
                                <label id="lbl_movimiento" for="in_flr_movimiento" class="control-label col-md-12">Movimiento</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="in_flr_ien_entrada" class="form-control" type="text" tabindex="3">
                                <label id="lbl_consecutivo" for="in_flr_consecutivo" class="control-label col-md-12">Consecutivo</label>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_filtrar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="previos.Prev_BuscarPrevio()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="previos.limpiarFiltrosPrevios()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="UsPrev" name="UsPrev" value="@ViewData["User"]" />
                <hr style="border-top: 2px solid #C29F34; background: transparent;">
                <form id="frm_guiafiltroaforo">
                    <div id="detalles-previos" class="detInfo_tiquete_previos">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="prev_ien_tiquete" name="ATS_Tiquete" type="text" class="form-control" tabindex="3" disabled>
                                    @*<label for="prev_ien_tiquete" class="control-label col-md-12">Tiquete</label>*@
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="prev_ien_tipocola" name="ATS_TIPO_Cola" type="text" class="form-control" tabindex="4" disabled>
                                    @*<label for="prev_ien_tipocola" class="control-label col-md-12">Tipo Cola</label>*@
                                </div>
                            </div>
                            <div class="col-md-2">
                                @*<label for="dtp_ien_fch_impreso" class="control-label col-md-12">Fecha de Impresión</label>*@
                                <div class="md-form">
                                    <input id="dtp_ien_fch_impreso" name="ATS_FCH_Impreso" type="text" class="form-control" tabindex="5" disabled>

                                </div>
                            </div>
                            <div class="col-md-2">
                                @*<label for="dtp_ien_fch_actual" class="control-label col-md-12">Fecha Actual</label>*@
                                <div class="md-form">
                                    <input id="dtp_ien_fch_actual" name="ATS_FCH_Actual" type="text" class="form-control" tabindex="6" disabled>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="frm_guiaaforo">
                    <div id="detalles-previos" class="detInfo_previos">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="prev_ien_entrada" name="IEN_Entrada" type="text" class="form-control" tabindex="7" disabled>
                                    <label id="lbl_ien_entrada" for="prev_ien_entrada" class="control-label col-md-12">Consecutivo</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="prev_ien_guiaoriginal" name="IEN_GUIA_Original" type="text" class="form-control" tabindex="8" disabled>
                                    <label id="lbl_ien_guiaoriginal" for="prev_ien_guiaoriginal" class="control-label col-md-12">Conocimiento</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="prev_ien_manifiesto" name="IEN_Manifiesto" type="text" class="form-control" tabindex="9" disabled>
                                    <label id="lbl_ien_manifiesto" for="prev_ien_manifiesto" class="control-label col-md-12">Manifiesto</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="prev_ien_imp_cedula" name="IEN_IMP_Cedula" type="text" class="form-control" tabindex="10" disabled>
                                    <label id="lbl_ien_imp_cedula" for="prev_ien_imp_cedula" class="control-label col-md-12">Consignatario</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="md-form">
                                    <input id="prev_ien_nombre_importador" name="IEN_Importador" type="text" class="form-control" tabindex="11" disabled>
                                </div>
                            </div>
                        </div>
                        <hr style="border-top: 2px solid #C29F34; background: transparent;">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_bultos_manifestados" name="IEN_BULTOS_Manifestados" type="text" class="form-control" tabindex="12" disabled>
                                    <label id="lbl_ien_bultos_manifestados" for="in_ien_bultos_manifestados" class="control-label col-md-12">Bultos Manifestados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_bultos_ingresados" name="IEN_BULTOS_Realingreso" type="text" class="form-control" tabindex="13" disabled>
                                    <label id="lbl_ien_bultos_ingresados" for="in_ien_bultos_ingresados" class="control-label col-md-12">Bultos Ingresados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_blt_despaletizados" name="BLT_Despaletizados" type="text" class="form-control" tabindex="14" disabled>
                                    <label id="lbl_blt_despaletizados" for="in_blt_despaletizados" class="control-label col-md-12">Bultos Despaletizados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_blt_reser" name="BLT_Reser" type="text" class="form-control" tabindex="15" disabled>
                                    <label id="lbl_blt_reser" for="in_blt_reser" class="control-label col-md-12">Bultos Reservados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_blt_salid" name="BLT_Salid" type="text" class="form-control" tabindex="16" disabled>
                                    <label for="in_blt_salid" class="control-label col-md-12">Bultos Salidos</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_ien_kilos_manifestados" name="IEN_KILOS_Manifestados" type="text" class="form-control" tabindex="17" disabled>
                                    <label id="lbl_ien_kilos_manifestados" for="in_ien_kilos_manifestados" class="control-label col-md-12">Kilos Manifestados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_kg_desp" name="KG_Desp" type="text" class="form-control" tabindex="18" disabled>
                                    <label id="lbl_kg_desp" for="in_kg_desp" class="control-label col-md-12">Kilos Despaletizados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_kg_reser" name="KG_Reser" type="text" class="form-control" tabindex="19" disabled>
                                    <label id="lbl_kg_reser" for="in_kg_reser" class="control-label col-md-12">Kilos Reservados</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_kg_salid" name="KG_Salid" type="text" class="form-control" tabindex="20" disabled>
                                    <label id="lbl_kg_salid" for="in_kg_salid" class="control-label col-md-12">Kilos Salidos</label>
                                </div>
                            </div>
                        </div>
                        @*<hr style="border-top: 2px solid #C29F34; background: transparent;">*@
                       

                    </div>
                </form>
            </div>
            <div class="tab-pane fade show" id="tarimas" role="tabpanel" aria-labelledby="tarimas-tab">
                <hr class="espacio"/>
                <div class="row">
                    @*<div class="divwithscroll2">*@
                        @*Encabezado del listar Guías*@
                        <div id="PREV_TablaMercancias" class="table-responsive">
                            @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                            <table id="Prev_table1" data-toggle="table" class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th data-field="MER_ID_Mercancia">#Tarima</th>
                                        <th data-field="MER_TME_Mercancia">Tipo Mercancía</th>
                                        <th data-field="TME_Descripcion">Descripción</th>
                                        <th data-field="MER_Refrigerado">Ref</th>
                                        <th data-field="MER_BULTOS_Despaletizados">B.Ingre</th>
                                        <th data-field="MER_BULTOS_Salidos">B.Salid</th>
                                        <th data-field="KBruto">K.Neto</th>
                                        <th data-field="MER_TEM_Embalaje">Embalaje</th>
                                        <th data-field="TEM_Descripcion">Descripción</th>
                                        <th data-field="DESC_Estado">Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="Prev_table1body"></tbody>
                            </table>
                        </div>

                        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
            manipulacion de hileras -->
                        <script id="Prev_table-template" type="text/x-handlebars-template">
                            <tr>
                                <td>{{MER_ID_Mercancia}}</td>
                                <td>{{MER_TME_Mercancia}}</td>
                                <td>{{TME_Descripcion}}</td>
                                <td>{{MER_Refrigerado}}</td>
                                <td>{{MER_BULTOS_Despaletizados}}</td>
                                <td>{{MER_BULTOS_Salidos}}</td>
                                <td>{{KBruto}}</td>
                                <td>{{MER_TEM_Embalaje}}</td>
                                <td>{{TEM_Descripcion}}</td>
                                <td>{{DESC_Estado}}</td>
                                <td>
                                    <span class="button-checkbox">
                                        <input type="checkbox" id="chk_{{MER_ID_Mercancia}}" />
                                    </span>
                                    @*<button class="btn btn-elegant" onclick="('{{}}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>*@
                                </td>
                            </tr>
                        </script>
                    @*</div>*@

                </div>
                <hr style="border-top: 2px solid #C29F34; background: transparent;">
                <div class="row">
                    <div class="col-md-4" hidden>
                        <div class="md-form">
                            <input type="text" id="in_ien_descripcion_manif" name="IEN_DESCRIPCION_Manif" class="form-control" tabindex="21" disabled>
                            <label id="lbl_ien_descripcion_manif" class="control-label col-md-12" for="in_ien_descripcion_manif">Descripción</label>
                        </div>
                    </div>

                    <div class="col-md-6" hidden>
                        <div class="md-form">
                            <input type="text" id="in_ien_observaciones" name="IEN_Observaciones" class="form-control" tabindex="22" disabled>
                            <label id="lbl_ien_observaciones" class="control-label col-md-12" for="in_ien_observaciones">Observaciones</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="revision" role="tabpanel" aria-labelledby="revision-tab">
                <div class="row">
                    <div class="col-6"><h3>Datos de Revisión</h3></div>
                    <div class="col-6 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="btn_imprimir" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Imprimir" type="button" onclick="previos.imprimir()"><i class="fas fa-print"></i></button>
                                <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="previos.LimpiarCamposPreviosRev()" id="btn_limpiar_previos"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                @*<hr class="espacio" />*@
                <form id="frm_revision">
                    <div id="detalles-revision" class="detInfo_revision">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="prev_ien_tiporevision" class="control-label col-md-12">Tipo Revisión</label>
                                <div class="md-form">
                                    <select id="prev_ien_tiporevision" class="form-control" tabindex="23"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="prev_autoridades" class="control-label col-md-12">Autoridades</label>
                                <div class="md-form">
                                    <select id="prev_autoridades" class="form-control" tabindex=""></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="prev_ien_tipocliente" class="control-label col-md-12">Tipo Cliente</label>
                                <div class="md-form">
                                    <select id="prev_ien_tipocliente" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="prev_ien_cod_asistente" class="control-label col-md-12">Agente/Asistente</label>
                                <div class="md-form">
                                    <select id="prev_ien_cod_asistente" class="form-control"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="prev_ien_cod_importador" name="IEN_COD_Importador" type="text" class="form-control" tabindex="25">
                                    <label for="prev_ien_cod_importador" class="control-label col-md-12">Importador</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input id="prev_ien_importador" name="IEN_Importador" type="text" class="form-control" tabindex="26">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-left">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_importador" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar Importadores" type="button" onclick="previos.PrevMostrarListaImportador()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="prev_ien_cod_agencia" name="IEN_COD_agencia" type="text" class="form-control" tabindex="27">
                                    <label for="prev_ien_cod_agencia" class="control-label col-md-12">Agencia</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <select id="prev_ien_agencia" class="form-control" tabindex="28"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="prev_ien_cod_agente" name="IEN_COD_agente" type="text" class="form-control" tabindex="30">
                                    <label for="prev_ien_cod_agente" class="control-label col-md-12">Agente</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <select id="prev_ien_agente" class="form-control" tabindex="31"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="md-form">
                                    <input id="prev_ien_autoridad" name="IEN_Autoridad" type="text" class="form-control" tabindex="32">
                                    <label for="prev_ien_autoridad" class="control-label col-md-12">Autoridad</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Consulta de Importadores</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="divwithscroll">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="prev_flt_cod_importador" type="text" class="form-control" tabindex="33">
                                    <label for="prev_flt_cod_importador" class="control-label col-md-12">ID</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input id="prev_flt_nom_importador" type="text" class="form-control" tabindex="34">
                                    <label for="prev_flt_nom_importador" class="control-label col-md-12">NOMBRE</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="previos.BuscarImportador()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="previos.limpiarFiltrosPreviosImportador()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div id="divProcessing" style="display: none">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, favor esperar . . . <img src="../../assets/images/ajax-loader.gif"></p>
                            </div>
                        </div>
                        <div class="">
                            @*Encabezado del listar Importadores*@
                            <div id="PREV_TablaImportadores" class="table-responsive">
                                @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                <table id="Prev_Importador_table1" data-toggle="table" class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th data-field="ID">ID</th>
                                            <th data-field="Nombre">Nombre</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Prev_Importador_table1body"></tbody>
                                </table>
                            </div>

                            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                            <script id="Prev_Importador_table-template" type="text/x-handlebars-template">
                                <tr>
                                    <td>{{Id}}</td>
                                    <td>{{Nombre}}</td>
                                    <td>
                                        <button class="btn btn-elegant" onclick="previos.Prev_MuestraDatosRevision('{{Id}}')"><i class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Consulta de Entradas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="divwithscroll">
                        <div class="container-fluid" id="div_filters">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="prev_flt_guia_original" type="text" class="form-control" tabindex="35">
                                        <label for="prev_flt_guia_original" class="control-label col-md-12">Conocimiento</label>
                                        <input id="prev_popup" type="hidden" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="prev_flt_movimiento" type="text" class="form-control" tabindex="36">
                                        <label for="prev_flt_movimiento" class="control-label col-md-12">Movimiento</label>
                                        <input id="prev_popup" type="hidden" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="prev_flt_entrada" type="text" class="form-control" tabindex="37">
                                        <label for="prev_flt_entrada" class="control-label col-md-12">Consecutivo</label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <div class="btn-group" data-toggle="buttons">
                                            <button id="btn_filtrar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="previos.Prev_BuscarPrevio()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="previos.limpiarFiltrosPreviosLista()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                @*Encabezado del listar Importadores*@
                                <div id="PREV_TablaEntrada" class="table-responsive">
                                    @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                    <table id="Prev_Entrada_table1" data-toggle="table" class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th data-field="IEN_Entrada">Consecutivo</th>
                                                <th data-field="IEN_GUIA_Original">Conocimiento</th>
                                                <th data-field="IEN_Manifiesto">Manifiesto</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Prev_Entrada_table1body"></tbody>
                                    </table>
                                </div>

                                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                <script id="Prev_Entrada_table-template" type="text/x-handlebars-template">
                                    <tr>
                                        <td>{{IEN_Entrada}}</td>
                                        <td>{{IEN_GUIA_Original}}</td>
                                        <td>{{IEN_Manifiesto}}</td>
                                        <td>
                                            <button class="btn btn-elegant" onclick="previos.Prev_Ent_Escoger('{{IEN_Entrada}}')"><i class="fas fa-edit"></i></button>
                                        </td>
                                    </tr>
                                </script>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$("#myModal2").modal('hide');">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


