﻿
@{
    ViewBag.Title = "Corrección Transmisiones";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Correción de transmisiones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_correctransmisiones")
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4>Corrección de transmisiones</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_cerrar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Cerrar" type="button" onclick="correcTrans.MERTRANS_Cerrar()"><i class="fa fa-lock" aria-hidden="true"></i></button>
                        <button id="btn_finalizar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Finalizar" type="button" onclick="correcTrans.MERTRANS_Finalizar()"><i class="fas fa-check-circle"></i></button>
                        <button id="btn_actualizar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="correcTrans.MERTRANS_Actualizar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_regresar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="correcTrans.MERTRANS_Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>

                    </div>
                </div>
            </div>
        </div>

        <hr class="espacio"/>
        @*div para contener los filtros de la tabla de guias*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input id="in_flr_mer_ien_entrada" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15" onblur="correcTrans.onfocus()">
                            <label id="lbl_consecutivo" for="in_flr_mer_ien_entrada" class="control-label col-md-12 lblfocus">Consecutivo</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input id="in_flr_mer_manifiesto" class="form-control" type="text" tabindex="2" maxlength="30">
                            <label for="in_flr_mer_manifiesto" class="control-label col-md-12">Manifiesto</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                            <input id="in_flr_ien_guia" class="form-control" type="text" tabindex="3" maxlength="30">
                            <label for="in_flr_ien_guia" class="control-label col-md-12">Guía TICA</label>
                        </div>
                    </div>
                </div>
                            <div class="col-md-2">
            <div class="pull-right">
                <div class="btn-group" data-toggle="buttons">
                    <button id="btn_filtrar_merca" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="correcTrans.MERTRANS_BusquedaFiltros()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="correcTrans.MERTRANS_Limpiar()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
                        </div>
        </div>


        <form id="frm_detalleMerc">
            <div id="detalles-merc" class="detInfo_Merc">
                <div class="row">

                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" name="MER_MOV_Inventario" id="MER_MOV_Inventario" tabindex="1" disabled>
                            <label for="MER_MOV_Inventario" class="control-label col-md-12">Movimiento</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" name="MER_ID_Mercancia" id="MER_ID_Mercancia" tabindex="1" disabled>
                            <label for="MER_ID_Mercancia" class="control-label col-md-12">Mercancía</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" id="MER_Estado" name="MER_Estado" class="form-control" tabindex="10" disabled>
                            <label for="MER_Estado" class="control-label col-md-12">Estado</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" name="DESC_OPER_Tica" id="DESC_OPER_Tica" class="form-control" tabindex="3" disabled>
                            <label class="control-label col-md-12" for="DESC_OPER_Tica">Operación</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="md-form">
                            <input type="text" id="MER_Accion" name="MER_Accion" class="form-control" tabindex="4" disabled>
                            <label id="lbl_MER_Accion" class="control-label col-md-12" for="MER_Accion">Acción</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="md-form">
                            <input type="text" id="MER_LINEA_Guia" name="MER_LINEA_Guia" class="form-control" tabindex="4" disabled>
                            <label id="lbl_MER_LINEA_Guia" class="control-label col-md-12" for="MER_LINEA_Guia">Línea</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="md-form">
                            <input type="text" id="MER_Transmision" name="MER_Transmision" class="form-control" tabindex="4" disabled>
                            <label id="lbl_MER_Transmision" class="control-label col-md-12" for="MER_Transmision">Transmitir?</label>
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" id="MER_ID_MERCANCIA_Ref" name="MER_ID_MERCANCIA_Ref" class="form-control" tabindex="7" disabled>
                            <label id="lbl_MER_ID_MERCANCIA_Ref" class="control-label col-md-12" for="MER_ID_MERCANCIA_Ref">Referencia</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" id="MER_BULTOS_Ref" name="MER_BULTOS_Ref" class="form-control" tabindex="7" disabled>
                            <label id="lbl_MER_BULTOS_Ref" class="control-label col-md-12" for="MER_BULTOS_Ref">Bultos Ref</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" id="MER_EN_Tica" name="MER_EN_Tica" class="form-control" tabindex="7" disabled>
                            <label id="lbl_MER_EN_Tica" class="control-label col-md-12" for="MER_EN_Tica">Tica</label>
                        </div>
                    </div>



                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" name="MER_ARCHIVO_Transmision" id="MER_ARCHIVO_Transmision" tabindex="1" disabled>
                            <label for="MER_ARCHIVO_Transmision" class="control-label col-md-12">Archivo</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" id="MER_FCH_Transmision" name="MER_FCH_Transmision" class="form-control" tabindex="8" disabled>
                            <label id="lbl_MER_FCH_Transmision" class="control-label col-md-12" for="MER_FCH_Transmision">Transmisión</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" id="MER_USUARIO_Transmision" name="MER_USUARIO_Transmision" class="form-control" tabindex="9" disabled>
                            <label for="MER_USUARIO_Transmision" class="control-label col-md-12">Usuario</label>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <input type="text" id="MER_Error" name="MER_Error" class="form-control" tabindex="7" disabled>
                                <label id="lbl_MER_Error" class="control-label col-md-12" for="MER_Error">Tica</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form">
                                <input type="text" id="MER_TER_Error" name="MER_TER_Error" class="form-control" tabindex="8" disabled>
                                <label id="lbl_MER_TER_Error" class="control-label col-md-12" for="MER_TER_Error">FchTransm</label>
                            </div>
                        </div>


                    </div>


                </div>
</form>








        @*Encabezado del listar mercancías*@
        <div id="th_mercanciasCorrec" class="table-responsive">
            <table id="MercanciasCorrec_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="MER_Estado" hidden>Estado</th>
                        <th data-field="MER_MOV_Inventario">Movimiento</th>
                        <th data-field="MER_ID_Mercancia">Mercancía</th>
                        <th data-field="MER_OPERACION_Tica">Operación</th>
                        <th data-field="MER_Accion">Acc</th>
                        @* <th data-field="MER_LINEA_Guia">Lin</th>*@
                        <th data-field="MER_Transmision">Tran</th>
                        @*<th data-field="MER_ID_MERCANCIA_Ref">Referencia</th>
                        <th data-field="MER_BULTOS_Ref">Bultos Ref</th>*@
                        <th data-field="MER_EN_Tica">Tica</th>
                        <th data-field="MER_FCH_Transmision">Transmisión</th>
                        <th data-field="MER_USUARIO_Transmision">Usuario</th>
                        <th data-field="">C</th>
                        <th data-field="">E</th>
                        <th data-field="">T</th>
                        <th data-field="">F</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="MercanciasCorrec_Tablebody"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
        manipulacion de hileras -->
        <script id="MercanciasCorrec_Table-template" type="text/x-handlebars-template">
            <tr>
                <td hidden>{{MER_Estado}}</td>
                <td>{{MER_MOV_Inventario}}</td>
                <td>{{MER_ID_Mercancia}}</td>
                <td>{{MER_OPERACION_Tica}}</td>
                <td>{{MER_Accion}}</td>
                @*<td>{{MER_LINEA_Guia}}</td>*@
                <td>{{MER_Transmision}}</td>
                @* <td>{{MER_ID_MERCANCIA_Ref}}</td>*@
                @*<td>{{MER_BULTOS_Ref}}</td>*@
                <td>{{MER_EN_Tica}}</td>
                <td>{{MER_FCH_Transmision}}</td>
                <td>{{MER_USUARIO_Transmision}}</td>
                <td>
                    <span class="button-radio">
                        <input type="radio" id="rd_C" name="MER_Estado_{{consecutivo}}" value="{{MER_Estado}}" />
                    </span>
                </td>
                <td>
                    <span class="button-radio">
                        <input type="radio" id="rd_E" name="MER_Estado_{{consecutivo}}" value="{{MER_Estado}}" />
                    </span>
                </td>
                <td>
                    <span class="button-radio">
                        <input type="radio" id="rd_T" name="MER_Estado_{{consecutivo}}" value="{{MER_Estado}}" />
                    </span>
                </td>
                <td>
                    <span class="button-radio">
                        <input type="radio" id="rd_F" name="MER_Estado_{{consecutivo}}" value="{{MER_Estado}}" />
                    </span>
                </td>
                <td>
                    <button class="btn btn-elegant" data-toggle="tooltip" title="Ver detalle" onclick="correcTrans.MERTRANS_VerDetalle('{{MER_ID_Mercancia}}')"><i class="fa fa-info" aria-hidden="true"></i></button>
                </td>
            </tr>
        </script>

    </div>

</body>
</html>

