﻿
@{
    ViewBag.Title = "Localización Especial";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Localización Especial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_localizaEspecial")
</head>
<body>

    <div class="container-fluid">     
        <div class="row">
            <div class="col-md-6"><h4>Localización de Refrigerado o Dangerous Goods</h4></div>
            <div class="col-md-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="localiza.MERLOC_Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id="btn_actualizar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Cambios" type="button" onclick="localiza.MERLOC_Actualizar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_filtrar_mercaLocaliza" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="localiza.MERLOC_ListarLocaliza()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_filtros" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="localiza.limpiarFiltrosLocaliza()" ><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

      

        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_mer_ien_entrada" class="form-control" type="text" tabindex="1">
                        <label id="lbl_flr_mer_ien_entrada" for="in_flr_mer_ien_entrada" class="control-label col-md-12 lblfocus">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_mer_id_mercancia" class="form-control" type="text" tabindex="2">
                        <label for="in_flr_mer_id_mercancia" class="control-label col-md-12">Mercancia</label>
                    </div>
                </div>
            </div>
        </div>

        <hr class="espacio" />

        <form id="frm_localiza">
            <div id="detalles-localiza" class="detInfo_localiza">
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" name="MER_ID_MERCANCIA" id="MER_ID_MERCANCIA" tabindex="1" disabled>
                            <label for="MER_ID_MERCANCIA" class="control-label col-md-12">Mercancía</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" id="MER_IEN_ENTRADA" name="MER_IEN_ENTRADA" class="form-control" tabindex="2" disabled>
                            <label class="control-label col-md-12" for="MER_IEN_ENTRADA">Consecutivo</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" name="MER_BULTOS_DESPALETIZADOS" id="MER_BULTOS_DESPALETIZADOS" class="form-control" tabindex="3" disabled>
                            <label class="control-label col-md-12" for="MER_BULTOS_DESPALETIZADOS">Bultos Desp.</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <div class="md-form">
                            <input type="text" id="MER_TIP_CODIGO_IATA" name="MER_TIP_CODIGO_IATA" class="form-control" tabindex="4">
                            <label id="lbl_ien_tipo_duda_ref" class="control-label col-md-12" for="MER_TIP_CODIGO_IATA">Peligrosa</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-form">
                            <input type="text" class="form-control" name="PEL_Descripcion" id="PEL_Descripcion" tabindex="5" disabled>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="pull-left">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="btn_filtrar_peligrosa" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="localiza.MERLOC_MostrarListaPeligrosa()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="checkbox" name="MER_REFRIGERADO" id="chb_MER_Refrigerado" class="k-checkbox" tabindex="6">
                            <label id="lbl_MER_Refrigerado" class="k-checkbox-label" for="MER_REFRIGERADO">Refrigerado?</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" id="MER_LOC_RACK" name="MER_LOC_RACK" class="form-control" tabindex="7">
                            <label id="lbl_MER_LOC_RACK" class="control-label col-md-12" for="MER_LOC_RACK">Rack</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" id="MER_LOC_COLUMNA" name="MER_LOC_COLUMNA" class="form-control" tabindex="8">
                            <label id="lbl_MER_LOC_COLUMNA" class="control-label col-md-12" for="MER_LOC_COLUMNA">Col</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" id="MER_LOC_LADO" name="MER_LOC_LADO" class="form-control" tabindex="9">
                            <label for="MER_LOC_LADO" class="control-label col-md-12">Lado</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" id="MER_LOC_ALTURA" name="MER_LOC_ALTURA" class="form-control" tabindex="10">
                            <label for="MER_LOC_ALTURA" class="control-label col-md-12">Alt</label>
                        </div>
                    </div>

                </div>
            </div>
        </form>

        @*Encabezado del listar*@
        <div id="th_mercLocalizaEspecial" class="table-responsive">
            <table id="MercLocalizaEspecial_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th colspan="7"></th>
                        <th colspan="5">Localización</th>
                    </tr>
                    <tr>
                        <th data-field="MER_ID_MERCANCIA">Mercancía</th>
                        <th data-field="MER_IEN_ENTRADA">Consecutivo </th>
                        <th data-field="MER_BULTOS_DESPALETIZADOS">Bultos Desp.</th>
                        <th data-field="MER_TIP_CODIGO_IATA">Peligrosa</th>
                        <th data-field="PEL_Descripcion"> </th>
                        <th data-field="MER_REFRIGERADO">Refri?</th>
                        <th data-field="MER_LOC_RACK">RACK</th>
                        <th data-field="MER_LOC_COLUMNA">COL</th>
                        <th data-field="MER_LOC_LADO">LADO</th>
                        <th data-field="MER_LOC_ALTURA">ALT</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="MercLocalizaEspecial_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
        manipulacion de hileras -->
        <script id="Loc_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{MER_ID_MERCANCIA}}</td>
                <td>{{MER_IEN_ENTRADA}}</td>
                <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                <td>{{MER_TIP_CODIGO_IATA}}</td>
                <td>{{PEL_Descripcion}}</td>
                <td>{{MER_REFRIGERADO}}</td>
                <td>{{MER_LOC_RACK}}</td>
                <td>{{MER_LOC_COLUMNA}}</td>
                <td>{{MER_LOC_LADO}}</td>
                <td>{{MER_LOC_ALTURA}}</td>
                <td>
                    <button class="btn btn-elegant" onclick="localiza.MERLOC_BuscarMercancia('{{MER_ID_MERCANCIA}}')"><i class="fas fa-edit"></i></button>
                </td>

            </tr>
        </script>

    </div>

    <div id="myModalPeligrosa" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Consulta de Peligrosidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="divwithscroll">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="loc_flt_cod_peligrosa" type="text" class="form-control" tabindex="1">
                                    <label for="loc_flt_cod_peligrosa" class="control-label col-md-12">ID</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input id="loc_flt_nom_peligrosa" type="text" class="form-control" tabindex="2">
                                    <label for="loc_flt_nom_peligrosa" class="control-label col-md-12">NOMBRE</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_peligrosa" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="localiza.BuscarPeligrosaFiltro()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="localiza.limpiarFiltrosLocalizaPeligrosa()" id="btn_limpiar_filtros_peligrosa"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <div class="row">
                            @*Encabezado del listar Peligrosidad*@
                            <div id="LOC_TablaPeligrosa" class="table-responsive">
                                @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                <table id="LOC_Peligrosa_table1" data-toggle="table" class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th data-field="ID">ID</th>
                                            <th data-field="Nombre">Nombre</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="LOC_Peligrosa_table1body"></tbody>
                                </table>
                            </div>

                            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                            <script id="LOC_Peligrosa_table-template" type="text/x-handlebars-template">
                                <tr>
                                    <td>{{Id}}</td>
                                    <td>{{Nombre}}</td>
                                    <td>
                                        <button class="btn btn-elegant" onclick="localiza.MERLOC_MuestraDatosPeligrosa('{{Id}}','{{Nombre}}')"><i class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>


