﻿@{
    ViewBag.Title = "Modifica Cesiones";
    ViewData["User"] = Session["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Modificación de Mercancías con Cesión de Derechos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_mercancia_cesion_derechos")
</head>
<body>
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">
        <div class="tab-content" id="ProductoTabContent">
            <div class="tab-pane fade show active" id="encabezado" role="tabpanel" aria-labelledby="encabezado-tab">
                <div class="row">
                    <div class="col-md-6"><h4>Modificación de Mercancías con Cesión de Derechos</h4></div>
                    <div class="col-md-6 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="btn_editar_ces" class="btn btn-elegant waves-effect waves-light fullHidden" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="mercancia_cesion_derechos.Actualizar()"><i class="fas fa-edit"></i></button>
                                <button id="btn_limpiar_ces" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="mercancia_cesion_derechos.limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="espacio" />

                @*div para contener los filtros*@
                <div class="container-fluid div_cesion_derechos_filtros" id="div_cesion_derechos_filtros">
                    <input type="hidden" id="id_mercancia" value="" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="FLT_IEN_ENTRADA" name="FLT_IEN_ENTRADA" type="number" class="form-control" onblur="mercancia_cesion_derechos.onfocus()" onkeypress="principal.FilterInput(event)" tabindex="1">
                                    <label id="lbl_consecutivo_ces" for="FLT_IEN_ENTRADA" class="control-label col-md-12 lblfocus">Consecutivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="FLT_IEN_MANIFIESTO" name="FLT_IEN_MANIFIESTO" type="text" class="form-control" maxlength="20" tabindex="2" />
                                    <label for="FLT_IEN_MANIFIESTO" class="control-label col-md-12">Manifiesto</label>
                                   @* onkeyup="mercancia_cesion_derechos.filtrar(this)"*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="FLT_IEN_GUIA_ORIGINAL" name="FLT_IEN_GUIA_ORIGINAL" type="text" class="form-control" maxlength="30" tabindex="3">
                                    <label for="FLT_IEN_GUIA_ORIGINAL" class="control-label col-md-12">Guía Original</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_buscar_ces" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="mercancia_cesion_derechos.filtrar()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="IEN_GUIA" name="IEN_GUIA" type="text" class="form-control" disabled>
                                    <label for="IEN_GUIA" class="control-label col-md-12">Guía Tica</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="IEN_FCH_INGRESO" name="IEN_FCH_INGRESO" type="text" class="form-control" disabled />
                                    <label for="IEN_FCH_INGRESO" class="control-label col-md-12">Fecha Ingreso</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="IEN_CONSIGNATARIO" name="IEN_CONSIGNATARIO" type="text" class="form-control" disabled>
                                    <label for="IEN_CONSIGNATARIO" class="control-label col-md-12">Consignatario</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="IEN_NUMERO_VIAJE" name="IEN_NUMERO_VIAJE" type="text" class="form-control" disabled>
                                    <label for="IEN_NUMERO_VIAJE" class="control-label col-md-12">Viaje</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row fullHidden" id="editForm">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MER_BULTOS_SALIDOS" class="control-label col-md-12">Bultos Salidos</label>
                                <input id="ces_bultos_salidos" name="MER_BULTOS_SALIDOS" type="number" class="form-control" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="17">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MER_KILOS_SALIDOS" class="control-label col-md-12">Kilos Salidos</label>
                                <input id="ces_kilos_salidos" name="MER_KILOS_SALIDOS" type="number" class="form-control" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="17" />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tbl_ces" class="table-responsive">
                    <table id="ces_table" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th data-field="DESC_OPER_TICA">Operación</th>
                                <th data-field="MER_ID_MERCANCIA"> Mercancía</th>
                                <th data-field="MER_MOV_INVENTARIO">Movimiento</th>
                                <th data-field="MER_BULTOS_DESPALETIZADOS">Bult. Desp</th>
                                <th data-field="MER_BULTOS_SALIDOS">Bult. Salidos</th>
                                <th data-field="KILOS_DESPALETIZADOS">Kilos Desp.</th>
                                <th data-field="MER_KILOS_SALIDOS">Kilos Salidos</th>
                                <th data-field="MER_ID_MERCANCIA_REF">Mercancía Refer.</th>
                                <th data-field="MER_BULTOS_REF">Bultos Refer.</th>
                                <th data-field="DESC_ESTADO">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="ces_tablebody"></tbody>
                    </table>
                </div>
                <script id="ces_table-template" type="text/x-handlebars-template">
                    <tr>
                        <td>{{DESC_OPER_TICA}}</td>
                        <td>{{MER_ID_MERCANCIA}}</td>
                        <td>{{MER_MOV_INVENTARIO}}</td>
                        <td>{{MER_BULTOS_DESPALETIZADOS}}</td>
                        <td>{{MER_BULTOS_SALIDOS}}</td>
                        <td>{{KILOS_DESPALETIZADOS}}</td>
                        <td>{{MER_KILOS_SALIDOS}}</td>
                        <td>{{MER_ID_MERCANCIA_REF}}</td>
                        <td>{{MER_BULTOS_REF}}</td>
                        <td>{{DESC_ESTADO}}</td>
                        <td><button class="btn btn-elegant" onclick="mercancia_cesion_derechos.editar('{{MER_ID_MERCANCIA}}')"><i class="fa fa-edit" aria-hidden="true"></i></button></td>
                    </tr>
                </script>
                <div class="modal" id="ManifiestoModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="md-form">
                                            <input id="ce_flt_consecutivo" type="number" class="form-control" tabindex="1" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                                            <label for="ce_flt_consecutivo" class="control-label col-md-12">Consecutivo</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <input id="ce_flt_guia_original" type="text" class="form-control" tabindex="2" maxlength="30">
                                            <label for="ce_flt_guia_original" class="control-label col-md-12">Guía Original</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <input id="ce_flt_consignatario" type="text" class="form-control" tabindex="2" maxlength="100">
                                            <label for="ce_flt_consignatario" class="control-label col-md-12">Consignatario</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <div class="btn-group" data-toggle="buttons">
                                                <button id="" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="mercancia_cesion_derechos.BuscarCesFiltro()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="mercancia_cesion_derechos.limpiarFiltrosCes()" id=""><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*Encabezado del listar Peligrosidad*@
                                    <div id="manfiestosTable" class="table-responsive">
                                        @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                        <table id="CES_table1" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="IEN_ENTRADA">Consecutivo</th>
                                                    <th data-field="IEN_GUIA_ORIGINAL">Guía Original</th>
                                                    <th data-field="IEN_CONSIGNATARIO">Consignatario</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="manfiestosTable_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="manfiestosTable_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{IEN_ENTRADA}}</td>
                                            <td>{{IEN_GUIA_ORIGINAL}}</td>
                                            <td>{{IEN_CONSIGNATARIO}}</td>
                                            <td>
                                                <button class="btn btn-elegant" onclick="mercancia_cesion_derechos.pintarCesInputs('{{IEN_ENTRADA}}')"><i class="fas fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
