﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | MERX</title>
    <link rel="shortcut icon" href="~/assets/images/MERX.ico" />
    @*CSS*@
    @Styles.Render("~/Content/css_master")
    @*@Styles.Render("~/Content/css_menu")*@
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.bootstrap.min.css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cookie")
</head>

<body>
    <header>
        <div class="user">
            <span class="pull-right">
                <i class="fas fa-user"></i> @HttpContext.Current.Session["userName"].ToString()
            </span>
            <span class="pull-right">
                <a id="logout" href="@Url.Action("Login", "Login")">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </span>
        </div>
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <span class="navbar-brand">
                    <img class="img-fluid img-responsive" src="~/assets/images/merx_logo_36x36.png" style="width:40px;height:40px" />
                </span>
                <span class="navbar-brand" href="#">
                    <strong>@Html.ActionLink("Almacenadora", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</strong>
                </span>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ingreso Carga
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("ManifiestoContenedor", "Manifiesto")">Ingreso de Mercancía</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ReimpresionEtiqueta", "Entrada")">Reimpresión</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("LocalizacionEspecial", "Mercancia")">Localización</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Registro_Muestras")">Muestras</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Servicio al Cliente
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Proceso Diario</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("Facturar", "Facturacion")">Facturación</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "BloqueoGuia")">Bloqueos</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Prealertas")">Prealertas</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Previos")">Previos</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "AtencionSala")">Atención Sala</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Transmisiones</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("CorreccionTransmisiones", "Mercancia")">Correcciones</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Consignatarios")">Registro Consignatarios</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Reclamos y Quejas</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Registro_Reclamos")">Reclamos SC</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Reclamaciones")">Reclamaciones</a></li>
                                </ul>
                            </li>
                            @*<li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Modificación</a>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </li>*@
                            <li><a class="dropdown-item" href="@Url.Action("ModificacionCesionDerechos", "Mercancia")">Modifica Cesiones</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "SolicitudesVideo")">Solicitudes de Video</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "AgenciaAduanal")">Agencia Aduanal</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Consolidador")">Actualiza Consolidador</a></li>

                        </ul>
                    </li>
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cajas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            </ul>
                        </li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Colas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "ColaAforo")">Cola Aforo</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ColaCarrusel", "ColaAforo")">Cola Carrusel</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Operaciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Bloqueos")">Bloqueos OPS</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Mercancias_Perdidas")">Mercancías Perdidas</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "IndicadorPosterior")">Indicaciones a Posterior</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "ProductoNC")">Producto No Conforme</a></li>
                            @*<li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Producto No Conforme</a>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </li>*@
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Diferencias")">Ajustes de Inventario</a></li>
                            @*<li><a class="dropdown-item" href="@Url.Action("Mercancia_Modificar", "Manifiesto")">Modificar MercancíasOLD</a></li>*@
                            <li><a class="dropdown-item" href="@Url.Action("ManifiestoContenedor_Modificar", "Manifiesto")">Modificar Mercancías</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consultas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Bitacora")">Bitácora</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ConsultaPrealertas", "Prealertas")">Prealertas</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ConsultaColas", "ColaAforo")">Colas</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("HistoricoColas", "ColaAforo")">Histórico Colas</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ManifiestoContenedor_Consulta", "Manifiesto")">Mercancías</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Movimientos_Consulta", "Movimientos")">Movimientos</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ConsultaFactura", "Facturacion")">Facturas</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ConsultaIndicacionesPosterior", "IndicadorPosterior")">Indicaciones a Posterior</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Desconsolidador")">Desconsolidaciones Pendientes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mantenimientos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Declarante")">Declarantes</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Tarifario")">Tarifarios</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Cajeras")">Cajeras</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seguridad
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "IngresoAnden")">Monitoreo de Andén Importación</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "ControlAnden")">Control Andén</a></li>
                        </ul>
                    </li>
                </ul>
                @*<span class="">
                        <a id="logout" href="@Url.Action("Login", "Login")">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </span>*@
            </div>
        </nav>

        @*Aprobadas*@
        @*<li><a href='@Url.Action("LocalizacionEspecial", "Mercancia")'>Localización</a></li>*@
        @*<li><a href='@Url.Action("Index", "Cajeras")'>Cajeras</a></li>*@
        @*<li><a href='@Url.Action("Index", "Bitacora")'>Bitácora</a></li>*@

        @*Por revisar TSM despues de correción*@
        @*<li><a href='@Url.Action("Index", "Mercancias_Perdidas")'>Mercancías Perdidas</a></li>*@
        @*<li><a href='@Url.Action("Index", "Declarante")'>Declarantes</a></li>*@

        @*Por corregir*@
        @*<li><a href='@Url.Action("CorreccionTransmisiones", "Mercancia")'>Correcciones</a></li>*@

        @*Por revisar TSM publicación*@
        @*<li><a href='@Url.Action("Index", "Bloqueos")'>Bloqueos OPS</a></li>*@
        @*<li><a href='@Url.Action("Index", "Reclamaciones")'>Reclamaciones</a></li>*@
        @*<li><a href='@Url.Action("Index", "BloqueoGuia")'>Bloqueos</a></li>*@
        @*<li><a href='@Url.Action("ReimpresionEtiqueta", "Entrada")'>Reimpresión</a></li>*@
        @*<li><a href='@Url.Action("Index", "Registro_Reclamos")'>Reclamos SC</a></li>*@
        @*<li><a href='@Url.Action("Index", "Registro_Muestras")'>Muestras</a></li>*@

        @*En desarrollo*@
        @*<li><a href='@Url.Action("Index", "Manifiesto")'>Ingreso de Merc</a></li>*@
    </header>
    <div id="principal" class="container-fluid">

        <div class="body-content row" id="frmmanifiesto">
            @RenderBody()



        </div>
    </div>
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

</body>

@*@Scripts.Render("~/bundles/js_mdb")*@
@*Javascript*@

@Scripts.Render("~/bundles/js_master")
@Scripts.Render("~/bundles/Kendo")


</html>

<script src="~/assets/js/submenu.js"></script>