﻿@{
    ViewBag.Title = "Registro Muestras";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro de Muestras</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_registro_muestras")
</head>
<body>
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><h4>Registro de Muestras</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_actualizar_muestra" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Registro de Muestras" type="button" onclick="registro_muestras.ActualizarMuestra()"><i class="fas fa-edit"></i></button>
                        <button id="btn_registrar_muestra" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Registro de Muestras" type="button" onclick="registro_muestras.GuardarMuestra()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_filtros" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="registro_muestras.limpiarFiltros()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>



        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_registro_muestras" class="active">
                <a class="nav-link active" id="registro-muestras-tab" data-toggle="tab" href="#registro_muestras" role="tab" aria-controls="registro_muestras" aria-selected="true">Registro Muestras</a>
            </li>
            <li id="li_devolucion" class="">
                <a class="nav-link" id="devolucion-tab" data-toggle="tab" href="#devolucion" role="tab" aria-controls="devolucion" aria-selected="true">Devolución</a>
            </li>
            <li id="li_detalle">
                <a class="nav-link" id="detalle-tab" data-toggle="tab" href="#detalle" role="tab" aria-controls="detalle" aria-selected="false">Detalle</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">
            @*REGISTRO  MUESTRAS*@
            <div class="tab-pane fade show active" id="registro_muestras" role="tabpanel" aria-labelledby="registro-muestras-tab">
                <hr class="espacio" />
                <div id="filtro_frm_registro_muestras" class="filtro_detInfo_registro_muestras">
                    <div class="container-fluid" id="div_filters">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="s_boleta" class="form-control" type="text"  onblur="registro_muestras.onfocus()" maxlength="10">
                                    <label id="lbl_boleta_filtro" for="s_boleta" class="control-label col-md-12 lblfocus">Boleta</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="s_consecutivo" class="form-control" type="number"  pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                                    <label for="s_consecutivo" class="control-label col-md-12">Consecutivo</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="s_manifiesto" class="form-control" type="number"  pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                                    <label for="s_manifiesto" class="control-label col-md-12">Manifiesto</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="s_guia" class="form-control" type="text"  maxlength="30">
                                    <label for="s_guia" class="control-label col-md-12">Gu&iacute;a</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_registro_muestras" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="registro_muestras.BuscarRegistroMuestras()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 2px solid #C29F34; background: transparent;">
                <h4>Registro de Muestras</h4>

                <form id="frm_registro_muestras">
                    <input type="hidden" id="USER_MERX" name="UserMERX" />
                    <div id="detalles-registro-muestras" class="detInfo_registro_muestras">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="MUE_BOLETA" name="MUE_BOLETA" type="text" class="form-control" tabindex="1">
                                    <label for="MUE_BOLETA" class="control-label col-md-12">Boleta</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="MUE_FCH_MUESTRA" class="control-label col-md-12">Fecha Muestra</label>
                                <div class="md-form">
                                    <input id="MUE_FCH_MUESTRA" name="MUE_FCH_MUESTRA" class="form-control" tabindex="2">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <label for="MUE_IEN_ENTRADA" class="control-label col-md-12">Consecutivo</label>
                                    <input id="MUE_IEN_ENTRADA" name="MUE_IEN_ENTRADA"  class="form-control" tabindex="3"  type="number"  pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="MUE_MANIFIESTO" name="MUE_MANIFIESTO" type="text" class="form-control"  disabled>
                                    <label for="MUE_MANIFIESTO" class="control-label col-md-12">Manifiesto</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="MUE_GUIA" name="MUE_GUIA" type="text" class="form-control"  disabled>
                                    <label for="MUE_GUIA" class="control-label col-md-12">Gu&iacute;a</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="MUE_CONSIGNATARIO" name="MUE_CONSIGNATARIO" type="text" class="form-control"  disabled>
                                    <label for="MUE_CONSIGNATARIO" class="control-label col-md-12">Consignatario</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="TOTBULTOS" name="BULTOS" type="text" class="form-control"  disabled>
                                    <label for="TOTBULTOS" class="control-label col-md-12">Tot. Bultos</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="TOTKILOS" name="KILOS" type="text" class="form-control"  disabled>
                                    <label for="TOTKILOS" class="control-label col-md-12">Tot. Kilos</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="MUE_TIPO_MUESTRA" class="control-label col-md-12">Tipo Muestra</label>
                                <div class="md-form">
                                    <select name="MUE_TIPO_MUESTRA" id="MUE_TIPO_MUESTRA" class="form-control" tabindex=""></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="MUE_DUA" name="MUE_DUA" type="text" class="form-control" tabindex="4">
                                    <label for="MUE_DUA" class="control-label col-md-12">Dua Muestras</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="MUE_CODIGO_MOTIVO" class="control-label col-md-12">Motivo</label>
                                <div class="md-form">
                                    <select name="MUE_CODIGO_MOTIVO" id="MUE_CODIGO_MOTIVO" class="form-control" tabindex=""></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input id="MUE_MOTIVO" name="MUE_MOTIVO" type="text" class="form-control" tabindex="5">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <label for="MUE_AGA_NAGENCIA" class="control-label col-md-12">Agencia</label>
                                    <input type="text" id="MUE_AGA_NAGENCIA" name="MUE_AGA_NAGENCIA" class="form-control" tabindex="6">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="md-form">
                                    <input id="NOMB_AGENCIA" name="NOMB_AGENCIA" type="text" class="form-control" tabindex="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="MUE_JEFE_AFORADOR" name="MUE_JEFE_AFORADOR" type="text" class="form-control" tabindex="7">
                                    <label for="MUE_JEFE_AFORADOR" class="control-label col-md-12">Funcionario Agencia</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="MUE_AFORADOR" name="MUE_AFORADOR" type="text" class="form-control" tabindex="8">
                                    <label for="MUE_AFORADOR" class="control-label col-md-12">Funcionario Aforador/MAG</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="MUE_RESPONS_ALMACEN" name="MUE_RESPONS_ALMACEN" type="text" class="form-control" tabindex="9">
                                    <label for="MUE_RESPONS_ALMACEN" class="control-label col-md-12">Funcionario Almacen</label>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <label for="" class="control-label col-md-12">Area de Salida</label>
                            <div class="col-md-2">
                                <input id="MUE_LOC_RACK" name="MUE_LOC_RACK" type="text" class="form-control" tabindex="10" size="4">
                            </div>
                            <div class="col-md-2">
                                <input id="MUE_LOC_COLUMNA" name="MUE_LOC_COLUMNA" type="text" class="form-control" tabindex="11" size="4">
                            </div>
                            <div class="col-md-2">
                                <input id="MUE_LOC_ALTURA" name="MUE_LOC_ALTURA" type="text" class="form-control" tabindex="12" size="4">
                            </div>
                            <div class="col-md-2">
                                <input id="MUE_LOC_LADO" name="MUE_LOC_LADO" type="text" class="form-control" tabindex="13" size="4">
                            </div>

                        </div>
                        <hr class="espacio" />
                    </div>
                </form>

            </div>
            @* DEVOLUCIÓN*@
            <div class="tab-pane fade show" id="devolucion" role="tabpanel" aria-labelledby="devolucion-tab">
                <form id="frm_registro_devolucion">
                    <div id="detalles-registro-muestras" class="detInfo_registro_muestras">
                        <h3>Devoluci&oacute;n</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="MUE_FCH_DEVOLUCION" class="control-label col-md-12">Fecha Devoluci&oacute;n</label>
                                <div class="md-form">
                                    <input id="MUE_FCH_DEVOLUCION" name="MUE_FCH_DEVOLUCION" type="text" class="form-control" tabindex="27">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="md-form">
                                    <label for="MUE_FUNCIONARIO_DEVOLVIO" class="control-label col-md-12">Funcionario Entrega</label>
                                    <input id="MUE_FUNCIONARIO_DEVOLVIO" name="MUE_FUNCIONARIO_DEVOLVIO" type="text" class="form-control" tabindex="28">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="md-form">
                                    <label for="MUE_FUNC_RECIBE" class="control-label col-md-12">Funcionario TSM Recibe</label>
                                    <input id="MUE_FUNC_RECIBE" name="MUE_FUNC_RECIBE" type="text" class="form-control" tabindex="28">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="MUE_FECHA" name="MUE_FECHA" type="text" class="form-control" tabindex="1" disabled>
                                    <label for="MUE_FECHA" class="control-label col-md-12">Fecha Registro</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            @* DETALLE*@
            <div class="tab-pane fade show" id="detalle" role="tabpanel" aria-labelledby="detalle-tab">
                <hr />
                <div class="row">
                    <div class="col-md-3"><h4>Detalle</h4></div>
                    <div class="col-md-9 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="btn_edit_item" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Item" type="button" style="display:none"><i class="fas fa-edit"></i></button>
                                <button id="btn_add_item" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Agregar Item" type="button"><i class="fa fa-save" aria-hidden="true"></i></button>
                                <button id="btn_canceledit_item" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Cancelar Edición" type="button" style="display:none"><i class="fas fa-window-close" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="frm_detalle_muestras">
                    <div id="info-detalle" class="detInfo_detalle">
                        <div class="row">
                            <div class="col-md-1" hidden>
                                <div class="md-form">
                                    <input id="DMU_ITEM" name="DMU_ITEM" type="text" class="form-control" tabindex="2">
                                    <label for="DMU_ITEM" class="control-label col-md-12">Item</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="DMU_CANTIDAD" name="DMU_CANTIDAD" type="text" class="form-control" tabindex="2">
                                    <label for="DMU_CANTIDAD" class="control-label col-md-12">Cantidad</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="DMU_KILOS" name="DMU_KILOS" type="text" class="form-control" tabindex="2">
                                    <label for="DMU_KILOS" class="control-label col-md-12">Kilos</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="DMU_DESCRIPCION" name="DMU_DESCRIPCION" type="text" class="form-control" tabindex="2">
                                    <label for="DMU_DESCRIPCION" class="control-label col-md-12">Descripci&oacute;n</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="DMU_CANTIDAD_DEV" name="DMU_CANTIDAD_DEV" type="text" class="form-control" tabindex="2">
                                    <label for="DMU_CANTIDAD_DEV" class="control-label col-md-12">Cantidad Dev</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="md-form">
                                    <input id="DMU_KILOS_DEV" name="DMU_KILOS_DEV" type="text" class="form-control" tabindex="2">
                                    <label for="DMU_KILOS_DEV" class="control-label col-md-12">Kilos Dev</label>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div>
                                    <button class="btn-sm btn-success" id="btn_add_item">Agregar</button>
                                </div>
                                <div>
                                    <button class="btn-sm btn-yellow" style="display:none" id="btn_edit_item">Editar</button>
                                </div>
                                <div>
                                    <button class="btn-sm btn-warning" style="display:none" id="btn_canceledit_item">Cancelar</button>
                                </div>
                            </div>*@
                    </div>
                </form>
                <div class="row">
                    <div id="RM_DetalleTable" class="table-responsive">
                        <table id="RM_Detalle_Table" data-toggle="table" class="table table-fixed">
                            <thead>
                                <tr>
                                    <th data-field="ITEM">Item</th>
                                    <th data-field="CANTIDAD">Cantidad</th>
                                    <th data-field="KILOS">Kilos</th>
                                    <th data-field="DESCRIPCION">Descripci&oacute;n</th>
                                    <th data-field="CANTIDAD_DEV">Cantidad Dev</th>
                                    <th data-field="KILOS_DEV">Kilos Dev</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="registro_muestras_detalle_tablebody"></tbody>
                        </table>
                    </div>

                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                    <script id="registro_muestras_detalle_table-template" type="text/x-handlebars-template">
                        <tr>
                            <td>{{ITEM}}</td>
                            <td>{{CANTIDAD}}</td>
                            <td>{{KILOS}}</td>
                            <td>{{DESCRIPCION}}</td>
                            <td>{{CANTIDAD_DEV}}</td>
                            <td>{{KILOS_DEV}}</td>
                            <td>
                                <button class="btn btn-elegant" onclick="registro_muestras.updateDetalle('{{BOLETA}}','{{ITEM}}','{{CANTIDAD}}','{{KILOS}}','{{DESCRIPCION}}','{{CANTIDAD_DEV}}','{{KILOS_DEV}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                @*<button class="btn btn-elegant" onclick="registro_muestras.deleteDetalle('{{BOLETA}}','{{ITEM}}')"><i class="fa fa-eraser" aria-hidden="true"></i></button>*@
                            </td>
                        </tr>
                    </script>


                </div>
            </div>



            <div id="myModalRegistroMuestras" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta de Registro de Muestras</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div class="row">
                                    <div id="RCL_TablaMuestras" class="table-responsive">
                                        <table id="RCL_Muestras_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="MUE_BOLETA">Boleta</th>
                                                    <th data-field="MUE_FECHA">Fecha</th>
                                                    <th data-field="MUE_IEN_ENTRADA">Entrada</th>
                                                    <th data-field="MUE_MANIFIESTO">Manifiesto</th>
                                                    <th data-field="MUE_GUIA">Guía</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="registro_muestras_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="registro_muestras_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{MUE_BOLETA}}</td>
                                            <td>{{MUE_FECHA}}</td>
                                            <td>{{MUE_IEN_ENTRADA}}</td>
                                            <td>{{MUE_MANIFIESTO}}</td>
                                            <td>{{MUE_GUIA}}</td>
                                            <td>
                                                <button class="btn btn-elegant" onclick="registro_muestras.MostrarRegistroMuestrasSeleccionado('{{MUE_BOLETA}}')"><i class="fas fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </script>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModalRegistroReclamos" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta de Registro de Reclamos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div class="row">
                                    <div id="RCL_TablaQuejas" class="table-responsive">
                                        <table id="RCL_Quejas_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="REC_RECLAMO">Id Registro</th>
                                                    <th data-field="REC_FECHA_PRESENTACION">Fecha Presentaci&oacute;n</th>
                                                    <th data-field="REC_SISTEMA">Sistema</th>
                                                    <th data-field="consecutivo">Consecutivo</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="registro_reclamos_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="registro_reclamos_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{REC_RECLAMO}}</td>
                                            <td>{{REC_FECHA_PRESENTACION}}</td>
                                            <td>{{REC_SISTEMA}}</td>
                                            <td>{{consecutivo}}</td>
                                            <td>
                                                <button class="btn btn-elegant" onclick="registro_reclamos.MostrarRegistroReclamosSeleccionado('{{REC_RECLAMO}}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
