﻿@{
    ViewBag.Title = "Reclamaciones";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Reclamaciones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_reclamaciones")
</head>
<body>
   
    <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
    <input type="hidden" id="TabActive" name="TabActive" />
    <input type="hidden" id="Registro_CAMBIO" value="false" />
    <input type="hidden" id="Seguimiento_CAMBIO" value="false" />

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6"><h4>Registro de Quejas y Retroalimentación</h4></div>
            <div class="col-md-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_actualizar_queja" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Queja" type="button" onclick="reclamos.RCL_ActualizarReclamo()"><i class="fas fa-edit" aria-hidden="true"></i></button>
                        <button id="btn_actualizar_queja_seg" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar Seguimiento" type="button" onclick="reclamos.RCL_ActualizarReclamoSeg()"><i class="fas fa-edit" aria-hidden="true"></i></button>
                        <button id="btn_registrar_queja" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar Queja" type="button" onclick="reclamos.RCL_GuardarReclamo()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_filtros_reclamo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="reclamos.limpiarFiltrosReclamaciones()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_registro" class="active">
                <a class="nav-link active" id="registro-tab" data-toggle="tab" href="#registro" role="tab" aria-controls="registro" aria-selected="true">Registro</a>
            </li>
            <li id="li_seguimiento" class="hidden">
                <a class="nav-link" id="seguimiento-tab" data-toggle="tab" href="#seguimiento" role="tab" aria-controls="seguimiento" aria-selected="false">Seguimiento</a>
            </li>
        </ul>



        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="registro" role="tabpanel" aria-labelledby="registro-tab">
                <hr class="espacio"/>
                <div class="container-fluid" id="div_filters">
                    <div id="detalles-filtro" class="detfiltros">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_flr_rcl_id" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10"  onblur="reclamos.onfocus()">
                                    <label id="lbl_flr_rcl_id" for="in_flr_rcl_id" class="control-label col-md-12 lblfocus">Id de registro</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="in_flr_rcl_empresa" class="form-control" type="text" tabindex="2">
                                    <label for="in_flr_rcl_empresa" class="control-label col-md-12">Empresa</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="s_flr_rcl_tipo" class="control-label col-md-12">Tipo</label>
                                <div class="md-form">
                                    <select id="s_flr_rcl_tipo" name="RCL_Tipo" class="form-control" tabindex="3"></select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="s_flr_rcl_tipocliente" class="control-label col-md-12">Tipo Cliente</label>
                                <div class="md-form">
                                    <select id="s_flr_rcl_tipocliente" name="RCL_TIPO_Cliente" class="form-control" tabindex="4"></select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="pull-right">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_reclamo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="reclamos.RCL_BuscarReclamo()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>               
                    </div>

                        
                    </div>

                    <hr style="border-top: 2px solid #C29F34; background: transparent;">
                    <h4>Información del Cliente</h4>
                    <hr class="espacio">
                    <form id="frm_informacioncliente">
                        <input type="hidden" id="USER_MERX" name="UserMERX" />
                        <div id="detalles-infocliente" class="detInfo_Cliente">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="rcl_in_id" name="RCL_Id" type="text" class="form-control" tabindex="5" disabled>
                                        <label for="rcl_in_id" class="control-label col-md-12">Id de registro</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="dtp_rcl_fch_queja" class="control-label col-md-12">Fecha queja</label>
                                    <div class="md-form">
                                        <input id="dtp_rcl_fch_queja" name="RCL_Fecha" class="form-control" tabindex="6">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="s_rcl_tipo" class="control-label col-md-12">Tipo</label>
                                    <div class="md-form">
                                        <select id="s_rcl_tipo" name="RCL_Tipo" class="form-control" tabindex="7"></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="s_rcl_tipocliente" class="control-label col-md-12">Tipo Cliente</label>
                                    <div class="md-form">
                                        <select id="s_rcl_tipocliente" name="RCL_TIPO_Cliente" class="form-control" tabindex="8"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-form">
                                        <input id="rcl_in_empresa" name="RCL_Empresa" type="text" class="form-control" tabindex="9">
                                        <label for="rcl_in_empresa" class="control-label col-md-12">Empresa</label>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="md-form">
                                        <input id="rcl_in_representante" name="RCL_Representante" type="text" class="form-control" tabindex="10">
                                        <label for="rcl_in_representante" id="lbl_ien_entrada" class="control-label col-md-12">Representante</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="md-form">
                                        <input id="rcl_in_email" name="RCL_Email" type="text" class="form-control" tabindex="11">
                                        <label for="rcl_in_email" id="lbl_rcl_in_email" class="control-label col-md-12">E-mail</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="md-form">
                                        <input id="rcl_in_telefono" name="RCL_Telefono" type="text" class="form-control" tabindex="12">
                                        <label for="rcl_in_telefono" id="lbl_rcl_in_telefono" class="control-label col-md-12">Teléfono</label>
                                    </div>
                                </div>
                            </div>

                            <hr style="border-top: 2px solid #C29F34; background: transparent;">

                            <h4>Descripción</h4>
                            <hr class="espacio">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="s_rcl_area" class="control-label col-md-12">Departamento</label>
                                    <div class="md-form">
                                        <select id="s_rcl_area" name="RCL_Area" class="form-control" tabindex="13"></select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="rcl_area_otro" name="RCL_AREA_Otro" type="text" class="form-control" tabindex="14">
                                        <label for="rcl_area_otro" id="lbl_rcl_area_otro" class="control-label col-md-12">Otro</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="s_rcl_servicio" class="control-label col-md-12">Servicio Referenciado</label>
                                    <div class="md-form">
                                        <select id="s_rcl_servicio" name="RCL_Servicio" class="form-control" tabindex="15"></select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="rcl_in_servicio_otro" name="RCL_SERVICIO_Otro" type="text" class="form-control" tabindex="16">
                                        <label for="rcl_in_servicio_otro" id="lbl_rcl_in_servicio_otro" class="control-label col-md-12">Otro</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="md-form">
                                        <input id="rcl_in_descripcion" name="RCL_Descripcion" type="text" class="form-control" tabindex="17">
                                        <label for="rcl_in_descripcion" id="lbl_rcl_in_descripcion" class="control-label col-md-12">Descripción</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="md-form">
                                        <input id="rcl_in_consecutivoimp" name="RCL_IEN_Entrada" class="form-control" type="number" tabindex="18" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                                        <label for="rcl_in_consecutivoimp" id="lbl_rcl_in_consecutivoimp" class="control-label col-md-12">Consecutivo IMP</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="md-form">
                                        <input id="rcl_in_ogu_guia" name="RCL_OGU_Guia" type="text" class="form-control" tabindex="19">
                                        <label for="rcl_in_ogu_guia" id="lbl_rcl_in_ogu_guia" class="control-label col-md-12">Consecutivo EXP</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="md-form">
                                        <input id="rcl_in_usu_registra" name="RCL_USU_Registra" type="text" class="form-control" tabindex="20" disabled>
                                        <label for="rcl_in_usu_registra" id="lbl_rcl_in_usu_registra" class="control-label col-md-12">Usuario Registra</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="rcl_fecharegistra" name="RCL_FCH_Registra" type="text" class="form-control" tabindex="21" disabled>
                                        <label for="rcl_fecharegistra" id="lbl_rcl_fecharegistra" class="control-label col-md-12">Fecha Registra</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            <div class="tab-pane fade show" id="seguimiento" role="tabpanel" aria-labelledby="seguimiento-tab">
                <hr />
                <h3>Datos de seguimiento</h3>
                <hr />
                <form id="frm_seguimiento">
                    <input type="hidden" id="USER_MERXSeg" name="UserMERX" />
                    <div id="detalles-revision" class="detInfo_revision">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="md-form">
                                    <input id="rcl_in_observacion" name="RCL_Observacion" type="text" class="form-control" tabindex="1">
                                    <label for="rcl_in_observacion" class="control-label col-md-12">Seguimiento</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input id="rcl_usu_seguimiento" name="RCL_USU_Seguimiento" type="text" class="form-control" tabindex="2" disabled>
                                    <label for="rcl_usu_seguimiento" class="control-label col-md-12">Usuario Seguimiento</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="rcl_fechaseguimiento" name="RCL_FCH_Seguimiento" type="text" class="form-control" tabindex="2" disabled>
                                    <label for="rcl_fechaseguimiento" class="control-label col-md-12">Fecha Seguimiento</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="myModalQuejas" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Consulta de Quejas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="divwithscroll">
                                <div class="row">
                                    @*Encabezado del listar Quejas*@
                                    <div id="RCL_TablaQuejas" class="table-responsive">
                                        <table id="RCL_Quejas_table" data-toggle="table" class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th data-field="RCL_Id">Id Registro</th>
                                                    <th data-field="RCL_Tipo">Tipo</th>
                                                    <th data-field="RCL_TIPO_Cliente">Tipo Cliente</th>
                                                    <th data-field="RCL_Empresa">Empresa</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="RCL_quejas_tablebody"></tbody>
                                        </table>
                                    </div>

                                    <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                    <script id="RCL_quejas_table-template" type="text/x-handlebars-template">
                                        <tr>
                                            <td>{{RCL_Id}}</td>
                                            <td>{{RCL_Tipo}}</td>
                                            <td>{{RCL_TIPO_Cliente}}</td>
                                            <td>{{RCL_Empresa}}</td>
                                            <td>
                                                <button class="btn btn-elegant" data-placement="Bottom" data-toggle="tooltip" title="Consultar" onclick="reclamos.RCL_Escoger('{{RCL_Id}}')"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </script>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
