﻿
@{
    ViewBag.Title = "Funcionarios";
    ViewData["User"] = Session["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Funcionarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_funcionarios")
</head>
<body>
    <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6"><h4>Funcionarios - @(ViewBag.NombreDeclarante)</h4></div>
                    <div class="col-md-6 alignRight">
                        <div class="pull-right">
                            <div class="btn-group" data-toggle="buttons">
                                <button id="btn_listar_funcionarios" title="Listar funcionarios" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" type="button" onclick="funcionario.FUNC_Cargar()"><i class="fa fa-list" aria-hidden="true"></i></button>
                                <button id="btn_nuevo_funcionario" title="Nuevo funcionario" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" type="button" onclick="funcionario.FUNC_Nuevo()"><i class="fas fa-plus-square" aria-hidden="true"></i></button>
                                <button id="btn_guardar_funcionario" title="Guardar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" type="button" onclick="funcionario.FUNC_Guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                                <button id="btn_actualizar_funcionario" title="Actualizar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" type="button" onclick="funcionario.FUNC_Actualizar()"><i class="fas fa-edit"></i></button>
                                <button id="btn_limpiar_funcionario" title="Limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" type="button" onclick="funcionario.FUNC_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                <button id="btn_regresar_func_declarante" title="Regresar a declarantes" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" type="button" onclick="funcionario.RegresarDeclarante()">Declarantes <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
               

                <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />
                <input type="hidden" id="flr_iddeclarante" name="" value="@(ViewBag.flr_iddeclarante)" />
                <input type="hidden" id="flr_nombredeclarante" name="" value="@(ViewBag.flr_nombredeclarante)" />

                @*Agregar Funcionario*@
                <form id="frm_funcionario">
                    <input type="hidden" id="USER_MERX" name="UserMERX" />
                    <div id="detalles-DeclaranteFunc" class="detalles-DeclaranteFunc">
                        <div class="row">
                            <input id="ADC_Agente_Id" name="ADC_Agente_Id" type="text" hidden />
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="ADC_Nombre" name="ADC_Nombre" type="text" class="form-control" tabindex="2" />
                                    <label for="ADC_Nombre" class="control-label col-md-12">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ADC_Cedula" name="ADC_Cedula" class="form-control" type="number" tabindex="3" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="12" />
                                    <label for="ADC_Cedula" class="control-label col-md-12">Cédula</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ADC_Email" name="ADC_Email" type="text" class="form-control" tabindex="4" />
                                    <label for="ADC_Email" class="control-label col-md-12">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ADC_Telefono" name="ADC_Telefono"  class="form-control" type="number" tabindex="5" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10" />
                                    <label for="ADC_Telefono" class="control-label col-md-12">Teléfono</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="S_ADC_Tipo" class="control-label col-md-12">Tipo</label>
                                <div class="md-form">
                                    <select id="S_ADC_Tipo" name="ADC_Tipo" class="form-control" tabindex="6"></select>

                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="S_ADC_Estado_Tica" class="control-label col-md-12">Estado TICA</label>
                                <div class="md-form">
                                    <select id="S_ADC_Estado_Tica" name="ADC_Estado_Tica" class="form-control" tabindex="7"></select>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="checkbox" name="ADC_Estado_Tsm" id="ADC_Estado_Tsm" class="k-checkbox" tabindex="8" />
                                    <label class="k-checkbox-label" for="ADC_Estado_Tsm">Activo ALM</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ADC_Fch_Registro" name="ADC_Fch_Registro" type="text" class="form-control" tabindex="9" disabled />
                                    <label id="lbl_fch" for="ADC_Fch_Registro" class="control-label col-md-12">Fecha Registro</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form">
                                    <input id="ADC_Usu_Registro" name="ADC_Usu_Registro" type="text" class="form-control" tabindex="10" disabled />
                                    <label id="lbl_usu" for="ADC_Usu_Registro" class="control-label col-md-12">Usuario Registro</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="DCT_Id" name="DCT_Id" value="@(ViewBag.Declarante)" />
                    <input type="hidden" id="ADC_DCT_Id" name="ADC_DCT_Id" value="@(ViewBag.Declarante)" />
                </form>


                @*div para contener los filtros de la tabla de transportista*@
                <div class="container-fluid" id="div_filters">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="md-form">
                                <input id="in_flr_funcionario" type="text" class="form-control">
                                <label for="in_flr_funcionario" class="control-label col-md-12">Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_filtrar_funcionario" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="funcionario.BusquedaFiltros()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Recargar" type="button" onclick="funcionario.FUNC_Cargar()" id="btn_limpiar_filtros"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                @*Encabezado del listar funcionarios*@
                <div id="th_funcionarios" class="table-responsive">
                    <table id="tb_funcionarios" data-toggle="table" class="table table-fixed">
                        <thead>
                            <tr>
                                <th hidden data-field="ADC_DCT_Id"></th>
                                <th data-field="ADC_Agente_Id">Código</th>
                                <th data-field="ADC_Nombre">Nombre</th>
                                <th data-field="ADC_DES_ESTADO">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="DeclaranteFuncTablebody"></tbody>
                    </table>
                </div>

                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
            manipulacion de hileras -->
                <script id="tableDeclaranteFunc-template" type="text/x-handlebars-template">
                    <tr>
                        <td hidden>{{ADC_DCT_Id}}</td>
                        <td>{{ADC_Agente_Id}}</td>
                        <td>{{ADC_Nombre}}</td>
                        <td>{{ADC_DES_ESTADO}}</td>
                        <td>
                            <button data-toggle="tooltip" title="Editar" class="btn btn-elegant" onclick="funcionario.FUNC_ConsultarDatosEditar('{{ADC_DCT_Id}}','{{ADC_Agente_Id}}')"><i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </script>
    </div>
</body>
</html>