﻿@{
    ViewBag.Title = "Declarantes";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Declarantes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_declarantes")
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6"><h4>Declarantes</h4></div>
            <div class="col-md-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_regresar_declarante" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="declarante.DCT_Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id="btn_regresar_declaranteupt" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Regresar" type="button" onclick="declarante.DCT_Regresar_Update()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id="btn_nuevo_declarante" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Nuevo" type="button" onclick="declarante.DCT_Nuevo()"><i class="fas fa-plus-square"></i></button>
                        <button id="btn_actualizar_declarante" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="declarante.DCT_Actualizar()"><i class="fas fa-edit"></i></button>
                        <button id="btn_guardar_declarante" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar" type="button" onclick="declarante.DCT_Guardar()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_declarante" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="declarante.DCT_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_dct_declarante_id" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="12">
                        <label for="in_flr_dct_declarante_id" class="control-label col-md-12">Cédula</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_dct_nombre_declarante" class="form-control" type="text" tabindex="2">
                        <label for="in_flr_dct_nombre_declarante" class="control-label col-md-12">Declarante</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_filtrar_declarante" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="declarante.DCT_Listar()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Recargar" type="button" onclick="declarante.DCT_limpiarFiltros()" id="btn_limpiar_filtros"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="flr_iddeclarante" name="" value="@(ViewBag.flr_iddeclarante)" />
            <input type="hidden" id="flr_nombredeclarante" name="" value="@(ViewBag.flr_nombredeclarante)" />
        </div>

        <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />

        <form id="frm_declarante">
            <div id="detalles-declarante" class="detInfo_declarante">
                @* <input type="text" class="form-control" name="DCT_Id" id="DCT_Id" tabindex="1" hidden>*@
                <input type="hidden" id="USER_MERX" name="UserMERX" />
                <div class="row">
                    <div class="col-md-2">
                        <div class="md-form">
                            <input type="text" class="form-control" name="DCT_Id" id="DCT_Id" tabindex="1" disabled>
                            <label for="DCT_Id" class="control-label col-md-12">Id</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" class="form-control" name="DCT_Nombre" id="DCT_Nombre" tabindex="2">
                            <label for="DCT_Nombre" class="control-label col-md-12">Nombre</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="md-form">
                            <input  name="DCT_Cedula" id="DCT_Cedula" class="form-control" type="number" tabindex="3" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="12" disabled>
                            <label class="control-label col-md-12" for="DCT_Cedula">Cédula</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input name="DCT_Telefono" id="DCT_Telefono" class="form-control" type="number" tabindex="4" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                            <label class="control-label col-md-12" for="DCT_Telefono">Teléfono</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="S_DCT_Estado_Tica" class="control-label col-md-12">Estado Tica</label>
                        <div class="md-form">
                            <select id="S_DCT_Estado_Tica" name="DCT_Estado_Tica" class="form-control" tabindex="5"></select>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" class="form-control" name="DCT_Email" id="DCT_Email" tabindex="6">
                            <label for="DCT_Email" class="control-label col-md-12">Email</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" name="DCT_Usu_Registro" id="DCT_Usu_Registro" tabindex="7" disabled>
                            <label id="lbl_usu" for="DCT_Usu_Registro" class="control-label col-md-12">Usuario Registró </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" name="DCT_Fch_Registro" id="DCT_Fch_Registro" tabindex="8" disabled>
                            <label id="lbl_fch" for="DCT_Fch_Registro" class="control-label col-md-12">Fecha Registró</label>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        @*Encabezado del listar*@
        <div id="th_Declarantes" class="table-responsive">
            <table id="Declarantes_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="DCT_Id">Código</th>
                        <th data-field="DCT_Cedula">Cédula</th>
                        <th data-field="DCT_Nombre">Declarante</th>
                        <th data-field="DCT_Email">Email</th>
                        <th data-field="DCT_Estado">Estado</th>
                        <th class="accionesfijas">Acciones</th>
                    </tr>
                </thead>
                <tbody id="Declarantes_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
    manipulacion de hileras -->
        <script id="Declarantes_table-template" type="text/x-handlebars-template">
            <tr>
                <td>{{DCT_Id}}</td>
                <td>{{DCT_Cedula}}</td>
                <td>{{DCT_Nombre}}</td>
                <td>{{DCT_Email}}</td>
                <td>{{DCT_Estado}}</td>
                <td>
                    <button class="btn btn-elegant" onclick="declarante.DCT_ConsultarDatos('{{DCT_Id}}')" data-toggle="tooltip" title="Editar" type="button"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-elegant" onclick="declarante.DCT_Funcionarios('{{DCT_Id}}','{{DCT_Nombre}}')" data-toggle="tooltip" title="Funcionarios" type="button"><i class="fas fa-user"></i></button>
                </td>
            </tr>
        </script>


    </div>

</body>
</html>

