﻿@{
    ViewBag.Title = "Consignatarios";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cajeras</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_consignatarios")
</head>
<body>
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-3"><h4>Registro Consignatarios</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_actualizar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar" type="button" onclick="consignatario.CNS_Actualizar()"><i class="fas fa-edit"></i></button>
                        <button id="btn_limpiar" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consignatario.CNS_limpiar()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="espacio" />

        @*div para contener los filtros*@
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_MOV" class="form-control" type="text" tabindex="1" onblur="consignatario.onfocus()">
                        <label id="lbl_mov" for="in_MOV" class="control-label col-md-12 lblfocus">Movimiento</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_GUIA" class="form-control" type="text" tabindex="2">
                        <label for="in_GUIA" class="control-label col-md-12">Guía</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_VUELO" class="form-control" type="text" tabindex="3">
                        <label for="in_VUELO" class="control-label col-md-12">Vuelo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_CONSOLID" class="form-control" type="text" tabindex="4">
                        <label for="in_CONSOLID" class="control-label col-md-12">Consolidador</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="btn_buscar_consig" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="consignatario.CNS_Listar()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<hr class="espacio" />*@

        @*Encabezado del listar*@
        <div id="th_Consignatarios" class="table-responsive">
            <table id="Consignatarios_Table" data-toggle="table" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-field="IEN_ENTRADA">Consecutivo</th>
                        <th data-field="IEN_GUIA_ORIGINAL">Guía</th>
                        <th data-field="IEN_IMP_CEDULA">Cédula Importador</th>
                        <th data-field="IEN_IMPORTADOR">Nombre del Importador</th>
                        @*<th>Acciones</th>*@
                    </tr>
                </thead>
                <tbody id="Consignatarios_table1body"></tbody>
            </table>
        </div>

        <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por
        manipulacion de hileras -->
        <script id="Consignatarios_table-template" type="text/x-handlebars-template">
            <tr style="cursor: pointer;">
                <td>{{IEN_ENTRADA}}</td>
                <td>{{IEN_GUIA_ORIGINAL}}</td>
                <td>{{IEN_IMP_CEDULA}}</td>
                <td>{{IEN_IMPORTADOR}}</td>
                @*<td>
                        <button class="btn btn-elegant" onclick="cajera.CJR_Borrar('{{CJR_Cajera}}')" data-toggle="tooltip" title="Borrar" type="button" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>*@
            </tr>
        </script>

        <hr class="espacio" />

        <div class="row">
            @*<div class="form-group">*@
            <div class="col-md-2">
                <div class="md-form">
                    <input id="in_up_consecutivo" class="form-control" type="text" disabled>
                    <label id="lbl_consecutivo" for="in_up_consecutivo" class="control-label col-md-12">Consecutivo</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input id="in_up_imp_ced" class="form-control" type="text" disabled>
                    <label id="lbl_cedulaimp" for="in_up_imp_ced" class="control-label col-md-12">Cédula Importador</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-left">
                    <div id="btn_imp" class="btn-group" data-toggle="buttons">
                        <button id="btn_filtrar_importador" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="consignatario.CNS_MostrarListaImportador()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            @*</div>*@
        </div>

    </div>

    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Consulta de Importadores</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="divwithscroll">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form">
                                    <input id="cns_flt_cod_importador" type="text" class="form-control" tabindex="5">
                                    <label for="cns_flt_cod_importador" class="control-label col-md-12">ID</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input id="cns_flt_nom_importador" type="text" class="form-control" tabindex="6">
                                    <label for="cns_flt_nom_importador" class="control-label col-md-12">NOMBRE</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_importador" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="consignatario.CNS_BuscarImportadores()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        <button id="btn_limpiar_filtros_importador" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="consignatario.CNS_LimpiarFiltrosImportador()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div id="divProcessing" style="display: none">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, favor esperar . . . <img src="../../assets/images/ajax-loader.gif"></p>
                            </div>
                        </div>
                        <div class="">
                            @*Encabezado del listar Importadores*@
                            <div id="CNS_TablaImportadores" class="table-responsive">
                                @*<button id="btn_regresar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="top" data-toggle="tooltip" title="Regresar" type="button" onclick="guia.Regresar()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@
                                <table id="CNS_Importador_table1" data-toggle="table" class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th data-field="ID">ID</th>
                                            <th data-field="Nombre">Nombre</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="CNS_Importador_table1body"></tbody>
                                </table>
                            </div>

                            <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                            <script id="CNS_Importador_table-template" type="text/x-handlebars-template">
                                <tr>
                                    <td>{{Id}}</td>
                                    <td>{{Nombre}}</td>
                                    <td>
                                        <button class="btn btn-elegant" onclick="consignatario.CNS_MuestraCedulaImp('{{Id}}')"><i class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

