﻿@{
    ViewBag.Title = "Bloqueos OPS";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bloqueo de Consecutivos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_bloqueos")
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3"><h4>Bloqueo de Consecutivos</h4></div>
            <div class="col-md-9 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_guardar_bloqueoOPS" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar" type="button" onclick="bloqueo.BLO_GuardarBloqueo()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_bloqueoOPS" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="bloqueo.BLO_limpiarFiltros()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="espacio" />
        <div class="container-fluid" id="div_filters">
            <div class="row">
                <div class="col-md-2">
                    <div class="md-form">
                        <input id="in_flr_blo_ien_entrada" class="form-control" type="number" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15" onblur="bloqueo.onfocus()">
                        <label id="lbl_consec" for="in_flr_blo_ien_entrada" class="control-label col-md-12 lblfocus">Consecutivo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            @*<button id="btn_bloq_filtrar_guia" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="bloqueo.BLO_ConsultaGuiaBloqueo()"><i class="fa fa-search" aria-hidden="true"></i></button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<hr style="border-top: 2px solid #C29F34; background: transparent;" class="col-md-12">*@

        <hr class="espacio" />

        <form id="frm_guiabloqueo">
            <div id="detalles-guiabloqueo" class="detInfo_guiaBloqueo">
                <div class="row">
                    <div class="col-md-2">
                        <div class="md-form">
                            <input id="in_blo_ien_entrada" name="IEN_Entrada" class="form-control" type="text" tabindex="1" disabled>
                            <label for="in__blo_ien_entrada" class="control-label col-md-12">Consecutivo</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="in_blo_fechaingreso" name="IEN_FCH_Ingreso" type="text" class="form-control" tabindex="2" disabled>
                            <label for="in_blo_fechaingreso" class="control-label col-md-12">Ingreso</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input id="in_blo_manifiesto" name="IEN_Manifiesto" class="form-control" type="text" tabindex="3" disabled>
                            <label for="in_blo_manifiesto" class="control-label col-md-12">Manifiesto</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="md-form">
                            <input id="in_blo_guia" name="IEN_Guia" type="text" class="form-control" tabindex="4" disabled>
                            <label for="in_blo_guia" class="control-label col-md-12">Guía</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="in_blo_existencias" name="Existencias_p" type="text" class="form-control" tabindex="5" disabled>
                            <label for="in_blo_existencias" class="control-label col-md-12">Existencias</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input id="in_blo_importador" name="IEN_Importador" class="form-control" type="text" tabindex="6" disabled>
                            <label for="in_blo_importador" class="control-label col-md-12">Importador</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="blo_tipobloqueo" class="control-label col-md-12">Tipo de Bloqueo</label>
                        <div class="md-form">
                            <select id="blo_tipobloqueo" name="BLO_TIPO_Bloqueo" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="blo_viasolicitud" class="control-label col-md-12">Vía Solicitud</label>
                        <div class="md-form">
                            <select id="blo_viasolicitud" name="BLO_VIA_Solicitud" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input id="in_blo_acta" name="BLO_Acta" type="text" class="form-control" tabindex="7" maxlength="50">
                            <label for="in_blo_acta" class="control-label col-md-12">Acta</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="md-form">
                            <input id="in_blo_motivo" name="BLO_MOTIVO_Bloqueo" class="form-control" type="text" tabindex="8">
                            <label for="in_blo_motivo" class="control-label col-md-12">Motivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</body>
</html>