﻿@{
    ViewBag.Title = "Bloqueos";
    ViewData["User"] = Session["user"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bloqueos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/js_bloqueoGuias")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"><h4>Bloqueo y Desbloqueo de Consecutivos (Guías)</h4></div>
            <div class="col-md-6 alignRight">
                <div class="pull-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="btn_buscar_bloqueos" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Búsqueda bloqueos" type="button" onclick="bloqueoGuia.BLO_Busqueda()"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                        <button id="btn_nuevo_bloqueo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Nuevo bloqueo" type="button" onclick="bloqueoGuia.BLO_Nuevo()"><i class="fas fa-plus-square"></i></button>
                        <button id="btn_actualizar_bloqueo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Actualizar bloqueo" type="button" onclick="bloqueoGuia.BLO_ActualizarBloqueo()"><i class="fas fa-edit"></i></button>
                        <button id="btn_registrar_bloqueo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar bloqueo" type="button" onclick="bloqueoGuia.BLO_GuardarBloqueo()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_registrar_PREbloqueo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Guardar PRE-Bloqueo" type="button" onclick="bloqueoGuia.BLO_GuardarPREBloqueo()"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button id="btn_limpiar_filtros_bloqueo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="bloqueoGuia.LimpiarCamposBloqueos()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="espacio" />

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li id="li_bloqueo" class="active">
                <a class="nav-link active" id="bloqueo-tab" data-toggle="tab" href="#bloqueo" role="tab" aria-controls="bloqueo" aria-selected="true">Bloqueo</a>
            </li>
            <li id="li_prebloqueo">
                <a class="nav-link" id="prebloqueo-tab" data-toggle="tab" href="#prebloqueo" role="tab" aria-controls="prebloqueo" aria-selected="false">Pre - Bloqueo</a>
            </li>
        </ul>

        <input type="hidden" id="UsReg" name="UsReg" value="@ViewData["User"]" />

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="bloqueo" role="tabpanel" aria-labelledby="bloqueo-tab">
                <div class="filtros" id="div_filters">
                    <h5>Consulta</h5>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="in_flr_guiaoriginal" class="form-control" type="text" tabindex="1" onblur="bloqueoGuia.onfocus()" maxlength="30">
                                    <label id="lbl_flr_guiaoriginal" for="in_flr_guiaoriginal" class="control-label col-md-12 lblfocus">Guía Original</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="in_flr_consecutivo" class="form-control" type="number" tabindex="2" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15">
                                    <label for="in_flr_consecutivo" class="control-label col-md-12">Consecutivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <button id="btn_filtrar_bloqueo" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar Bloqueo" type="button" onclick="bloqueoGuia.BLO_BuscarBloqueo()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="filtros" id="div_filters_consulta">
                    <h5>Ingreso</h5>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                    <input id="in_flr_guiaoriginalIn" class="form-control" type="text" tabindex="" onblur="bloqueoGuia.onfocus()" maxlength="30">
                                    <label id="lbl_flr_guiaoriginalIn" for="in_flr_guiaoriginalIn" class="control-label col-md-12 lblfocus">Guía Original</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr style="border-top: 2px solid #C29F34; background: transparent;">

                <form id="frm_bloqueo">
                    <div id="detalles-bloqueo" class="detInfo_bloqueo">
                        <input type="hidden" id="USER_MERX" name="USER_MERX" />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="BLO_IEN_ENTRADA" name="BLO_IEN_ENTRADA" type="number" class="form-control" tabindex="3" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="15" disabled>
                                        <label for="BLO_IEN_ENTRADA" id="lbl_rcl_in_email" class="control-label col-md-12">Consecutivo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="BLO_ID_BLOQUEO" name="BLO_ID_BLOQUEO" type="text" class="form-control" tabindex="4" disabled>
                                        <label for="BLO_ID_BLOQUEO" id="lbl_rcl_in_telefono" class="control-label col-md-12">Id Bloqueo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="FECHA_INGRESO" name="FECHA_INGRESO" type="text" class="form-control" tabindex="5" disabled>
                                        <label for="FECHA_INGRESO" id="lbl_rcl_in_telefono" class="control-label col-md-12">Ingreso</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="MANIFIESTO" name="MANIFIESTO" type="text" class="form-control" tabindex="6" disabled>
                                        <label for="MANIFIESTO" id="lbl_MANIFIESTO" class="control-label col-md-12">Manifiesto</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="GUIA" name="GUIA" type="text" class="form-control" tabindex="7" disabled>
                                        <label for="GUIA" id="lbl_GUIA" class="control-label col-md-12">Guia</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="EXISTENCIAS" name="EXISTENCIAS" type="text" class="form-control" tabindex="8" disabled>
                                        <label for="EXISTENCIAS" id="lbl_EXISTENCIAS" class="control-label col-md-12">Existencias</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="IMPORTADOR" name="IMPORTADOR" type="text" class="form-control" tabindex="9" disabled>
                                        <label for="IMPORTADOR" class="control-label col-md-12">Importador</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h6>Proceso Bloqueado:</h6>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="BLO_FACTURACION" id="BLO_FACTURACION" class="k-checkbox" tabindex="10" disabled>
                                        <label class="k-checkbox-label" for="BLO_FACTURACION">Facturación</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="BLO_PREVIOS" id="BLO_PREVIOS" class="k-checkbox" tabindex="11" disabled>
                                        <label class="k-checkbox-label" for="BLO_PREVIOS">Previos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="checkbox" name="BLO_ORDENES_DESP" id="BLO_ORDENES_DESP" class="k-checkbox" tabindex="12" disabled>
                                        <label class="k-checkbox-label" for="BLO_ORDENES_DESP">Órdenes Despacho</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_BLO_TIPO_BLOQUEO" class="control-label col-md-12">Tipo de Bloqueo</label>
                                        <div class="md-form">
                                            <select id="s_BLO_TIPO_BLOQUEO" name="BLO_TIPO_BLOQUEO" class="form-control" tabindex="13" disabled></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label for="s_BLO_VIA_SOLICITUD" class="control-label col-md-12">Vía Solicitud</label>
                                        <div class="md-form">
                                            <select id="s_BLO_VIA_SOLICITUD" name="BLO_VIA_SOLICITUD" class="form-control" tabindex="14" disabled></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="BLO_ACTA" name="BLO_ACTA" type="text" class="form-control" tabindex="15" disabled>
                                        <label for="BLO_ACTA" id="lbl_rcl_in_servicio_otro" class="control-label col-md-12">Acta</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr style="border-top: 2px solid #C29F34; background: transparent;">

                        <div id="div_bloqueo">
                            <h4>Bloqueo</h4>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="USUARIO_BLOQUEA" name="USUARIO_BLOQUEA" type="text" class="form-control" tabindex="17" disabled>
                                            <label for="USUARIO_BLOQUEA" id="lbl_USUARIO_BLOQUEA" class="control-label col-md-12">Usuario</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="BLO_FCH_BLOQUEO" name="BLO_FCH_BLOQUEO" type="text" class="form-control" tabindex="16" disabled>
                                            <label for="BLO_FCH_BLOQUEO" id="lbl_BLO_FCH_BLOQUEO" class="control-label col-md-12">Fecha</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="BLO_MOTIVO_BLOQUEO" name="BLO_MOTIVO_BLOQUEO" type="text" class="form-control" tabindex="19">
                                            <label for="BLO_MOTIVO_BLOQUEO" id="lbl_BLO_MOTIVO_BLOQUEO" class="control-label col-md-12">Motivo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="div_desbloqueo">
                            <hr style="border-top: 2px solid #C29F34; background: transparent;">
                            <h4>Desbloqueo</h4>

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="USUARIO_DESBLOQUEA" name="USUARIO_DESBLOQUEA" type="text" class="form-control" tabindex="21" disabled>
                                            <label for="USUARIO_DESBLOQUEA" id="lbl_USUARIO_DESBLOQUEA" class="control-label col-md-12">Usuario</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="BLO_FCH_DESBLOQUEO" name="BLO_FCH_DESBLOQUEO" type="text" class="form-control" tabindex="20" disabled>
                                            <label for="BLO_FCH_DESBLOQUEO" id="lbl_BLO_FCH_DESBLOQUEO" class="control-label col-md-12">Fecha</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                            <input id="BLO_MOTIVO_DESBLOQUEO" name="BLO_MOTIVO_DESBLOQUEO" type="text" class="form-control" tabindex="23">
                                            <label for="BLO_MOTIVO_DESBLOQUEO" id="lbl_BLO_MOTIVO_DESBLOQUEO" class="control-label col-md-12">Motivo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>

            <div class="tab-pane fade show" id="prebloqueo" role="tabpanel" aria-labelledby="prebloqueo-tab">
                <h4>Bloqueo de Guías No Ingresadas</h4>
                <form id="frm_prebloqueo">
                    <div id="detalles-prebloqueo" class="detInfo_prebloqueo">
                        <input type="hidden" id="USER_MERXPRE" name="USER_MERX" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="IPB_GUIA" name="IPB_GUIA" type="text" class="form-control" tabindex="1" onblur="bloqueoGuia.onfocus()">
                                        <label id="lbl_IPB_GUIA" for="IPB_GUIA" class="control-label col-md-12 lblfocus">Guía</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="IPB_CSG_CONSIGNATARIO" name="IPB_CSG_CONSIGNATARIO" type="text" class="form-control" tabindex="2">
                                        <label id="lbl_IPB_CSG_CONSIGNATARIO" for="IPB_CSG_CONSIGNATARIO" class="control-label col-md-12">Consignatario</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="CONSIGNATARIO" name="CONSIGNATARIO" type="text" class="form-control" tabindex="3" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button id="btn_filtrar_consigna" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="bloqueoGuia.BLO_Consignatarios()"><i class="fa fa-search" aria-hidden="true"></i></button>                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="md-form col-lg-12 col-md-12 col-sm-12">
                                        <input id="IPB_OBS" name="IPB_OBS" type="text" class="form-control" tabindex="4">
                                        <label for="IPB_OBS" class="control-label col-md-12">Observaciones</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="myModalBloqueos" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Consulta de Bloqueos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="divwithscroll">
                            <div class="row">
                                @*Encabezado del listar Quejas*@
                                <div id="BLO_TablaBloqueos" class="table-responsive">
                                    <table id="BLO_Bloqueos_table" data-toggle="table" class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th hidden data-field="BLO_ID_BLOQUEO"></th>
                                                <th data-field="BLO_IEN_ENTRADA">Consecutivo</th>
                                                <th data-field="USUARIO_BLOQUEA">Usuario Bloquea</th>
                                                <th data-field="BLO_FCH_BLOQUEO">Fecha Bloqueo</th>
                                                <th data-field="USUARIO_DESBLOQUEA">Usuario Desbloquea</th>
                                                <th data-field="BLO_FCH_DESBLOQUEO">Fecha Desbloqueo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="BLO_Bloqueos_tablebody"></tbody>
                                    </table>
                                </div>

                                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                <script id="BLO_Bloqueos_table-template" type="text/x-handlebars-template">
                                    <tr>
                                        <td hidden>{{BLO_ID_BLOQUEO}}</td>
                                        <td>{{BLO_IEN_ENTRADA}}</td>
                                        <td>{{USUARIO_BLOQUEA}}</td>
                                        <td>{{BLO_FCH_BLOQUEO}}</td>
                                        <td>{{USUARIO_DESBLOQUEA}}</td>
                                        <td>{{BLO_FCH_DESBLOQUEO}}</td>
                                        <td>
                                            <button class="btn btn-elegant" onclick="bloqueoGuia.BLO_VerDetalle('{{BLO_IEN_ENTRADA}}','{{BLO_ID_BLOQUEO}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </script>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="myModalConsigna" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Consulta de Consignatarios</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="divwithscroll">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="md-form">
                                        <input id="blo_flt_cod_consig" type="number" class="form-control" tabindex="1" pattern="[1-9]" onkeypress="principal.FilterInput(event)" oninput="principal.maxLengthCheck(this)" maxlength="10">
                                        <label for="blo_flt_cod_consig" class="control-label col-md-12">ID</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <input id="blo_flt_nom_consig" type="text" class="form-control" tabindex="2">
                                        <label for="blo_flt_nom_consig" class="control-label col-md-12">NOMBRE</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <div class="btn-group" data-toggle="buttons">
                                            <button id="btn_filtrar_consig+" class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Buscar" type="button" onclick="bloqueoGuia.BLO_BuscarConsigna()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            <button class="btn btn-elegant waves-effect waves-light" data-placement="Bottom" data-toggle="tooltip" title="Limpiar" type="button" onclick="bloqueoGuia.limpiarFiltrosConsigna()" id="btn_limpiar_filtros_entrada"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div id="divProcessing" style="display: none">
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, favor esperar . . . <img src="../../assets/images/ajax-loader.gif"></p>
                                </div>
                            </div>
                            <div class="row">
                                @*Encabezado del listar Consignatarios*@
                                <div id="BLO_TablaConsigna" class="table-responsive">
                                    <table id="BLO_Consigna_table" data-toggle="table" class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th data-field="Id">Código</th>
                                                <th data-field="Nombre">Consignatario</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="BLO_Consigna_tablebody"></tbody>
                                    </table>
                                </div>

                                <!-- Aqui estamos usando una plantila de handlebars para evitar estar armando pedazos de html por manipulacion de hileras -->
                                <script id="BLO_Consigna_table-template" type="text/x-handlebars-template">
                                    <tr>
                                        <td>{{Id}}</td>
                                        <td>{{Nombre}}</td>
                                        <td>
                                            <button class="btn btn-elegant" onclick="bloqueoGuia.BLO_SelectConsigna('{{Id}}', '{{Nombre}}')"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </script>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
