﻿@{
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid">
        <div id="logoStyleInicio">
            <a>
                <img src="../assets/images/MERX_IDENTITIFICACION_USUARIO_02.png" id="logo" class="col-lg-8 col-md-12 col-sm-12" />
            </a>
        </div>
    </div>
</body>
</html>

